<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>settle_frameloss.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,356},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>settle_framewin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>settle_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{353,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,352}}</string>
                <key>sourceSize</key>
                <string>{353,352}</string>
            </dict>
            <key>settle_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{2,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,123}}</string>
                <key>sourceSize</key>
                <string>{2,123}</string>
            </dict>
            <key>settle_loss.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,6},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,38}}</string>
                <key>sourceSize</key>
                <string>{113,38}</string>
            </dict>
            <key>settle_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,46},{156,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,30}}</string>
                <key>sourceSize</key>
                <string>{156,30}</string>
            </dict>
            <key>settle_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,6},{86,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bluesettlelayer.png</string>
            <key>size</key>
            <string>{508,542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:872d667550fcd305cf1431694d991524$</string>
            <key>textureFileName</key>
            <string>Bluesettlelayer.png</string>
        </dict>
    </dict>
</plist>
