<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CrazyTask_AllTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,972},{114,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,33}}</string>
                <key>sourceSize</key>
                <string>{114,33}</string>
            </dict>
            <key>CrazyTask_Ansion_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,584},{178,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,86}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>CrazyTask_Ansion_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,496},{178,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,86}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>CrazyTask_Card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,404}}</string>
                <key>sourceSize</key>
                <string>{214,404}</string>
            </dict>
            <key>CrazyTask_Duihuan_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,852},{166,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,58}}</string>
                <key>sourceSize</key>
                <string>{166,58}</string>
            </dict>
            <key>CrazyTask_Duihuan_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,792},{166,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,58}}</string>
                <key>sourceSize</key>
                <string>{166,58}</string>
            </dict>
            <key>CrazyTask_Editbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,594},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CrazyTask_GetLater_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>CrazyTask_GetLater_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>CrazyTask_GetNormal_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>CrazyTask_GetNormal_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,302},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>CrazyTask_Get_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,126},{226,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{226,174}}</string>
                <key>sourceSize</key>
                <string>{338,174}</string>
            </dict>
            <key>CrazyTask_Icon_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,900},{106,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,48}}</string>
                <key>sourceSize</key>
                <string>{106,48}</string>
            </dict>
            <key>CrazyTask_InfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{295,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,122}}</string>
                <key>sourceSize</key>
                <string>{295,122}</string>
            </dict>
            <key>CrazyTask_Info_DH_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,660},{146,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,58}}</string>
                <key>sourceSize</key>
                <string>{146,58}</string>
            </dict>
            <key>CrazyTask_Info_DH_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,912},{146,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,58}}</string>
                <key>sourceSize</key>
                <string>{146,58}</string>
            </dict>
            <key>CrazyTask_Info_HL_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,600},{146,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,58}}</string>
                <key>sourceSize</key>
                <string>{146,58}</string>
            </dict>
            <key>CrazyTask_Info_HL_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,540},{146,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,58}}</string>
                <key>sourceSize</key>
                <string>{146,58}</string>
            </dict>
            <key>CrazyTask_Info_LQ_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,480},{146,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,58}}</string>
                <key>sourceSize</key>
                <string>{146,58}</string>
            </dict>
            <key>CrazyTask_Info_LQ_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,364},{146,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,58}}</string>
                <key>sourceSize</key>
                <string>{146,58}</string>
            </dict>
            <key>CrazyTask_Info_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,424},{164,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,54}}</string>
                <key>sourceSize</key>
                <string>{164,54}</string>
            </dict>
            <key>CrazyTask_Lingqu_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,732},{166,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,58}}</string>
                <key>sourceSize</key>
                <string>{166,58}</string>
            </dict>
            <key>CrazyTask_Lingqu_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,672},{166,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,58}}</string>
                <key>sourceSize</key>
                <string>{166,58}</string>
            </dict>
            <key>CrazyTask_Num.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,672},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>CrazyTask_NumBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{204,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,48}}</string>
                <key>sourceSize</key>
                <string>{204,48}</string>
            </dict>
            <key>CrazyTask_NumWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,364},{204,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{204,42}}</string>
                <key>sourceSize</key>
                <string>{204,48}</string>
            </dict>
            <key>CrazyTask_Pro_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{188,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,21}}</string>
                <key>sourceSize</key>
                <string>{188,21}</string>
            </dict>
            <key>CrazyTask_Return_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,950},{68,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{68,26}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>CrazyTask_Return_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,780},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>Task_Flicker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,302},{1,1}}</string>
                <key>offset</key>
                <string>{-88.5,42.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,408},{178,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,86}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,248},{116,56}}</string>
                <key>offset</key>
                <string>{28,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,14},{116,56}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,844},{134,54}}</string>
                <key>offset</key>
                <string>{21,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,14},{134,54}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,306},{134,56}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,12},{134,56}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,784},{134,58}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{134,58}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,720},{134,62}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,9},{134,62}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,126},{132,64}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,6},{132,64}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,192},{130,54}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,17},{130,54}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,958},{112,54}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,16},{112,54}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,900},{112,56}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,14},{112,56}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,58},{44,54}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,14},{44,54}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,114},{28,6}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,64},{28,6}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,636},{28,6}}</string>
                <key>offset</key>
                <string>{-18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,64},{28,6}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,972},{28,6}}</string>
                <key>offset</key>
                <string>{-21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,64},{28,6}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,302},{1,1}}</string>
                <key>offset</key>
                <string>{-88.5,42.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,824},{44,56}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,13},{44,56}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{56,54}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,14},{56,54}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,720},{78,58}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,13},{78,58}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{178,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,86}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{178,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,86}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{178,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,86}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{178,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,86}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NetTask.png</string>
            <key>size</key>
            <string>{580,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2ee3888d78ddcaa6aea37d446c6a9ef$</string>
            <key>textureFileName</key>
            <string>NetTask.png</string>
        </dict>
    </dict>
</plist>
