<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Green/Green_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,242},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>Green/Green_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,60},{17,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,27}}</string>
			<key>sourceSize</key>
			<string>{17,27}</string>
		</dict>
		<key>Green/Green_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,242},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>Green/Green_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,314},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>Green/Green_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,213},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>Green/Green_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,213},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>Green/Green_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,213},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>Green/Green_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,299},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>Green/Green_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,270},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>Green/Green_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,270},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>Green/Green_dec.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,2},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>Green/Green_inc.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,297},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>Hit_Frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{287,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{287,61}}</string>
			<key>sourceSize</key>
			<string>{287,61}</string>
		</dict>
		<key>Hit_Red/Hit_Red_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,153},{64,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,58}}</string>
			<key>sourceSize</key>
			<string>{64,58}</string>
		</dict>
		<key>Hit_Red/Hit_Red_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,213},{42,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,58}}</string>
			<key>sourceSize</key>
			<string>{42,58}</string>
		</dict>
		<key>Hit_Red/Hit_Red_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,170},{63,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,58}}</string>
			<key>sourceSize</key>
			<string>{63,58}</string>
		</dict>
		<key>Hit_Red/Hit_Red_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,254},{60,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,58}}</string>
			<key>sourceSize</key>
			<string>{60,58}</string>
		</dict>
		<key>Hit_Red/Hit_Red_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,153},{63,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,58}}</string>
			<key>sourceSize</key>
			<string>{63,58}</string>
		</dict>
		<key>Hit_Red/Hit_Red_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,93},{64,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,58}}</string>
			<key>sourceSize</key>
			<string>{64,58}</string>
		</dict>
		<key>Hit_Red/Hit_Red_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,93},{64,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,58}}</string>
			<key>sourceSize</key>
			<string>{64,58}</string>
		</dict>
		<key>Hit_Red/Hit_Red_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,210},{60,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,58}}</string>
			<key>sourceSize</key>
			<string>{60,58}</string>
		</dict>
		<key>Hit_Red/Hit_Red_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,194},{64,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,58}}</string>
			<key>sourceSize</key>
			<string>{64,58}</string>
		</dict>
		<key>Hit_Red/Hit_Red_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,181},{62,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,58}}</string>
			<key>sourceSize</key>
			<string>{62,58}</string>
		</dict>
		<key>Hit_Red/Hit_Red_Hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,65},{96,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,43}}</string>
			<key>sourceSize</key>
			<string>{96,43}</string>
		</dict>
		<key>Hit_Yellow/Hit_Yellow_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,153},{64,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,58}}</string>
			<key>sourceSize</key>
			<string>{64,58}</string>
		</dict>
		<key>Hit_Yellow/Hit_Yellow_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,213},{42,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,58}}</string>
			<key>sourceSize</key>
			<string>{42,58}</string>
		</dict>
		<key>Hit_Yellow/Hit_Yellow_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,170},{63,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,58}}</string>
			<key>sourceSize</key>
			<string>{63,58}</string>
		</dict>
		<key>Hit_Yellow/Hit_Yellow_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,254},{60,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,58}}</string>
			<key>sourceSize</key>
			<string>{60,58}</string>
		</dict>
		<key>Hit_Yellow/Hit_Yellow_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,153},{63,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,58}}</string>
			<key>sourceSize</key>
			<string>{63,58}</string>
		</dict>
		<key>Hit_Yellow/Hit_Yellow_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,93},{64,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,58}}</string>
			<key>sourceSize</key>
			<string>{64,58}</string>
		</dict>
		<key>Hit_Yellow/Hit_Yellow_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,93},{64,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,58}}</string>
			<key>sourceSize</key>
			<string>{64,58}</string>
		</dict>
		<key>Hit_Yellow/Hit_Yellow_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,210},{60,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,58}}</string>
			<key>sourceSize</key>
			<string>{60,58}</string>
		</dict>
		<key>Hit_Yellow/Hit_Yellow_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,194},{64,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,58}}</string>
			<key>sourceSize</key>
			<string>{64,58}</string>
		</dict>
		<key>Hit_Yellow/Hit_Yellow_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,181},{62,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,58}}</string>
			<key>sourceSize</key>
			<string>{62,58}</string>
		</dict>
		<key>Hit_Yellow/Hit_Yellow_Hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,65},{96,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,43}}</string>
			<key>sourceSize</key>
			<string>{96,43}</string>
		</dict>
		<key>Orange/Orange_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,270},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>Orange/Orange_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,2},{19,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,27}}</string>
			<key>sourceSize</key>
			<string>{19,27}</string>
		</dict>
		<key>Orange/Orange_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,218},{31,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,27}}</string>
			<key>sourceSize</key>
			<string>{31,27}</string>
		</dict>
		<key>Orange/Orange_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,268},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>Orange/Orange_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,210},{31,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,27}}</string>
			<key>sourceSize</key>
			<string>{31,27}</string>
		</dict>
		<key>Orange/Orange_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,247},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>Orange/Orange_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,241},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>Orange/Orange_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,276},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>Orange/Orange_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,241},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>Orange/Orange_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,270},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>Orange/Orange_dec.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,2},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>Orange/Orange_inc.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,259},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>Red/Red_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,230},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>Red/Red_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,31},{17,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,27}}</string>
			<key>sourceSize</key>
			<string>{17,27}</string>
		</dict>
		<key>Red/Red_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,259},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>Red/Red_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,299},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>Red/Red_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,230},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>Red/Red_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,239},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>Red/Red_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,189},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>Red/Red_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,257},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>Red/Red_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,160},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>Red/Red_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,257},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>Red/Red_dec.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,2},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>Red/Red_inc.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,242},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>TimingKill_soul.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,65},{93,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,95}}</string>
			<key>sourceSize</key>
			<string>{93,95}</string>
		</dict>
		<key>battle_go.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,2},{192,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,89}}</string>
			<key>sourceSize</key>
			<string>{192,89}</string>
		</dict>
		<key>countdown_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,160},{48,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,75}}</string>
			<key>sourceSize</key>
			<string>{48,75}</string>
		</dict>
		<key>countdown_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,65},{88,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,75}}</string>
			<key>sourceSize</key>
			<string>{88,75}</string>
		</dict>
		<key>countdown_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,93},{83,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,75}}</string>
			<key>sourceSize</key>
			<string>{83,75}</string>
		</dict>
		<key>crit_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,142},{81,37}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,1},{81,37}}</string>
			<key>sourceSize</key>
			<string>{109,41}</string>
		</dict>
		<key>crit_zn.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,152},{84,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,40}}</string>
			<key>sourceSize</key>
			<string>{84,40}</string>
		</dict>
		<key>miss.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,110},{85,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,40}}</string>
			<key>sourceSize</key>
			<string>{85,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BattleNum.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:dd01a9aa4691fb8913147da0d7166a23$</string>
		<key>textureFileName</key>
		<string>BattleNum.png</string>
	</dict>
</dict>
</plist>
