<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cike_light-ae1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,417},{22,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,23}}</string>
			<key>sourceSize</key>
			<string>{22,23}</string>
		</dict>
		<key>cike_light-ae1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,638},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>cike_light-ae1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,289},{63,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,116}}</string>
			<key>sourceSize</key>
			<string>{63,116}</string>
		</dict>
		<key>cike_light-ae1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,407},{63,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,110}}</string>
			<key>sourceSize</key>
			<string>{63,110}</string>
		</dict>
		<key>cike_light-b1.png</key>
		<dict>
			<key>frame</key>
			<string>{{333,611},{36,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,43}}</string>
			<key>sourceSize</key>
			<string>{36,43}</string>
		</dict>
		<key>cike_light-b10.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,723},{37,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,38}}</string>
			<key>sourceSize</key>
			<string>{37,38}</string>
		</dict>
		<key>cike_light-b11.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,380},{34,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,35}}</string>
			<key>sourceSize</key>
			<string>{34,35}</string>
		</dict>
		<key>cike_light-b12.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,417},{25,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,22}}</string>
			<key>sourceSize</key>
			<string>{25,22}</string>
		</dict>
		<key>cike_light-b2.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,205},{20,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,23}}</string>
			<key>sourceSize</key>
			<string>{20,23}</string>
		</dict>
		<key>cike_light-b3.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,443},{30,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,35}}</string>
			<key>sourceSize</key>
			<string>{30,35}</string>
		</dict>
		<key>cike_light-b4.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,683},{41,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,38}}</string>
			<key>sourceSize</key>
			<string>{41,38}</string>
		</dict>
		<key>cike_light-b5.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,60},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>cike_light-b6.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,966},{47,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,48}}</string>
			<key>sourceSize</key>
			<string>{47,48}</string>
		</dict>
		<key>cike_light-b8.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,2},{46,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,56}}</string>
			<key>sourceSize</key>
			<string>{46,56}</string>
		</dict>
		<key>cike_light-b9.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,638},{39,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,41}}</string>
			<key>sourceSize</key>
			<string>{39,41}</string>
		</dict>
		<key>cike_light-banyuekuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,416},{57,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,34}}</string>
			<key>sourceSize</key>
			<string>{57,34}</string>
		</dict>
		<key>cike_light-banyuekuangchengse.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,380},{57,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,34}}</string>
			<key>sourceSize</key>
			<string>{57,34}</string>
		</dict>
		<key>cike_light-duwu fb 1 02.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,110},{205,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,93}}</string>
			<key>sourceSize</key>
			<string>{205,93}</string>
		</dict>
		<key>cike_light-duwu fb 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,2},{212,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,106}}</string>
			<key>sourceSize</key>
			<string>{212,106}</string>
		</dict>
		<key>cike_light-duwu fb 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,350},{160,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,108}}</string>
			<key>sourceSize</key>
			<string>{160,108}</string>
		</dict>
		<key>cike_light-duwu fb 4 c.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,791},{131,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,116}}</string>
			<key>sourceSize</key>
			<string>{131,116}</string>
		</dict>
		<key>cike_light-duwu fb 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,357},{138,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,112}}</string>
			<key>sourceSize</key>
			<string>{138,112}</string>
		</dict>
		<key>cike_light-duwu fb 6.png</key>
		<dict>
			<key>frame</key>
			<string>{{333,683},{116,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,106}}</string>
			<key>sourceSize</key>
			<string>{116,106}</string>
		</dict>
		<key>cike_light-duwu fb 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,915},{120,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,107}}</string>
			<key>sourceSize</key>
			<string>{120,107}</string>
		</dict>
		<key>cike_light-duwu fb 8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,932},{108,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,86}}</string>
			<key>sourceSize</key>
			<string>{108,86}</string>
		</dict>
		<key>cike_light-duwu fb 9.png</key>
		<dict>
			<key>frame</key>
			<string>{{969,133},{53,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,36}}</string>
			<key>sourceSize</key>
			<string>{53,36}</string>
		</dict>
		<key>cike_light-feibiao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,443},{80,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,68}}</string>
			<key>sourceSize</key>
			<string>{80,68}</string>
		</dict>
		<key>cike_light-fsxf1.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,380},{22,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,60}}</string>
			<key>sourceSize</key>
			<string>{22,60}</string>
		</dict>
		<key>cike_light-fsxf2.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,559},{21,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,50}}</string>
			<key>sourceSize</key>
			<string>{21,50}</string>
		</dict>
		<key>cike_light-fsxf3.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,380},{22,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,60}}</string>
			<key>sourceSize</key>
			<string>{22,60}</string>
		</dict>
		<key>cike_light-fsxf4.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,966},{21,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,50}}</string>
			<key>sourceSize</key>
			<string>{21,50}</string>
		</dict>
		<key>cike_light-gakghhg.png</key>
		<dict>
			<key>frame</key>
			<string>{{969,110},{3,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,3}}</string>
			<key>sourceSize</key>
			<string>{3,3}</string>
		</dict>
		<key>cike_light-gxs1.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,380},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>cike_light-gxs2.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,917},{85,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,13}}</string>
			<key>sourceSize</key>
			<string>{85,13}</string>
		</dict>
		<key>cike_light-gxs3.png</key>
		<dict>
			<key>frame</key>
			<string>{{333,594},{96,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,12}}</string>
			<key>sourceSize</key>
			<string>{96,12}</string>
		</dict>
		<key>cike_light-huoxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,480},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>cike_light-jiachazhanQ1 SAN.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,205},{183,236}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,236}}</string>
			<key>sourceSize</key>
			<string>{183,236}</string>
		</dict>
		<key>cike_light-jiachazhanQ1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,519},{329,271}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{329,271}}</string>
			<key>sourceSize</key>
			<string>{329,271}</string>
		</dict>
		<key>cike_light-jianshe 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,238},{122,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,117}}</string>
			<key>sourceSize</key>
			<string>{122,117}</string>
		</dict>
		<key>cike_light-jianshe 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,792},{146,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,121}}</string>
			<key>sourceSize</key>
			<string>{146,121}</string>
		</dict>
		<key>cike_light-jianshe 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,471},{135,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,119}}</string>
			<key>sourceSize</key>
			<string>{135,119}</string>
		</dict>
		<key>cike_light-jianshe 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,565},{134,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,116}}</string>
			<key>sourceSize</key>
			<string>{134,116}</string>
		</dict>
		<key>cike_light-jianshe 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,443},{148,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,98}}</string>
			<key>sourceSize</key>
			<string>{148,98}</string>
		</dict>
		<key>cike_light-jianshe 6.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,932},{139,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,83}}</string>
			<key>sourceSize</key>
			<string>{139,83}</string>
		</dict>
		<key>cike_light-kk3-1 alh.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,513},{17,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,4}}</string>
			<key>sourceSize</key>
			<string>{17,4}</string>
		</dict>
		<key>cike_light-kk3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,513},{17,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,4}}</string>
			<key>sourceSize</key>
			<string>{17,4}</string>
		</dict>
		<key>cike_light-lizifei.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,909},{113,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,113}}</string>
			<key>sourceSize</key>
			<string>{113,113}</string>
		</dict>
		<key>cike_light-rz0-21.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,792},{156,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,123}}</string>
			<key>sourceSize</key>
			<string>{156,123}</string>
		</dict>
		<key>cike_light-rz0-22.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,238},{178,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,110}}</string>
			<key>sourceSize</key>
			<string>{178,110}</string>
		</dict>
		<key>cike_light-rz0-23.png</key>
		<dict>
			<key>frame</key>
			<string>{{333,559},{96,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,33}}</string>
			<key>sourceSize</key>
			<string>{96,33}</string>
		</dict>
		<key>cike_light-rz0-40.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,110},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{5,4}</string>
		</dict>
		<key>cike_light-rz0-50.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,110},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{3,3}</string>
		</dict>
		<key>cike_light-rz0-61.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,443},{84,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,74}}</string>
			<key>sourceSize</key>
			<string>{84,74}</string>
		</dict>
		<key>cike_light-rz0-62.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,238},{110,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,177}}</string>
			<key>sourceSize</key>
			<string>{110,177}</string>
		</dict>
		<key>cike_light-rz0-63.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,792},{121,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,138}}</string>
			<key>sourceSize</key>
			<string>{121,138}</string>
		</dict>
		<key>cike_light-rz0-64.png</key>
		<dict>
			<key>frame</key>
			<string>{{969,115},{2,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,1}}</string>
			<key>sourceSize</key>
			<string>{2,1}</string>
		</dict>
		<key>cike_light-rzn0-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,110},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{3,3}</string>
		</dict>
		<key>cike_light-shouwei1.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,380},{136,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,56}}</string>
			<key>sourceSize</key>
			<string>{136,56}</string>
		</dict>
		<key>cike_light-sprite 4733.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,510},{21,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,12}}</string>
			<key>sourceSize</key>
			<string>{21,12}</string>
		</dict>
		<key>cike_light-sprite 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,754},{45,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,29}}</string>
			<key>sourceSize</key>
			<string>{45,29}</string>
		</dict>
		<key>cike_light-sprite2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,417},{38,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,24}}</string>
			<key>sourceSize</key>
			<string>{38,24}</string>
		</dict>
		<key>cike_light-sprite3.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,417},{35,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,22}}</string>
			<key>sourceSize</key>
			<string>{35,22}</string>
		</dict>
		<key>cike_light-sprite4.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,481},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>cike_light-sprite6.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,723},{47,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,29}}</string>
			<key>sourceSize</key>
			<string>{47,29}</string>
		</dict>
		<key>cike_light-tishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{333,509},{122,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,48}}</string>
			<key>sourceSize</key>
			<string>{122,48}</string>
		</dict>
		<key>cike_light-u768-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,108},{46,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,23}}</string>
			<key>sourceSize</key>
			<string>{46,23}</string>
		</dict>
		<key>cike_light-u768-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{933,519},{55,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,28}}</string>
			<key>sourceSize</key>
			<string>{55,28}</string>
		</dict>
		<key>cike_light-u768-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,683},{54,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,27}}</string>
			<key>sourceSize</key>
			<string>{54,27}</string>
		</dict>
		<key>cike_light-u768-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,438},{49,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,25}}</string>
			<key>sourceSize</key>
			<string>{49,25}</string>
		</dict>
		<key>cike_light-u768-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{969,171},{51,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,26}}</string>
			<key>sourceSize</key>
			<string>{51,26}</string>
		</dict>
		<key>cike_light-u768-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,608},{56,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,28}}</string>
			<key>sourceSize</key>
			<string>{56,28}</string>
		</dict>
		<key>cike_light-u768-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{969,199},{50,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,25}}</string>
			<key>sourceSize</key>
			<string>{50,25}</string>
		</dict>
		<key>cike_light-xianjing.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,460},{155,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,103}}</string>
			<key>sourceSize</key>
			<string>{155,103}</string>
		</dict>
		<key>cike_light-xuanfengzhuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{758,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{758,234}}</string>
			<key>sourceSize</key>
			<string>{758,234}</string>
		</dict>
		<key>cike_light-xzb1.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,779},{43,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,10}}</string>
			<key>sourceSize</key>
			<string>{43,10}</string>
		</dict>
		<key>cike_light-xzb10.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,932},{62,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,16}}</string>
			<key>sourceSize</key>
			<string>{62,16}</string>
		</dict>
		<key>cike_light-xzb11.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,270},{70,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,17}}</string>
			<key>sourceSize</key>
			<string>{70,17}</string>
		</dict>
		<key>cike_light-xzb12.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,230},{74,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,15}}</string>
			<key>sourceSize</key>
			<string>{74,15}</string>
		</dict>
		<key>cike_light-xzb2.png</key>
		<dict>
			<key>frame</key>
			<string>{{539,712},{49,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,12}}</string>
			<key>sourceSize</key>
			<string>{49,12}</string>
		</dict>
		<key>cike_light-xzb3.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,763},{49,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,14}}</string>
			<key>sourceSize</key>
			<string>{49,14}</string>
		</dict>
		<key>cike_light-xzb4.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,465},{49,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,14}}</string>
			<key>sourceSize</key>
			<string>{49,14}</string>
		</dict>
		<key>cike_light-xzb5.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,486},{56,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,15}}</string>
			<key>sourceSize</key>
			<string>{56,15}</string>
		</dict>
		<key>cike_light-xzb6.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,950},{62,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,14}}</string>
			<key>sourceSize</key>
			<string>{62,14}</string>
		</dict>
		<key>cike_light-xzb7.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,470},{59,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,14}}</string>
			<key>sourceSize</key>
			<string>{59,14}</string>
		</dict>
		<key>cike_light-xzb8.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,452},{61,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,16}}</string>
			<key>sourceSize</key>
			<string>{61,16}</string>
		</dict>
		<key>cike_light-xzb9.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,247},{71,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,21}}</string>
			<key>sourceSize</key>
			<string>{71,21}</string>
		</dict>
		<key>cike_light-zs0-14.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,238},{342,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{342,140}}</string>
			<key>sourceSize</key>
			<string>{342,140}</string>
		</dict>
		<key>cike_light-zs0-15 shou.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,917},{112,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,13}}</string>
			<key>sourceSize</key>
			<string>{112,13}</string>
		</dict>
		<key>cike_light-zs0-15.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,443},{172,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,64}}</string>
			<key>sourceSize</key>
			<string>{172,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>cike-light.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:be8ee97f5cd4b7640cfe7c092c324441$</string>
		<key>textureFileName</key>
		<string>cike-light.png</string>
	</dict>
</dict>
</plist>
