<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cike_nan-dyr.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,2},{114,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,91}}</string>
			<key>sourceSize</key>
			<string>{114,91}</string>
		</dict>
		<key>cike_nan-eye0.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,351},{10,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,9}}</string>
			<key>sourceSize</key>
			<string>{10,9}</string>
		</dict>
		<key>cike_nan-eye1.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,351},{10,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,9}}</string>
			<key>sourceSize</key>
			<string>{10,9}</string>
		</dict>
		<key>cike_nan-feibiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,204},{33,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,34}}</string>
			<key>sourceSize</key>
			<string>{33,34}</string>
		</dict>
		<key>cike_nan-hdi3-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,363},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>cike_nan-hdi3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,235},{100,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,128}}</string>
			<key>sourceSize</key>
			<string>{100,128}</string>
		</dict>
		<key>cike_nan-rzn-ms-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,481},{4,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,2}}</string>
			<key>sourceSize</key>
			<string>{4,2}</string>
		</dict>
		<key>cike_nan-rzn-ms-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,2},{6,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,4}}</string>
			<key>sourceSize</key>
			<string>{6,4}</string>
		</dict>
		<key>cike_nan-rzn0-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,363},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{3,3}</string>
		</dict>
		<key>cike_nan-rzn0-02a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,365},{91,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,114}}</string>
			<key>sourceSize</key>
			<string>{91,114}</string>
		</dict>
		<key>cike_nan-rzn0-02a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,2},{84,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,112}}</string>
			<key>sourceSize</key>
			<string>{84,112}</string>
		</dict>
		<key>cike_nan-rzn0-02a-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,363},{90,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,114}}</string>
			<key>sourceSize</key>
			<string>{90,114}</string>
		</dict>
		<key>cike_nan-rzn0-02a-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,235},{105,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,114}}</string>
			<key>sourceSize</key>
			<string>{105,114}</string>
		</dict>
		<key>cike_nan-rzn0-11a-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,223},{43,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,48}}</string>
			<key>sourceSize</key>
			<string>{43,48}</string>
		</dict>
		<key>cike_nan-rzn0-11b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,212},{35,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,21}}</string>
			<key>sourceSize</key>
			<string>{35,21}</string>
		</dict>
		<key>cike_nan-rzn0-14a-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,363},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{5,6}</string>
		</dict>
		<key>cike_nan-rzn0-14a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,288},{16,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,20}}</string>
			<key>sourceSize</key>
			<string>{16,20}</string>
		</dict>
		<key>cike_nan-rzn0-14a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,303},{15,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,28}}</string>
			<key>sourceSize</key>
			<string>{15,28}</string>
		</dict>
		<key>cike_nan-rzn0-15a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,416},{19,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,16}}</string>
			<key>sourceSize</key>
			<string>{19,16}</string>
		</dict>
		<key>cike_nan-rzn0-15a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,214},{16,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,19}}</string>
			<key>sourceSize</key>
			<string>{16,19}</string>
		</dict>
		<key>cike_nan-rzn0-41a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,117},{13,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,16}}</string>
			<key>sourceSize</key>
			<string>{13,16}</string>
		</dict>
		<key>cike_nan-rzn0-41a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,434},{15,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,16}}</string>
			<key>sourceSize</key>
			<string>{15,16}</string>
		</dict>
		<key>cike_nan-rzn0-41a-33.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,351},{13,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,12}}</string>
			<key>sourceSize</key>
			<string>{13,12}</string>
		</dict>
		<key>cike_nan-rzn0-41a-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,209},{20,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,22}}</string>
			<key>sourceSize</key>
			<string>{20,22}</string>
		</dict>
		<key>cike_nan-rzn0-42a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,153},{12,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,16}}</string>
			<key>sourceSize</key>
			<string>{12,16}</string>
		</dict>
		<key>cike_nan-rzn0-42a-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,233},{10,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,20}}</string>
			<key>sourceSize</key>
			<string>{10,20}</string>
		</dict>
		<key>cike_nan-rzn0-43a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,98},{11,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,16}}</string>
			<key>sourceSize</key>
			<string>{11,16}</string>
		</dict>
		<key>cike_nan-rzn0-51a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,385},{14,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,29}}</string>
			<key>sourceSize</key>
			<string>{14,29}</string>
		</dict>
		<key>cike_nan-rzn0-51a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,223},{16,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,32}}</string>
			<key>sourceSize</key>
			<string>{16,32}</string>
		</dict>
		<key>cike_nan-rzn0-51a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,135},{15,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,39}}</string>
			<key>sourceSize</key>
			<string>{15,39}</string>
		</dict>
		<key>cike_nan-rzn0-52a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,120},{12,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,31}}</string>
			<key>sourceSize</key>
			<string>{12,31}</string>
		</dict>
		<key>cike_nan-rzn0-61a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,486},{17,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,24}}</string>
			<key>sourceSize</key>
			<string>{17,24}</string>
		</dict>
		<key>cike_nan-rzn0-71a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,214},{20,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,19}}</string>
			<key>sourceSize</key>
			<string>{20,19}</string>
		</dict>
		<key>cike_nan-rzn0-72a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,240},{29,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,22}}</string>
			<key>sourceSize</key>
			<string>{29,22}</string>
		</dict>
		<key>cike_nan-rzn0-72a-1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,257},{16,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,29}}</string>
			<key>sourceSize</key>
			<string>{16,29}</string>
		</dict>
		<key>cike_nan-rzn0-72a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,309},{26,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,22}}</string>
			<key>sourceSize</key>
			<string>{26,22}</string>
		</dict>
		<key>cike_nan-rzn0-81a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,351},{19,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,32}}</string>
			<key>sourceSize</key>
			<string>{19,32}</string>
		</dict>
		<key>cike_nan-rzn0-81a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,333},{22,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,36}}</string>
			<key>sourceSize</key>
			<string>{22,36}</string>
		</dict>
		<key>cike_nan-rzn0-81b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,95},{23,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,29}}</string>
			<key>sourceSize</key>
			<string>{23,29}</string>
		</dict>
		<key>cike_nan-rzn0-81c-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,385},{15,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,16}}</string>
			<key>sourceSize</key>
			<string>{15,16}</string>
		</dict>
		<key>cike_nan-rzn0-82a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,363},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>cike_nan-rzn0-83a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,309},{19,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,13}}</string>
			<key>sourceSize</key>
			<string>{19,13}</string>
		</dict>
		<key>cike_nan-rzn0-83a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,309},{24,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,13}}</string>
			<key>sourceSize</key>
			<string>{24,13}</string>
		</dict>
		<key>cike_nan-rzn0-84a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,120},{16,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,8}}</string>
			<key>sourceSize</key>
			<string>{16,8}</string>
		</dict>
		<key>cike_nan-rzn0-84a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,120},{16,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,8}}</string>
			<key>sourceSize</key>
			<string>{16,8}</string>
		</dict>
		<key>cike_nan-rzn0-84a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,60},{8,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,7}}</string>
			<key>sourceSize</key>
			<string>{8,7}</string>
		</dict>
		<key>cike_nan-rzn0-9a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,365},{108,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,119}}</string>
			<key>sourceSize</key>
			<string>{108,119}</string>
		</dict>
		<key>cike_nan-rzn0-sb1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,116},{17,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,39}}</string>
			<key>sourceSize</key>
			<string>{17,39}</string>
		</dict>
		<key>cike_nan-rzn0-sb1-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,37},{8,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,21}}</string>
			<key>sourceSize</key>
			<string>{8,21}</string>
		</dict>
		<key>cike_nan-rzn0-sb1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,310},{20,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,38}}</string>
			<key>sourceSize</key>
			<string>{20,38}</string>
		</dict>
		<key>cike_nan-rzn0-sb1-20.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,486},{10,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,24}}</string>
			<key>sourceSize</key>
			<string>{10,24}</string>
		</dict>
		<key>cike_nan-rzn0-sb1-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,77},{11,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,19}}</string>
			<key>sourceSize</key>
			<string>{11,19}</string>
		</dict>
		<key>cike_nan-rzn0-sb2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,351},{13,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,10}}</string>
			<key>sourceSize</key>
			<string>{13,10}</string>
		</dict>
		<key>cike_nan-rzn0-sb2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,351},{13,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,9}}</string>
			<key>sourceSize</key>
			<string>{13,9}</string>
		</dict>
		<key>cike_nan-rzn0-sb3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,333},{15,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,17}}</string>
			<key>sourceSize</key>
			<string>{15,17}</string>
		</dict>
		<key>cike_nan-rzn0-sb3-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,157},{15,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,17}}</string>
			<key>sourceSize</key>
			<string>{15,17}</string>
		</dict>
		<key>cike_nan-rzn0-sb3-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,149},{17,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,20}}</string>
			<key>sourceSize</key>
			<string>{17,20}</string>
		</dict>
		<key>cike_nan-rzn0-sb3-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,95},{13,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,20}}</string>
			<key>sourceSize</key>
			<string>{13,20}</string>
		</dict>
		<key>cike_nan-rzn0-sb3-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,120},{15,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,13}}</string>
			<key>sourceSize</key>
			<string>{15,13}</string>
		</dict>
		<key>cike_nan-rzn0-tb1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,253},{39,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,28}}</string>
			<key>sourceSize</key>
			<string>{39,28}</string>
		</dict>
		<key>cike_nan-rzn0-td1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,126},{24,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,21}}</string>
			<key>sourceSize</key>
			<string>{24,21}</string>
		</dict>
		<key>cike_nan-rzn0-td1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,171},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>cike_nan-rzn0-yi1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,77},{25,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,23}}</string>
			<key>sourceSize</key>
			<string>{25,23}</string>
		</dict>
		<key>cike_nan-rzn0-yi2-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,95},{74,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,30}}</string>
			<key>sourceSize</key>
			<string>{74,30}</string>
		</dict>
		<key>cike_nan-rzn0-yi2-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,479},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>cike_nan-rzn0-yi2-05.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,77},{82,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,38}}</string>
			<key>sourceSize</key>
			<string>{82,38}</string>
		</dict>
		<key>cike_nan-rzn0-yi2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,73},{69,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,27}}</string>
			<key>sourceSize</key>
			<string>{69,27}</string>
		</dict>
		<key>cike_nan-rzn0-yi2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,135},{71,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,32}}</string>
			<key>sourceSize</key>
			<string>{71,32}</string>
		</dict>
		<key>cike_nan-rzn0-yi2-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,37},{85,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,38}}</string>
			<key>sourceSize</key>
			<string>{85,38}</string>
		</dict>
		<key>cike_nan-rzn0-yi2-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,2},{86,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,33}}</string>
			<key>sourceSize</key>
			<string>{86,33}</string>
		</dict>
		<key>cike_nan-rzn0-yi2-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,297},{34,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,58}}</string>
			<key>sourceSize</key>
			<string>{34,58}</string>
		</dict>
		<key>cike_nan-rzn0-yi3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,273},{17,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,28}}</string>
			<key>sourceSize</key>
			<string>{17,28}</string>
		</dict>
		<key>cike_nan-rzn0-yi3-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,255},{10,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,14}}</string>
			<key>sourceSize</key>
			<string>{10,14}</string>
		</dict>
		<key>cike_nan-rzn0-yi4-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,264},{35,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,62}}</string>
			<key>sourceSize</key>
			<string>{35,62}</string>
		</dict>
		<key>cike_nan-rzn0-yi4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,127},{56,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,64}}</string>
			<key>sourceSize</key>
			<string>{56,64}</string>
		</dict>
		<key>cike_nan-rzn0-yi4-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,191},{51,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,60}}</string>
			<key>sourceSize</key>
			<string>{51,60}</string>
		</dict>
		<key>cike_nan-rzn0-yi4-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,176},{49,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,55}}</string>
			<key>sourceSize</key>
			<string>{49,55}</string>
		</dict>
		<key>cike_nan-rzn0-yi4-30.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,363},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{10,9}</string>
		</dict>
		<key>cike_nan-rzn0-yi4-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,2},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>cike_nan-rzn0-yi5-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,234},{74,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,73}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>cike_nan-rzn0-yi5-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,363},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{8,8}</string>
		</dict>
		<key>cike_nan-rzn0-yi5-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{110,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,231}}</string>
			<key>sourceSize</key>
			<string>{110,231}</string>
		</dict>
		<key>cike_nan-shape 870.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,283},{35,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,43}}</string>
			<key>sourceSize</key>
			<string>{35,43}</string>
		</dict>
		<key>cike_nan-sprite 4733.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,351},{21,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,12}}</string>
			<key>sourceSize</key>
			<string>{21,12}</string>
		</dict>
		<key>cike_nan-sprite 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,481},{45,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,29}}</string>
			<key>sourceSize</key>
			<string>{45,29}</string>
		</dict>
		<key>cike_nan-sprite2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,486},{38,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,24}}</string>
			<key>sourceSize</key>
			<string>{38,24}</string>
		</dict>
		<key>cike_nan-sprite3.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,273},{35,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,22}}</string>
			<key>sourceSize</key>
			<string>{35,22}</string>
		</dict>
		<key>cike_nan-sprite4.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,324},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>cike_nan-sprite6.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,481},{47,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,29}}</string>
			<key>sourceSize</key>
			<string>{47,29}</string>
		</dict>
		<key>cike_nan-tb0.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,209},{36,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,23}}</string>
			<key>sourceSize</key>
			<string>{36,23}</string>
		</dict>
		<key>cike_nan-touwei1.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,193},{51,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,28}}</string>
			<key>sourceSize</key>
			<string>{51,28}</string>
		</dict>
		<key>cike_nan-tuowei2.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,215},{53,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,17}}</string>
			<key>sourceSize</key>
			<string>{53,17}</string>
		</dict>
		<key>cike_nan-tuowei3.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,486},{79,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,23}}</string>
			<key>sourceSize</key>
			<string>{79,23}</string>
		</dict>
		<key>cike_nan-tuowei4.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,169},{53,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,20}}</string>
			<key>sourceSize</key>
			<string>{53,20}</string>
		</dict>
		<key>cike_nan-tuowei5.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,351},{52,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,9}}</string>
			<key>sourceSize</key>
			<string>{52,9}</string>
		</dict>
		<key>cike_nan-tuowei6.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,324},{63,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,25}}</string>
			<key>sourceSize</key>
			<string>{63,25}</string>
		</dict>
		<key>cike_nan-tuowei7.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,176},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>cike_nan-tuowei9.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,351},{51,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,12}}</string>
			<key>sourceSize</key>
			<string>{51,12}</string>
		</dict>
		<key>cike_nan-weapon-blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,2},{25,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,73}}</string>
			<key>sourceSize</key>
			<string>{25,73}</string>
		</dict>
		<key>cike_nan-weapon-darkgold.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,116},{34,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,94}}</string>
			<key>sourceSize</key>
			<string>{34,94}</string>
		</dict>
		<key>cike_nan-weapon-eighty.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,117},{53,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,96}}</string>
			<key>sourceSize</key>
			<string>{53,96}</string>
		</dict>
		<key>cike_nan-weapon-gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,117},{35,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,95}}</string>
			<key>sourceSize</key>
			<string>{35,95}</string>
		</dict>
		<key>cike_nan-weapon-green.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,102},{24,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,72}}</string>
			<key>sourceSize</key>
			<string>{24,72}</string>
		</dict>
		<key>cike_nan-weapon-pink.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,116},{33,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,91}}</string>
			<key>sourceSize</key>
			<string>{33,91}</string>
		</dict>
		<key>cike_nan-weapon-purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,235},{27,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,79}}</string>
			<key>sourceSize</key>
			<string>{27,79}</string>
		</dict>
		<key>cike_nan-weapon-whitegold.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,235},{31,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,87}}</string>
			<key>sourceSize</key>
			<string>{31,87}</string>
		</dict>
		<key>cike_nan-yizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,102},{68,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,16}}</string>
			<key>sourceSize</key>
			<string>{68,16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>cike-nan.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0421d54541a7f3575f276a56193b8096$</string>
		<key>textureFileName</key>
		<string>cike-nan.png</string>
	</dict>
</dict>
</plist>
