<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cike_nv-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,508},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>cike_nv-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,142},{65,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,76}}</string>
			<key>sourceSize</key>
			<string>{65,76}</string>
		</dict>
		<key>cike_nv-chn02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,232},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>cike_nv-chn03.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,361},{114,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,113}}</string>
			<key>sourceSize</key>
			<string>{114,113}</string>
		</dict>
		<key>cike_nv-ckn-01-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,508},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{8,10}</string>
		</dict>
		<key>cike_nv-ckn-yi-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{115,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,228}}</string>
			<key>sourceSize</key>
			<string>{115,228}</string>
		</dict>
		<key>cike_nv-ckn01.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,2},{115,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,92}}</string>
			<key>sourceSize</key>
			<string>{115,92}</string>
		</dict>
		<key>cike_nv-feibiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,476},{33,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,34}}</string>
			<key>sourceSize</key>
			<string>{33,34}</string>
		</dict>
		<key>cike_nv-mr-lb.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,186},{37,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,38}}</string>
			<key>sourceSize</key>
			<string>{37,38}</string>
		</dict>
		<key>cike_nv-mr-nian1.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,199},{35,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,39}}</string>
			<key>sourceSize</key>
			<string>{35,39}</string>
		</dict>
		<key>cike_nv-mr-yan1.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,217},{20,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,11}}</string>
			<key>sourceSize</key>
			<string>{20,11}</string>
		</dict>
		<key>cike_nv-mr-yan5.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,236},{11,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,13}}</string>
			<key>sourceSize</key>
			<string>{11,13}</string>
		</dict>
		<key>cike_nv-mr-yan6.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,221},{11,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,13}}</string>
			<key>sourceSize</key>
			<string>{11,13}</string>
		</dict>
		<key>cike_nv-mr-zui-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,74},{4,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,5}}</string>
			<key>sourceSize</key>
			<string>{4,5}</string>
		</dict>
		<key>cike_nv-mr-zui-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,508},{4,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,2}}</string>
			<key>sourceSize</key>
			<string>{4,2}</string>
		</dict>
		<key>cike_nv-mr-zui-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,506},{5,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,4}}</string>
			<key>sourceSize</key>
			<string>{5,4}</string>
		</dict>
		<key>cike_nv-mr-zui-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,508},{3,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,2}}</string>
			<key>sourceSize</key>
			<string>{3,2}</string>
		</dict>
		<key>cike_nv-rzn0-32a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,347},{14,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,12}}</string>
			<key>sourceSize</key>
			<string>{14,12}</string>
		</dict>
		<key>cike_nv-rzn0-32a-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,216},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>cike_nv-rzn0-32a-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,346},{18,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,13}}</string>
			<key>sourceSize</key>
			<string>{18,13}</string>
		</dict>
		<key>cike_nv-rzn0-32a-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,217},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>cike_nv-rzn0-sb3-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,346},{15,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,13}}</string>
			<key>sourceSize</key>
			<string>{15,13}</string>
		</dict>
		<key>cike_nv-rznv0-02a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,232},{80,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,113}}</string>
			<key>sourceSize</key>
			<string>{80,113}</string>
		</dict>
		<key>cike_nv-rznv0-02a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,361},{66,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,114}}</string>
			<key>sourceSize</key>
			<string>{66,114}</string>
		</dict>
		<key>cike_nv-rznv0-02a-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,361},{79,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,113}}</string>
			<key>sourceSize</key>
			<string>{79,113}</string>
		</dict>
		<key>cike_nv-rznv0-02a-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,2},{79,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,110}}</string>
			<key>sourceSize</key>
			<string>{79,110}</string>
		</dict>
		<key>cike_nv-rznv0-11a-1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,508},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{4,4}</string>
		</dict>
		<key>cike_nv-rznv0-12a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,218},{19,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,45}}</string>
			<key>sourceSize</key>
			<string>{19,45}</string>
		</dict>
		<key>cike_nv-rznv0-12c-1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,74},{56,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,66}}</string>
			<key>sourceSize</key>
			<string>{56,66}</string>
		</dict>
		<key>cike_nv-rznv0-13a-1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,508},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{4,5}</string>
		</dict>
		<key>cike_nv-rznv0-13a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,476},{41,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,28}}</string>
			<key>sourceSize</key>
			<string>{41,28}</string>
		</dict>
		<key>cike_nv-rznv0-14a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,142},{15,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,23}}</string>
			<key>sourceSize</key>
			<string>{15,23}</string>
		</dict>
		<key>cike_nv-rznv0-14a-3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,508},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{8,8}</string>
		</dict>
		<key>cike_nv-rznv0-14a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,240},{31,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,41}}</string>
			<key>sourceSize</key>
			<string>{31,41}</string>
		</dict>
		<key>cike_nv-rznv0-15a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,199},{20,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,17}}</string>
			<key>sourceSize</key>
			<string>{20,17}</string>
		</dict>
		<key>cike_nv-rznv0-22a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,330},{19,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,15}}</string>
			<key>sourceSize</key>
			<string>{19,15}</string>
		</dict>
		<key>cike_nv-rznv0-41a-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,96},{17,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,20}}</string>
			<key>sourceSize</key>
			<string>{17,20}</string>
		</dict>
		<key>cike_nv-rznv0-41a-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,96},{12,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,19}}</string>
			<key>sourceSize</key>
			<string>{12,19}</string>
		</dict>
		<key>cike_nv-rznv0-41a-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,96},{12,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,19}}</string>
			<key>sourceSize</key>
			<string>{12,19}</string>
		</dict>
		<key>cike_nv-rznv0-41a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,67},{14,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,18}}</string>
			<key>sourceSize</key>
			<string>{14,18}</string>
		</dict>
		<key>cike_nv-rznv0-41a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,330},{18,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,14}}</string>
			<key>sourceSize</key>
			<string>{18,14}</string>
		</dict>
		<key>cike_nv-rznv0-42a-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,251},{10,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,22}}</string>
			<key>sourceSize</key>
			<string>{10,22}</string>
		</dict>
		<key>cike_nv-rznv0-43a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,262},{11,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,17}}</string>
			<key>sourceSize</key>
			<string>{11,17}</string>
		</dict>
		<key>cike_nv-rznv0-51a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,211},{12,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,25}}</string>
			<key>sourceSize</key>
			<string>{12,25}</string>
		</dict>
		<key>cike_nv-rznv0-52a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,238},{12,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,22}}</string>
			<key>sourceSize</key>
			<string>{12,22}</string>
		</dict>
		<key>cike_nv-rznv0-61a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,137},{9,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,23}}</string>
			<key>sourceSize</key>
			<string>{9,23}</string>
		</dict>
		<key>cike_nv-rznv0-61a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,2},{12,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,26}}</string>
			<key>sourceSize</key>
			<string>{12,26}</string>
		</dict>
		<key>cike_nv-rznv0-71a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,96},{16,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,19}}</string>
			<key>sourceSize</key>
			<string>{16,19}</string>
		</dict>
		<key>cike_nv-rznv0-72a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,141},{25,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,17}}</string>
			<key>sourceSize</key>
			<string>{25,17}</string>
		</dict>
		<key>cike_nv-rznv0-72a-1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,115},{13,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,25}}</string>
			<key>sourceSize</key>
			<string>{13,25}</string>
		</dict>
		<key>cike_nv-rznv0-72a-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,2},{21,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,23}}</string>
			<key>sourceSize</key>
			<string>{21,23}</string>
		</dict>
		<key>cike_nv-rznv0-81c-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,96},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>cike_nv-rznv0-82a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,476},{28,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,29}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>cike_nv-rznv0-82a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,194},{39,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,25}}</string>
			<key>sourceSize</key>
			<string>{39,25}</string>
		</dict>
		<key>cike_nv-rznv0-82a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,66},{20,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,28}}</string>
			<key>sourceSize</key>
			<string>{20,28}</string>
		</dict>
		<key>cike_nv-rznv0-82a-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,27},{20,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,37}}</string>
			<key>sourceSize</key>
			<string>{20,37}</string>
		</dict>
		<key>cike_nv-rznv0-82a-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,114},{18,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,26}}</string>
			<key>sourceSize</key>
			<string>{18,26}</string>
		</dict>
		<key>cike_nv-rznv0-82a-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,30},{14,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,35}}</string>
			<key>sourceSize</key>
			<string>{14,35}</string>
		</dict>
		<key>cike_nv-rznv0-83a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,220},{11,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,10}}</string>
			<key>sourceSize</key>
			<string>{11,10}</string>
		</dict>
		<key>cike_nv-rznv0-91b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,330},{24,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,14}}</string>
			<key>sourceSize</key>
			<string>{24,14}</string>
		</dict>
		<key>cike_nv-rznv0-91b-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,103},{22,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,14}}</string>
			<key>sourceSize</key>
			<string>{22,14}</string>
		</dict>
		<key>cike_nv-rznv0-91b-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,87},{22,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,14}}</string>
			<key>sourceSize</key>
			<string>{22,14}</string>
		</dict>
		<key>cike_nv-rznv0-91b-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,346},{23,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,13}}</string>
			<key>sourceSize</key>
			<string>{23,13}</string>
		</dict>
		<key>cike_nv-rznv0-92b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,347},{22,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,11}}</string>
			<key>sourceSize</key>
			<string>{22,11}</string>
		</dict>
		<key>cike_nv-rznv0-92b-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,217},{20,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,11}}</string>
			<key>sourceSize</key>
			<string>{20,11}</string>
		</dict>
		<key>cike_nv-rznv0-yi1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,477},{13,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,32}}</string>
			<key>sourceSize</key>
			<string>{13,32}</string>
		</dict>
		<key>cike_nv-rznv0-yi1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,477},{14,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,33}}</string>
			<key>sourceSize</key>
			<string>{14,33}</string>
		</dict>
		<key>cike_nv-rznv0-yi2-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,250},{35,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,17}}</string>
			<key>sourceSize</key>
			<string>{35,17}</string>
		</dict>
		<key>cike_nv-rznv0-yi2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,114},{84,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,26}}</string>
			<key>sourceSize</key>
			<string>{84,26}</string>
		</dict>
		<key>cike_nv-rznv0-yi2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,2},{89,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,20}}</string>
			<key>sourceSize</key>
			<string>{89,20}</string>
		</dict>
		<key>cike_nv-rznv0-yi2-3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,508},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{8,8}</string>
		</dict>
		<key>cike_nv-rznv0-yi2-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,63},{87,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,20}}</string>
			<key>sourceSize</key>
			<string>{87,20}</string>
		</dict>
		<key>cike_nv-rznv0-yi2-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,24},{87,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,37}}</string>
			<key>sourceSize</key>
			<string>{87,37}</string>
		</dict>
		<key>cike_nv-rznv0-yi3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,186},{13,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,23}}</string>
			<key>sourceSize</key>
			<string>{13,23}</string>
		</dict>
		<key>cike_nv-rznv0-yi4-05.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,221},{32,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,62}}</string>
			<key>sourceSize</key>
			<string>{32,62}</string>
		</dict>
		<key>cike_nv-rznv0-yi4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,2},{62,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,70}}</string>
			<key>sourceSize</key>
			<string>{62,70}</string>
		</dict>
		<key>cike_nv-rznv0-yi4-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,142},{53,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,73}}</string>
			<key>sourceSize</key>
			<string>{53,73}</string>
		</dict>
		<key>cike_nv-rznv0-yi4-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,119},{41,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,65}}</string>
			<key>sourceSize</key>
			<string>{41,65}</string>
		</dict>
		<key>cike_nv-rznv0-yi4-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,137},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>cike_nv-sprite 4733.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,347},{21,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,12}}</string>
			<key>sourceSize</key>
			<string>{21,12}</string>
		</dict>
		<key>cike_nv-sprite 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,476},{45,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,29}}</string>
			<key>sourceSize</key>
			<string>{45,29}</string>
		</dict>
		<key>cike_nv-sprite2.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,115},{38,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,24}}</string>
			<key>sourceSize</key>
			<string>{38,24}</string>
		</dict>
		<key>cike_nv-sprite3.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,226},{35,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,22}}</string>
			<key>sourceSize</key>
			<string>{35,22}</string>
		</dict>
		<key>cike_nv-sprite4.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,167},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>cike_nv-sprite6.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,477},{47,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,29}}</string>
			<key>sourceSize</key>
			<string>{47,29}</string>
		</dict>
		<key>cike_nv-touwei1.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,476},{51,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,28}}</string>
			<key>sourceSize</key>
			<string>{51,28}</string>
		</dict>
		<key>cike_nv-tuowei2.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,96},{53,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,17}}</string>
			<key>sourceSize</key>
			<string>{53,17}</string>
		</dict>
		<key>cike_nv-tuowei3.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,85},{79,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,23}}</string>
			<key>sourceSize</key>
			<string>{79,23}</string>
		</dict>
		<key>cike_nv-tuowei4.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,119},{53,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,20}}</string>
			<key>sourceSize</key>
			<string>{53,20}</string>
		</dict>
		<key>cike_nv-tuowei5.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,220},{52,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,9}}</string>
			<key>sourceSize</key>
			<string>{52,9}</string>
		</dict>
		<key>cike_nv-tuowei6.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,110},{63,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,25}}</string>
			<key>sourceSize</key>
			<string>{63,25}</string>
		</dict>
		<key>cike_nv-tuowei9.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,347},{51,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,12}}</string>
			<key>sourceSize</key>
			<string>{51,12}</string>
		</dict>
		<key>cike_nv-weapon-blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,141},{25,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,73}}</string>
			<key>sourceSize</key>
			<string>{25,73}</string>
		</dict>
		<key>cike_nv-weapon-darkgold.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,231},{38,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,95}}</string>
			<key>sourceSize</key>
			<string>{38,95}</string>
		</dict>
		<key>cike_nv-weapon-eighty.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,232},{53,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,96}}</string>
			<key>sourceSize</key>
			<string>{53,96}</string>
		</dict>
		<key>cike_nv-weapon-gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,230},{35,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,95}}</string>
			<key>sourceSize</key>
			<string>{35,95}</string>
		</dict>
		<key>cike_nv-weapon-green.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,141},{24,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,72}}</string>
			<key>sourceSize</key>
			<string>{24,72}</string>
		</dict>
		<key>cike_nv-weapon-pink.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,229},{33,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,91}}</string>
			<key>sourceSize</key>
			<string>{33,91}</string>
		</dict>
		<key>cike_nv-weapon-purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,142},{27,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,79}}</string>
			<key>sourceSize</key>
			<string>{27,79}</string>
		</dict>
		<key>cike_nv-weapon-whitegold.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,142},{31,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,87}}</string>
			<key>sourceSize</key>
			<string>{31,87}</string>
		</dict>
		<key>cike_nv-yizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,328},{68,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,16}}</string>
			<key>sourceSize</key>
			<string>{68,16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>cike-nv.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a47cc230331a584d023787d4a39a797c$</string>
		<key>textureFileName</key>
		<string>cike-nv.png</string>
	</dict>
</dict>
</plist>
