<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fashi_light-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,2},{91,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,131}}</string>
			<key>sourceSize</key>
			<string>{91,131}</string>
		</dict>
		<key>fashi_light-bz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,116},{51,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,43}}</string>
			<key>sourceSize</key>
			<string>{51,43}</string>
		</dict>
		<key>fashi_light-bz02.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,442},{60,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,71}}</string>
			<key>sourceSize</key>
			<string>{60,71}</string>
		</dict>
		<key>fashi_light-bz03.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,341},{88,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,82}}</string>
			<key>sourceSize</key>
			<string>{88,82}</string>
		</dict>
		<key>fashi_light-bz04.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,298},{99,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,82}}</string>
			<key>sourceSize</key>
			<string>{99,82}</string>
		</dict>
		<key>fashi_light-bz05.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,235},{100,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,61}}</string>
			<key>sourceSize</key>
			<string>{100,61}</string>
		</dict>
		<key>fashi_light-bz06.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,245},{100,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,63}}</string>
			<key>sourceSize</key>
			<string>{100,63}</string>
		</dict>
		<key>fashi_light-bz07.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,310},{100,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,62}}</string>
			<key>sourceSize</key>
			<string>{100,62}</string>
		</dict>
		<key>fashi_light-bz08.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,241},{100,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,72}}</string>
			<key>sourceSize</key>
			<string>{100,72}</string>
		</dict>
		<key>fashi_light-bz09.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,366},{97,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,34}}</string>
			<key>sourceSize</key>
			<string>{97,34}</string>
		</dict>
		<key>fashi_light-dimianxiaoguo.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,302},{99,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,62}}</string>
			<key>sourceSize</key>
			<string>{99,62}</string>
		</dict>
		<key>fashi_light-dizhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,406},{142,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,144}}</string>
			<key>sourceSize</key>
			<string>{142,144}</string>
		</dict>
		<key>fashi_light-fashilight-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,47},{7,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,37}}</string>
			<key>sourceSize</key>
			<string>{7,37}</string>
		</dict>
		<key>fashi_light-fq01.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,383},{35,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,79}}</string>
			<key>sourceSize</key>
			<string>{35,79}</string>
		</dict>
		<key>fashi_light-fq02.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,309},{35,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,76}}</string>
			<key>sourceSize</key>
			<string>{35,76}</string>
		</dict>
		<key>fashi_light-fq03.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,304},{38,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,77}}</string>
			<key>sourceSize</key>
			<string>{38,77}</string>
		</dict>
		<key>fashi_light-fq044.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,235},{36,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,86}}</string>
			<key>sourceSize</key>
			<string>{36,86}</string>
		</dict>
		<key>fashi_light-fq05.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,223},{35,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,88}}</string>
			<key>sourceSize</key>
			<string>{35,88}</string>
		</dict>
		<key>fashi_light-fq06.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,220},{38,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,82}}</string>
			<key>sourceSize</key>
			<string>{38,82}</string>
		</dict>
		<key>fashi_light-fq07.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,399},{33,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,80}}</string>
			<key>sourceSize</key>
			<string>{33,80}</string>
		</dict>
		<key>fashi_light-fq08.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,323},{37,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,74}}</string>
			<key>sourceSize</key>
			<string>{37,74}</string>
		</dict>
		<key>fashi_light-fs11.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,2},{163,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,43}}</string>
			<key>sourceSize</key>
			<string>{163,43}</string>
		</dict>
		<key>fashi_light-fs12.png</key>
		<dict>
			<key>frame</key>
			<string>{{811,2},{159,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,54}}</string>
			<key>sourceSize</key>
			<string>{159,54}</string>
		</dict>
		<key>fashi_light-fs13.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,47},{154,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,69}}</string>
			<key>sourceSize</key>
			<string>{154,69}</string>
		</dict>
		<key>fashi_light-fs14.png</key>
		<dict>
			<key>frame</key>
			<string>{{811,58},{153,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,91}}</string>
			<key>sourceSize</key>
			<string>{153,91}</string>
		</dict>
		<key>fashi_light-fs21.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,223},{130,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,77}}</string>
			<key>sourceSize</key>
			<string>{130,77}</string>
		</dict>
		<key>fashi_light-fs22.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,134},{164,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,109}}</string>
			<key>sourceSize</key>
			<string>{164,109}</string>
		</dict>
		<key>fashi_light-fs23.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,259},{144,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,111}}</string>
			<key>sourceSize</key>
			<string>{144,111}</string>
		</dict>
		<key>fashi_light-fs24.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,135},{127,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,122}}</string>
			<key>sourceSize</key>
			<string>{127,122}</string>
		</dict>
		<key>fashi_light-fs25.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,2},{113,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,120}}</string>
			<key>sourceSize</key>
			<string>{113,120}</string>
		</dict>
		<key>fashi_light-gakghhg.png</key>
		<dict>
			<key>frame</key>
			<string>{{778,118},{17,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,17}}</string>
			<key>sourceSize</key>
			<string>{17,17}</string>
		</dict>
		<key>fashi_light-gq01.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,194},{40,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,24}}</string>
			<key>sourceSize</key>
			<string>{40,24}</string>
		</dict>
		<key>fashi_light-gq02.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,402},{61,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,38}}</string>
			<key>sourceSize</key>
			<string>{61,38}</string>
		</dict>
		<key>fashi_light-gq04.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,405},{86,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,42}}</string>
			<key>sourceSize</key>
			<string>{86,42}</string>
		</dict>
		<key>fashi_light-gzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,86},{3,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,48}}</string>
			<key>sourceSize</key>
			<string>{3,48}</string>
		</dict>
		<key>fashi_light-h41.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,415},{70,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,81}}</string>
			<key>sourceSize</key>
			<string>{70,81}</string>
		</dict>
		<key>fashi_light-h42.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,2},{106,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,105}}</string>
			<key>sourceSize</key>
			<string>{106,105}</string>
		</dict>
		<key>fashi_light-h43.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,449},{85,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,85}}</string>
			<key>sourceSize</key>
			<string>{85,85}</string>
		</dict>
		<key>fashi_light-h44.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,382},{87,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,87}}</string>
			<key>sourceSize</key>
			<string>{87,87}</string>
		</dict>
		<key>fashi_light-h45.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,374},{86,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,86}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>fashi_light-h46.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,259},{40,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,117}}</string>
			<key>sourceSize</key>
			<string>{40,117}</string>
		</dict>
		<key>fashi_light-k679.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,498},{60,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,57}}</string>
			<key>sourceSize</key>
			<string>{60,57}</string>
		</dict>
		<key>fashi_light-lizifei.png</key>
		<dict>
			<key>frame</key>
			<string>{{843,432},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>fashi_light-liziguagnqiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,2},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>fashi_light-liziziilanlan.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,245},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>fashi_light-liziziilanlanXxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,151},{45,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,41}}</string>
			<key>sourceSize</key>
			<string>{45,41}</string>
		</dict>
		<key>fashi_light-q00.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{64,402}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,402}}</string>
			<key>sourceSize</key>
			<string>{64,402}</string>
		</dict>
		<key>fashi_light-q000.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,372},{104,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,31}}</string>
			<key>sourceSize</key>
			<string>{104,31}</string>
		</dict>
		<key>fashi_light-q001.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,109},{74,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,19}}</string>
			<key>sourceSize</key>
			<string>{74,19}</string>
		</dict>
		<key>fashi_light-q002.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,124},{35,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,8}}</string>
			<key>sourceSize</key>
			<string>{35,8}</string>
		</dict>
		<key>fashi_light-q003.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,315},{89,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,24}}</string>
			<key>sourceSize</key>
			<string>{89,24}</string>
		</dict>
		<key>fashi_light-quan 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,85},{148,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,66}}</string>
			<key>sourceSize</key>
			<string>{148,66}</string>
		</dict>
		<key>fashi_light-quan 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,118},{146,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,72}}</string>
			<key>sourceSize</key>
			<string>{146,72}</string>
		</dict>
		<key>fashi_light-quan.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,2},{164,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,81}}</string>
			<key>sourceSize</key>
			<string>{164,81}</string>
		</dict>
		<key>fashi_light-shape 40.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,281},{69,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,56}}</string>
			<key>sourceSize</key>
			<string>{69,56}</string>
		</dict>
		<key>fashi_light-shape 42-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{843,374},{65,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,56}}</string>
			<key>sourceSize</key>
			<string>{65,56}</string>
		</dict>
		<key>fashi_light-shape 44.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,161},{62,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,56}}</string>
			<key>sourceSize</key>
			<string>{62,56}</string>
		</dict>
		<key>fashi_light-shape 46.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,313},{65,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,59}}</string>
			<key>sourceSize</key>
			<string>{65,59}</string>
		</dict>
		<key>fashi_light-shape 48-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,387},{58,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,60}}</string>
			<key>sourceSize</key>
			<string>{58,60}</string>
		</dict>
		<key>fashi_light-shape 50.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,461},{58,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,57}}</string>
			<key>sourceSize</key>
			<string>{58,57}</string>
		</dict>
		<key>fashi_light-shape 52.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,402},{58,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,57}}</string>
			<key>sourceSize</key>
			<string>{58,57}</string>
		</dict>
		<key>fashi_light-shape 54.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,507},{61,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,57}}</string>
			<key>sourceSize</key>
			<string>{61,57}</string>
		</dict>
		<key>fashi_light-shape 56.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,536},{63,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,54}}</string>
			<key>sourceSize</key>
			<string>{63,54}</string>
		</dict>
		<key>fashi_light-shape 58.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,61},{56,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,53}}</string>
			<key>sourceSize</key>
			<string>{56,53}</string>
		</dict>
		<key>fashi_light-shape 60.png</key>
		<dict>
			<key>frame</key>
			<string>{{842,494},{60,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,57}}</string>
			<key>sourceSize</key>
			<string>{60,57}</string>
		</dict>
		<key>fashi_light-shape 62.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,527},{64,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,54}}</string>
			<key>sourceSize</key>
			<string>{64,54}</string>
		</dict>
		<key>fashi_light-sprite 23.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,192},{132,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,41}}</string>
			<key>sourceSize</key>
			<string>{132,41}</string>
		</dict>
		<key>fashi_light-x001.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,124},{51,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,7}}</string>
			<key>sourceSize</key>
			<string>{51,7}</string>
		</dict>
		<key>fashi_light-x1.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,388},{73,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,25}}</string>
			<key>sourceSize</key>
			<string>{73,25}</string>
		</dict>
		<key>fashi_light-x10.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,165},{73,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,25}}</string>
			<key>sourceSize</key>
			<string>{73,25}</string>
		</dict>
		<key>fashi_light-x11.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,460},{85,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,33}}</string>
			<key>sourceSize</key>
			<string>{85,33}</string>
		</dict>
		<key>fashi_light-x12.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,489},{84,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,33}}</string>
			<key>sourceSize</key>
			<string>{84,33}</string>
		</dict>
		<key>fashi_light-x2.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,471},{84,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,33}}</string>
			<key>sourceSize</key>
			<string>{84,33}</string>
		</dict>
		<key>fashi_light-x3.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,437},{85,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,33}}</string>
			<key>sourceSize</key>
			<string>{85,33}</string>
		</dict>
		<key>fashi_light-x4.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,138},{73,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,25}}</string>
			<key>sourceSize</key>
			<string>{73,25}</string>
		</dict>
		<key>fashi_light-x5.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,425},{85,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,33}}</string>
			<key>sourceSize</key>
			<string>{85,33}</string>
		</dict>
		<key>fashi_light-x6.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,472},{84,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,33}}</string>
			<key>sourceSize</key>
			<string>{84,33}</string>
		</dict>
		<key>fashi_light-x7.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,378},{73,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,25}}</string>
			<key>sourceSize</key>
			<string>{73,25}</string>
		</dict>
		<key>fashi_light-x8.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,462},{83,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,33}}</string>
			<key>sourceSize</key>
			<string>{83,33}</string>
		</dict>
		<key>fashi_light-x9.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,402},{85,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,33}}</string>
			<key>sourceSize</key>
			<string>{85,33}</string>
		</dict>
		<key>fashi_light-xiaobing.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,495},{70,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,73}}</string>
			<key>sourceSize</key>
			<string>{70,73}</string>
		</dict>
		<key>fashi_light-xing1.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,234},{131,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,73}}</string>
			<key>sourceSize</key>
			<string>{131,73}</string>
		</dict>
		<key>fashi_light-xing2.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,153},{137,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,79}}</string>
			<key>sourceSize</key>
			<string>{137,79}</string>
		</dict>
		<key>fashi_light-xing3.png</key>
		<dict>
			<key>frame</key>
			<string>{{778,151},{133,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,70}}</string>
			<key>sourceSize</key>
			<string>{133,70}</string>
		</dict>
		<key>fashi_light-yertwerwer 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,497},{69,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,28}}</string>
			<key>sourceSize</key>
			<string>{69,28}</string>
		</dict>
		<key>fashi_light-yertwerwer.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,109},{42,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,22}}</string>
			<key>sourceSize</key>
			<string>{42,22}</string>
		</dict>
		<key>fashi_light-yertwerwer3.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,449},{83,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,38}}</string>
			<key>sourceSize</key>
			<string>{83,38}</string>
		</dict>
		<key>fashi_light-yertwerwer4.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,309},{92,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,47}}</string>
			<key>sourceSize</key>
			<string>{92,47}</string>
		</dict>
		<key>fashi_light-yertwerwer5.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,194},{106,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,45}}</string>
			<key>sourceSize</key>
			<string>{106,45}</string>
		</dict>
		<key>fashi_light-yertwerwer6.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,358},{85,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,42}}</string>
			<key>sourceSize</key>
			<string>{85,42}</string>
		</dict>
		<key>fashi_light-yertwerwer7.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,339},{69,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,47}}</string>
			<key>sourceSize</key>
			<string>{69,47}</string>
		</dict>
		<key>fashi_light-yertwerwer8.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,98},{76,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,38}}</string>
			<key>sourceSize</key>
			<string>{76,38}</string>
		</dict>
		<key>fashi_light-zs0-404.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,219},{65,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,60}}</string>
			<key>sourceSize</key>
			<string>{65,60}</string>
		</dict>
		<key>fashi_light-zs0-405.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,2},{49,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,57}}</string>
			<key>sourceSize</key>
			<string>{49,57}</string>
		</dict>
		<key>fashi_light-zs0-46.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,130},{31,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,62}}</string>
			<key>sourceSize</key>
			<string>{31,62}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fashi-light.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8d9d3fedfc6cef82c5e2503c2907ade3$</string>
		<key>textureFileName</key>
		<string>fashi-light.png</string>
	</dict>
</dict>
</plist>
