<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jianshibs0-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,116},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{3,3}</string>
		</dict>
		<key>jianshibs0-csm1-14a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,180},{5,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,31}}</string>
			<key>sourceSize</key>
			<string>{5,31}</string>
		</dict>
		<key>jianshibs0-csm1-14a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,438},{13,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,30}}</string>
			<key>sourceSize</key>
			<string>{13,30}</string>
		</dict>
		<key>jianshibs0-csm1-15a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,345},{13,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,12}}</string>
			<key>sourceSize</key>
			<string>{13,12}</string>
		</dict>
		<key>jianshibs0-csm1-15a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,345},{13,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,12}}</string>
			<key>sourceSize</key>
			<string>{13,12}</string>
		</dict>
		<key>jianshibs0-yz1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,142},{132,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,51}}</string>
			<key>sourceSize</key>
			<string>{132,51}</string>
		</dict>
		<key>jianshibs0-zsn0-01a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,2},{58,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,176}}</string>
			<key>sourceSize</key>
			<string>{58,176}</string>
		</dict>
		<key>jianshibs0-zsn0-11b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,214},{54,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,55}}</string>
			<key>sourceSize</key>
			<string>{54,55}</string>
		</dict>
		<key>jianshibs0-zsn0-12b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,116},{50,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,56}}</string>
			<key>sourceSize</key>
			<string>{50,56}</string>
		</dict>
		<key>jianshibs0-zsn0-20a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,174},{49,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,38}}</string>
			<key>sourceSize</key>
			<string>{49,38}</string>
		</dict>
		<key>jianshibs0-zsn0-23a-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,360},{22,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,37}}</string>
			<key>sourceSize</key>
			<string>{22,37}</string>
		</dict>
		<key>jianshibs0-zsn0-31a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,445},{24,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,36}}</string>
			<key>sourceSize</key>
			<string>{24,36}</string>
		</dict>
		<key>jianshibs0-zsn0-31a-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,180},{55,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,177}}</string>
			<key>sourceSize</key>
			<string>{55,177}</string>
		</dict>
		<key>jianshibs0-zsn0-31a-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,271},{15,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,129}}</string>
			<key>sourceSize</key>
			<string>{15,129}</string>
		</dict>
		<key>jianshibs0-zsn0-31a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{28,445},{23,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,36}}</string>
			<key>sourceSize</key>
			<string>{23,36}</string>
		</dict>
		<key>jianshibs0-zsn0-31a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,360},{23,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,37}}</string>
			<key>sourceSize</key>
			<string>{23,37}</string>
		</dict>
		<key>jianshibs0-zsn0-41a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,402},{23,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,29}}</string>
			<key>sourceSize</key>
			<string>{23,29}</string>
		</dict>
		<key>jianshibs0-zsn0-41a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,318},{23,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,28}}</string>
			<key>sourceSize</key>
			<string>{23,28}</string>
		</dict>
		<key>jianshibs0-zsn0-41a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,360},{19,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,29}}</string>
			<key>sourceSize</key>
			<string>{19,29}</string>
		</dict>
		<key>jianshibs0-zsn0-41a-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,345},{23,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,21}}</string>
			<key>sourceSize</key>
			<string>{23,21}</string>
		</dict>
		<key>jianshibs0-zsn0-41a-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,318},{24,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,25}}</string>
			<key>sourceSize</key>
			<string>{24,25}</string>
		</dict>
		<key>jianshibs0-zsn0-41a-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,246},{29,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,19}}</string>
			<key>sourceSize</key>
			<string>{29,19}</string>
		</dict>
		<key>jianshibs0-zsn0-51a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,402},{17,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,34}}</string>
			<key>sourceSize</key>
			<string>{17,34}</string>
		</dict>
		<key>jianshibs0-zsn0-61a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,360},{24,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,31}}</string>
			<key>sourceSize</key>
			<string>{24,31}</string>
		</dict>
		<key>jianshibs0-zsn0-71a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,216},{30,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,28}}</string>
			<key>sourceSize</key>
			<string>{30,28}</string>
		</dict>
		<key>jianshibs0-zsn0-71a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{41,483},{37,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,25}}</string>
			<key>sourceSize</key>
			<string>{37,25}</string>
		</dict>
		<key>jianshibs0-zsn0-71a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,483},{37,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,25}}</string>
			<key>sourceSize</key>
			<string>{37,25}</string>
		</dict>
		<key>jianshibs0-zsn0-71a-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,293},{26,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,23}}</string>
			<key>sourceSize</key>
			<string>{26,23}</string>
		</dict>
		<key>jianshibs0-zsn0-72a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,2},{52,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,112}}</string>
			<key>sourceSize</key>
			<string>{52,112}</string>
		</dict>
		<key>jianshibs0-zsn0-81b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,320},{43,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,38}}</string>
			<key>sourceSize</key>
			<string>{43,38}</string>
		</dict>
		<key>jianshibs0-zsn0-81c-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,402},{42,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,41}}</string>
			<key>sourceSize</key>
			<string>{42,41}</string>
		</dict>
		<key>jianshibs0-zsn0-81c-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,271},{44,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,47}}</string>
			<key>sourceSize</key>
			<string>{44,47}</string>
		</dict>
		<key>jianshibs0-zsn0-82b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,267},{26,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,24}}</string>
			<key>sourceSize</key>
			<string>{26,24}</string>
		</dict>
		<key>jianshibs0-zsn0-94a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,195},{32,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,19}}</string>
			<key>sourceSize</key>
			<string>{32,19}</string>
		</dict>
		<key>jianshibs0-zsn0-95a-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{138,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,138}}</string>
			<key>sourceSize</key>
			<string>{138,138}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jianshi-avatar.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d581ec611edbb2c31faa70ee9b34d965$</string>
		<key>textureFileName</key>
		<string>jianshi-avatar.png</string>
	</dict>
</dict>
</plist>
