<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jianshi_nv-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,191},{10,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,13}}</string>
			<key>sourceSize</key>
			<string>{10,13}</string>
		</dict>
		<key>jianshi_nv-canying1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,329},{57,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,135}}</string>
			<key>sourceSize</key>
			<string>{57,135}</string>
		</dict>
		<key>jianshi_nv-canying1K.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,32},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{3,3}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-20a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,139},{40,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,16}}</string>
			<key>sourceSize</key>
			<string>{40,16}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-20a-K.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,32},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-23a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,115},{8,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,20}}</string>
			<key>sourceSize</key>
			<string>{8,20}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-23a-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,103},{13,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,18}}</string>
			<key>sourceSize</key>
			<string>{13,18}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-31a-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,155},{16,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,26}}</string>
			<key>sourceSize</key>
			<string>{16,26}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-31a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,232},{11,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,14}}</string>
			<key>sourceSize</key>
			<string>{11,14}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-41a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,157},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-41a-16.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,232},{12,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{12,14}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-41a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,114},{17,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,19}}</string>
			<key>sourceSize</key>
			<string>{17,19}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-41a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,188},{11,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,10}}</string>
			<key>sourceSize</key>
			<string>{11,10}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-41a-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,172},{12,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,17}}</string>
			<key>sourceSize</key>
			<string>{12,17}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-42a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,188},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-43a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,135},{17,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,18}}</string>
			<key>sourceSize</key>
			<string>{17,18}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-51a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,466},{15,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,30}}</string>
			<key>sourceSize</key>
			<string>{15,30}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-51a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,123},{12,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,30}}</string>
			<key>sourceSize</key>
			<string>{12,30}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-62a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,88},{17,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,24}}</string>
			<key>sourceSize</key>
			<string>{17,24}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-62a-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,184},{16,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,15}}</string>
			<key>sourceSize</key>
			<string>{16,15}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-71a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,183},{15,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,17}}</string>
			<key>sourceSize</key>
			<string>{15,17}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-71b-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,175},{15,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,19}}</string>
			<key>sourceSize</key>
			<string>{15,19}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-71b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,162},{24,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,18}}</string>
			<key>sourceSize</key>
			<string>{24,18}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-71b-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,157},{25,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,16}}</string>
			<key>sourceSize</key>
			<string>{25,16}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-71b-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,88},{25,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,18}}</string>
			<key>sourceSize</key>
			<string>{25,18}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-71b-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,201},{23,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,29}}</string>
			<key>sourceSize</key>
			<string>{23,29}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-71b-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,110},{22,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,19}}</string>
			<key>sourceSize</key>
			<string>{22,19}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-80a-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,147},{81,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,125}}</string>
			<key>sourceSize</key>
			<string>{81,125}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-80a-4K.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,32},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{3,3}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-81a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,201},{19,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,45}}</string>
			<key>sourceSize</key>
			<string>{19,45}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-81a-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,155},{55,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,31}}</string>
			<key>sourceSize</key>
			<string>{55,31}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-81b-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,466},{22,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,40}}</string>
			<key>sourceSize</key>
			<string>{22,40}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-e-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,122},{19,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,31}}</string>
			<key>sourceSize</key>
			<string>{19,31}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-e-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,99},{20,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,30}}</string>
			<key>sourceSize</key>
			<string>{20,30}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-e-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,216},{38,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,26}}</string>
			<key>sourceSize</key>
			<string>{38,26}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-e-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,466},{14,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,30}}</string>
			<key>sourceSize</key>
			<string>{14,30}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-e-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,184},{10,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,26}}</string>
			<key>sourceSize</key>
			<string>{10,26}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-f-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,139},{11,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,50}}</string>
			<key>sourceSize</key>
			<string>{11,50}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-f-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,2},{27,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,42}}</string>
			<key>sourceSize</key>
			<string>{27,42}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-f-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,60},{20,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,37}}</string>
			<key>sourceSize</key>
			<string>{20,37}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-f-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,466},{14,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,41}}</string>
			<key>sourceSize</key>
			<string>{14,41}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-f-60.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,274},{67,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,52}}</string>
			<key>sourceSize</key>
			<string>{67,52}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-pd-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,160},{31,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,16}}</string>
			<key>sourceSize</key>
			<string>{31,16}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-pd-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,139},{34,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,21}}</string>
			<key>sourceSize</key>
			<string>{34,21}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-pd-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,73},{27,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,13}}</string>
			<key>sourceSize</key>
			<string>{27,13}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-pd-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,184},{13,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,15}}</string>
			<key>sourceSize</key>
			<string>{13,15}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-pd-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,182},{10,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,14}}</string>
			<key>sourceSize</key>
			<string>{10,14}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-pd-7-.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,139},{33,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,19}}</string>
			<key>sourceSize</key>
			<string>{33,19}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-pd-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,182},{10,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,14}}</string>
			<key>sourceSize</key>
			<string>{10,14}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-pd-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,46},{27,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,25}}</string>
			<key>sourceSize</key>
			<string>{27,25}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-tb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,270},{41,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,30}}</string>
			<key>sourceSize</key>
			<string>{41,30}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-tb-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,184},{38,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,30}}</string>
			<key>sourceSize</key>
			<string>{38,30}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-tf-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,114},{30,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,79}}</string>
			<key>sourceSize</key>
			<string>{30,79}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-tf-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,131},{45,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,68}}</string>
			<key>sourceSize</key>
			<string>{45,68}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-tf-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,201},{57,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,61}}</string>
			<key>sourceSize</key>
			<string>{57,61}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-tf-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,108},{38,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,74}}</string>
			<key>sourceSize</key>
			<string>{38,74}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-tf-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,252},{47,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,67}}</string>
			<key>sourceSize</key>
			<string>{47,67}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-tk-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,218},{51,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,32}}</string>
			<key>sourceSize</key>
			<string>{51,32}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-tk-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,183},{51,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,33}}</string>
			<key>sourceSize</key>
			<string>{51,33}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-tk-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,147},{51,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,34}}</string>
			<key>sourceSize</key>
			<string>{51,34}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-wt-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,201},{24,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,28}}</string>
			<key>sourceSize</key>
			<string>{24,28}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-wt-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,114},{20,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,23}}</string>
			<key>sourceSize</key>
			<string>{20,23}</string>
		</dict>
		<key>jianshi_nv-jianshi-nv0-wt-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,58},{18,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,28}}</string>
			<key>sourceSize</key>
			<string>{18,28}</string>
		</dict>
		<key>jianshi_nv-sprite 4733.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,498},{21,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,12}}</string>
			<key>sourceSize</key>
			<string>{21,12}</string>
		</dict>
		<key>jianshi_nv-sprite 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,153},{45,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,29}}</string>
			<key>sourceSize</key>
			<string>{45,29}</string>
		</dict>
		<key>jianshi_nv-sprite2.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,244},{38,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,24}}</string>
			<key>sourceSize</key>
			<string>{38,24}</string>
		</dict>
		<key>jianshi_nv-sprite3.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,248},{35,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,22}}</string>
			<key>sourceSize</key>
			<string>{35,22}</string>
		</dict>
		<key>jianshi_nv-sprite4.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,302},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>jianshi_nv-sprite6.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,122},{47,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,29}}</string>
			<key>sourceSize</key>
			<string>{47,29}</string>
		</dict>
		<key>jianshi_nv-sprite6k.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,32},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>jianshi_nv-tb-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,508},{8,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,2}}</string>
			<key>sourceSize</key>
			<string>{8,2}</string>
		</dict>
		<key>jianshi_nv-tb2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{23,264},{8,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,4}}</string>
			<key>sourceSize</key>
			<string>{8,4}</string>
		</dict>
		<key>jianshi_nv-tb2-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,264},{19,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,4}}</string>
			<key>sourceSize</key>
			<string>{19,4}</string>
		</dict>
		<key>jianshi_nv-tb2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,101},{5,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,4}}</string>
			<key>sourceSize</key>
			<string>{5,4}</string>
		</dict>
		<key>jianshi_nv-tb2-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{28,508},{4,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,2}}</string>
			<key>sourceSize</key>
			<string>{4,2}</string>
		</dict>
		<key>jianshi_nv-tb2-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,264},{8,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,3}}</string>
			<key>sourceSize</key>
			<string>{8,3}</string>
		</dict>
		<key>jianshi_nv-tb2-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,94},{5,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,5}}</string>
			<key>sourceSize</key>
			<string>{5,5}</string>
		</dict>
		<key>jianshi_nv-tb3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,103},{9,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,10}}</string>
			<key>sourceSize</key>
			<string>{9,10}</string>
		</dict>
		<key>jianshi_nv-weapon-blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,2},{145,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,28}}</string>
			<key>sourceSize</key>
			<string>{145,28}</string>
		</dict>
		<key>jianshi_nv-weapon-darkgold.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,32},{143,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,60}}</string>
			<key>sourceSize</key>
			<string>{143,60}</string>
		</dict>
		<key>jianshi_nv-weapon-eighty.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,2},{162,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,56}}</string>
			<key>sourceSize</key>
			<string>{162,56}</string>
		</dict>
		<key>jianshi_nv-weapon-gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{168,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,54}}</string>
			<key>sourceSize</key>
			<string>{168,54}</string>
		</dict>
		<key>jianshi_nv-weapon-green.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,110},{116,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,27}}</string>
			<key>sourceSize</key>
			<string>{116,27}</string>
		</dict>
		<key>jianshi_nv-weapon-pink.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,94},{134,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,51}}</string>
			<key>sourceSize</key>
			<string>{134,51}</string>
		</dict>
		<key>jianshi_nv-weapon-purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,58},{148,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,43}}</string>
			<key>sourceSize</key>
			<string>{148,43}</string>
		</dict>
		<key>jianshi_nv-weapon-whitegold.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,60},{140,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,48}}</string>
			<key>sourceSize</key>
			<string>{140,48}</string>
		</dict>
		<key>jianshi_nv-wk.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,32},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{3,3}</string>
		</dict>
		<key>jianshi_nv-wq-4 K.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,32},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{3,3}</string>
		</dict>
		<key>jianshi_nv-yz1.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,103},{68,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,17}}</string>
			<key>sourceSize</key>
			<string>{68,17}</string>
		</dict>
		<key>jianshi_nv-zsn0-41a-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,178},{10,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,21}}</string>
			<key>sourceSize</key>
			<string>{10,21}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jianshi-nv.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8e6d07c7585781c16a88b8e6c3ef0642$</string>
		<key>textureFileName</key>
		<string>jianshi-nv.png</string>
	</dict>
</dict>
</plist>
