<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jianshi_light-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,356},{159,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,109}}</string>
			<key>sourceSize</key>
			<string>{159,109}</string>
		</dict>
		<key>jianshi_light-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,2},{200,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,116}}</string>
			<key>sourceSize</key>
			<string>{200,116}</string>
		</dict>
		<key>jianshi_light-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,167},{181,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,117}}</string>
			<key>sourceSize</key>
			<string>{181,117}</string>
		</dict>
		<key>jianshi_light-04.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,286},{165,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,121}}</string>
			<key>sourceSize</key>
			<string>{165,121}</string>
		</dict>
		<key>jianshi_light-DG2.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,120},{199,275}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,275}}</string>
			<key>sourceSize</key>
			<string>{199,275}</string>
		</dict>
		<key>jianshi_light-DG3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,167},{194,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,187}}</string>
			<key>sourceSize</key>
			<string>{194,187}</string>
		</dict>
		<key>jianshi_light-DG4.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,259},{173,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,63}}</string>
			<key>sourceSize</key>
			<string>{173,63}</string>
		</dict>
		<key>jianshi_light-dvsgg-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,397},{80,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,150}}</string>
			<key>sourceSize</key>
			<string>{80,150}</string>
		</dict>
		<key>jianshi_light-em0503-1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,516},{119,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,33}}</string>
			<key>sourceSize</key>
			<string>{119,33}</string>
		</dict>
		<key>jianshi_light-em0503-1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,645},{100,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,33}}</string>
			<key>sourceSize</key>
			<string>{100,33}</string>
		</dict>
		<key>jianshi_light-em0503-1-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,676},{96,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,40}}</string>
			<key>sourceSize</key>
			<string>{96,40}</string>
		</dict>
		<key>jianshi_light-em0503-1-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,477},{58,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,17}}</string>
			<key>sourceSize</key>
			<string>{58,17}</string>
		</dict>
		<key>jianshi_light-em0503-2-1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,801},{72,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,18}}</string>
			<key>sourceSize</key>
			<string>{72,18}</string>
		</dict>
		<key>jianshi_light-em0503-2-2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,1005},{71,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,8}}</string>
			<key>sourceSize</key>
			<string>{71,8}</string>
		</dict>
		<key>jianshi_light-em0503-2-3-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,1006},{71,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,13}}</string>
			<key>sourceSize</key>
			<string>{71,13}</string>
		</dict>
		<key>jianshi_light-em0503-2-4-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1006},{72,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,13}}</string>
			<key>sourceSize</key>
			<string>{72,13}</string>
		</dict>
		<key>jianshi_light-f3h.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,324},{41,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,166}}</string>
			<key>sourceSize</key>
			<string>{41,166}</string>
		</dict>
		<key>jianshi_light-gq01.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,259},{44,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,31}}</string>
			<key>sourceSize</key>
			<string>{44,31}</string>
		</dict>
		<key>jianshi_light-gq02.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,437},{60,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,38}}</string>
			<key>sourceSize</key>
			<string>{60,38}</string>
		</dict>
		<key>jianshi_light-gq03.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,708},{78,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,42}}</string>
			<key>sourceSize</key>
			<string>{78,42}</string>
		</dict>
		<key>jianshi_light-gq04.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,680},{86,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,42}}</string>
			<key>sourceSize</key>
			<string>{86,42}</string>
		</dict>
		<key>jianshi_light-gq05.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,645},{88,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,44}}</string>
			<key>sourceSize</key>
			<string>{88,44}</string>
		</dict>
		<key>jianshi_light-huoxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,397},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>jianshi_light-jianshe 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,397},{125,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,117}}</string>
			<key>sourceSize</key>
			<string>{125,117}</string>
		</dict>
		<key>jianshi_light-jianshe 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,467},{132,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,121}}</string>
			<key>sourceSize</key>
			<string>{132,121}</string>
		</dict>
		<key>jianshi_light-jianshe 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{546,555},{140,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,119}}</string>
			<key>sourceSize</key>
			<string>{140,119}</string>
		</dict>
		<key>jianshi_light-jianshe 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,337},{142,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,116}}</string>
			<key>sourceSize</key>
			<string>{142,116}</string>
		</dict>
		<key>jianshi_light-jianshe 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,455},{141,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,98}}</string>
			<key>sourceSize</key>
			<string>{141,98}</string>
		</dict>
		<key>jianshi_light-jianshe 6.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,409},{135,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,83}}</string>
			<key>sourceSize</key>
			<string>{135,83}</string>
		</dict>
		<key>jianshi_light-jineng-2-light-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1022,181},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>jianshi_light-jinenng-2-light-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{405,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{405,163}}</string>
			<key>sourceSize</key>
			<string>{405,163}</string>
		</dict>
		<key>jianshi_light-leiting 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,545},{35,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,23}}</string>
			<key>sourceSize</key>
			<string>{35,23}</string>
		</dict>
		<key>jianshi_light-leiting 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,194},{53,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,49}}</string>
			<key>sourceSize</key>
			<string>{53,49}</string>
		</dict>
		<key>jianshi_light-leiting 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,557},{66,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,52}}</string>
			<key>sourceSize</key>
			<string>{66,52}</string>
		</dict>
		<key>jianshi_light-leiting 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,590},{87,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,51}}</string>
			<key>sourceSize</key>
			<string>{87,51}</string>
		</dict>
		<key>jianshi_light-leiting 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,639},{105,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,52}}</string>
			<key>sourceSize</key>
			<string>{105,52}</string>
		</dict>
		<key>jianshi_light-leiting 6.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,245},{47,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,51}}</string>
			<key>sourceSize</key>
			<string>{47,51}</string>
		</dict>
		<key>jianshi_light-leiting 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,329},{45,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,51}}</string>
			<key>sourceSize</key>
			<string>{45,51}</string>
		</dict>
		<key>jianshi_light-leiting 8.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,356},{31,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,39}}</string>
			<key>sourceSize</key>
			<string>{31,39}</string>
		</dict>
		<key>jianshi_light-light-1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,413},{62,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,22}}</string>
			<key>sourceSize</key>
			<string>{62,22}</string>
		</dict>
		<key>jianshi_light-niubo-huo-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,596},{79,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,32}}</string>
			<key>sourceSize</key>
			<string>{79,32}</string>
		</dict>
		<key>jianshi_light-niubo-huo-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,557},{79,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,37}}</string>
			<key>sourceSize</key>
			<string>{79,37}</string>
		</dict>
		<key>jianshi_light-q00.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,292},{42,304}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,304}}</string>
			<key>sourceSize</key>
			<string>{42,304}</string>
		</dict>
		<key>jianshi_light-qe3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1014,245},{6,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,6}}</string>
			<key>sourceSize</key>
			<string>{6,6}</string>
		</dict>
		<key>jianshi_light-shape 191.png</key>
		<dict>
			<key>frame</key>
			<string>{{556,259},{149,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,76}}</string>
			<key>sourceSize</key>
			<string>{149,76}</string>
		</dict>
		<key>jianshi_light-sprite 1146.png</key>
		<dict>
			<key>frame</key>
			<string>{{1014,253},{3,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,5}}</string>
			<key>sourceSize</key>
			<string>{3,5}</string>
		</dict>
		<key>jianshi_light-sprite 4733.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,167},{21,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,12}}</string>
			<key>sourceSize</key>
			<string>{21,12}</string>
		</dict>
		<key>jianshi_light-sprite 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,382},{45,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,29}}</string>
			<key>sourceSize</key>
			<string>{45,29}</string>
		</dict>
		<key>jianshi_light-sprite2.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,519},{38,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,24}}</string>
			<key>sourceSize</key>
			<string>{38,24}</string>
		</dict>
		<key>jianshi_light-sprite3.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,467},{35,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,22}}</string>
			<key>sourceSize</key>
			<string>{35,22}</string>
		</dict>
		<key>jianshi_light-sprite4.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,492},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>jianshi_light-sprite6.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,298},{47,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,29}}</string>
			<key>sourceSize</key>
			<string>{47,29}</string>
		</dict>
		<key>jianshi_light-yz1.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,181},{55,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,11}}</string>
			<key>sourceSize</key>
			<string>{55,11}</string>
		</dict>
		<key>jianshi_light-zs0-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,676},{77,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,141}}</string>
			<key>sourceSize</key>
			<string>{77,141}</string>
		</dict>
		<key>jianshi_light-zs0-13.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,676},{76,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,138}}</string>
			<key>sourceSize</key>
			<string>{76,138}</string>
		</dict>
		<key>jianshi_light-zs0-14-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,324},{145,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,77}}</string>
			<key>sourceSize</key>
			<string>{145,77}</string>
		</dict>
		<key>jianshi_light-zs0-14.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,132},{339,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,125}}</string>
			<key>sourceSize</key>
			<string>{339,125}</string>
		</dict>
		<key>jianshi_light-zs0-15.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,2},{353,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{353,128}}</string>
			<key>sourceSize</key>
			<string>{353,128}</string>
		</dict>
		<key>jianshi_light-zs0-31.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,611},{101,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,32}}</string>
			<key>sourceSize</key>
			<string>{101,32}</string>
		</dict>
		<key>jianshi_light-zs0-404.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,551},{110,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,86}}</string>
			<key>sourceSize</key>
			<string>{110,86}</string>
		</dict>
		<key>jianshi_light-zs0-405.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,693},{104,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,106}}</string>
			<key>sourceSize</key>
			<string>{104,106}</string>
		</dict>
		<key>jianshi_light-zs0-406.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,822},{74,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,179}}</string>
			<key>sourceSize</key>
			<string>{74,179}</string>
		</dict>
		<key>jianshi_light-zs0-407.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,822},{94,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,182}}</string>
			<key>sourceSize</key>
			<string>{94,182}</string>
		</dict>
		<key>jianshi_light-zs0-408.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,494},{98,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,179}}</string>
			<key>sourceSize</key>
			<string>{98,179}</string>
		</dict>
		<key>jianshi_light-zs0-409.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,494},{93,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,180}}</string>
			<key>sourceSize</key>
			<string>{93,180}</string>
		</dict>
		<key>jianshi_light-zs0-41.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,403},{142,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,152}}</string>
			<key>sourceSize</key>
			<string>{142,152}</string>
		</dict>
		<key>jianshi_light-zs0-410.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,822},{92,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,181}}</string>
			<key>sourceSize</key>
			<string>{92,181}</string>
		</dict>
		<key>jianshi_light-zs0-411.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,639},{74,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,181}}</string>
			<key>sourceSize</key>
			<string>{74,181}</string>
		</dict>
		<key>jianshi_light-zs0-412.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,822},{76,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,181}}</string>
			<key>sourceSize</key>
			<string>{76,181}</string>
		</dict>
		<key>jianshi_light-zs0-413.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,822},{91,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,181}}</string>
			<key>sourceSize</key>
			<string>{91,181}</string>
		</dict>
		<key>jianshi_light-zs0-42.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,676},{87,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,141}}</string>
			<key>sourceSize</key>
			<string>{87,141}</string>
		</dict>
		<key>jianshi_light-zs0-43.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,693},{91,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,99}}</string>
			<key>sourceSize</key>
			<string>{91,99}</string>
		</dict>
		<key>jianshi_light-zs0-46.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,549},{114,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,157}}</string>
			<key>sourceSize</key>
			<string>{114,157}</string>
		</dict>
		<key>jianshi_light-zsn0-31a-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,2},{55,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,177}}</string>
			<key>sourceSize</key>
			<string>{55,177}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jianshi-light.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2e521108d9e238144aeccd31723164f6$</string>
		<key>textureFileName</key>
		<string>jianshi-light.png</string>
	</dict>
</dict>
</plist>
