<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Cike_Shu.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,521},{34,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{34,71}}</string>
			<key>sourceSize</key>
			<string>{36,73}</string>
		</dict>
		<key>CreationUI_LongBtn_Disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,179},{240,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{240,56}}</string>
			<key>sourceSize</key>
			<string>{240,60}</string>
		</dict>
		<key>Creation_Btn_Clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,375},{240,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{240,56}}</string>
			<key>sourceSize</key>
			<string>{240,60}</string>
		</dict>
		<key>Creation_Btn_Lable.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,524},{167,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,44}}</string>
			<key>sourceSize</key>
			<string>{167,44}</string>
		</dict>
		<key>Creation_Btn_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,237},{240,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{240,56}}</string>
			<key>sourceSize</key>
			<string>{240,60}</string>
		</dict>
		<key>Creation_ClassIconLight.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,71},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>Creation_ClassIcon_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,742},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>Creation_ClassIcon_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,570},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>Creation_ClassIcon_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,744},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>Creation_ClassIcon_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,570},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>Creation_ClassIcon_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,375},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>Creation_ClassIcon_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,201},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>Creation_ClassIcon_BG1.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,201},{112,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,114}}</string>
			<key>sourceSize</key>
			<string>{112,114}</string>
		</dict>
		<key>Creation_ClassIcon_BG2.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,907},{98,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,98}}</string>
			<key>sourceSize</key>
			<string>{98,98}</string>
		</dict>
		<key>Creation_ClassIcon_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1022},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{142,142}</string>
		</dict>
		<key>Creation_ClassIcon_Selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,192},{129,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,129}}</string>
			<key>sourceSize</key>
			<string>{129,129}</string>
		</dict>
		<key>Creation_DialogArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{975,2},{47,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,65}}</string>
			<key>sourceSize</key>
			<string>{47,65}</string>
		</dict>
		<key>Creation_RandomName_Clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,478},{41,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,41}}</string>
			<key>sourceSize</key>
			<string>{41,41}</string>
		</dict>
		<key>Creation_RandomName_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,478},{41,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,41}}</string>
			<key>sourceSize</key>
			<string>{41,41}</string>
		</dict>
		<key>Creation_Title_Frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{617,2},{356,67}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{356,67}}</string>
			<key>sourceSize</key>
			<string>{370,69}</string>
		</dict>
		<key>Creation_TopTextFrame.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,108},{107,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,63}}</string>
			<key>sourceSize</key>
			<string>{107,63}</string>
		</dict>
		<key>Creation_roleBG.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,522},{173,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,170}}</string>
			<key>sourceSize</key>
			<string>{173,170}</string>
		</dict>
		<key>Fashi_shu.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,672},{35,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{35,70}}</string>
			<key>sourceSize</key>
			<string>{37,72}</string>
		</dict>
		<key>Jianshi_Shu.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,487},{35,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{35,70}}</string>
			<key>sourceSize</key>
			<string>{37,72}</string>
		</dict>
		<key>LoginAnimation_cloud1.png</key>
		<dict>
			<key>frame</key>
			<string>{{617,71},{321,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{321,106}}</string>
			<key>sourceSize</key>
			<string>{321,106}</string>
		</dict>
		<key>LoginAnimation_cloud2.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,929},{238,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,85}}</string>
			<key>sourceSize</key>
			<string>{238,85}</string>
		</dict>
		<key>LoginAnimation_cloud3.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,433},{219,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,99}}</string>
			<key>sourceSize</key>
			<string>{219,99}</string>
		</dict>
		<key>LoginAnimation_cloud4.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,672},{136,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,68}}</string>
			<key>sourceSize</key>
			<string>{136,68}</string>
		</dict>
		<key>LoginAnimation_cloud5.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,2},{266,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,104}}</string>
			<key>sourceSize</key>
			<string>{266,104}</string>
		</dict>
		<key>LoginAnimation_cloud6.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,326},{350,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{350,150}}</string>
			<key>sourceSize</key>
			<string>{350,150}</string>
		</dict>
		<key>LoginAnimation_cloud7.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,295},{298,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{298,78}}</string>
			<key>sourceSize</key>
			<string>{298,78}</string>
		</dict>
		<key>Login_BG_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{136,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,768}}</string>
			<key>sourceSize</key>
			<string>{136,768}</string>
		</dict>
		<key>Login_Back_Btn_Clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{617,303},{50,45}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{50,45}}</string>
			<key>sourceSize</key>
			<string>{52,47}</string>
		</dict>
		<key>Login_Back_Btn_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{617,350},{48,43}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{48,43}}</string>
			<key>sourceSize</key>
			<string>{52,47}</string>
		</dict>
		<key>Login_LoginNoticeBG.png</key>
		<dict>
			<key>frame</key>
			<string>{{935,201},{58,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{58,58}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>Login_Magic.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,772},{225,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,225}}</string>
			<key>sourceSize</key>
			<string>{225,225}</string>
		</dict>
		<key>Login_ServerBtn_Clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,144},{64,46}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,14},{64,46}}</string>
			<key>sourceSize</key>
			<string>{90,70}</string>
		</dict>
		<key>Login_ServerBtn_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,144},{64,46}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,14},{64,46}}</string>
			<key>sourceSize</key>
			<string>{90,70}</string>
		</dict>
		<key>Login_grass_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,770},{136,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,157}}</string>
			<key>sourceSize</key>
			<string>{136,157}</string>
		</dict>
		<key>Login_logo_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,120},{79,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,79}}</string>
			<key>sourceSize</key>
			<string>{79,79}</string>
		</dict>
		<key>Login_logo_text.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,846},{125,59}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,6},{125,59}}</string>
			<key>sourceSize</key>
			<string>{139,69}</string>
		</dict>
		<key>Login_mount_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,477},{136,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,74}}</string>
			<key>sourceSize</key>
			<string>{136,74}</string>
		</dict>
		<key>Login_stone_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,2},{79,322}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,4},{79,322}}</string>
			<key>sourceSize</key>
			<string>{105,332}</string>
		</dict>
		<key>Login_stone_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,762},{74,146}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,6},{74,146}}</string>
			<key>sourceSize</key>
			<string>{80,156}</string>
		</dict>
		<key>Login_stone_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,478},{58,282}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,4},{58,282}}</string>
			<key>sourceSize</key>
			<string>{70,290}</string>
		</dict>
		<key>Login_stone_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,2},{123,518}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,4},{123,518}}</string>
			<key>sourceSize</key>
			<string>{143,530}</string>
		</dict>
		<key>RoleSelect_Creat_Text.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,672},{127,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,36}}</string>
			<key>sourceSize</key>
			<string>{127,36}</string>
		</dict>
		<key>RoleSelect_Delete_Text.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,534},{127,34}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{127,34}}</string>
			<key>sourceSize</key>
			<string>{127,36}</string>
		</dict>
		<key>RoleSelect_Lv.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,999},{35,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{35,21}}</string>
			<key>sourceSize</key>
			<string>{37,23}</string>
		</dict>
		<key>RoleSelect_Recover.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,553},{127,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,33}}</string>
			<key>sourceSize</key>
			<string>{127,33}</string>
		</dict>
		<key>RoleSelect_Select_Corner.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,594},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>RoleSelect_StartGameLable.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,478},{167,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,44}}</string>
			<key>sourceSize</key>
			<string>{167,44}</string>
		</dict>
		<key>RoleSelect_lampstand.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,694},{205,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,74}}</string>
			<key>sourceSize</key>
			<string>{205,74}</string>
		</dict>
		<key>ServerUI_Arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,630},{32,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>SeverUI_AllServer.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,108},{139,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{139,34}}</string>
			<key>sourceSize</key>
			<string>{143,38}</string>
		</dict>
		<key>SeverUI_ClosedServer.png</key>
		<dict>
			<key>frame</key>
			<string>{{617,441},{38,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,44}}</string>
			<key>sourceSize</key>
			<string>{38,44}</string>
		</dict>
		<key>SeverUI_LastLoginserver.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,570},{114,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{114,34}}</string>
			<key>sourceSize</key>
			<string>{118,38}</string>
		</dict>
		<key>SeverUI_NewServer.png</key>
		<dict>
			<key>frame</key>
			<string>{{975,69},{47,49}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,49}}</string>
			<key>sourceSize</key>
			<string>{49,51}</string>
		</dict>
		<key>SeverUI_RepairedServer.png</key>
		<dict>
			<key>frame</key>
			<string>{{617,395},{38,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,44}}</string>
			<key>sourceSize</key>
			<string>{38,44}</string>
		</dict>
		<key>SeverUI_ServerBtn_Clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,375},{240,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{240,56}}</string>
			<key>sourceSize</key>
			<string>{240,60}</string>
		</dict>
		<key>SeverUI_ServerBtn_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,237},{240,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{240,56}}</string>
			<key>sourceSize</key>
			<string>{240,60}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>LoginUI_part1.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:335d17c0d4ecaa970cc911fae8314aae$</string>
		<key>textureFileName</key>
		<string>LoginUI_part1.png</string>
	</dict>
</dict>
</plist>
