<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BT_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,327}}</string>
                <key>sourceSize</key>
                <string>{1136,327}</string>
            </dict>
            <key>BT_beauty.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,424},{378,384}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>TeachGame_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,331},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>TeachGame_Dotted_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,973},{514,2}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,2}}</string>
                <key>sourceSize</key>
                <string>{520,2}</string>
            </dict>
            <key>TeachGame_Rotate_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{196,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,246}}</string>
                <key>sourceSize</key>
                <string>{196,246}</string>
            </dict>
            <key>TeachGame_Shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>TeachGame_Tip_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,810},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>TeachGame_Touch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,250},{176,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{176,172}}</string>
                <key>sourceSize</key>
                <string>{206,200}</string>
            </dict>
            <key>TeachGame_Touch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,810},{206,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,200}}</string>
                <key>sourceSize</key>
                <string>{206,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeachGame.png</string>
            <key>size</key>
            <string>{1344,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11693a006335fa1a7fa134524a2401e0$</string>
            <key>textureFileName</key>
            <string>TeachGame.png</string>
        </dict>
    </dict>
</plist>
