<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cellChose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,100}}</string>
                <key>sourceSize</key>
                <string>{195,100}</string>
            </dict>
            <key>gayarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,100},{25,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,12}}</string>
                <key>sourceSize</key>
                <string>{25,12}</string>
            </dict>
            <key>greenItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,71},{136,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,44}}</string>
                <key>sourceSize</key>
                <string>{136,44}</string>
            </dict>
            <key>levelBg_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>listmenuA.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,51},{193,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,47}}</string>
                <key>sourceSize</key>
                <string>{193,47}</string>
            </dict>
            <key>listmenuB.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{193,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,47}}</string>
                <key>sourceSize</key>
                <string>{193,47}</string>
            </dict>
            <key>selfA.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>selfB.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>yellowarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,42},{25,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,12}}</string>
                <key>sourceSize</key>
                <string>{25,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RankingList.png</string>
            <key>size</key>
            <string>{570,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daf152a9ffb86aff06dffdcf8e7899e2$</string>
            <key>textureFileName</key>
            <string>RankingList.png</string>
        </dict>
    </dict>
</plist>
