<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LuckScratch_Buy_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,391},{201,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,83}}</string>
                <key>sourceSize</key>
                <string>{201,83}</string>
            </dict>
            <key>LuckScratch_Buy_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,557},{201,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,83}}</string>
                <key>sourceSize</key>
                <string>{201,83}</string>
            </dict>
            <key>LuckScratch_FrameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{860,553}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,553}}</string>
                <key>sourceSize</key>
                <string>{860,553}</string>
            </dict>
            <key>LuckScratch_LeftBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,304},{215,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,85}}</string>
                <key>sourceSize</key>
                <string>{215,85}</string>
            </dict>
            <key>LuckScratch_LossFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,642},{129,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,130}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>LuckScratch_LuckFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,476},{129,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,130}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>LuckScratch_Main.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,851},{129,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,130}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>LuckScratch_Main_zhcn.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,719},{129,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,130}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>LuckScratch_Prop01.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,852},{74,112}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{74,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,668},{76,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{76,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop03.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,730},{86,118}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{86,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,730},{84,116}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{84,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,428},{80,118}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{80,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,548},{78,118}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{78,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,600},{88,120}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{88,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop08.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,608},{88,120}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{88,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop09.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,774},{88,120}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{88,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,850},{92,102}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{92,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop11.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,896},{92,102}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{92,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop12.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,896},{98,110}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{98,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop13.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,896},{98,110}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{98,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop14.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,852},{82,116}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,5},{82,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop15.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,642},{92,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{92,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop16.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,476},{92,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{92,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,304},{124,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{124,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop17_zhcn.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,730},{124,120}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{124,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop18.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,608},{124,120}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{124,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop18_zhcn.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,774},{124,120}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{124,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Round3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,782},{86,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,64}}</string>
                <key>sourceSize</key>
                <string>{86,64}</string>
            </dict>
            <key>LuckScratch_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{428,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,448}}</string>
                <key>sourceSize</key>
                <string>{428,448}</string>
            </dict>
            <key>LuckScratch_WinFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,557},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>LuckScratch_WinLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Luck_Back_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,916},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Luck_Back_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,848},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LuckScratch.png</string>
            <key>size</key>
            <string>{1207,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef4d2a5024768934e7660025cc108a7c$</string>
            <key>textureFileName</key>
            <string>LuckScratch.png</string>
        </dict>
    </dict>
</plist>
