<plist version="1.0">
    <dict>
        <key>AchSprite.plist</key>
        <string>BaseRes/AchSprite.data</string>
        <key>AllCue.plist</key>
        <string>BaseRes/AllCue.data</string>
        <key>AllCue_1.plist</key>
        <string>BaseRes/AllCue_1.data</string>
        <key>BlueGame.plist</key>
        <string>BaseRes/BlueGame.data</string>
        <key>BlueGame_En.plist</key>
        <string>EnRes/BlueGame_En.data</string>
        <key>BlueGame_Hans.plist</key>
        <string>HansRes/BlueGame_Hans.data</string>
        <key>BlueSprite.plist</key>
        <string>BaseRes/BlueSprite.data</string>
        <key>BlueSprite_En.plist</key>
        <string>EnRes/BlueSprite_En.data</string>
        <key>BlueSprite_Hans.plist</key>
        <string>HansRes/BlueSprite_Hans.data</string>
        <key>CapsuleToys.plist</key>
        <string>BaseRes/CapsuleToys.data</string>
        <key>CapsuleToys_En.plist</key>
        <string>EnRes/CapsuleToys_En.data</string>
        <key>CapsuleToys_Hans.plist</key>
        <string>HansRes/CapsuleToys_Hans.data</string>
        <key>ConsoleModeBg.plist</key>
        <string>BaseRes/ConsoleModeBg.data</string>
        <key>CrazyBalance.plist</key>
        <string>BaseRes/CrazyBalance.data</string>
        <key>CrazyBalance_En.plist</key>
        <string>EnRes/CrazyBalance_En.data</string>
        <key>CrazyBalance_Hans.plist</key>
        <string>HansRes/CrazyBalance_Hans.data</string>
        <key>Cue.plist</key>
        <string>BaseRes/Cue.data</string>
        <key>EmoticonGif_1.plist</key>
        <string>BaseRes/EmoticonGif_1.data</string>
        <key>EmoticonGif_2.plist</key>
        <string>BaseRes/EmoticonGif_2.data</string>
        <key>FloatSprite.plist</key>
        <string>BaseRes/FloatSprite.data</string>
        <key>FriendsFight.plist</key>
        <string>BaseRes/FriendsFight.data</string>
        <key>FriendsFight_En.plist</key>
        <string>EnRes/FriendsFight_En.data</string>
        <key>FriendsFight_Hans.plist</key>
        <string>HansRes/FriendsFight_Hans.data</string>
        <key>GameBalance.plist</key>
        <string>BaseRes/GameBalance.data</string>
        <key>GameBalance_En.plist</key>
        <string>EnRes/GameBalance_En.data</string>
        <key>GameBalance_Hans.plist</key>
        <string>HansRes/GameBalance_Hans.data</string>
        <key>GameSceneBg.plist</key>
        <string>BaseRes/GameSceneBg.data</string>
        <key>GetAch.plist</key>
        <string>BaseRes/GetAch.data</string>
        <key>GetAch_En.plist</key>
        <string>EnRes/GetAch_En.data</string>
        <key>GetAch_Hans.plist</key>
        <string>HansRes/GetAch_Hans.data</string>
        <key>LimitedTimeOffers.plist</key>
        <string>BaseRes/LimitedTimeOffers.data</string>
        <key>LimitedTimeOffers_En.plist</key>
        <string>EnRes/LimitedTimeOffers_En.data</string>
        <key>LimitedTimeOffers_Hans.plist</key>
        <string>HansRes/LimitedTimeOffers_Hans.data</string>
        <key>Loading.plist</key>
        <string>BaseRes/Loading.data</string>
        <key>Loading_En.plist</key>
        <string>EnRes/Loading_En.data</string>
        <key>Loading_Hans.plist</key>
        <string>HansRes/Loading_Hans.data</string>
        <key>LobbySprite.plist</key>
        <string>BaseRes/LobbySprite.data</string>
        <key>LobbySprite_1.plist</key>
        <string>BaseRes/LobbySprite_1.data</string>
        <key>LobbySprite_2.plist</key>
        <string>BaseRes/LobbySprite_2.data</string>
        <key>LobbySprite_3.plist</key>
        <string>BaseRes/LobbySprite_3.data</string>
        <key>LobbySprite_En.plist</key>
        <string>EnRes/LobbySprite_En.data</string>
        <key>LobbySprite_Hans.plist</key>
        <string>HansRes/LobbySprite_Hans.data</string>
        <key>LuckScratch.plist</key>
        <string>BaseRes/LuckScratch.data</string>
        <key>LuckScratch_En.plist</key>
        <string>EnRes/LuckScratch_En.data</string>
        <key>LuckScratch_Hans.plist</key>
        <string>HansRes/LuckScratch_Hans.data</string>
        <key>MainLayer.plist</key>
        <string>BaseRes/MainLayer.data</string>
        <key>MainLayer_En.plist</key>
        <string>EnRes/MainLayer_En.data</string>
        <key>MainLayer_Hans.plist</key>
        <string>HansRes/MainLayer_Hans.data</string>
        <key>MeseumSprite.plist</key>
        <string>BaseRes/MeseumSprite.data</string>
        <key>MeseumSprite_En.plist</key>
        <string>EnRes/MeseumSprite_En.data</string>
        <key>MeseumSprite_Hans.plist</key>
        <string>HansRes/MeseumSprite_Hans.data</string>
        <key>ModeSel.plist</key>
        <string>BaseRes/ModeSel.data</string>
        <key>ModeSel_En.plist</key>
        <string>EnRes/ModeSel_En.data</string>
        <key>ModeSel_Hans.plist</key>
        <string>HansRes/ModeSel_Hans.data</string>
        <key>Modify.plist</key>
        <string>BaseRes/Modify.data</string>
        <key>Modify_En.plist</key>
        <string>EnRes/Modify_En.data</string>
        <key>Modify_Hans.plist</key>
        <string>HansRes/Modify_Hans.data</string>
        <key>MsgBox.plist</key>
        <string>BaseRes/MsgBox.data</string>
        <key>MsgBox_En.plist</key>
        <string>EnRes/MsgBox_En.data</string>
        <key>MsgBox_Hans.plist</key>
        <string>HansRes/MsgBox_Hans.data</string>
        <key>MyFriendScene.plist</key>
        <string>BaseRes/MyFriendScene.data</string>
        <key>MyFriendScene_1.plist</key>
        <string>BaseRes/MyFriendScene_1.data</string>
        <key>MyFriendScene_En.plist</key>
        <string>EnRes/MyFriendScene_En.data</string>
        <key>MyFriendScene_Hans.plist</key>
        <string>HansRes/MyFriendScene_Hans.data</string>
        <key>NetFlag.plist</key>
        <string>BaseRes/NetFlag.data</string>
        <key>NetGameScene.plist</key>
        <string>BaseRes/NetGameScene.data</string>
        <key>NetGameScene_En.plist</key>
        <string>EnRes/NetGameScene_En.data</string>
        <key>NetGameScene_Hans.plist</key>
        <string>HansRes/NetGameScene_Hans.data</string>
        <key>NetGameTalk.plist</key>
        <string>BaseRes/NetGameTalk.data</string>
        <key>NetGameTalk_En.plist</key>
        <string>EnRes/NetGameTalk_En.data</string>
        <key>NetGameTalk_Hans.plist</key>
        <string>HansRes/NetGameTalk_Hans.data</string>
        <key>NetLobbyBg.plist</key>
        <string>BaseRes/NetLobbyBg.data</string>
        <key>NetLogon.plist</key>
        <string>BaseRes/NetLogon.data</string>
        <key>NetLogon_En.plist</key>
        <string>EnRes/NetLogon_En.data</string>
        <key>NetLogon_Hans.plist</key>
        <string>HansRes/NetLogon_Hans.data</string>
        <key>NetStore.plist</key>
        <string>BaseRes/NetStore.data</string>
        <key>NetStore_En.plist</key>
        <string>EnRes/NetStore_En.data</string>
        <key>NetStore_Hans.plist</key>
        <string>HansRes/NetStore_Hans.data</string>
        <key>NetTask.plist</key>
        <string>BaseRes/NetTask.data</string>
        <key>NetTask_En.plist</key>
        <string>EnRes/NetTask_En.data</string>
        <key>NetTask_Hans.plist</key>
        <string>HansRes/NetTask_Hans.data</string>
        <key>PersonCenter.plist</key>
        <string>BaseRes/PersonCenter.data</string>
        <key>PersonCenter_En.plist</key>
        <string>EnRes/PersonCenter_En.data</string>
        <key>PersonCenter_Hans.plist</key>
        <string>HansRes/PersonCenter_Hans.data</string>
        <key>PersonInfo.plist</key>
        <string>BaseRes/PersonInfo.data</string>
        <key>PersonInfo_En.plist</key>
        <string>EnRes/PersonInfo_En.data</string>
        <key>PersonInfo_Hans.plist</key>
        <string>HansRes/PersonInfo_Hans.data</string>
        <key>PromptImg.plist</key>
        <string>BaseRes/PromptImg.data</string>
        <key>PromptImg_En.plist</key>
        <string>EnRes/PromptImg_En.data</string>
        <key>PromptImg_Hans.plist</key>
        <string>HansRes/PromptImg_Hans.data</string>
        <key>PropItem.plist</key>
        <string>BaseRes/PropItem.data</string>
        <key>RankingList.plist</key>
        <string>BaseRes/RankingList.data</string>
        <key>RankingList_1.plist</key>
        <string>BaseRes/RankingList_1.data</string>
        <key>RankingList_2.plist</key>
        <string>BaseRes/RankingList_2.data</string>
        <key>RankingList_3.plist</key>
        <string>BaseRes/RankingList_3.data</string>
        <key>RankingList_En.plist</key>
        <string>EnRes/RankingList_En.data</string>
        <key>RankingList_Hans.plist</key>
        <string>HansRes/RankingList_Hans.data</string>
        <key>RechangeBox.plist</key>
        <string>BaseRes/RechangeBox.data</string>
        <key>RechangeBox_En.plist</key>
        <string>EnRes/RechangeBox_En.data</string>
        <key>RechangeBox_Hans.plist</key>
        <string>HansRes/RechangeBox_Hans.data</string>
        <key>ReturnLayer.plist</key>
        <string>BaseRes/ReturnLayer.data</string>
        <key>ReturnLayer_En.plist</key>
        <string>EnRes/ReturnLayer_En.data</string>
        <key>ReturnLayer_Hans.plist</key>
        <string>HansRes/ReturnLayer_Hans.data</string>
        <key>RoseSprite.plist</key>
        <string>BaseRes/RoseSprite.data</string>
        <key>ShakeGame.plist</key>
        <string>BaseRes/ShakeGame.data</string>
        <key>ShakeGame_1.plist</key>
        <string>BaseRes/ShakeGame_1.data</string>
        <key>ShakeGame_En.plist</key>
        <string>EnRes/ShakeGame_En.data</string>
        <key>ShakeGame_Hans.plist</key>
        <string>HansRes/ShakeGame_Hans.data</string>
        <key>SharedSprite.plist</key>
        <string>BaseRes/SharedSprite.data</string>
        <key>SharedSprite_En.plist</key>
        <string>EnRes/SharedSprite_En.data</string>
        <key>SharedSprite_Hans.plist</key>
        <string>HansRes/SharedSprite_Hans.data</string>
        <key>SlotMachines.plist</key>
        <string>BaseRes/SlotMachines.data</string>
        <key>SlotMachines_1.plist</key>
        <string>BaseRes/SlotMachines_1.data</string>
        <key>SlotMachines_En.plist</key>
        <string>EnRes/SlotMachines_En.data</string>
        <key>SlotMachines_Hans.plist</key>
        <string>HansRes/SlotMachines_Hans.data</string>
        <key>SoloGameBg.plist</key>
        <string>BaseRes/SoloGameBg.data</string>
        <key>SoloGameRule.plist</key>
        <string>BaseRes/SoloGameRule.data</string>
        <key>SoloGameRule_En.plist</key>
        <string>EnRes/SoloGameRule_En.data</string>
        <key>SoloGameRule_Hans.plist</key>
        <string>HansRes/SoloGameRule_Hans.data</string>
        <key>SoloModeHall.plist</key>
        <string>BaseRes/SoloModeHall.data</string>
        <key>SoloModeHall_En.plist</key>
        <string>EnRes/SoloModeHall_En.data</string>
        <key>SoloModeHall_Hans.plist</key>
        <string>HansRes/SoloModeHall_Hans.data</string>
        <key>SoloStore.plist</key>
        <string>BaseRes/SoloStore.data</string>
        <key>SoloStore_En.plist</key>
        <string>EnRes/SoloStore_En.data</string>
        <key>SoloStore_Hans.plist</key>
        <string>HansRes/SoloStore_Hans.data</string>
        <key>SoloUserInfo.plist</key>
        <string>BaseRes/SoloUserInfo.data</string>
        <key>SoloUserInfo_En.plist</key>
        <string>EnRes/SoloUserInfo_En.data</string>
        <key>SoloUserInfo_Hans.plist</key>
        <string>HansRes/SoloUserInfo_Hans.data</string>
        <key>SysHead.plist</key>
        <string>BaseRes/SysHead.data</string>
        <key>TeachGame.plist</key>
        <string>BaseRes/TeachGame.data</string>
        <key>TeachGame_En.plist</key>
        <string>EnRes/TeachGame_En.data</string>
        <key>TeachGame_Hans.plist</key>
        <string>HansRes/TeachGame_Hans.data</string>
        <key>Yuanbao.plist</key>
        <string>BaseRes/Yuanbao.data</string>
    </dict>
</plist>
