<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CycleGame_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,475}}</string>
                <key>sourceSize</key>
                <string>{512,475}</string>
            </dict>
            <key>CycleGame_LightFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{626,196}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,108},{626,196}}</string>
                <key>sourceSize</key>
                <string>{626,304}</string>
            </dict>
            <key>CycleGame_LightFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{468,224}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{468,224}}</string>
                <key>sourceSize</key>
                <string>{626,304}</string>
            </dict>
            <key>Fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,479},{29,29}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,150},{29,29}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,560},{221,177}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,86},{221,177}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,739},{221,177}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,86},{221,177}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,705},{221,179}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,85},{221,179}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,739},{221,177}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,87},{221,177}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,200},{221,179}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,86},{221,179}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{221,179}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,87},{221,179}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,560},{221,177}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,89},{221,177}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,200},{221,179}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,88},{221,179}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{1,1}}</string>
                <key>offset</key>
                <string>{-248,180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,452},{57,55}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,134},{57,55}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,452},{95,83}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,120},{95,83}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,333},{125,117}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,105},{125,117}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,200},{137,131}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,100},{137,131}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,560},{187,171}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,85},{187,171}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,739},{199,177}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,86},{199,177}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,381},{221,177}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,86},{221,177}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
            <key>Fire_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,381},{221,177}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,86},{221,177}}</string>
                <key>sourceSize</key>
                <string>{497,361}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CycleGame.png</string>
            <key>size</key>
            <string>{1144,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d57cab58e2e8b3203db5a79e6efb48e$</string>
            <key>textureFileName</key>
            <string>CycleGame.png</string>
        </dict>
    </dict>
</plist>
