<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blackBall.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{104,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,103}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>createdroom_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,326},{190,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,160}}</string>
                <key>sourceSize</key>
                <string>{190,160}</string>
            </dict>
            <key>createdroom_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,164},{190,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,160}}</string>
                <key>sourceSize</key>
                <string>{190,160}</string>
            </dict>
            <key>creatroom_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{190,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,160}}</string>
                <key>sourceSize</key>
                <string>{190,160}</string>
            </dict>
            <key>creatroom_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,160}}</string>
                <key>sourceSize</key>
                <string>{190,160}</string>
            </dict>
            <key>emptyroom_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{190,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,160}}</string>
                <key>sourceSize</key>
                <string>{190,160}</string>
            </dict>
            <key>emptyroom_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,160}}</string>
                <key>sourceSize</key>
                <string>{190,160}</string>
            </dict>
            <key>freshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,107},{40,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BluetoothMode.png</string>
            <key>size</key>
            <string>{492,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:944523fd9871b00233f9490fcc895b6f$</string>
            <key>textureFileName</key>
            <string>BluetoothMode.png</string>
        </dict>
    </dict>
</plist>
