<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cike_nv_fashion_6-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,509},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>cike_nv_fashion_6-6788.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,375},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>cike_nv_fashion_6-cike_eye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,277},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>cike_nv_fashion_6-cike_eye3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,135},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>cike_nv_fashion_6-cike_kz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,213},{6,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,19}}</string>
                <key>sourceSize</key>
                <string>{6,19}</string>
            </dict>
            <key>cike_nv_fashion_6-cike_kz11.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,232},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>cike_nv_fashion_6-cike_ss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,298},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>cike_nv_fashion_6-cike_tf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,329},{41,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,16}}</string>
                <key>sourceSize</key>
                <string>{41,16}</string>
            </dict>
            <key>cike_nv_fashion_6-cike_tf12.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,90},{42,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,10}}</string>
                <key>sourceSize</key>
                <string>{42,10}</string>
            </dict>
            <key>cike_nv_fashion_6-cike_tf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>cike_nv_fashion_6-cike_tf14.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,213},{41,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,17}}</string>
                <key>sourceSize</key>
                <string>{41,17}</string>
            </dict>
            <key>cike_nv_fashion_6-cike_tf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,355},{47,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,18}}</string>
                <key>sourceSize</key>
                <string>{47,18}</string>
            </dict>
            <key>cike_nv_fashion_6-cike_tf22.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,174},{45,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,16}}</string>
                <key>sourceSize</key>
                <string>{45,16}</string>
            </dict>
            <key>cike_nv_fashion_6-cike_tf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>cike_nv_fashion_6-cike_tf24.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,240},{46,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,21}}</string>
                <key>sourceSize</key>
                <string>{46,21}</string>
            </dict>
            <key>cike_nv_fashion_6-ck-tf1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,213},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>cike_nv_fashion_6-ckn-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,509},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>cike_nv_fashion_6-ckn-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,249},{74,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,96}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>cike_nv_fashion_6-ckn-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{75,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,123}}</string>
                <key>sourceSize</key>
                <string>{75,123}</string>
            </dict>
            <key>cike_nv_fashion_6-ckn-yi-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,246}}</string>
                <key>sourceSize</key>
                <string>{71,246}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-fb-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,289},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-hdjd2-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,472},{7,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,34}}</string>
                <key>sourceSize</key>
                <string>{7,34}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-hdjd2-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,472},{8,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,34}}</string>
                <key>sourceSize</key>
                <string>{8,34}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-hdjd2-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,213},{10,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,34}}</string>
                <key>sourceSize</key>
                <string>{10,34}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-hdjd2-004.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,477},{15,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,33}}</string>
                <key>sourceSize</key>
                <string>{15,33}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-hdjd2-005.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,213},{13,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,35}}</string>
                <key>sourceSize</key>
                <string>{13,35}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-hdjd2-007.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,472},{10,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,36}}</string>
                <key>sourceSize</key>
                <string>{10,36}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-hdjq1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,240},{8,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,23}}</string>
                <key>sourceSize</key>
                <string>{8,23}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-hdjq2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,263},{7,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,16}}</string>
                <key>sourceSize</key>
                <string>{7,16}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-qz1-300.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,83},{21,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,14}}</string>
                <key>sourceSize</key>
                <string>{21,14}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-qz1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,289},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-qz1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,69},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-qz1-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,83},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-qz2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,309},{5,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,18}}</string>
                <key>sourceSize</key>
                <string>{5,18}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-qz2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,298},{6,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,15}}</string>
                <key>sourceSize</key>
                <string>{6,15}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-qz2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,307},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>cike_nv_fashion_6-jsn-qz2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,192},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-02a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,108},{65,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,103}}</string>
                <key>sourceSize</key>
                <string>{65,103}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-02a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,250},{56,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,103}}</string>
                <key>sourceSize</key>
                <string>{56,103}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-02a-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{65,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,104}}</string>
                <key>sourceSize</key>
                <string>{65,104}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-02a-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{78,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,105}}</string>
                <key>sourceSize</key>
                <string>{78,105}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-12c-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,192},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-23a-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,173},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-41a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,347},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-42a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,263},{10,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{10,15}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-42a-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,48},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-43a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,280},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-jb1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,233},{33,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,13}}</string>
                <key>sourceSize</key>
                <string>{33,13}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-jb1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,296},{33,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,13}}</string>
                <key>sourceSize</key>
                <string>{33,13}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-jb2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,309},{22,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,17}}</string>
                <key>sourceSize</key>
                <string>{22,17}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-jb3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,213},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-jb4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,192},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-jb4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,232},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-jb4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,355},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-jb4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,27},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-sb1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,27},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-sb1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,48},{21,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,10}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-sb2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,102},{16,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,9}}</string>
                <key>sourceSize</key>
                <string>{16,9}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-sb2-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,72},{16,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,9}}</string>
                <key>sourceSize</key>
                <string>{16,9}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-sb2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,124},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-sb2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,113},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-sb2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,347},{11,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,6}}</string>
                <key>sourceSize</key>
                <string>{11,6}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-sb3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,263},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-sb3-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,248},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-sb3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,248},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-sb3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,212},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-sb3-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,281},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-sb3-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,60},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-sb3-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,248},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-st1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,213},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,35}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-st1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,213},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-st1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,477},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-tb1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,48},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-tb1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-tbm-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,472},{5,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,3}}</string>
                <key>sourceSize</key>
                <string>{5,3}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-tbm-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,508},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv0-tbm-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,503},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv1_xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,262},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>cike_nv_fashion_6-rznv1_xiong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,263},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>cike_nv_fashion_6-sprite 4733.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,315},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>cike_nv_fashion_6-sprite 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,472},{45,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,29}}</string>
                <key>sourceSize</key>
                <string>{45,29}</string>
            </dict>
            <key>cike_nv_fashion_6-sprite2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,347},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>cike_nv_fashion_6-sprite3.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,265},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>cike_nv_fashion_6-sprite4.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,482},{41,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,25}}</string>
                <key>sourceSize</key>
                <string>{41,25}</string>
            </dict>
            <key>cike_nv_fashion_6-sprite6.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,477},{47,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,29}}</string>
                <key>sourceSize</key>
                <string>{47,29}</string>
            </dict>
            <key>cike_nv_fashion_6-weapon-blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,99},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>cike_nv_fashion_6-weapon-darkgold.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,99},{34,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,94}}</string>
                <key>sourceSize</key>
                <string>{34,94}</string>
            </dict>
            <key>cike_nv_fashion_6-weapon-eighty.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,374},{53,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,96}}</string>
                <key>sourceSize</key>
                <string>{53,96}</string>
            </dict>
            <key>cike_nv_fashion_6-weapon-gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{35,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,95}}</string>
                <key>sourceSize</key>
                <string>{35,95}</string>
            </dict>
            <key>cike_nv_fashion_6-weapon-green.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,99},{24,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,72}}</string>
                <key>sourceSize</key>
                <string>{24,72}</string>
            </dict>
            <key>cike_nv_fashion_6-weapon-pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,99},{33,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,91}}</string>
                <key>sourceSize</key>
                <string>{33,91}</string>
            </dict>
            <key>cike_nv_fashion_6-weapon-purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{27,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,79}}</string>
                <key>sourceSize</key>
                <string>{27,79}</string>
            </dict>
            <key>cike_nv_fashion_6-weapon-whitegold.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{31,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,87}}</string>
                <key>sourceSize</key>
                <string>{31,87}</string>
            </dict>
            <key>cike_nv_fashion_6-xiong2 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,278},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>cike_nv_fashion_6-yz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,195},{68,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,16}}</string>
                <key>sourceSize</key>
                <string>{68,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cike-nv_fashion_6.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12ce39d43ce24c042f2a24efc692e614$</string>
            <key>textureFileName</key>
            <string>cike-nv_fashion_6.png</string>
        </dict>
    </dict>
</plist>
