<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fashi_nan_fashion_6-dgaga.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,97},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>fashi_nan_fashion_6-feajiago.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,256},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>fashi_nan_fashion_6-fs2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fashi_nan_fashion_6-fs2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,104},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1- 3a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,168},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1- 3a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,146},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1- 3a-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,168},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1- qz1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,248},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1- qz1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,273},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1- qz1-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,18}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1- qz1-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,492},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1- qz2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,48},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1- qz2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,66},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1- qz3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,405},{6,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,14}}</string>
                <key>sourceSize</key>
                <string>{6,14}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1- qz3-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,364},{8,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,15}}</string>
                <key>sourceSize</key>
                <string>{8,15}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1- qz3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,389},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-1a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,204},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-1b-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,301},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-2a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,276},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-41a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,195},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-41a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,492},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-41a-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,29},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-41a-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,165},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-48.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,168},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-51a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,209},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-5a2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{12,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,25}}</string>
                <key>sourceSize</key>
                <string>{12,25}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-61a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,157},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{18,27}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-62a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,126},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-71a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,244},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-71b-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,126},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-71b-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,150},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-71b-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,168},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-81a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,151},{21,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{21,35}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-81a-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,151},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-91a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,265},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-gj01 a  2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{66,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,120}}</string>
                <key>sourceSize</key>
                <string>{66,120}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-gj01 a  3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,188},{60,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,111}}</string>
                <key>sourceSize</key>
                <string>{60,111}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-gj01 a  4.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,188},{91,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,103}}</string>
                <key>sourceSize</key>
                <string>{91,103}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-gj01 a  5.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{95,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,104}}</string>
                <key>sourceSize</key>
                <string>{95,104}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-gj01 a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{73,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,126}}</string>
                <key>sourceSize</key>
                <string>{73,126}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-k.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,421},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-lz-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,355},{11,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,7}}</string>
                <key>sourceSize</key>
                <string>{11,7}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-mm-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,345},{10,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,4}}</string>
                <key>sourceSize</key>
                <string>{10,4}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-nan0nshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,108},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-qiantou 01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,82},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-rd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,252},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-run body.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,124},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-sb-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,262},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-shou fa.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,181},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-sy-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,238},{21,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,16}}</string>
                <key>sourceSize</key>
                <string>{21,16}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-tf1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,124},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-tf1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,236},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-tf2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,230},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-tf2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,276},{9,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,22}}</string>
                <key>sourceSize</key>
                <string>{9,22}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-tf3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,152},{11,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,34}}</string>
                <key>sourceSize</key>
                <string>{11,34}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-tf3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,151},{10,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,33}}</string>
                <key>sourceSize</key>
                <string>{10,33}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-tf3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,109},{13,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,35}}</string>
                <key>sourceSize</key>
                <string>{13,35}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-tf4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,204},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-tf4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,145},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-tf5-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,168},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-tf5-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,168},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-yanjing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,421},{5,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,6}}</string>
                <key>sourceSize</key>
                <string>{5,6}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-yj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,179},{9,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,3}}</string>
                <key>sourceSize</key>
                <string>{9,3}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-zb-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,441},{3,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,1}}</string>
                <key>sourceSize</key>
                <string>{3,1}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-zb-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,434},{4,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,2}}</string>
                <key>sourceSize</key>
                <string>{4,2}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-zb-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,438},{4,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,1}}</string>
                <key>sourceSize</key>
                <string>{4,1}</string>
            </dict>
            <key>fashi_nan_fashion_6-fsn1-zb-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,429},{5,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,3}}</string>
                <key>sourceSize</key>
                <string>{5,3}</string>
            </dict>
            <key>fashi_nan_fashion_6-gaag.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,248},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>fashi_nan_fashion_6-r_mei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,152},{9,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,3}}</string>
                <key>sourceSize</key>
                <string>{9,3}</string>
            </dict>
            <key>fashi_nan_fashion_6-r_yan.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,381},{8,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{8,6}</string>
            </dict>
            <key>fashi_nan_fashion_6-sprite 4733.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,230},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>fashi_nan_fashion_6-sprite 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,157},{45,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,29}}</string>
                <key>sourceSize</key>
                <string>{45,29}</string>
            </dict>
            <key>fashi_nan_fashion_6-sprite2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,204},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>fashi_nan_fashion_6-sprite3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,126},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>fashi_nan_fashion_6-sprite4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,124},{41,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,25}}</string>
                <key>sourceSize</key>
                <string>{41,25}</string>
            </dict>
            <key>fashi_nan_fashion_6-sprite6.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,157},{47,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,29}}</string>
                <key>sourceSize</key>
                <string>{47,29}</string>
            </dict>
            <key>fashi_nan_fashion_6-weapon-blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{76,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,153}}</string>
                <key>sourceSize</key>
                <string>{76,153}</string>
            </dict>
            <key>fashi_nan_fashion_6-weapon-darkgold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{70,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,173}}</string>
                <key>sourceSize</key>
                <string>{70,173}</string>
            </dict>
            <key>fashi_nan_fashion_6-weapon-eighty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,185}}</string>
                <key>sourceSize</key>
                <string>{80,185}</string>
            </dict>
            <key>fashi_nan_fashion_6-weapon-gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,188},{77,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,163}}</string>
                <key>sourceSize</key>
                <string>{77,163}</string>
            </dict>
            <key>fashi_nan_fashion_6-weapon-green.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,355},{76,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,154}}</string>
                <key>sourceSize</key>
                <string>{76,154}</string>
            </dict>
            <key>fashi_nan_fashion_6-weapon-pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,189},{76,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,164}}</string>
                <key>sourceSize</key>
                <string>{76,164}</string>
            </dict>
            <key>fashi_nan_fashion_6-weapon-purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,353},{76,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,153}}</string>
                <key>sourceSize</key>
                <string>{76,153}</string>
            </dict>
            <key>fashi_nan_fashion_6-weapon-whitegold.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{67,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,164}}</string>
                <key>sourceSize</key>
                <string>{67,164}</string>
            </dict>
            <key>fashi_nan_fashion_6-yz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,108},{68,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,16}}</string>
                <key>sourceSize</key>
                <string>{68,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fashi-nan_fashion_6.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9621fa90b584ea056da98021bd7135f4$</string>
            <key>textureFileName</key>
            <string>fashi-nan_fashion_6.png</string>
        </dict>
    </dict>
</plist>
