<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fashi_nv_fashion_6-c_yan.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,342},{13,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,6}}</string>
                <key>sourceSize</key>
                <string>{13,6}</string>
            </dict>
            <key>fashi_nv_fashion_6-c_zui.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,342},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fashi_nv_fashion_6-c_zui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,508},{4,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,2}}</string>
                <key>sourceSize</key>
                <string>{4,2}</string>
            </dict>
            <key>fashi_nv_fashion_6-ce_lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,113},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3--1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,103},{88,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,95}}</string>
                <key>sourceSize</key>
                <string>{88,95}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3--2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{91,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,99}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3--3.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,341},{61,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,109}}</string>
                <key>sourceSize</key>
                <string>{61,109}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3--41a-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,485},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3--41a-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,469},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3--sb3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3--sb3-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3--x-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,16},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3--x-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{80,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,124}}</string>
                <key>sourceSize</key>
                <string>{80,124}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-1a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,113},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,186},{65,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,122}}</string>
                <key>sourceSize</key>
                <string>{65,122}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-2a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,452},{9,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,23}}</string>
                <key>sourceSize</key>
                <string>{9,23}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-3a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,469},{8,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,15}}</string>
                <key>sourceSize</key>
                <string>{8,15}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-3a-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,17},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-3a-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,288},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-40.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,186},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-41a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-41a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,167},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-41a-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,472},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{104,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,109}}</string>
                <key>sourceSize</key>
                <string>{104,109}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-5a1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,437},{13,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,33}}</string>
                <key>sourceSize</key>
                <string>{13,33}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-5a2-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,401},{13,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,34}}</string>
                <key>sourceSize</key>
                <string>{13,34}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-7a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,452},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-7a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,490},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-7b-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,167},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-81b-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-8b-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,151},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-ed-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,16},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-ed-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,16},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-eye1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,355},{19,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,7}}</string>
                <key>sourceSize</key>
                <string>{19,7}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-eye1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,342},{13,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,6}}</string>
                <key>sourceSize</key>
                <string>{13,6}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-eye1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,30},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-k.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,510},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-sb-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,342},{19,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,9}}</string>
                <key>sourceSize</key>
                <string>{19,9}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-sb1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,342},{21,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,10}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-sb3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-sb3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,488},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-sh-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,288},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-tf1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,139},{7,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,34}}</string>
                <key>sourceSize</key>
                <string>{7,34}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-tf1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,113},{9,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,35}}</string>
                <key>sourceSize</key>
                <string>{9,35}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-tf1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,138},{8,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,28}}</string>
                <key>sourceSize</key>
                <string>{8,28}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-tf1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,310},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-tf1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,310},{8,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,28}}</string>
                <key>sourceSize</key>
                <string>{8,28}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-tf2-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,185},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-tf6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,477},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3-x-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,485},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>fashi_nv_fashion_6-fsnv3_shou0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,288},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-fb-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,490},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-fb-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,168},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-hdjd2-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,103},{7,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,34}}</string>
                <key>sourceSize</key>
                <string>{7,34}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-hdjd2-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,139},{8,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,34}}</string>
                <key>sourceSize</key>
                <string>{8,34}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-hdjd2-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,103},{10,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,34}}</string>
                <key>sourceSize</key>
                <string>{10,34}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-hdjd2-004.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,103},{15,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,33}}</string>
                <key>sourceSize</key>
                <string>{15,33}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-hdjd2-005.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,364},{13,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,35}}</string>
                <key>sourceSize</key>
                <string>{13,35}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-hdjd2-007.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,113},{10,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,36}}</string>
                <key>sourceSize</key>
                <string>{10,36}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-hdjq1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,477},{8,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,23}}</string>
                <key>sourceSize</key>
                <string>{8,23}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-hdjq2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,470},{7,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,16}}</string>
                <key>sourceSize</key>
                <string>{7,16}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-qz1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,167},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-qz1-300.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,153},{21,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,14}}</string>
                <key>sourceSize</key>
                <string>{21,14}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-qz1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,167},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-qz2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,168},{5,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,18}}</string>
                <key>sourceSize</key>
                <string>{5,18}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-qz2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,168},{6,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,15}}</string>
                <key>sourceSize</key>
                <string>{6,15}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-qz2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,452},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-st-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,307},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-xt1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,490},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>fashi_nv_fashion_6-jsn-xt2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,452},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>fashi_nv_fashion_6-sprite 4733.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,169},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>fashi_nv_fashion_6-sprite 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,155},{45,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,29}}</string>
                <key>sourceSize</key>
                <string>{45,29}</string>
            </dict>
            <key>fashi_nv_fashion_6-sprite2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,103},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>fashi_nv_fashion_6-sprite3.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,129},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>fashi_nv_fashion_6-sprite4.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,157},{41,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,25}}</string>
                <key>sourceSize</key>
                <string>{41,25}</string>
            </dict>
            <key>fashi_nv_fashion_6-sprite6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,310},{47,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,29}}</string>
                <key>sourceSize</key>
                <string>{47,29}</string>
            </dict>
            <key>fashi_nv_fashion_6-tun.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,153},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>fashi_nv_fashion_6-weapon-blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,353},{76,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,153}}</string>
                <key>sourceSize</key>
                <string>{76,153}</string>
            </dict>
            <key>fashi_nv_fashion_6-weapon-darkgold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{70,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,173}}</string>
                <key>sourceSize</key>
                <string>{70,173}</string>
            </dict>
            <key>fashi_nv_fashion_6-weapon-eighty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,185}}</string>
                <key>sourceSize</key>
                <string>{80,185}</string>
            </dict>
            <key>fashi_nv_fashion_6-weapon-gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{77,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,163}}</string>
                <key>sourceSize</key>
                <string>{77,163}</string>
            </dict>
            <key>fashi_nv_fashion_6-weapon-green.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,355},{76,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,154}}</string>
                <key>sourceSize</key>
                <string>{76,154}</string>
            </dict>
            <key>fashi_nv_fashion_6-weapon-pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,189},{76,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,164}}</string>
                <key>sourceSize</key>
                <string>{76,164}</string>
            </dict>
            <key>fashi_nv_fashion_6-weapon-purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,187},{76,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,153}}</string>
                <key>sourceSize</key>
                <string>{76,153}</string>
            </dict>
            <key>fashi_nv_fashion_6-weapon-whitegold.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{67,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,164}}</string>
                <key>sourceSize</key>
                <string>{67,164}</string>
            </dict>
            <key>fashi_nv_fashion_6-yz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,168},{68,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,17}}</string>
                <key>sourceSize</key>
                <string>{68,17}</string>
            </dict>
            <key>fashi_nv_fashion_6-zui.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,508},{4,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,2}}</string>
                <key>sourceSize</key>
                <string>{4,2}</string>
            </dict>
            <key>fashi_nv_fashion_6-zui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,341},{5,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,4}}</string>
                <key>sourceSize</key>
                <string>{5,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fashi-nv_fashion_6.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf35ebaf476684d8f723afad68109862$</string>
            <key>textureFileName</key>
            <string>fashi-nv_fashion_6.png</string>
        </dict>
    </dict>
</plist>
