<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jianshi_nan_fashion_6-00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,429},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>jianshi_nan_fashion_6-fsn1- qz1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,225},{20,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,16}}</string>
			<key>sourceSize</key>
			<string>{20,16}</string>
		</dict>
		<key>jianshi_nan_fashion_6-fsn1- qz1-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,335},{17,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,20}}</string>
			<key>sourceSize</key>
			<string>{17,20}</string>
		</dict>
		<key>jianshi_nan_fashion_6-fsn1- qz1-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,492},{30,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,18}}</string>
			<key>sourceSize</key>
			<string>{30,18}</string>
		</dict>
		<key>jianshi_nan_fashion_6-fsn1- qz1-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,492},{24,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,18}}</string>
			<key>sourceSize</key>
			<string>{24,18}</string>
		</dict>
		<key>jianshi_nan_fashion_6-fsn1- qz1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,429},{19,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,16}}</string>
			<key>sourceSize</key>
			<string>{19,16}</string>
		</dict>
		<key>jianshi_nan_fashion_6-fsn1- qz1-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,413},{21,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,14}}</string>
			<key>sourceSize</key>
			<string>{21,14}</string>
		</dict>
		<key>jianshi_nan_fashion_6-fsn1- qz2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,413},{11,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,16}}</string>
			<key>sourceSize</key>
			<string>{11,16}</string>
		</dict>
		<key>jianshi_nan_fashion_6-fsn1- qz2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,486},{11,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,14}}</string>
			<key>sourceSize</key>
			<string>{11,14}</string>
		</dict>
		<key>jianshi_nan_fashion_6-fsn1- qz2-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,467},{11,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,15}}</string>
			<key>sourceSize</key>
			<string>{11,15}</string>
		</dict>
		<key>jianshi_nan_fashion_6-fsn1- qz3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,127},{6,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,14}}</string>
			<key>sourceSize</key>
			<string>{6,14}</string>
		</dict>
		<key>jianshi_nan_fashion_6-fsn1- qz3-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,419},{8,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,15}}</string>
			<key>sourceSize</key>
			<string>{8,15}</string>
		</dict>
		<key>jianshi_nan_fashion_6-fsn1- qz3-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,382},{7,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,14}}</string>
			<key>sourceSize</key>
			<string>{7,14}</string>
		</dict>
		<key>jianshi_nan_fashion_6-fsn1- qz3-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,74},{33,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,17}}</string>
			<key>sourceSize</key>
			<string>{33,17}</string>
		</dict>
		<key>jianshi_nan_fashion_6-fsn1- qz3-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,243},{17,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,11}}</string>
			<key>sourceSize</key>
			<string>{17,11}</string>
		</dict>
		<key>jianshi_nan_fashion_6-fsn1- qz3-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,310},{29,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,19}}</string>
			<key>sourceSize</key>
			<string>{29,19}</string>
		</dict>
		<key>jianshi_nan_fashion_6-fsn1-62a-1ee.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,357},{17,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,23}}</string>
			<key>sourceSize</key>
			<string>{17,23}</string>
		</dict>
		<key>jianshi_nan_fashion_6-gb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,74},{13,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,17}}</string>
			<key>sourceSize</key>
			<string>{13,17}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-1a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,379},{54,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,53}}</string>
			<key>sourceSize</key>
			<string>{54,53}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-1b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,385},{46,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,48}}</string>
			<key>sourceSize</key>
			<string>{46,48}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-23a-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,357},{12,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,23}}</string>
			<key>sourceSize</key>
			<string>{12,23}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-2a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,357},{11,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,23}}</string>
			<key>sourceSize</key>
			<string>{11,23}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-3a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,467},{12,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,17}}</string>
			<key>sourceSize</key>
			<string>{12,17}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-3a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,448},{12,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,17}}</string>
			<key>sourceSize</key>
			<string>{12,17}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-3a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,466},{14,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,17}}</string>
			<key>sourceSize</key>
			<string>{14,17}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-41a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,497},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-41a-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,486},{11,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,12}}</string>
			<key>sourceSize</key>
			<string>{11,12}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-41a-100.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,431},{13,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,15}}</string>
			<key>sourceSize</key>
			<string>{13,15}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-41a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,491},{17,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,19}}</string>
			<key>sourceSize</key>
			<string>{17,19}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-41a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,439},{12,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,17}}</string>
			<key>sourceSize</key>
			<string>{12,17}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-41a-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,356},{15,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,27}}</string>
			<key>sourceSize</key>
			<string>{15,27}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-41a-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,497},{11,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,13}}</string>
			<key>sourceSize</key>
			<string>{11,13}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-42a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,497},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-42a-100.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,448},{8,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,8}}</string>
			<key>sourceSize</key>
			<string>{8,8}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-43a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,447},{17,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,17}}</string>
			<key>sourceSize</key>
			<string>{17,17}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-43a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,492},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-79a-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,289},{29,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,19}}</string>
			<key>sourceSize</key>
			<string>{29,19}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-7a2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,420},{25,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,17}}</string>
			<key>sourceSize</key>
			<string>{25,17}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-7b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,439},{19,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,20}}</string>
			<key>sourceSize</key>
			<string>{19,20}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-81a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,36},{22,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,34}}</string>
			<key>sourceSize</key>
			<string>{22,34}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-81b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,72},{22,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,33}}</string>
			<key>sourceSize</key>
			<string>{22,33}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-81e-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,463},{24,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,32}}</string>
			<key>sourceSize</key>
			<string>{24,32}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-95a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,243},{71,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,134}}</string>
			<key>sourceSize</key>
			<string>{71,134}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-95a-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,116},{83,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,125}}</string>
			<key>sourceSize</key>
			<string>{83,125}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-jiao-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,93},{25,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,17}}</string>
			<key>sourceSize</key>
			<string>{25,17}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-jiao-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,2},{23,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,32}}</string>
			<key>sourceSize</key>
			<string>{23,32}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-jiao-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,107},{22,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,18}}</string>
			<key>sourceSize</key>
			<string>{22,18}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-k.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,429},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-sbb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,56},{42,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,16}}</string>
			<key>sourceSize</key>
			<string>{42,16}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-td2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,434},{45,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,51}}</string>
			<key>sourceSize</key>
			<string>{45,51}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-xz-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,93},{19,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,21}}</string>
			<key>sourceSize</key>
			<string>{19,21}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3-zb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,463},{4,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,1}}</string>
			<key>sourceSize</key>
			<string>{4,1}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3_6a_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,93},{16,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,19}}</string>
			<key>sourceSize</key>
			<string>{16,19}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3_6a_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,466},{17,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,24}}</string>
			<key>sourceSize</key>
			<string>{17,24}</string>
		</dict>
		<key>jianshi_nan_fashion_6-jsnan3_6a_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,331},{16,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,24}}</string>
			<key>sourceSize</key>
			<string>{16,24}</string>
		</dict>
		<key>jianshi_nan_fashion_6-ku10.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,197},{13,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,26}}</string>
			<key>sourceSize</key>
			<string>{13,26}</string>
		</dict>
		<key>jianshi_nan_fashion_6-ku9.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,127},{14,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,36}}</string>
			<key>sourceSize</key>
			<string>{14,36}</string>
		</dict>
		<key>jianshi_nan_fashion_6-ku92.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,382},{15,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,29}}</string>
			<key>sourceSize</key>
			<string>{15,29}</string>
		</dict>
		<key>jianshi_nan_fashion_6-mabian1.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,385},{10,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,32}}</string>
			<key>sourceSize</key>
			<string>{10,32}</string>
		</dict>
		<key>jianshi_nan_fashion_6-mabian2.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,178},{10,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,31}}</string>
			<key>sourceSize</key>
			<string>{10,31}</string>
		</dict>
		<key>jianshi_nan_fashion_6-mabian3.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,303},{12,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,30}}</string>
			<key>sourceSize</key>
			<string>{12,30}</string>
		</dict>
		<key>jianshi_nan_fashion_6-mabian4.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,56},{14,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,30}}</string>
			<key>sourceSize</key>
			<string>{14,30}</string>
		</dict>
		<key>jianshi_nan_fashion_6-mabian5.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,382},{15,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,29}}</string>
			<key>sourceSize</key>
			<string>{15,29}</string>
		</dict>
		<key>jianshi_nan_fashion_6-mabian6.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,165},{13,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,30}}</string>
			<key>sourceSize</key>
			<string>{13,30}</string>
		</dict>
		<key>jianshi_nan_fashion_6-mabian7.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,461},{8,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,28}}</string>
			<key>sourceSize</key>
			<string>{8,28}</string>
		</dict>
		<key>jianshi_nan_fashion_6-ndd2.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,2},{57,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,52}}</string>
			<key>sourceSize</key>
			<string>{57,52}</string>
		</dict>
		<key>jianshi_nan_fashion_6-ndd20.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,487},{44,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,20}}</string>
			<key>sourceSize</key>
			<string>{44,20}</string>
		</dict>
		<key>jianshi_nan_fashion_6-paopao.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,385},{52,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,34}}</string>
			<key>sourceSize</key>
			<string>{52,34}</string>
		</dict>
		<key>jianshi_nan_fashion_6-sprite 4733.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,497},{21,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,12}}</string>
			<key>sourceSize</key>
			<string>{21,12}</string>
		</dict>
		<key>jianshi_nan_fashion_6-sprite 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,466},{45,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,29}}</string>
			<key>sourceSize</key>
			<string>{45,29}</string>
		</dict>
		<key>jianshi_nan_fashion_6-sprite2.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,466},{38,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,24}}</string>
			<key>sourceSize</key>
			<string>{38,24}</string>
		</dict>
		<key>jianshi_nan_fashion_6-sprite3.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,439},{35,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,22}}</string>
			<key>sourceSize</key>
			<string>{35,22}</string>
		</dict>
		<key>jianshi_nan_fashion_6-sprite4.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,439},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>jianshi_nan_fashion_6-sprite6.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,435},{47,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,29}}</string>
			<key>sourceSize</key>
			<string>{47,29}</string>
		</dict>
		<key>jianshi_nan_fashion_6-sprite6k.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,429},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>jianshi_nan_fashion_6-tf-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,461},{15,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,29}}</string>
			<key>sourceSize</key>
			<string>{15,29}</string>
		</dict>
		<key>jianshi_nan_fashion_6-tfa-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,258},{29,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,29}}</string>
			<key>sourceSize</key>
			<string>{29,29}</string>
		</dict>
		<key>jianshi_nan_fashion_6-tfa-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,385},{39,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,33}}</string>
			<key>sourceSize</key>
			<string>{39,33}</string>
		</dict>
		<key>jianshi_nan_fashion_6-tmyuanjian.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,429},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>jianshi_nan_fashion_6-weapon-blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,228},{145,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,28}}</string>
			<key>sourceSize</key>
			<string>{145,28}</string>
		</dict>
		<key>jianshi_nan_fashion_6-weapon-darkgold.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,116},{143,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,60}}</string>
			<key>sourceSize</key>
			<string>{143,60}</string>
		</dict>
		<key>jianshi_nan_fashion_6-weapon-eighty.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,58},{162,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,56}}</string>
			<key>sourceSize</key>
			<string>{162,56}</string>
		</dict>
		<key>jianshi_nan_fashion_6-weapon-gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{168,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,54}}</string>
			<key>sourceSize</key>
			<string>{168,54}</string>
		</dict>
		<key>jianshi_nan_fashion_6-weapon-green.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,356},{116,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,27}}</string>
			<key>sourceSize</key>
			<string>{116,27}</string>
		</dict>
		<key>jianshi_nan_fashion_6-weapon-pink.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,303},{134,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,51}}</string>
			<key>sourceSize</key>
			<string>{134,51}</string>
		</dict>
		<key>jianshi_nan_fashion_6-weapon-purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,258},{148,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,43}}</string>
			<key>sourceSize</key>
			<string>{148,43}</string>
		</dict>
		<key>jianshi_nan_fashion_6-weapon-whitegold.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,178},{140,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,48}}</string>
			<key>sourceSize</key>
			<string>{140,48}</string>
		</dict>
		<key>jianshi_nan_fashion_6-yja1.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,243},{9,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,13}}</string>
			<key>sourceSize</key>
			<string>{9,13}</string>
		</dict>
		<key>jianshi_nan_fashion_6-yja2.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,112},{8,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,2}}</string>
			<key>sourceSize</key>
			<string>{8,2}</string>
		</dict>
		<key>jianshi_nan_fashion_6-yz1.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,421},{68,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,16}}</string>
			<key>sourceSize</key>
			<string>{68,16}</string>
		</dict>
		<key>jianshi_nan_fashion_6-zba10.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,435},{4,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,2}}</string>
			<key>sourceSize</key>
			<string>{4,2}</string>
		</dict>
		<key>jianshi_nan_fashion_6-zbb10.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,379},{6,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,4}}</string>
			<key>sourceSize</key>
			<string>{6,4}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jianshi-nan_fashion_6.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:90a18ed7f23e35342e83a6af5779156c$</string>
		<key>textureFileName</key>
		<string>jianshi-nan_fashion_6.png</string>
	</dict>
</dict>
</plist>
