<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>headeffect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,472},{158,158}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{158,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>headeffect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{158,160}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{158,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>headeffect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,324},{120,160}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,10},{120,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>headeffect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{160,160}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{160,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>headeffect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{162,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>headeffect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{160,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{160,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>headeffect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,446},{160,102}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,39},{160,102}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>headeffect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{158,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{158,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>headeffect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{158,158}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{158,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>headeffect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,632},{152,158}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{152,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>headeffect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,708},{108,158}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,11},{108,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>headeffect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{158,156}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{158,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>headeffect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,550},{158,156}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{158,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>headeffect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,164},{160,156}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{160,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>headeffect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{160,142}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{160,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>headeffect_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,322},{160,148}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{160,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeadEffect.png</string>
            <key>size</key>
            <string>{490,818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be1663a99656ef36d585ef10e1c0afa1$</string>
            <key>textureFileName</key>
            <string>HeadEffect.png</string>
        </dict>
    </dict>
</plist>
