<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,452},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>Add_Btn_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,406},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>BuySeccess_Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{658,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,94}}</string>
                <key>sourceSize</key>
                <string>{660,94}</string>
            </dict>
            <key>Gray_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,383},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Gray_Bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,406},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Power_Buy_Btn_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,98},{198,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,66}}</string>
                <key>sourceSize</key>
                <string>{198,66}</string>
            </dict>
            <key>Power_Num_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,298},{152,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,40}}</string>
                <key>sourceSize</key>
                <string>{152,40}</string>
            </dict>
            <key>Price_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,452},{153,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,43}}</string>
                <key>sourceSize</key>
                <string>{153,43}</string>
            </dict>
            <key>Prop_Discount_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,406},{98,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,103}}</string>
                <key>sourceSize</key>
                <string>{98,103}</string>
            </dict>
            <key>Prop_Gem_Tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,99},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>Prop_Gold_Numb_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,52},{190,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,45}}</string>
                <key>sourceSize</key>
                <string>{190,45}</string>
            </dict>
            <key>Prop_Gold_Tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,320},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>Prop_Line_Hor.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{295,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,48}}</string>
                <key>sourceSize</key>
                <string>{295,48}</string>
            </dict>
            <key>Prop_Num_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,298},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>Shop_HorLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,230},{2,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,74}}</string>
                <key>sourceSize</key>
                <string>{2,74}</string>
            </dict>
            <key>Shop_UpLv_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,465},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>Update_Power_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,230},{174,112}}</string>
                <key>offset</key>
                <string>{-5,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,116},{174,112}}</string>
                <key>sourceSize</key>
                <string>{192,232}</string>
            </dict>
            <key>Update_Power_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{192,218}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,218}}</string>
                <key>sourceSize</key>
                <string>{192,232}</string>
            </dict>
            <key>Update_Power_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,52},{176,118}}</string>
                <key>offset</key>
                <string>{-5,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,106},{176,118}}</string>
                <key>sourceSize</key>
                <string>{192,232}</string>
            </dict>
            <key>Update_Power_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,249},{178,132}}</string>
                <key>offset</key>
                <string>{-4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,96},{178,132}}</string>
                <key>sourceSize</key>
                <string>{192,232}</string>
            </dict>
            <key>Update_Power_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,99},{176,148}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,74},{176,148}}</string>
                <key>sourceSize</key>
                <string>{192,232}</string>
            </dict>
            <key>Update_Power_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,294},{178,156}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,64},{178,156}}</string>
                <key>sourceSize</key>
                <string>{192,232}</string>
            </dict>
            <key>Update_Power_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,312},{188,180}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,48},{188,180}}</string>
                <key>sourceSize</key>
                <string>{192,232}</string>
            </dict>
            <key>Update_Power_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,98},{186,194}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,38},{186,194}}</string>
                <key>sourceSize</key>
                <string>{192,232}</string>
            </dict>
            <key>Update_Power_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{186,196}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{186,196}}</string>
                <key>sourceSize</key>
                <string>{192,232}</string>
            </dict>
            <key>Update_Power_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,98},{192,212}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{192,212}}</string>
                <key>sourceSize</key>
                <string>{192,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PropListRes.png</string>
            <key>size</key>
            <string>{974,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:551b0b92e880c976d33bc322eb9892c3$</string>
            <key>textureFileName</key>
            <string>PropListRes.png</string>
        </dict>
    </dict>
</plist>
