<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Props_0_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{668,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,29}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Props_42_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,2},{668,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{668,25}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Props_43_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{668,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{668,25}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Props_44_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,2},{668,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{668,23}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Props_45_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{668,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{668,25}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Props_46_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{668,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{668,25}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Props_47_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{668,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{668,23}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Props_48_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,2},{668,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{668,23}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Props_49_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{668,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{668,25}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Props_50_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{668,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{668,23}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Props_51_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{668,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{668,25}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Props_52_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{668,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{668,27}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Props_53_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{668,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{668,23}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Props_54_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,2},{668,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{668,25}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Props_55_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{668,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,29}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Props_56_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{668,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,29}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Props_57_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Props_58_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Props_59_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Props_60_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Props_61_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Props_62_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Props_63_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Props_64_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Props_65_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Props_66_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{664,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Props_67_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{668,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,90}}</string>
                <key>sourceSize</key>
                <string>{668,90}</string>
            </dict>
            <key>Props_68_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{658,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{658,88}}</string>
                <key>sourceSize</key>
                <string>{668,96}</string>
            </dict>
            <key>Props_69_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{668,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,54}}</string>
                <key>sourceSize</key>
                <string>{668,54}</string>
            </dict>
            <key>Props_70_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{668,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,96}}</string>
                <key>sourceSize</key>
                <string>{668,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cue.png</string>
            <key>size</key>
            <string>{1022,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0184de266050b0d0371341c1e4149d03$</string>
            <key>textureFileName</key>
            <string>Cue.png</string>
        </dict>
    </dict>
</plist>
