<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<string>91.45</string>
	<key>angleVariance</key>
	<string>59.83</string>
	<key>blendFuncDestination</key>
	<string>1</string>
	<key>blendFuncSource</key>
	<string>770</string>
	<key>duration</key>
	<integer>-1</integer>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<real>0.85</real>
	<key>finishColorBlue</key>
	<integer>0</integer>
	<key>finishColorGreen</key>
	<integer>0</integer>
	<key>finishColorRed</key>
	<integer>0</integer>
	<key>finishColorVarianceAlpha</key>
	<integer>0</integer>
	<key>finishColorVarianceBlue</key>
	<integer>0</integer>
	<key>finishColorVarianceGreen</key>
	<integer>0</integer>
	<key>finishColorVarianceRed</key>
	<integer>0</integer>
	<key>finishParticleSize</key>
	<string>0.00</string>
	<key>finishParticleSizeVariance</key>
	<string>3.63</string>
	<key>gravityx</key>
	<string>-493.80</string>
	<key>gravityy</key>
	<string>-122.93</string>
	<key>maxParticles</key>
	<string>293.20</string>
	<key>maxRadius</key>
	<string>10</string>
	<key>maxRadiusVariance</key>
	<string>5</string>
	<key>minRadius</key>
	<string>10</string>
	<key>particleLifespan</key>
	<string>0.68</string>
	<key>particleLifespanVariance</key>
	<string>1.27</string>
	<key>radialAccelVariance</key>
	<string>-410.92</string>
	<key>radialAcceleration</key>
	<string>-1000.00</string>
	<key>rotatePerSecond</key>
	<string>5</string>
	<key>rotatePerSecondVariance</key>
	<string>5</string>
	<key>rotationEnd</key>
	<string>980.24</string>
	<key>rotationStart</key>
	<string>-1415.07</string>
	<key>rotationStartVariance</key>
	<string>624.26</string>
	<key>sourcePositionVariancex</key>
	<integer>0</integer>
	<key>sourcePositionVariancey</key>
	<integer>0</integer>
	<key>sourcePositionx</key>
	<string>157.760</string>
	<key>sourcePositiony</key>
	<string>364.640</string>
	<key>speed</key>
	<integer>20</integer>
	<key>speedVariance</key>
	<string>97.35</string>
	<key>startColorAlpha</key>
	<string>1</string>
	<key>startColorBlue</key>
	<real>0.36</real>
	<key>startColorGreen</key>
	<real>0.5600000000000001</real>
	<key>startColorRed</key>
	<real>0.89</real>
	<key>startColorVarianceAlpha</key>
	<real>0.5</real>
	<key>startColorVarianceBlue</key>
	<real>0.2</real>
	<key>startColorVarianceGreen</key>
	<real>0.2</real>
	<key>startColorVarianceRed</key>
	<real>0.2</real>
	<key>startParticleSize</key>
	<string>14.61</string>
	<key>startParticleSizeVariance</key>
	<string>14.61</string>
	<key>tangentialAccelVariance</key>
	<string>-490.81</string>
	<key>tangentialAcceleration</key>
	<string>254.98</string>
	<key>textureFileName</key>
	<string>ConsoleGameFire.png</string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
