<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frame_Sex_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,465},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Frame_Sex_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,413},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>PersonInfo_Boy.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,70},{36,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>PersonInfo_Girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,142},{28,40}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,126},{575,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,54}}</string>
                <key>sourceSize</key>
                <string>{575,54}</string>
            </dict>
            <key>column.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,232},{18,628}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,628}}</string>
                <key>sourceSize</key>
                <string>{18,628}</string>
            </dict>
            <key>guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,360},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>itemShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{225,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,91}}</string>
                <key>sourceSize</key>
                <string>{225,91}</string>
            </dict>
            <key>login_QQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,307},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>login_WX.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,254},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>loginfacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,201},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>logintwitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,148},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>ruleNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,75},{172,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,71}}</string>
                <key>sourceSize</key>
                <string>{172,71}</string>
            </dict>
            <key>rulePress.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{172,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,71}}</string>
                <key>sourceSize</key>
                <string>{172,71}</string>
            </dict>
            <key>set_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,208},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,38}}</string>
                <key>sourceSize</key>
                <string>{22,38}</string>
            </dict>
            <key>set_reaction.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,172},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>set_reconnect.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,52},{72,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>set_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,108},{43,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,32}}</string>
                <key>sourceSize</key>
                <string>{43,32}</string>
            </dict>
            <key>share_Ttalk.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,862},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>share_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,148},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>share_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>share_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>share_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,509},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>share_sina.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,391},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>share_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,273},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>sharebutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,232},{25,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,47}}</string>
                <key>sourceSize</key>
                <string>{25,47}</string>
            </dict>
            <key>switchbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{36,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,66}}</string>
                <key>sourceSize</key>
                <string>{36,66}</string>
            </dict>
            <key>taskGaoliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,48}}</string>
                <key>sourceSize</key>
                <string>{295,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ModalFrame.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:328a0781ed927eff43bfde35f472c991$</string>
            <key>textureFileName</key>
            <string>ModalFrame.png</string>
        </dict>
    </dict>
</plist>
