<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Activity_tips-xiaohongdian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>Activity_tips-xiaohongdian2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,39},{27,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,28}}</string>
			<key>sourceSize</key>
			<string>{27,28}</string>
		</dict>
		<key>Activity_tips-xxsf.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,39},{24,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,25}}</string>
			<key>sourceSize</key>
			<string>{24,25}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Activity_tips.png</string>
		<key>size</key>
		<string>{64,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2708871d7280e7302d4628df54435483$</string>
		<key>textureFileName</key>
		<string>Activity_tips.png</string>
	</dict>
</dict>
</plist>
