<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>animation_newskill-kuanghuang tou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,62},{57,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,58}}</string>
			<key>sourceSize</key>
			<string>{57,58}</string>
		</dict>
		<key>animation_newskill-kuanghuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{57,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,58}}</string>
			<key>sourceSize</key>
			<string>{57,58}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>animation_newskill.png</string>
		<key>size</key>
		<string>{64,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3b4c72015fdce11fad397f2003a91f07$</string>
		<key>textureFileName</key>
		<string>animation_newskill.png</string>
	</dict>
</dict>
</plist>
