<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bruise-H1.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,167},{33,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,23}}</string>
			<key>sourceSize</key>
			<string>{33,23}</string>
		</dict>
		<key>bruise-H10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,70},{109,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,65}}</string>
			<key>sourceSize</key>
			<string>{109,65}</string>
		</dict>
		<key>bruise-H11.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,2},{108,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,59}}</string>
			<key>sourceSize</key>
			<string>{108,59}</string>
		</dict>
		<key>bruise-H12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,137},{99,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,52}}</string>
			<key>sourceSize</key>
			<string>{99,52}</string>
		</dict>
		<key>bruise-H2.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,178},{65,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,56}}</string>
			<key>sourceSize</key>
			<string>{65,56}</string>
		</dict>
		<key>bruise-H3.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,2},{82,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,63}}</string>
			<key>sourceSize</key>
			<string>{82,63}</string>
		</dict>
		<key>bruise-H4.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,167},{87,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,66}}</string>
			<key>sourceSize</key>
			<string>{87,66}</string>
		</dict>
		<key>bruise-H5.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,133},{97,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,67}}</string>
			<key>sourceSize</key>
			<string>{97,67}</string>
		</dict>
		<key>bruise-H6.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,63},{103,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,68}}</string>
			<key>sourceSize</key>
			<string>{103,68}</string>
		</dict>
		<key>bruise-H7.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,2},{109,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,68}}</string>
			<key>sourceSize</key>
			<string>{109,68}</string>
		</dict>
		<key>bruise-H8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{115,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,66}}</string>
			<key>sourceSize</key>
			<string>{115,66}</string>
		</dict>
		<key>bruise-H9.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,2},{104,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,64}}</string>
			<key>sourceSize</key>
			<string>{104,64}</string>
		</dict>
		<key>bruise-dfsdfsdf.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,72},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>bruise-duyan1.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,192},{49,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,31}}</string>
			<key>sourceSize</key>
			<string>{49,31}</string>
		</dict>
		<key>bruise-duyan11.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,264},{63,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,48}}</string>
			<key>sourceSize</key>
			<string>{63,48}</string>
		</dict>
		<key>bruise-duyan13.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,335},{42,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,48}}</string>
			<key>sourceSize</key>
			<string>{42,48}</string>
		</dict>
		<key>bruise-duyan3.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,279},{56,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,37}}</string>
			<key>sourceSize</key>
			<string>{56,37}</string>
		</dict>
		<key>bruise-duyan5.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,282},{61,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,42}}</string>
			<key>sourceSize</key>
			<string>{61,42}</string>
		</dict>
		<key>bruise-duyan7.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,235},{63,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,43}}</string>
			<key>sourceSize</key>
			<string>{63,43}</string>
		</dict>
		<key>bruise-duyan9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,283},{63,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,45}}</string>
			<key>sourceSize</key>
			<string>{63,45}</string>
		</dict>
		<key>bruise-fdfefefeagagaergw.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,68},{97,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,101}}</string>
			<key>sourceSize</key>
			<string>{97,101}</string>
		</dict>
		<key>bruise-huoqiueiji 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,235},{59,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,62}}</string>
			<key>sourceSize</key>
			<string>{59,62}</string>
		</dict>
		<key>bruise-huoqiueiji 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,202},{76,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,75}}</string>
			<key>sourceSize</key>
			<string>{76,75}</string>
		</dict>
		<key>bruise-huoqiueiji.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,314},{41,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,48}}</string>
			<key>sourceSize</key>
			<string>{41,48}</string>
		</dict>
		<key>bruise-huoqiueiji4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,191},{92,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,90}}</string>
			<key>sourceSize</key>
			<string>{92,90}</string>
		</dict>
		<key>bruise-huoqiueiji5.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,170},{94,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,92}}</string>
			<key>sourceSize</key>
			<string>{94,92}</string>
		</dict>
		<key>bruise-huoqiueiji6.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,72},{100,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,96}}</string>
			<key>sourceSize</key>
			<string>{100,96}</string>
		</dict>
		<key>bruise-k679.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,282},{51,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,44}}</string>
			<key>sourceSize</key>
			<string>{51,44}</string>
		</dict>
		<key>bruise-kulou.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,279},{54,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,50}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>bruise-pop.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,72},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>bruise-xuehua1.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,326},{46,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,48}}</string>
			<key>sourceSize</key>
			<string>{46,48}</string>
		</dict>
		<key>bruise-xuehua2.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,299},{51,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,48}}</string>
			<key>sourceSize</key>
			<string>{51,48}</string>
		</dict>
		<key>bruise-xuehua3.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,280},{51,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,53}}</string>
			<key>sourceSize</key>
			<string>{51,53}</string>
		</dict>
		<key>bruise-xuehua4.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,236},{44,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,65}}</string>
			<key>sourceSize</key>
			<string>{44,65}</string>
		</dict>
		<key>bruise-xuehua5.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,139},{37,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,68}}</string>
			<key>sourceSize</key>
			<string>{37,68}</string>
		</dict>
		<key>bruise-xuehua6.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,86},{30,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,70}}</string>
			<key>sourceSize</key>
			<string>{30,70}</string>
		</dict>
		<key>bruise-xuehua7.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,118},{19,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,70}}</string>
			<key>sourceSize</key>
			<string>{19,70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>bruise-light.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5ed11f0629b11a2c7a51fdd912997bb4$</string>
		<key>textureFileName</key>
		<string>bruise-light.png</string>
	</dict>
</dict>
</plist>
