<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>getdef_get-888.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,98},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>getdef_get-dunpai.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{69,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,94}}</string>
			<key>sourceSize</key>
			<string>{69,94}</string>
		</dict>
		<key>getdef_get-llelel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,98},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Buff_getdefense.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:30f39e61eb55ce6234bd9a226ca25d04$</string>
		<key>textureFileName</key>
		<string>Buff_getdefense.png</string>
	</dict>
</dict>
</plist>
