<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>getatk_get-baokai.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,108},{82,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,60}}</string>
			<key>sourceSize</key>
			<string>{82,60}</string>
		</dict>
		<key>getatk_get-jian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{106,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,104}}</string>
			<key>sourceSize</key>
			<string>{106,104}</string>
		</dict>
		<key>getatk_get-liziidddad.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,2},{9,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,19}}</string>
			<key>sourceSize</key>
			<string>{9,19}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Buff_getattack.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7b977c3d9ff0a9d483c1503f34de889e$</string>
		<key>textureFileName</key>
		<string>Buff_getattack.png</string>
	</dict>
</dict>
</plist>
