<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Capricorn_skill_light2-MJSF1.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,2},{155,237}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,237}}</string>
			<key>sourceSize</key>
			<string>{155,237}</string>
		</dict>
		<key>Capricorn_skill_light2-MJSF10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,934},{69,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,18}}</string>
			<key>sourceSize</key>
			<string>{69,18}</string>
		</dict>
		<key>Capricorn_skill_light2-MJSF11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,954},{68,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,17}}</string>
			<key>sourceSize</key>
			<string>{68,17}</string>
		</dict>
		<key>Capricorn_skill_light2-MJSF2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,232},{155,229}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,229}}</string>
			<key>sourceSize</key>
			<string>{155,229}</string>
		</dict>
		<key>Capricorn_skill_light2-MJSF3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{157,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,228}}</string>
			<key>sourceSize</key>
			<string>{157,228}</string>
		</dict>
		<key>Capricorn_skill_light2-MJSF4.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,241},{148,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,234}}</string>
			<key>sourceSize</key>
			<string>{148,234}</string>
		</dict>
		<key>Capricorn_skill_light2-MJSF5.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,2},{155,237}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,237}}</string>
			<key>sourceSize</key>
			<string>{155,237}</string>
		</dict>
		<key>Capricorn_skill_light2-MJSF6.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,2},{155,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,228}}</string>
			<key>sourceSize</key>
			<string>{155,228}</string>
		</dict>
		<key>Capricorn_skill_light2-MJSF7.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,232},{150,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,228}}</string>
			<key>sourceSize</key>
			<string>{150,228}</string>
		</dict>
		<key>Capricorn_skill_light2-MJSF8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,463},{111,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,234}}</string>
			<key>sourceSize</key>
			<string>{111,234}</string>
		</dict>
		<key>Capricorn_skill_light2-MJSF9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,699},{81,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,233}}</string>
			<key>sourceSize</key>
			<string>{81,233}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Capricorn_skill_light2.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c8fc4a991a5f82e02dcaf8535e0946c0$</string>
		<key>textureFileName</key>
		<string>Capricorn_skill_light2.png</string>
	</dict>
</dict>
</plist>
