<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Capricorn_skill-BF1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,450},{65,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,60}}</string>
			<key>sourceSize</key>
			<string>{65,60}</string>
		</dict>
		<key>Capricorn_skill-BF2.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,289},{87,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,105}}</string>
			<key>sourceSize</key>
			<string>{87,105}</string>
		</dict>
		<key>Capricorn_skill-BF3.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,137},{102,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,115}}</string>
			<key>sourceSize</key>
			<string>{102,115}</string>
		</dict>
		<key>Capricorn_skill-BF4.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,126},{102,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,131}}</string>
			<key>sourceSize</key>
			<string>{102,131}</string>
		</dict>
		<key>Capricorn_skill-BF5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,158},{102,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,145}}</string>
			<key>sourceSize</key>
			<string>{102,145}</string>
		</dict>
		<key>Capricorn_skill-BF6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{102,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,154}}</string>
			<key>sourceSize</key>
			<string>{102,154}</string>
		</dict>
		<key>Capricorn_skill-liziziilanlan.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,488},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>Capricorn_skill-liziziilanlanXxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,450},{40,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,36}}</string>
			<key>sourceSize</key>
			<string>{40,36}</string>
		</dict>
		<key>Capricorn_skill-suib1.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,254},{97,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,99}}</string>
			<key>sourceSize</key>
			<string>{97,99}</string>
		</dict>
		<key>Capricorn_skill-suib2.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,147},{142,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,140}}</string>
			<key>sourceSize</key>
			<string>{142,140}</string>
		</dict>
		<key>Capricorn_skill-suib3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,305},{142,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,143}}</string>
			<key>sourceSize</key>
			<string>{142,143}</string>
		</dict>
		<key>Capricorn_skill-suib4.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,2},{138,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,143}}</string>
			<key>sourceSize</key>
			<string>{138,143}</string>
		</dict>
		<key>Capricorn_skill-suib5.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,2},{132,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,133}}</string>
			<key>sourceSize</key>
			<string>{132,133}</string>
		</dict>
		<key>Capricorn_skill-suib6.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,2},{123,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,122}}</string>
			<key>sourceSize</key>
			<string>{123,122}</string>
		</dict>
		<key>Capricorn_skill-suib7.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,259},{148,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,108}}</string>
			<key>sourceSize</key>
			<string>{148,108}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Capricorn_skill.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3ce63d9f9e54cd12dffcbb577524bcde$</string>
		<key>textureFileName</key>
		<string>Capricorn_skill.png</string>
	</dict>
</dict>
</plist>
