<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Capricorn_skill_buff-fuff_ae1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,170},{55,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,54}}</string>
			<key>sourceSize</key>
			<string>{55,54}</string>
		</dict>
		<key>Capricorn_skill_buff-fuff_ae2.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,170},{55,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,53}}</string>
			<key>sourceSize</key>
			<string>{55,53}</string>
		</dict>
		<key>Capricorn_skill_buff-fuff_ae3.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,2},{61,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,54}}</string>
			<key>sourceSize</key>
			<string>{61,54}</string>
		</dict>
		<key>Capricorn_skill_buff-fuff_ae4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{61,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,58}}</string>
			<key>sourceSize</key>
			<string>{61,58}</string>
		</dict>
		<key>Capricorn_skill_buff-fuff_ae5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,112},{55,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,56}}</string>
			<key>sourceSize</key>
			<string>{55,56}</string>
		</dict>
		<key>Capricorn_skill_buff-fuff_ae6.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,113},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Capricorn_skill_buff-fuff_ae7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,62},{61,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,48}}</string>
			<key>sourceSize</key>
			<string>{61,48}</string>
		</dict>
		<key>Capricorn_skill_buff-fuff_ae8.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,58},{61,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,53}}</string>
			<key>sourceSize</key>
			<string>{61,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Capricorn_skill_buff.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c644d874c4909a92f0fe23c76528738b$</string>
		<key>textureFileName</key>
		<string>Capricorn_skill_buff.png</string>
	</dict>
</dict>
</plist>
