<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Chatting_voice-0001 .png</key>
		<dict>
			<key>frame</key>
			<string>{{25,41},{6,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,15}}</string>
			<key>sourceSize</key>
			<string>{6,15}</string>
		</dict>
		<key>Chatting_voice-0002 .png</key>
		<dict>
			<key>frame</key>
			<string>{{25,2},{14,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,21}}</string>
			<key>sourceSize</key>
			<string>{14,21}</string>
		</dict>
		<key>Chatting_voice-0003 .png</key>
		<dict>
			<key>frame</key>
			<string>{{2,30},{21,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,25}}</string>
			<key>sourceSize</key>
			<string>{21,25}</string>
		</dict>
		<key>Chatting_voice-001.png</key>
		<dict>
			<key>frame</key>
			<string>{{41,24},{6,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,15}}</string>
			<key>sourceSize</key>
			<string>{6,15}</string>
		</dict>
		<key>Chatting_voice-0020.png</key>
		<dict>
			<key>frame</key>
			<string>{{41,2},{14,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,20}}</string>
			<key>sourceSize</key>
			<string>{14,20}</string>
		</dict>
		<key>Chatting_voice-0030.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{21,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,26}}</string>
			<key>sourceSize</key>
			<string>{21,26}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Chatting_voice.png</string>
		<key>size</key>
		<string>{64,64}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:55240b1fcd39182ba0bc6c6e1cd1e73f$</string>
		<key>textureFileName</key>
		<string>Chatting_voice.png</string>
	</dict>
</dict>
</plist>
