<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Christmasdress_women-888ex.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,72},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Christmasdress_women-sd-1a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,23},{41,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,35}}</string>
			<key>sourceSize</key>
			<string>{41,35}</string>
		</dict>
		<key>Christmasdress_women-sd-2a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,60},{10,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,25}}</string>
			<key>sourceSize</key>
			<string>{10,25}</string>
		</dict>
		<key>Christmasdress_women-sd-2a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,60},{10,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,26}}</string>
			<key>sourceSize</key>
			<string>{10,26}</string>
		</dict>
		<key>Christmasdress_women-sd-3a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,183},{16,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,22}}</string>
			<key>sourceSize</key>
			<string>{16,22}</string>
		</dict>
		<key>Christmasdress_women-sd-3a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,38},{13,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,20}}</string>
			<key>sourceSize</key>
			<string>{13,20}</string>
		</dict>
		<key>Christmasdress_women-sd-4a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,133},{13,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,18}}</string>
			<key>sourceSize</key>
			<string>{13,18}</string>
		</dict>
		<key>Christmasdress_women-sd-4a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,240},{17,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,14}}</string>
			<key>sourceSize</key>
			<string>{17,14}</string>
		</dict>
		<key>Christmasdress_women-sd-4a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,113},{11,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,17}}</string>
			<key>sourceSize</key>
			<string>{11,17}</string>
		</dict>
		<key>Christmasdress_women-sd-4a-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,54},{12,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,16}}</string>
			<key>sourceSize</key>
			<string>{12,16}</string>
		</dict>
		<key>Christmasdress_women-sd-5a-20.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,154},{14,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,33}}</string>
			<key>sourceSize</key>
			<string>{14,33}</string>
		</dict>
		<key>Christmasdress_women-sd-5a-30.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,218},{14,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,36}}</string>
			<key>sourceSize</key>
			<string>{14,36}</string>
		</dict>
		<key>Christmasdress_women-sd-6a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,207},{20,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,37}}</string>
			<key>sourceSize</key>
			<string>{20,37}</string>
		</dict>
		<key>Christmasdress_women-sd-6a-30.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,153},{19,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,28}}</string>
			<key>sourceSize</key>
			<string>{19,28}</string>
		</dict>
		<key>Christmasdress_women-sd-7a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,237},{18,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,17}}</string>
			<key>sourceSize</key>
			<string>{18,17}</string>
		</dict>
		<key>Christmasdress_women-sd-7a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,60},{23,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,20}}</string>
			<key>sourceSize</key>
			<string>{23,20}</string>
		</dict>
		<key>Christmasdress_women-sd-8a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,54},{23,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,32}}</string>
			<key>sourceSize</key>
			<string>{23,32}</string>
		</dict>
		<key>Christmasdress_women-sd-9a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,82},{23,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,12}}</string>
			<key>sourceSize</key>
			<string>{23,12}</string>
		</dict>
		<key>Christmasdress_women-sd-9a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,189},{20,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,16}}</string>
			<key>sourceSize</key>
			<string>{20,16}</string>
		</dict>
		<key>Christmasdress_women-sd-jh-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,148},{11,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,7}}</string>
			<key>sourceSize</key>
			<string>{11,7}</string>
		</dict>
		<key>Christmasdress_women-sd-mzw-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,96},{18,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,50}}</string>
			<key>sourceSize</key>
			<string>{18,50}</string>
		</dict>
		<key>Christmasdress_women-sd-mzw-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,157},{18,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,48}}</string>
			<key>sourceSize</key>
			<string>{18,48}</string>
		</dict>
		<key>Christmasdress_women-sd-mzw-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,167},{18,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,49}}</string>
			<key>sourceSize</key>
			<string>{18,49}</string>
		</dict>
		<key>Christmasdress_women-sd-qiu-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,23},{28,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,29}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>Christmasdress_women-sd-qz1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,207},{19,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,22}}</string>
			<key>sourceSize</key>
			<string>{19,22}</string>
		</dict>
		<key>Christmasdress_women-sd-qz2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,88},{18,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,23}}</string>
			<key>sourceSize</key>
			<string>{18,23}</string>
		</dict>
		<key>Christmasdress_women-sd-tf1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,207},{10,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,40}}</string>
			<key>sourceSize</key>
			<string>{10,40}</string>
		</dict>
		<key>Christmasdress_women-sd-tf2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,96},{10,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,36}}</string>
			<key>sourceSize</key>
			<string>{10,36}</string>
		</dict>
		<key>Christmasdress_women-sd-tf2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,96},{10,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,35}}</string>
			<key>sourceSize</key>
			<string>{10,35}</string>
		</dict>
		<key>Christmasdress_women-sd-tf2-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,2},{13,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,34}}</string>
			<key>sourceSize</key>
			<string>{13,34}</string>
		</dict>
		<key>Christmasdress_women-sd-tf3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,167},{9,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,71}}</string>
			<key>sourceSize</key>
			<string>{9,71}</string>
		</dict>
		<key>Christmasdress_women-sd-tf3-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,88},{11,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,67}}</string>
			<key>sourceSize</key>
			<string>{11,67}</string>
		</dict>
		<key>Christmasdress_women-sd-tf3-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,167},{9,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,68}}</string>
			<key>sourceSize</key>
			<string>{9,68}</string>
		</dict>
		<key>Christmasdress_women-sd-tf3-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,167},{13,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,68}}</string>
			<key>sourceSize</key>
			<string>{13,68}</string>
		</dict>
		<key>Christmasdress_women-sd-tf3-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,167},{9,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,68}}</string>
			<key>sourceSize</key>
			<string>{9,68}</string>
		</dict>
		<key>Christmasdress_women-sd-tf4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,171},{47,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,79}}</string>
			<key>sourceSize</key>
			<string>{47,79}</string>
		</dict>
		<key>Christmasdress_women-sd-tf4-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,87},{46,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,82}}</string>
			<key>sourceSize</key>
			<string>{46,82}</string>
		</dict>
		<key>Christmasdress_women-sd-tf4-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{44,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,83}}</string>
			<key>sourceSize</key>
			<string>{44,83}</string>
		</dict>
		<key>Christmasdress_women-sd-tf4-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,2},{45,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,82}}</string>
			<key>sourceSize</key>
			<string>{45,82}</string>
		</dict>
		<key>Christmasdress_women-sd-tf4-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,86},{43,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,79}}</string>
			<key>sourceSize</key>
			<string>{43,79}</string>
		</dict>
		<key>Christmasdress_women-sd-tf5-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,2},{54,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,53}}</string>
			<key>sourceSize</key>
			<string>{54,53}</string>
		</dict>
		<key>Christmasdress_women-sd-tf6-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,88},{10,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,23}}</string>
			<key>sourceSize</key>
			<string>{10,23}</string>
		</dict>
		<key>Christmasdress_women-sd-xiong-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,134},{19,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,18}}</string>
			<key>sourceSize</key>
			<string>{19,18}</string>
		</dict>
		<key>Christmasdress_women-sd-xiong-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,132},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>Christmasdress_women-sd-yj1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,113},{13,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,11}}</string>
			<key>sourceSize</key>
			<string>{13,11}</string>
		</dict>
		<key>Christmasdress_women-sd-yj1-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,157},{12,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,8}}</string>
			<key>sourceSize</key>
			<string>{12,8}</string>
		</dict>
		<key>Christmasdress_women-sd-yj2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,23},{7,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,9}}</string>
			<key>sourceSize</key>
			<string>{7,9}</string>
		</dict>
		<key>Christmasdress_women-sd-yj2-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,252},{5,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,2}}</string>
			<key>sourceSize</key>
			<string>{5,2}</string>
		</dict>
		<key>Christmasdress_women-sd-yz1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,2},{80,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,19}}</string>
			<key>sourceSize</key>
			<string>{80,19}</string>
		</dict>
		<key>Christmasdress_women-sd-zb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,10},{5,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,3}}</string>
			<key>sourceSize</key>
			<string>{5,3}</string>
		</dict>
		<key>Christmasdress_women-sd-zb-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,2},{6,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,6}}</string>
			<key>sourceSize</key>
			<string>{6,6}</string>
		</dict>
		<key>Christmasdress_women-xue.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,237},{18,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,17}}</string>
			<key>sourceSize</key>
			<string>{18,17}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Christmasdress_women.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6cdd5ce13742d7dea5c831cad6df4075$</string>
		<key>textureFileName</key>
		<string>Christmasdress_women.png</string>
	</dict>
</dict>
</plist>
