<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ChristmasTree_hurt-888.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,37},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>ChristmasTree_hurt-888ex.png</key>
		<dict>
			<key>frame</key>
			<string>{{16,24},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>ChristmasTree_hurt-888zizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,24},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>ChristmasTree_hurt-baodan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ChristmasTree_hurt.png</string>
		<key>size</key>
		<string>{32,64}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c79d752e6e884e654f3cde16275c47a3$</string>
		<key>textureFileName</key>
		<string>ChristmasTree_hurt.png</string>
	</dict>
</dict>
</plist>
