<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>CityFashion_nan_3-fsnv-yz1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{93,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,22}}</string>
			<key>sourceSize</key>
			<string>{93,22}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-1a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,26},{38,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,45}}</string>
			<key>sourceSize</key>
			<string>{38,45}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-2a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{16,218},{12,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,20}}</string>
			<key>sourceSize</key>
			<string>{12,20}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-2a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,214},{12,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,20}}</string>
			<key>sourceSize</key>
			<string>{12,20}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-3a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,108},{20,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,22}}</string>
			<key>sourceSize</key>
			<string>{20,22}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-3a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,120},{21,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,23}}</string>
			<key>sourceSize</key>
			<string>{21,23}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-4a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,218},{12,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,19}}</string>
			<key>sourceSize</key>
			<string>{12,19}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-4a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,108},{16,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,19}}</string>
			<key>sourceSize</key>
			<string>{16,19}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-5a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,150},{15,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,26}}</string>
			<key>sourceSize</key>
			<string>{15,26}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-5a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,127},{15,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,34}}</string>
			<key>sourceSize</key>
			<string>{15,34}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-6a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,178},{14,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,34}}</string>
			<key>sourceSize</key>
			<string>{14,34}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-6a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,90},{15,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,35}}</string>
			<key>sourceSize</key>
			<string>{15,35}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-7a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,75},{23,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,19}}</string>
			<key>sourceSize</key>
			<string>{23,19}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-7a2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,152},{13,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,14}}</string>
			<key>sourceSize</key>
			<string>{13,14}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-7a3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,96},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-8a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,32},{30,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,41}}</string>
			<key>sourceSize</key>
			<string>{30,41}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-9a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,18},{24,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,12}}</string>
			<key>sourceSize</key>
			<string>{24,12}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-hb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,132},{19,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,8}}</string>
			<key>sourceSize</key>
			<string>{19,8}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-hb-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,142},{19,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,6}}</string>
			<key>sourceSize</key>
			<string>{19,6}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-qz1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,121},{19,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,66}}</string>
			<key>sourceSize</key>
			<string>{19,66}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-qz2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,26},{52,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,56}}</string>
			<key>sourceSize</key>
			<string>{52,56}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-tf1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,121},{13,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,29}}</string>
			<key>sourceSize</key>
			<string>{13,29}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-tf2-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,90},{22,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,29}}</string>
			<key>sourceSize</key>
			<string>{22,29}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-tf3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{23,139},{15,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,29}}</string>
			<key>sourceSize</key>
			<string>{15,29}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-tf4-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,84},{40,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,22}}</string>
			<key>sourceSize</key>
			<string>{40,22}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-tf5-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,73},{37,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,15}}</string>
			<key>sourceSize</key>
			<string>{37,15}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-tf6-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,188},{14,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,28}}</string>
			<key>sourceSize</key>
			<string>{14,28}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-tf7-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,2},{28,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,14}}</string>
			<key>sourceSize</key>
			<string>{28,14}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-tf8-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,129},{16,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,8}}</string>
			<key>sourceSize</key>
			<string>{16,8}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-wj-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{19,170},{15,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,16}}</string>
			<key>sourceSize</key>
			<string>{15,16}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-yj1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,120},{8,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,11}}</string>
			<key>sourceSize</key>
			<string>{8,11}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-yj1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,97},{8,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,11}}</string>
			<key>sourceSize</key>
			<string>{8,11}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-yj1-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,84},{8,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,11}}</string>
			<key>sourceSize</key>
			<string>{8,11}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-yj2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,189},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-yj2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,239},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-yj2-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{16,240},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-yl-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,236},{12,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,16}}</string>
			<key>sourceSize</key>
			<string>{12,16}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-zb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,75},{5,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,1}}</string>
			<key>sourceSize</key>
			<string>{5,1}</string>
		</dict>
		<key>CityFashion_nan_3-jsnan3-zz-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,96},{7,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,17}}</string>
			<key>sourceSize</key>
			<string>{7,17}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>CityFashion_nan_3.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fe83fa9c6959def81e182622c3abc409$</string>
		<key>textureFileName</key>
		<string>CityFashion_nan_3.png</string>
	</dict>
</dict>
</plist>
