<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>CreationAnimation_circle-678.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>CreationAnimation_circle.png</string>
		<key>size</key>
		<string>{64,64}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bf2f869a9d4673f9c68a1585cd254da6$</string>
		<key>textureFileName</key>
		<string>CreationAnimation_circle.png</string>
	</dict>
</dict>
</plist>
