<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>LoginBtnLable.png</key>
		<dict>
			<key>frame</key>
			<string>{{935,404},{82,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,44}}</string>
			<key>sourceSize</key>
			<string>{82,44}</string>
		</dict>
		<key>LoginGreenBtn_Clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,333},{148,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,56}}</string>
			<key>sourceSize</key>
			<string>{148,56}</string>
		</dict>
		<key>LoginGreenBtn_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,328},{148,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,56}}</string>
			<key>sourceSize</key>
			<string>{148,56}</string>
		</dict>
		<key>LoginRedBtn_Clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{603,275},{148,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,56}}</string>
			<key>sourceSize</key>
			<string>{148,56}</string>
		</dict>
		<key>LoginRedBtn_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,270},{148,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,56}}</string>
			<key>sourceSize</key>
			<string>{148,56}</string>
		</dict>
		<key>Login_Back_Btn_Clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,275},{50,45}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{50,45}}</string>
			<key>sourceSize</key>
			<string>{52,47}</string>
		</dict>
		<key>Login_Back_Btn_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,359},{48,43}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{48,43}}</string>
			<key>sourceSize</key>
			<string>{52,47}</string>
		</dict>
		<key>Login_GameLogo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{456,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{456,219}}</string>
			<key>sourceSize</key>
			<string>{460,227}</string>
		</dict>
		<key>Login_Password.png</key>
		<dict>
			<key>frame</key>
			<string>{{804,329},{141,33}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{141,33}}</string>
			<key>sourceSize</key>
			<string>{143,35}</string>
		</dict>
		<key>RegisterBtnLable.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,364},{86,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,44}}</string>
			<key>sourceSize</key>
			<string>{86,44}</string>
		</dict>
		<key>RoleSelect_Btn_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,494},{148,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,55}}</string>
			<key>sourceSize</key>
			<string>{148,55}</string>
		</dict>
		<key>RoleSelect_Clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,386},{148,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,55}}</string>
			<key>sourceSize</key>
			<string>{148,55}</string>
		</dict>
		<key>RoleSelect_Image_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,48},{165,279}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,279}}</string>
			<key>sourceSize</key>
			<string>{165,279}</string>
		</dict>
		<key>RoleSelect_Image_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,2},{177,271}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,271}}</string>
			<key>sourceSize</key>
			<string>{177,271}</string>
		</dict>
		<key>RoleSelect_Image_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,715},{151,303}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,303}}</string>
			<key>sourceSize</key>
			<string>{151,303}</string>
		</dict>
		<key>RoleSelect_Image_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,390},{157,323}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,323}}</string>
			<key>sourceSize</key>
			<string>{157,323}</string>
		</dict>
		<key>RoleSelect_Image_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,2},{179,266}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,266}}</string>
			<key>sourceSize</key>
			<string>{179,266}</string>
		</dict>
		<key>RoleSelect_Image_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,223},{158,269}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,269}}</string>
			<key>sourceSize</key>
			<string>{158,269}</string>
		</dict>
		<key>ServerSelect_Lable_Flip_Clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,48},{34,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{34,46}}</string>
			<key>sourceSize</key>
			<string>{40,50}</string>
		</dict>
		<key>ServerSelect_Lable_Flip_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,410},{38,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{38,50}}</string>
			<key>sourceSize</key>
			<string>{40,50}</string>
		</dict>
		<key>ServerSelect_Select_Clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{891,408},{42,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,10},{42,40}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>ServerSelect_Select_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{891,364},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,9},{42,42}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>StartGameLable.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,2},{167,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,44}}</string>
			<key>sourceSize</key>
			<string>{167,44}</string>
		</dict>
		<key>ck_powericon.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,317},{121,93}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{121,93}}</string>
			<key>sourceSize</key>
			<string>{127,99}</string>
		</dict>
		<key>fs_powericon.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,223},{122,92}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{122,92}}</string>
			<key>sourceSize</key>
			<string>{128,98}</string>
		</dict>
		<key>js_powericon.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,412},{91,119}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{91,119}}</string>
			<key>sourceSize</key>
			<string>{97,125}</string>
		</dict>
		<key>powericon_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,223},{165,165}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{165,165}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>powericon_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{752,353},{49,29}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,8},{49,29}}</string>
			<key>sourceSize</key>
			<string>{67,49}</string>
		</dict>
		<key>powericon_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,322},{49,29}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,8},{49,29}}</string>
			<key>sourceSize</key>
			<string>{67,49}</string>
		</dict>
		<key>powericon_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,329},{49,28}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,8},{49,28}}</string>
			<key>sourceSize</key>
			<string>{67,48}</string>
		</dict>
		<key>powericon_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{752,384},{48,29}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,8},{48,29}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Creation_2.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e0c4d5b5128bf8ebe51010206185e3a9$</string>
		<key>textureFileName</key>
		<string>Creation_2.png</string>
	</dict>
</dict>
</plist>
