<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Custom_counts-di10bo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{220,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,61}}</string>
			<key>sourceSize</key>
			<string>{220,61}</string>
		</dict>
		<key>Custom_counts-di1bo.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,254},{198,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,61}}</string>
			<key>sourceSize</key>
			<string>{198,61}</string>
		</dict>
		<key>Custom_counts-di2bo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,254},{198,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,61}}</string>
			<key>sourceSize</key>
			<string>{198,61}</string>
		</dict>
		<key>Custom_counts-di3bo.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,191},{198,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,61}}</string>
			<key>sourceSize</key>
			<string>{198,61}</string>
		</dict>
		<key>Custom_counts-di4bo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,191},{198,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,61}}</string>
			<key>sourceSize</key>
			<string>{198,61}</string>
		</dict>
		<key>Custom_counts-di5bo.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,128},{198,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,61}}</string>
			<key>sourceSize</key>
			<string>{198,61}</string>
		</dict>
		<key>Custom_counts-di6bo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,128},{198,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,61}}</string>
			<key>sourceSize</key>
			<string>{198,61}</string>
		</dict>
		<key>Custom_counts-di7bo.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,65},{198,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,61}}</string>
			<key>sourceSize</key>
			<string>{198,61}</string>
		</dict>
		<key>Custom_counts-di8bo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,65},{198,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,61}}</string>
			<key>sourceSize</key>
			<string>{198,61}</string>
		</dict>
		<key>Custom_counts-di9bo.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,2},{198,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,61}}</string>
			<key>sourceSize</key>
			<string>{198,61}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Custom_counts.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e078976116aae123ee32497480fb6564$</string>
		<key>textureFileName</key>
		<string>Custom_counts.png</string>
	</dict>
</dict>
</plist>
