<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>DailySchedule_boxlight-888.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,15},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>DailySchedule_boxlight-888ex.png</key>
		<dict>
			<key>frame</key>
			<string>{{16,2},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>DailySchedule_boxlight-888zizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>DailySchedule_boxlight-shuidizhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{16,15},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>DailySchedule_boxlight.png</string>
		<key>size</key>
		<string>{32,32}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6b30082e92e3bd468f49e5d8fe46482d$</string>
		<key>textureFileName</key>
		<string>DailySchedule_boxlight.png</string>
	</dict>
</dict>
</plist>
