<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Debuff_zhuoshao-liehuo 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{122,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,86}}</string>
			<key>sourceSize</key>
			<string>{122,86}</string>
		</dict>
		<key>Debuff_zhuoshao-liehuo 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,86},{121,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,88}}</string>
			<key>sourceSize</key>
			<string>{121,88}</string>
		</dict>
		<key>Debuff_zhuoshao-liehuo 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,2},{122,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,82}}</string>
			<key>sourceSize</key>
			<string>{122,82}</string>
		</dict>
		<key>Debuff_zhuoshao-liehuo 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,90},{113,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,70}}</string>
			<key>sourceSize</key>
			<string>{113,70}</string>
		</dict>
		<key>Debuff_zhuoshao-liehuo 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,162},{110,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,71}}</string>
			<key>sourceSize</key>
			<string>{110,71}</string>
		</dict>
		<key>Debuff_zhuoshao-liehuo 6.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,176},{100,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,69}}</string>
			<key>sourceSize</key>
			<string>{100,69}</string>
		</dict>
		<key>Debuff_zhuoshao-liehuo 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,235},{97,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,66}}</string>
			<key>sourceSize</key>
			<string>{97,66}</string>
		</dict>
		<key>Debuff_zhuoshao-liehuo 8.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,247},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>Debuff_zhuoshao-liehuo 9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,303},{86,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,60}}</string>
			<key>sourceSize</key>
			<string>{86,60}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Debuff_zhuoshao.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:72150ee794520565f3857f106296cdf2$</string>
		<key>textureFileName</key>
		<string>Debuff_zhuoshao.png</string>
	</dict>
</dict>
</plist>
