<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>DiceGame_dice-huxulie1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,65},{76,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,62}}</string>
			<key>sourceSize</key>
			<string>{76,62}</string>
		</dict>
		<key>DiceGame_dice-huxulie2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{77,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,61}}</string>
			<key>sourceSize</key>
			<string>{77,61}</string>
		</dict>
		<key>DiceGame_dice-huxulie3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,190},{74,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,62}}</string>
			<key>sourceSize</key>
			<string>{74,62}</string>
		</dict>
		<key>DiceGame_dice-huxulie4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,129},{76,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,59}}</string>
			<key>sourceSize</key>
			<string>{76,59}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>DiceGame_dice.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1a779679dafc7f2c02afea10f4eeeec2$</string>
		<key>textureFileName</key>
		<string>DiceGame_dice.png</string>
	</dict>
</dict>
</plist>
