<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>djsbossguangx-chen-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,355},{73,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,39}}</string>
			<key>sourceSize</key>
			<string>{73,39}</string>
		</dict>
		<key>djsbossguangx-chen-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,355},{77,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,41}}</string>
			<key>sourceSize</key>
			<string>{77,41}</string>
		</dict>
		<key>djsbossguangx-chen-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,355},{82,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,42}}</string>
			<key>sourceSize</key>
			<string>{82,42}</string>
		</dict>
		<key>djsbossguangx-chen-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,165},{86,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,41}}</string>
			<key>sourceSize</key>
			<string>{86,41}</string>
		</dict>
		<key>djsbossguangx-gx-q-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{198,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,76}}</string>
			<key>sourceSize</key>
			<string>{198,76}</string>
		</dict>
		<key>djsbossguangx-gx-q-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,80},{197,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,77}}</string>
			<key>sourceSize</key>
			<string>{197,77}</string>
		</dict>
		<key>djsbossguangx-gx-q-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,81},{196,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,82}}</string>
			<key>sourceSize</key>
			<string>{196,82}</string>
		</dict>
		<key>djsbossguangx-gx-q-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,159},{195,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,82}}</string>
			<key>sourceSize</key>
			<string>{195,82}</string>
		</dict>
		<key>djsbossguangx-gx-q-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,2},{197,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,77}}</string>
			<key>sourceSize</key>
			<string>{197,77}</string>
		</dict>
		<key>djsbossguangx-js-1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,439},{69,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,50}}</string>
			<key>sourceSize</key>
			<string>{69,50}</string>
		</dict>
		<key>djsbossguangx-js-1-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,242},{111,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,91}}</string>
			<key>sourceSize</key>
			<string>{111,91}</string>
		</dict>
		<key>djsbossguangx-js-2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,355},{68,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,46}}</string>
			<key>sourceSize</key>
			<string>{68,46}</string>
		</dict>
		<key>djsbossguangx-js-3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,299},{66,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,52}}</string>
			<key>sourceSize</key>
			<string>{66,52}</string>
		</dict>
		<key>djsbossguangx-js-3-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,299},{65,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,51}}</string>
			<key>sourceSize</key>
			<string>{65,51}</string>
		</dict>
		<key>djsbossguangx-js-3-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,165},{112,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,92}}</string>
			<key>sourceSize</key>
			<string>{112,92}</string>
		</dict>
		<key>djsbossguangx-js-4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,434},{76,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,52}}</string>
			<key>sourceSize</key>
			<string>{76,52}</string>
		</dict>
		<key>djsbossguangx-js-4-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,208},{85,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,58}}</string>
			<key>sourceSize</key>
			<string>{85,58}</string>
		</dict>
		<key>djsbossguangx-js-4-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,65},{111,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,94}}</string>
			<key>sourceSize</key>
			<string>{111,94}</string>
		</dict>
		<key>djsbossguangx-js-5-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,430},{68,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,55}}</string>
			<key>sourceSize</key>
			<string>{68,55}</string>
		</dict>
		<key>djsbossguangx-js-5-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,243},{58,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,47}}</string>
			<key>sourceSize</key>
			<string>{58,47}</string>
		</dict>
		<key>djsbossguangx-js-5-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,2},{102,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,61}}</string>
			<key>sourceSize</key>
			<string>{102,61}</string>
		</dict>
		<key>djsbossguangx-js-6-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,243},{67,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,54}}</string>
			<key>sourceSize</key>
			<string>{67,54}</string>
		</dict>
		<key>djsbossguangx-js-6-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,243},{66,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,48}}</string>
			<key>sourceSize</key>
			<string>{66,48}</string>
		</dict>
		<key>djsbossguangx-js-6-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,178},{92,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,62}}</string>
			<key>sourceSize</key>
			<string>{92,62}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>djsbossguangx.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:be8e5f1d097ecd7561b83b63eec69eda$</string>
		<key>textureFileName</key>
		<string>djsbossguangx.png</string>
	</dict>
</dict>
</plist>
