<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Enchants_fire-BSHq1.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,261},{52,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,124}}</string>
			<key>sourceSize</key>
			<string>{52,124}</string>
		</dict>
		<key>Enchants_fire-BSHq10.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,272},{55,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,126}}</string>
			<key>sourceSize</key>
			<string>{55,126}</string>
		</dict>
		<key>Enchants_fire-BSHq11.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,139},{58,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,131}}</string>
			<key>sourceSize</key>
			<string>{58,131}</string>
		</dict>
		<key>Enchants_fire-BSHq12.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,142},{59,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,135}}</string>
			<key>sourceSize</key>
			<string>{59,135}</string>
		</dict>
		<key>Enchants_fire-BSHq13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,147},{55,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,141}}</string>
			<key>sourceSize</key>
			<string>{55,141}</string>
		</dict>
		<key>Enchants_fire-BSHq14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,290},{52,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,141}}</string>
			<key>sourceSize</key>
			<string>{52,141}</string>
		</dict>
		<key>Enchants_fire-BSHq15.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,279},{53,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,135}}</string>
			<key>sourceSize</key>
			<string>{53,135}</string>
		</dict>
		<key>Enchants_fire-BSHq16.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,2},{53,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,124}}</string>
			<key>sourceSize</key>
			<string>{53,124}</string>
		</dict>
		<key>Enchants_fire-BSHq2.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,2},{59,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,130}}</string>
			<key>sourceSize</key>
			<string>{59,130}</string>
		</dict>
		<key>Enchants_fire-BSHq3.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,282},{61,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,135}}</string>
			<key>sourceSize</key>
			<string>{61,135}</string>
		</dict>
		<key>Enchants_fire-BSHq4.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,2},{62,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,138}}</string>
			<key>sourceSize</key>
			<string>{62,138}</string>
		</dict>
		<key>Enchants_fire-BSHq5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{55,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,143}}</string>
			<key>sourceSize</key>
			<string>{55,143}</string>
		</dict>
		<key>Enchants_fire-BSHq6.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,290},{52,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,140}}</string>
			<key>sourceSize</key>
			<string>{52,140}</string>
		</dict>
		<key>Enchants_fire-BSHq7.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,142},{52,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,138}}</string>
			<key>sourceSize</key>
			<string>{52,138}</string>
		</dict>
		<key>Enchants_fire-BSHq8.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,2},{54,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,135}}</string>
			<key>sourceSize</key>
			<string>{54,135}</string>
		</dict>
		<key>Enchants_fire-BSHq9.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,134},{52,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,125}}</string>
			<key>sourceSize</key>
			<string>{52,125}</string>
		</dict>
		<key>Enchants_fire-liziziziziziq.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,433},{16,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,15}}</string>
			<key>sourceSize</key>
			<string>{16,15}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Enchants_fire.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5ad2211a1196cb52c4aba7a9b138b0d4$</string>
		<key>textureFileName</key>
		<string>Enchants_fire.png</string>
	</dict>
</dict>
</plist>
