<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Enchant_lvlup-JYSG1.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,140},{54,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,22}}</string>
			<key>sourceSize</key>
			<string>{54,22}</string>
		</dict>
		<key>Enchant_lvlup-JYSG10.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,61},{63,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,19}}</string>
			<key>sourceSize</key>
			<string>{63,19}</string>
		</dict>
		<key>Enchant_lvlup-JYSG11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,141},{51,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,16}}</string>
			<key>sourceSize</key>
			<string>{51,16}</string>
		</dict>
		<key>Enchant_lvlup-JYSG12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,159},{38,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,15}}</string>
			<key>sourceSize</key>
			<string>{38,15}</string>
		</dict>
		<key>Enchant_lvlup-JYSG2.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,114},{61,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,30}}</string>
			<key>sourceSize</key>
			<string>{61,30}</string>
		</dict>
		<key>Enchant_lvlup-JYSG3.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,2},{71,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,31}}</string>
			<key>sourceSize</key>
			<string>{71,31}</string>
		</dict>
		<key>Enchant_lvlup-JYSG4.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,82},{81,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,30}}</string>
			<key>sourceSize</key>
			<string>{81,30}</string>
		</dict>
		<key>Enchant_lvlup-JYSG5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,78},{82,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,32}}</string>
			<key>sourceSize</key>
			<string>{82,32}</string>
		</dict>
		<key>Enchant_lvlup-JYSG6.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,78},{81,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,31}}</string>
			<key>sourceSize</key>
			<string>{81,31}</string>
		</dict>
		<key>Enchant_lvlup-JYSG7.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,111},{79,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,27}}</string>
			<key>sourceSize</key>
			<string>{79,27}</string>
		</dict>
		<key>Enchant_lvlup-JYSG8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,112},{75,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,27}}</string>
			<key>sourceSize</key>
			<string>{75,27}</string>
		</dict>
		<key>Enchant_lvlup-JYSG9.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,35},{70,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,24}}</string>
			<key>sourceSize</key>
			<string>{70,24}</string>
		</dict>
		<key>Enchant_lvlup-guangyunlv.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{179,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,74}}</string>
			<key>sourceSize</key>
			<string>{179,74}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Enchant_lvlup.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7b733d43f1cdfacb8656982e0b34c996$</string>
		<key>textureFileName</key>
		<string>Enchant_lvlup.png</string>
	</dict>
</dict>
</plist>
