<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Enchants_lightning-888zizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,101},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Enchants_lightning-bileidian 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,35},{44,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,36}}</string>
			<key>sourceSize</key>
			<string>{44,36}</string>
		</dict>
		<key>Enchants_lightning-bileidian 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,72},{39,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,29}}</string>
			<key>sourceSize</key>
			<string>{39,29}</string>
		</dict>
		<key>Enchants_lightning-bileidian 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,103},{34,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,29}}</string>
			<key>sourceSize</key>
			<string>{34,29}</string>
		</dict>
		<key>Enchants_lightning-bileidian 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,141},{23,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,34}}</string>
			<key>sourceSize</key>
			<string>{23,34}</string>
		</dict>
		<key>Enchants_lightning-bileidian 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,103},{25,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,36}}</string>
			<key>sourceSize</key>
			<string>{25,36}</string>
		</dict>
		<key>Enchants_lightning-bileidian 6.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,53},{19,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,33}}</string>
			<key>sourceSize</key>
			<string>{19,33}</string>
		</dict>
		<key>Enchants_lightning-leidian1.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,37},{21,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,14}}</string>
			<key>sourceSize</key>
			<string>{21,14}</string>
		</dict>
		<key>Enchants_lightning-leidian2.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,73},{36,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,33}}</string>
			<key>sourceSize</key>
			<string>{36,33}</string>
		</dict>
		<key>Enchants_lightning-leidian3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,37},{42,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,33}}</string>
			<key>sourceSize</key>
			<string>{42,33}</string>
		</dict>
		<key>Enchants_lightning-leidian4.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,2},{56,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,31}}</string>
			<key>sourceSize</key>
			<string>{56,31}</string>
		</dict>
		<key>Enchants_lightning-leidian5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{66,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,33}}</string>
			<key>sourceSize</key>
			<string>{66,33}</string>
		</dict>
		<key>Enchants_lightning-leidian6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,134},{33,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,34}}</string>
			<key>sourceSize</key>
			<string>{33,34}</string>
		</dict>
		<key>Enchants_lightning-leidian7.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,108},{28,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,34}}</string>
			<key>sourceSize</key>
			<string>{28,34}</string>
		</dict>
		<key>Enchants_lightning-leidian8.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,73},{19,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,26}}</string>
			<key>sourceSize</key>
			<string>{19,26}</string>
		</dict>
		<key>Enchants_lightning-liziziziziziq2.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,35},{3,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,3}}</string>
			<key>sourceSize</key>
			<string>{3,3}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Enchants_lightning.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9759720ebb6ea124bc2c2ba9ddfcc467$</string>
		<key>textureFileName</key>
		<string>Enchants_lightning.png</string>
	</dict>
</dict>
</plist>
