<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>EndStarAnimatiom-guanggaaa1.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,228},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>EndStarAnimatiom-guanggaaa11.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,125},{92,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,99}}</string>
			<key>sourceSize</key>
			<string>{92,99}</string>
		</dict>
		<key>EndStarAnimatiom-guanggaaa13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,199},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>EndStarAnimatiom-guanggaaa15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,289},{77,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,73}}</string>
			<key>sourceSize</key>
			<string>{77,73}</string>
		</dict>
		<key>EndStarAnimatiom-guanggaaa17.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,289},{51,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,47}}</string>
			<key>sourceSize</key>
			<string>{51,47}</string>
		</dict>
		<key>EndStarAnimatiom-guanggaaa19.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,199},{36,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,27}}</string>
			<key>sourceSize</key>
			<string>{36,27}</string>
		</dict>
		<key>EndStarAnimatiom-guanggaaa3.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,219},{85,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,86}}</string>
			<key>sourceSize</key>
			<string>{85,86}</string>
		</dict>
		<key>EndStarAnimatiom-guanggaaa5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{131,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,87}}</string>
			<key>sourceSize</key>
			<string>{131,87}</string>
		</dict>
		<key>EndStarAnimatiom-guanggaaa7.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,2},{121,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,113}}</string>
			<key>sourceSize</key>
			<string>{121,113}</string>
		</dict>
		<key>EndStarAnimatiom-guanggaaa9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,91},{111,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,106}}</string>
			<key>sourceSize</key>
			<string>{111,106}</string>
		</dict>
		<key>EndStarAnimatiom-i9ft67i961.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,114},{16,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,22}}</string>
			<key>sourceSize</key>
			<string>{16,22}</string>
		</dict>
		<key>EndStarAnimatiom-i9ft67i962.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,256},{23,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,21}}</string>
			<key>sourceSize</key>
			<string>{23,21}</string>
		</dict>
		<key>EndStarAnimatiom-i9ft67i963.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,91},{21,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,17}}</string>
			<key>sourceSize</key>
			<string>{21,17}</string>
		</dict>
		<key>EndStarAnimatiom-i9ft67i964.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,138},{16,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,14}}</string>
			<key>sourceSize</key>
			<string>{16,14}</string>
		</dict>
		<key>EndStarAnimatiom-i9ft67i965.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,154},{15,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,11}}</string>
			<key>sourceSize</key>
			<string>{15,11}</string>
		</dict>
		<key>EndStarAnimatiom-jiesuanxingxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,306},{54,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,55}}</string>
			<key>sourceSize</key>
			<string>{54,55}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>EndStar.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4e732991e8ddfe2d930b392891e30cb3$</string>
		<key>textureFileName</key>
		<string>EndStar.png</string>
	</dict>
</dict>
</plist>
