<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fashi_nan_fashion_5-dgaga.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,342},{14,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,11}}</string>
			<key>sourceSize</key>
			<string>{14,11}</string>
		</dict>
		<key>fashi_nan_fashion_5-fs2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,2},{94,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,108}}</string>
			<key>sourceSize</key>
			<string>{94,108}</string>
		</dict>
		<key>fashi_nan_fashion_5-fs2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,112},{94,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,102}}</string>
			<key>sourceSize</key>
			<string>{94,102}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-1a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,121},{44,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,42}}</string>
			<key>sourceSize</key>
			<string>{44,42}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-1b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,303},{56,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,50}}</string>
			<key>sourceSize</key>
			<string>{56,50}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-2a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,447},{19,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,29}}</string>
			<key>sourceSize</key>
			<string>{19,29}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-2a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,389},{28,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,14}}</string>
			<key>sourceSize</key>
			<string>{28,14}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-2a-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,260},{9,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,21}}</string>
			<key>sourceSize</key>
			<string>{9,21}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-2a1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,273},{12,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,24}}</string>
			<key>sourceSize</key>
			<string>{12,24}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-2a1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,366},{11,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,22}}</string>
			<key>sourceSize</key>
			<string>{11,22}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-41a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,342},{11,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,11}}</string>
			<key>sourceSize</key>
			<string>{11,11}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-41a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,168},{14,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,18}}</string>
			<key>sourceSize</key>
			<string>{14,18}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-41a-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,167},{12,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,17}}</string>
			<key>sourceSize</key>
			<string>{12,17}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-41a-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,299},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-48.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,168},{12,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,19}}</string>
			<key>sourceSize</key>
			<string>{12,19}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-5a-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,313},{11,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,26}}</string>
			<key>sourceSize</key>
			<string>{11,26}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-5b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,158},{13,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,26}}</string>
			<key>sourceSize</key>
			<string>{13,26}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-6a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,245},{12,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,26}}</string>
			<key>sourceSize</key>
			<string>{12,26}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-6b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,211},{10,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,27}}</string>
			<key>sourceSize</key>
			<string>{10,27}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-71a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,168},{18,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,18}}</string>
			<key>sourceSize</key>
			<string>{18,18}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-71b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,430},{24,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,15}}</string>
			<key>sourceSize</key>
			<string>{24,15}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-71b-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,412},{25,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,16}}</string>
			<key>sourceSize</key>
			<string>{25,16}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-81a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,115},{20,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,35}}</string>
			<key>sourceSize</key>
			<string>{20,35}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-81b-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,115},{21,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,34}}</string>
			<key>sourceSize</key>
			<string>{21,34}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-81b-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,447},{19,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,34}}</string>
			<key>sourceSize</key>
			<string>{19,34}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-91a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,216},{12,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,27}}</string>
			<key>sourceSize</key>
			<string>{12,27}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-bf-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,121},{34,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,35}}</string>
			<key>sourceSize</key>
			<string>{34,35}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-gj01 a  2.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,2},{74,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,117}}</string>
			<key>sourceSize</key>
			<string>{74,117}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-gj01 a  3.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,216},{87,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,109}}</string>
			<key>sourceSize</key>
			<string>{87,109}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-gj01 a  4.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,2},{99,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,111}}</string>
			<key>sourceSize</key>
			<string>{99,111}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-gj01 a  5.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,186},{105,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,115}}</string>
			<key>sourceSize</key>
			<string>{105,115}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-gj01 a.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,364},{78,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,134}}</string>
			<key>sourceSize</key>
			<string>{78,134}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-ld-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,385},{16,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,21}}</string>
			<key>sourceSize</key>
			<string>{16,21}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-mz-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,152},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-mz-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,291},{46,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,31}}</string>
			<key>sourceSize</key>
			<string>{46,31}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-nan0nshou.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,283},{21,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,15}}</string>
			<key>sourceSize</key>
			<string>{21,15}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-pf2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,240},{10,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,23}}</string>
			<key>sourceSize</key>
			<string>{10,23}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-pfa-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,478},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-qiantou 01.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,365},{11,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,12}}</string>
			<key>sourceSize</key>
			<string>{11,12}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-sb yixiu 3 .png</key>
		<dict>
			<key>frame</key>
			<string>{{212,167},{14,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,17}}</string>
			<key>sourceSize</key>
			<string>{14,17}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-sb yixiu daf.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,167},{14,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,17}}</string>
			<key>sourceSize</key>
			<string>{14,17}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-sb yixiu2.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,132},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-shou fa.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,351},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-sy-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,434},{20,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,15}}</string>
			<key>sourceSize</key>
			<string>{20,15}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-tf4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,115},{28,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,34}}</string>
			<key>sourceSize</key>
			<string>{28,34}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-yj-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,342},{10,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,11}}</string>
			<key>sourceSize</key>
			<string>{10,11}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-zb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{17,505},{3,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,1}}</string>
			<key>sourceSize</key>
			<string>{3,1}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-zb-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{11,505},{4,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,2}}</string>
			<key>sourceSize</key>
			<string>{4,2}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-zb-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{11,509},{4,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,1}}</string>
			<key>sourceSize</key>
			<string>{4,1}</string>
		</dict>
		<key>fashi_nan_fashion_5-fsn3-zb-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{11,500},{5,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,3}}</string>
			<key>sourceSize</key>
			<string>{5,3}</string>
		</dict>
		<key>fashi_nan_fashion_5-hnjbhv .png</key>
		<dict>
			<key>frame</key>
			<string>{{389,115},{17,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,15}}</string>
			<key>sourceSize</key>
			<string>{17,15}</string>
		</dict>
		<key>fashi_nan_fashion_5-nanfas-jiankui2.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,483},{19,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,22}}</string>
			<key>sourceSize</key>
			<string>{19,22}</string>
		</dict>
		<key>fashi_nan_fashion_5-nanfas-pif.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,314},{20,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,54}}</string>
			<key>sourceSize</key>
			<string>{20,54}</string>
		</dict>
		<key>fashi_nan_fashion_5-piaodai.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,168},{60,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,17}}</string>
			<key>sourceSize</key>
			<string>{60,17}</string>
		</dict>
		<key>fashi_nan_fashion_5-piaodai1.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,186},{60,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,23}}</string>
			<key>sourceSize</key>
			<string>{60,23}</string>
		</dict>
		<key>fashi_nan_fashion_5-piaodai2.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,211},{58,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,29}}</string>
			<key>sourceSize</key>
			<string>{58,29}</string>
		</dict>
		<key>fashi_nan_fashion_5-piaodai3.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,242},{57,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,16}}</string>
			<key>sourceSize</key>
			<string>{57,16}</string>
		</dict>
		<key>fashi_nan_fashion_5-qun.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,334},{39,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,29}}</string>
			<key>sourceSize</key>
			<string>{39,29}</string>
		</dict>
		<key>fashi_nan_fashion_5-qun1.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,405},{26,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,27}}</string>
			<key>sourceSize</key>
			<string>{26,27}</string>
		</dict>
		<key>fashi_nan_fashion_5-qun2.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,385},{33,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,28}}</string>
			<key>sourceSize</key>
			<string>{33,28}</string>
		</dict>
		<key>fashi_nan_fashion_5-qun3.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,381},{33,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,29}}</string>
			<key>sourceSize</key>
			<string>{33,29}</string>
		</dict>
		<key>fashi_nan_fashion_5-qun4.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,351},{37,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,32}}</string>
			<key>sourceSize</key>
			<string>{37,32}</string>
		</dict>
		<key>fashi_nan_fashion_5-r_dabi.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,151},{28,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,33}}</string>
			<key>sourceSize</key>
			<string>{28,33}</string>
		</dict>
		<key>fashi_nan_fashion_5-r_yan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,500},{7,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,8}}</string>
			<key>sourceSize</key>
			<string>{7,8}</string>
		</dict>
		<key>fashi_nan_fashion_5-sprite 4733.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,300},{21,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,12}}</string>
			<key>sourceSize</key>
			<string>{21,12}</string>
		</dict>
		<key>fashi_nan_fashion_5-sprite 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,303},{45,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,29}}</string>
			<key>sourceSize</key>
			<string>{45,29}</string>
		</dict>
		<key>fashi_nan_fashion_5-sprite2.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,355},{38,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,24}}</string>
			<key>sourceSize</key>
			<string>{38,24}</string>
		</dict>
		<key>fashi_nan_fashion_5-sprite3.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,365},{35,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,22}}</string>
			<key>sourceSize</key>
			<string>{35,22}</string>
		</dict>
		<key>fashi_nan_fashion_5-sprite4.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,324},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>fashi_nan_fashion_5-sprite6.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,260},{47,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,29}}</string>
			<key>sourceSize</key>
			<string>{47,29}</string>
		</dict>
		<key>fashi_nan_fashion_5-weapon-blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,355},{76,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,153}}</string>
			<key>sourceSize</key>
			<string>{76,153}</string>
		</dict>
		<key>fashi_nan_fashion_5-weapon-darkgold.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,189},{70,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,173}}</string>
			<key>sourceSize</key>
			<string>{70,173}</string>
		</dict>
		<key>fashi_nan_fashion_5-weapon-eighty.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{80,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,185}}</string>
			<key>sourceSize</key>
			<string>{80,185}</string>
		</dict>
		<key>fashi_nan_fashion_5-weapon-gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,2},{77,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,163}}</string>
			<key>sourceSize</key>
			<string>{77,163}</string>
		</dict>
		<key>fashi_nan_fashion_5-weapon-green.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,355},{76,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,154}}</string>
			<key>sourceSize</key>
			<string>{76,154}</string>
		</dict>
		<key>fashi_nan_fashion_5-weapon-pink.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,189},{76,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,164}}</string>
			<key>sourceSize</key>
			<string>{76,164}</string>
		</dict>
		<key>fashi_nan_fashion_5-weapon-purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,187},{76,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,153}}</string>
			<key>sourceSize</key>
			<string>{76,153}</string>
		</dict>
		<key>fashi_nan_fashion_5-weapon-whitegold.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,2},{67,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,164}}</string>
			<key>sourceSize</key>
			<string>{67,164}</string>
		</dict>
		<key>fashi_nan_fashion_5-yz1.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,165},{68,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,16}}</string>
			<key>sourceSize</key>
			<string>{68,16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fashi-nan_fashion_5.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0f9908d5a2b332da3e2811bdf963e353$</string>
		<key>textureFileName</key>
		<string>fashi-nan_fashion_5.png</string>
	</dict>
</dict>
</plist>
