<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>FlyingSkill_firebird-888.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,183},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>FlyingSkill_firebird-ea006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,180},{244,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,179}}</string>
			<key>sourceSize</key>
			<string>{244,179}</string>
		</dict>
		<key>FlyingSkill_firebird-ea007.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,2},{249,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,179}}</string>
			<key>sourceSize</key>
			<string>{249,179}</string>
		</dict>
		<key>FlyingSkill_firebird-ea008.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{256,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,176}}</string>
			<key>sourceSize</key>
			<string>{256,176}</string>
		</dict>
		<key>FlyingSkill_firebird-ea009.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,361},{228,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,187}}</string>
			<key>sourceSize</key>
			<string>{228,187}</string>
		</dict>
		<key>FlyingSkill_firebird-ea010.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,183},{240,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,182}}</string>
			<key>sourceSize</key>
			<string>{240,182}</string>
		</dict>
		<key>FlyingSkill_firebird-ea011.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,367},{227,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,180}}</string>
			<key>sourceSize</key>
			<string>{227,180}</string>
		</dict>
		<key>FlyingSkill_firebird-k679.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,549},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FlyingSkill-firebird.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:962da3573c04784792fd803c43b67e3c$</string>
		<key>textureFileName</key>
		<string>FlyingSkill-firebird.png</string>
	</dict>
</dict>
</plist>
