<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Function_open-888.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,242},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Function_open-huiguang 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,50},{30,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,66}}</string>
			<key>sourceSize</key>
			<string>{30,66}</string>
		</dict>
		<key>Function_open-huiguang 11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,142},{53,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,68}}</string>
			<key>sourceSize</key>
			<string>{53,68}</string>
		</dict>
		<key>Function_open-huiguang 13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,72},{57,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,68}}</string>
			<key>sourceSize</key>
			<string>{57,68}</string>
		</dict>
		<key>Function_open-huiguang 16.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{60,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,68}}</string>
			<key>sourceSize</key>
			<string>{60,68}</string>
		</dict>
		<key>Function_open-huiguang 18.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,60},{62,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,62}}</string>
			<key>sourceSize</key>
			<string>{62,62}</string>
		</dict>
		<key>Function_open-huiguang 20.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,2},{63,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,56}}</string>
			<key>sourceSize</key>
			<string>{63,56}</string>
		</dict>
		<key>Function_open-huiguang 22.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,179},{57,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,49}}</string>
			<key>sourceSize</key>
			<string>{57,49}</string>
		</dict>
		<key>Function_open-huiguang 24.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,124},{52,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,53}}</string>
			<key>sourceSize</key>
			<string>{52,53}</string>
		</dict>
		<key>Function_open-huiguang 26.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,2},{43,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,46}}</string>
			<key>sourceSize</key>
			<string>{43,46}</string>
		</dict>
		<key>Function_open-huiguang 28.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,212},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>Function_open-huiguang 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,2},{32,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,66}}</string>
			<key>sourceSize</key>
			<string>{32,66}</string>
		</dict>
		<key>Function_open-huiguang 30.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,212},{36,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,39}}</string>
			<key>sourceSize</key>
			<string>{36,39}</string>
		</dict>
		<key>Function_open-huiguang 32.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,210},{25,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,30}}</string>
			<key>sourceSize</key>
			<string>{25,30}</string>
		</dict>
		<key>Function_open-huiguang 36.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,210},{20,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,23}}</string>
			<key>sourceSize</key>
			<string>{20,23}</string>
		</dict>
		<key>Function_open-huiguang 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,2},{42,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,66}}</string>
			<key>sourceSize</key>
			<string>{42,66}</string>
		</dict>
		<key>Function_open-huiguang 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,72},{47,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,66}}</string>
			<key>sourceSize</key>
			<string>{47,66}</string>
		</dict>
		<key>Function_open-huiguang 9.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,142},{51,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,66}}</string>
			<key>sourceSize</key>
			<string>{51,66}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Function_open.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6a34c14a471baf7104d587e1c645fe8e$</string>
		<key>textureFileName</key>
		<string>Function_open.png</string>
	</dict>
</dict>
</plist>
