<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>FunnyToy_petShow-888.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,28},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>FunnyToy_petShow-888ex.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,15},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>FunnyToy_petShow-888zizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,2},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>FunnyToy_petShow-NDB1.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,2},{88,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,48}}</string>
			<key>sourceSize</key>
			<string>{88,48}</string>
		</dict>
		<key>FunnyToy_petShow-NDB10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,79},{200,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,75}}</string>
			<key>sourceSize</key>
			<string>{200,75}</string>
		</dict>
		<key>FunnyToy_petShow-NDB11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,310},{176,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,75}}</string>
			<key>sourceSize</key>
			<string>{176,75}</string>
		</dict>
		<key>FunnyToy_petShow-NDB12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,387},{172,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,75}}</string>
			<key>sourceSize</key>
			<string>{172,75}</string>
		</dict>
		<key>FunnyToy_petShow-NDB13.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,2},{200,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,75}}</string>
			<key>sourceSize</key>
			<string>{200,75}</string>
		</dict>
		<key>FunnyToy_petShow-NDB14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{200,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,75}}</string>
			<key>sourceSize</key>
			<string>{200,75}</string>
		</dict>
		<key>FunnyToy_petShow-NDB15.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,233},{152,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,75}}</string>
			<key>sourceSize</key>
			<string>{152,75}</string>
		</dict>
		<key>FunnyToy_petShow-NDB2.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,310},{160,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,75}}</string>
			<key>sourceSize</key>
			<string>{160,75}</string>
		</dict>
		<key>FunnyToy_petShow-NDB3.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,233},{162,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,75}}</string>
			<key>sourceSize</key>
			<string>{162,75}</string>
		</dict>
		<key>FunnyToy_petShow-NDB4.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,310},{162,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,75}}</string>
			<key>sourceSize</key>
			<string>{162,75}</string>
		</dict>
		<key>FunnyToy_petShow-NDB5.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,156},{180,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,75}}</string>
			<key>sourceSize</key>
			<string>{180,75}</string>
		</dict>
		<key>FunnyToy_petShow-NDB6.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,387},{168,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,75}}</string>
			<key>sourceSize</key>
			<string>{168,75}</string>
		</dict>
		<key>FunnyToy_petShow-NDB7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,233},{178,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,75}}</string>
			<key>sourceSize</key>
			<string>{178,75}</string>
		</dict>
		<key>FunnyToy_petShow-NDB8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,156},{182,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,75}}</string>
			<key>sourceSize</key>
			<string>{182,75}</string>
		</dict>
		<key>FunnyToy_petShow-NDB9.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,79},{192,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,75}}</string>
			<key>sourceSize</key>
			<string>{192,75}</string>
		</dict>
		<key>FunnyToy_petShow-shuidizhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,41},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FunnyToy_petShow.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8c9eb0975dae99211fcbd155bf82b56f$</string>
		<key>textureFileName</key>
		<string>FunnyToy_petShow.png</string>
	</dict>
</dict>
</plist>
