<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>getatk_last-llelel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{12,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,13}}</string>
			<key>sourceSize</key>
			<string>{12,13}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>getatk_last.png</string>
		<key>size</key>
		<string>{16,32}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c789456cc5f2b8034ec80eb3cec1497d$</string>
		<key>textureFileName</key>
		<string>getatk_last.png</string>
	</dict>
</dict>
</plist>
