<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GetGoods_DiceGame-guangbeijing.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{120,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,167}}</string>
			<key>sourceSize</key>
			<string>{120,167}</string>
		</dict>
		<key>GetGoods_DiceGame-weili.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,171},{15,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,15}}</string>
			<key>sourceSize</key>
			<string>{15,15}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>GetGoods_DiceGame.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b2cb9b540e905094d6a057d03ddcab64$</string>
		<key>textureFileName</key>
		<string>GetGoods_DiceGame.png</string>
	</dict>
</dict>
</plist>
