<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Guild_basebuild.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,2},{186,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,262}}</string>
			<key>sourceSize</key>
			<string>{186,262}</string>
		</dict>
		<key>Guild_shopbuild.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,266},{186,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,262}}</string>
			<key>sourceSize</key>
			<string>{186,262}</string>
		</dict>
		<key>Guild_skillbuild.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{186,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,262}}</string>
			<key>sourceSize</key>
			<string>{186,262}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>GuildUI.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5156b0d602014899779120623e3c1ab7$</string>
		<key>textureFileName</key>
		<string>GuildUI.png</string>
	</dict>
</dict>
</plist>
