<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jianshijiansu-shape3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{93,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,85}}</string>
			<key>sourceSize</key>
			<string>{93,85}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jianshijiansu-light.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1faab48f6399438a9a8968ddd12f1fa4$</string>
		<key>textureFileName</key>
		<string>jianshijiansu-light.png</string>
	</dict>
</dict>
</plist>
