<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jinglong_skill-DWe2.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,661},{187,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,195}}</string>
			<key>sourceSize</key>
			<string>{187,195}</string>
		</dict>
		<key>jinglong_skill-DWe3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,680},{207,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,207}}</string>
			<key>sourceSize</key>
			<string>{207,207}</string>
		</dict>
		<key>jinglong_skill-DWe4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,235},{217,222}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,222}}</string>
			<key>sourceSize</key>
			<string>{217,222}</string>
		</dict>
		<key>jinglong_skill-DWe5.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,435},{196,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,184}}</string>
			<key>sourceSize</key>
			<string>{196,184}</string>
		</dict>
		<key>jinglong_skill-DWe6.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,459},{198,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,200}}</string>
			<key>sourceSize</key>
			<string>{198,200}</string>
		</dict>
		<key>jinglong_skill-DWei1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{226,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,231}}</string>
			<key>sourceSize</key>
			<string>{226,231}</string>
		</dict>
		<key>jinglong_skill-Dbao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,2},{137,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,96}}</string>
			<key>sourceSize</key>
			<string>{137,96}</string>
		</dict>
		<key>jinglong_skill-Dbao10.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,177},{141,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,70}}</string>
			<key>sourceSize</key>
			<string>{141,70}</string>
		</dict>
		<key>jinglong_skill-Dbao11.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,320},{141,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,67}}</string>
			<key>sourceSize</key>
			<string>{141,67}</string>
		</dict>
		<key>jinglong_skill-Dbao12.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,338},{141,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,65}}</string>
			<key>sourceSize</key>
			<string>{141,65}</string>
		</dict>
		<key>jinglong_skill-Dbao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,2},{141,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,95}}</string>
			<key>sourceSize</key>
			<string>{141,95}</string>
		</dict>
		<key>jinglong_skill-Dbao3.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,339},{141,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,91}}</string>
			<key>sourceSize</key>
			<string>{141,91}</string>
		</dict>
		<key>jinglong_skill-Dbao4.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,99},{141,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,76}}</string>
			<key>sourceSize</key>
			<string>{141,76}</string>
		</dict>
		<key>jinglong_skill-Dbao5.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,162},{141,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,70}}</string>
			<key>sourceSize</key>
			<string>{141,70}</string>
		</dict>
		<key>jinglong_skill-Dbao6.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,162},{141,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,71}}</string>
			<key>sourceSize</key>
			<string>{141,71}</string>
		</dict>
		<key>jinglong_skill-Dbao7.png</key>
		<dict>
			<key>frame</key>
			<string>{{662,267},{141,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,69}}</string>
			<key>sourceSize</key>
			<string>{141,69}</string>
		</dict>
		<key>jinglong_skill-Dbao8.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,162},{141,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,70}}</string>
			<key>sourceSize</key>
			<string>{141,70}</string>
		</dict>
		<key>jinglong_skill-Dbao9.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,249},{141,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,69}}</string>
			<key>sourceSize</key>
			<string>{141,69}</string>
		</dict>
		<key>jinglong_skill-SDlight1.png</key>
		<dict>
			<key>frame</key>
			<string>{{756,187},{91,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,78}}</string>
			<key>sourceSize</key>
			<string>{91,78}</string>
		</dict>
		<key>jinglong_skill-SDlight10.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,889},{162,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,119}}</string>
			<key>sourceSize</key>
			<string>{162,119}</string>
		</dict>
		<key>jinglong_skill-SDlight12.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,104},{95,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,97}}</string>
			<key>sourceSize</key>
			<string>{95,97}</string>
		</dict>
		<key>jinglong_skill-SDlight15.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,234},{99,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,101}}</string>
			<key>sourceSize</key>
			<string>{99,101}</string>
		</dict>
		<key>jinglong_skill-SDlight16.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,2},{99,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,100}}</string>
			<key>sourceSize</key>
			<string>{99,100}</string>
		</dict>
		<key>jinglong_skill-SDlight2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,889},{148,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,127}}</string>
			<key>sourceSize</key>
			<string>{148,127}</string>
		</dict>
		<key>jinglong_skill-SDlight3.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,2},{200,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,158}}</string>
			<key>sourceSize</key>
			<string>{200,158}</string>
		</dict>
		<key>jinglong_skill-SDlight4.png</key>
		<dict>
			<key>frame</key>
			<string>{{756,100},{102,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,85}}</string>
			<key>sourceSize</key>
			<string>{102,85}</string>
		</dict>
		<key>jinglong_skill-SDlight6.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,2},{200,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,158}}</string>
			<key>sourceSize</key>
			<string>{200,158}</string>
		</dict>
		<key>jinglong_skill-SDlight7.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,858},{200,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,158}}</string>
			<key>sourceSize</key>
			<string>{200,158}</string>
		</dict>
		<key>jinglong_skill-SDlight9.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,234},{140,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,103}}</string>
			<key>sourceSize</key>
			<string>{140,103}</string>
		</dict>
		<key>jinglong_skill-longyudan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,459},{86,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,219}}</string>
			<key>sourceSize</key>
			<string>{86,219}</string>
		</dict>
		<key>jinglong_skill-shengboquan.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,235},{196,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,198}}</string>
			<key>sourceSize</key>
			<string>{196,198}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jinglong_skill.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9ec6647c3e0558a89d399501d8cc6827$</string>
		<key>textureFileName</key>
		<string>jinglong_skill.png</string>
	</dict>
</dict>
</plist>
