<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jinglong_skill_2-DWe2.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,668},{187,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,195}}</string>
			<key>sourceSize</key>
			<string>{187,195}</string>
		</dict>
		<key>jinglong_skill_2-DWe3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,459},{207,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,207}}</string>
			<key>sourceSize</key>
			<string>{207,207}</string>
		</dict>
		<key>jinglong_skill_2-DWe4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,235},{217,222}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,222}}</string>
			<key>sourceSize</key>
			<string>{217,222}</string>
		</dict>
		<key>jinglong_skill_2-DWe5.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,459},{196,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,184}}</string>
			<key>sourceSize</key>
			<string>{196,184}</string>
		</dict>
		<key>jinglong_skill_2-DWe6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,668},{198,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,200}}</string>
			<key>sourceSize</key>
			<string>{198,200}</string>
		</dict>
		<key>jinglong_skill_2-DWei1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{226,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,231}}</string>
			<key>sourceSize</key>
			<string>{226,231}</string>
		</dict>
		<key>jinglong_skill_2-SDlight1.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,2},{91,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,78}}</string>
			<key>sourceSize</key>
			<string>{91,78}</string>
		</dict>
		<key>jinglong_skill_2-SDlight10.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,870},{162,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,119}}</string>
			<key>sourceSize</key>
			<string>{162,119}</string>
		</dict>
		<key>jinglong_skill_2-SDlight12.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,2},{95,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,97}}</string>
			<key>sourceSize</key>
			<string>{95,97}</string>
		</dict>
		<key>jinglong_skill_2-SDlight15.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,2},{99,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,101}}</string>
			<key>sourceSize</key>
			<string>{99,101}</string>
		</dict>
		<key>jinglong_skill_2-SDlight16.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,105},{99,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,100}}</string>
			<key>sourceSize</key>
			<string>{99,100}</string>
		</dict>
		<key>jinglong_skill_2-SDlight2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,870},{148,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,127}}</string>
			<key>sourceSize</key>
			<string>{148,127}</string>
		</dict>
		<key>jinglong_skill_2-SDlight3.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,235},{200,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,158}}</string>
			<key>sourceSize</key>
			<string>{200,158}</string>
		</dict>
		<key>jinglong_skill_2-SDlight4.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,101},{102,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,85}}</string>
			<key>sourceSize</key>
			<string>{102,85}</string>
		</dict>
		<key>jinglong_skill_2-SDlight6.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,805},{200,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,158}}</string>
			<key>sourceSize</key>
			<string>{200,158}</string>
		</dict>
		<key>jinglong_skill_2-SDlight7.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,645},{200,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,158}}</string>
			<key>sourceSize</key>
			<string>{200,158}</string>
		</dict>
		<key>jinglong_skill_2-SDlight9.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,865},{140,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,103}}</string>
			<key>sourceSize</key>
			<string>{140,103}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jinglong_skill_2.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:761d199143e9050bf829382e6045d835$</string>
		<key>textureFileName</key>
		<string>jinglong_skill_2.png</string>
	</dict>
</dict>
</plist>
