<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>korea_juren_huojiandan-dan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{45,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,18}}</string>
			<key>sourceSize</key>
			<string>{45,18}</string>
		</dict>
		<key>korea_juren_huojiandan-huohua.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,22},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>korea_juren_huojiandan-qichang.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,2},{6,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,6}}</string>
			<key>sourceSize</key>
			<string>{6,6}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>korea_juren_huojiandan.png</string>
		<key>size</key>
		<string>{64,64}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e45f791b93fd699dabdcc98105ebd5c7$</string>
		<key>textureFileName</key>
		<string>korea_juren_huojiandan.png</string>
	</dict>
</dict>
</plist>
