<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>korea_student_hitted-shuben.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,2},{20,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,28}}</string>
			<key>sourceSize</key>
			<string>{20,28}</string>
		</dict>
		<key>korea_student_hitted-xueshengbeiji1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,88},{41,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,39}}</string>
			<key>sourceSize</key>
			<string>{41,39}</string>
		</dict>
		<key>korea_student_hitted-xueshengbeiji2.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,87},{98,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,77}}</string>
			<key>sourceSize</key>
			<string>{98,77}</string>
		</dict>
		<key>korea_student_hitted-xueshengbeiji3.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,2},{104,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,83}}</string>
			<key>sourceSize</key>
			<string>{104,83}</string>
		</dict>
		<key>korea_student_hitted-xueshengbeiji4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{110,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,84}}</string>
			<key>sourceSize</key>
			<string>{110,84}</string>
		</dict>
		<key>korea_student_hitted-xueshengbeji5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,166},{88,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,70}}</string>
			<key>sourceSize</key>
			<string>{88,70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>korea_student_hitted.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ef0f38c8ce57d23ad82e9a5a0647c686$</string>
		<key>textureFileName</key>
		<string>korea_student_hitted.png</string>
	</dict>
</dict>
</plist>
