<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>korea_quanshou_hit-ndfsjnfgj 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,116},{47,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,34}}</string>
			<key>sourceSize</key>
			<string>{47,34}</string>
		</dict>
		<key>korea_quanshou_hit-ndfsjnfgj 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,116},{67,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,41}}</string>
			<key>sourceSize</key>
			<string>{67,41}</string>
		</dict>
		<key>korea_quanshou_hit-ndfsjnfgj 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,63},{76,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,51}}</string>
			<key>sourceSize</key>
			<string>{76,51}</string>
		</dict>
		<key>korea_quanshou_hit-ndfsjnfgj 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{82,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,59}}</string>
			<key>sourceSize</key>
			<string>{82,59}</string>
		</dict>
		<key>korea_quanshou_hit-ndfsjnfgj 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,2},{31,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,15}}</string>
			<key>sourceSize</key>
			<string>{31,15}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>korea_quanshou_hitted.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:17dbb9603f4c763eb0ba5963c1e643b6$</string>
		<key>textureFileName</key>
		<string>korea_quanshou_hitted.png</string>
	</dict>
</dict>
</plist>
