<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Libra_hitted_light-tpbj1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,169},{56,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,44}}</string>
			<key>sourceSize</key>
			<string>{56,44}</string>
		</dict>
		<key>Libra_hitted_light-tpbj2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,120},{71,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,47}}</string>
			<key>sourceSize</key>
			<string>{71,47}</string>
		</dict>
		<key>Libra_hitted_light-tpbj3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,62},{79,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,56}}</string>
			<key>sourceSize</key>
			<string>{79,56}</string>
		</dict>
		<key>Libra_hitted_light-tpbj4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{79,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,58}}</string>
			<key>sourceSize</key>
			<string>{79,58}</string>
		</dict>
		<key>Libra_hitted_light-tpbj5.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,2},{41,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,29}}</string>
			<key>sourceSize</key>
			<string>{41,29}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Libra_hitted_light.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:781851d3c70aaff78f134a8996915fdc$</string>
		<key>textureFileName</key>
		<string>Libra_hitted_light.png</string>
	</dict>
</dict>
</plist>
