<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Libra_skill-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,115},{302,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{302,163}}</string>
			<key>sourceSize</key>
			<string>{302,163}</string>
		</dict>
		<key>Libra_skill-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{317,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,165}}</string>
			<key>sourceSize</key>
			<string>{317,165}</string>
		</dict>
		<key>Libra_skill-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,2},{312,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{312,111}}</string>
			<key>sourceSize</key>
			<string>{312,111}</string>
		</dict>
		<key>Libra_skill-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{635,2},{307,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{307,172}}</string>
			<key>sourceSize</key>
			<string>{307,172}</string>
		</dict>
		<key>Libra_skill-afawef.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,403},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,84}}</string>
			<key>sourceSize</key>
			<string>{84,84}</string>
		</dict>
		<key>Libra_skill-dian.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,63},{51,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,51}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>Libra_skill-heiying.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,2},{58,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,59}}</string>
			<key>sourceSize</key>
			<string>{58,59}</string>
		</dict>
		<key>Libra_skill-huoq1.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,388},{120,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,101}}</string>
			<key>sourceSize</key>
			<string>{120,101}</string>
		</dict>
		<key>Libra_skill-huoq10.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,490},{118,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,106}}</string>
			<key>sourceSize</key>
			<string>{118,106}</string>
		</dict>
		<key>Libra_skill-huoq11.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,280},{120,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,106}}</string>
			<key>sourceSize</key>
			<string>{120,106}</string>
		</dict>
		<key>Libra_skill-huoq12.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,280},{120,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,111}}</string>
			<key>sourceSize</key>
			<string>{120,111}</string>
		</dict>
		<key>Libra_skill-huoq13.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,176},{120,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,117}}</string>
			<key>sourceSize</key>
			<string>{120,117}</string>
		</dict>
		<key>Libra_skill-huoq14.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,272},{120,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,130}}</string>
			<key>sourceSize</key>
			<string>{120,130}</string>
		</dict>
		<key>Libra_skill-huoq15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,362},{120,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,126}}</string>
			<key>sourceSize</key>
			<string>{120,126}</string>
		</dict>
		<key>Libra_skill-huoq2.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,389},{120,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,99}}</string>
			<key>sourceSize</key>
			<string>{120,99}</string>
		</dict>
		<key>Libra_skill-huoq3.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,393},{119,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,103}}</string>
			<key>sourceSize</key>
			<string>{119,103}</string>
		</dict>
		<key>Libra_skill-huoq4.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,295},{120,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,104}}</string>
			<key>sourceSize</key>
			<string>{120,104}</string>
		</dict>
		<key>Libra_skill-huoq5.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,280},{120,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,107}}</string>
			<key>sourceSize</key>
			<string>{120,107}</string>
		</dict>
		<key>Libra_skill-huoq6.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,292},{120,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,113}}</string>
			<key>sourceSize</key>
			<string>{120,113}</string>
		</dict>
		<key>Libra_skill-huoq7.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,176},{120,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,114}}</string>
			<key>sourceSize</key>
			<string>{120,114}</string>
		</dict>
		<key>Libra_skill-huoq8.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,176},{120,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,117}}</string>
			<key>sourceSize</key>
			<string>{120,117}</string>
		</dict>
		<key>Libra_skill-huoq9.png</key>
		<dict>
			<key>frame</key>
			<string>{{741,295},{117,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,106}}</string>
			<key>sourceSize</key>
			<string>{117,106}</string>
		</dict>
		<key>Libra_skill-qiliu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,169},{254,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,101}}</string>
			<key>sourceSize</key>
			<string>{254,101}</string>
		</dict>
		<key>Libra_skill-quan1.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,401},{108,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,73}}</string>
			<key>sourceSize</key>
			<string>{108,73}</string>
		</dict>
		<key>Libra_skill-quan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,272},{127,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,88}}</string>
			<key>sourceSize</key>
			<string>{127,88}</string>
		</dict>
		<key>Libra_skill-quan3.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,404},{103,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,114}}</string>
			<key>sourceSize</key>
			<string>{103,114}</string>
		</dict>
		<key>Libra_skill-quan4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,490},{87,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,117}}</string>
			<key>sourceSize</key>
			<string>{87,117}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Libra_skill.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:70cdce66bf58b174a69fafa60781423c$</string>
		<key>textureFileName</key>
		<string>Libra_skill.png</string>
	</dict>
</dict>
</plist>
