<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Loading_animation-JRHYxl1.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,410},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHYxl10.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,104},{44,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,100}}</string>
			<key>sourceSize</key>
			<string>{44,100}</string>
		</dict>
		<key>Loading_animation-JRHYxl11.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,104},{44,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,100}}</string>
			<key>sourceSize</key>
			<string>{44,100}</string>
		</dict>
		<key>Loading_animation-JRHYxl12.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,308},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHYxl13.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,104},{44,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,100}}</string>
			<key>sourceSize</key>
			<string>{44,100}</string>
		</dict>
		<key>Loading_animation-JRHYxl14.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,104},{44,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,100}}</string>
			<key>sourceSize</key>
			<string>{44,100}</string>
		</dict>
		<key>Loading_animation-JRHYxl15.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,104},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHYxl2.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,2},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHYxl3.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,206},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHYxl4.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,104},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHYxl5.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,2},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHYxl6.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,332},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHYxl7.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,230},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHYxl8.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,387},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHYxl9.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,285},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHx1.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,104},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHx10.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,206},{44,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,100}}</string>
			<key>sourceSize</key>
			<string>{44,100}</string>
		</dict>
		<key>Loading_animation-JRHx11.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,410},{44,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,100}}</string>
			<key>sourceSize</key>
			<string>{44,100}</string>
		</dict>
		<key>Loading_animation-JRHx12.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,2},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHx13.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,308},{44,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,100}}</string>
			<key>sourceSize</key>
			<string>{44,100}</string>
		</dict>
		<key>Loading_animation-JRHx14.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,206},{44,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,100}}</string>
			<key>sourceSize</key>
			<string>{44,100}</string>
		</dict>
		<key>Loading_animation-JRHx15.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,2},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHx2.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,2},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHx3.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,2},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHx4.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,2},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHx5.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,410},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHx6.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,308},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHx7.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,104},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHx8.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,2},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-JRHx9.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,206},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>Loading_animation-hongguang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,285},{64,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,224}}</string>
			<key>sourceSize</key>
			<string>{64,224}</string>
		</dict>
		<key>Loading_animation-jianrentou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{68,281}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,281}}</string>
			<key>sourceSize</key>
			<string>{68,281}</string>
		</dict>
		<key>Loading_animation-languang.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,2},{54,226}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,226}}</string>
			<key>sourceSize</key>
			<string>{54,226}</string>
		</dict>
		<key>Loading_animation-liziziziziziq.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,494},{3,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,3}}</string>
			<key>sourceSize</key>
			<string>{3,3}</string>
		</dict>
		<key>Loading_animation-liziziziziziq2.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,489},{3,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,3}}</string>
			<key>sourceSize</key>
			<string>{3,3}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Loading_animation.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c701278f22338afda805e57adbb373da$</string>
		<key>textureFileName</key>
		<string>Loading_animation.png</string>
	</dict>
</dict>
</plist>
