<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>LoginAnimation_role1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,402},{79,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,32}}</string>
			<key>sourceSize</key>
			<string>{79,32}</string>
		</dict>
		<key>LoginAnimation_role1-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,39},{266,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,94}}</string>
			<key>sourceSize</key>
			<string>{266,94}</string>
		</dict>
		<key>LoginAnimation_role1-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,230},{19,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,31}}</string>
			<key>sourceSize</key>
			<string>{19,31}</string>
		</dict>
		<key>LoginAnimation_role1-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,282},{12,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,29}}</string>
			<key>sourceSize</key>
			<string>{12,29}</string>
		</dict>
		<key>LoginAnimation_role1-13.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,151},{10,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,25}}</string>
			<key>sourceSize</key>
			<string>{10,25}</string>
		</dict>
		<key>LoginAnimation_role1-14.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,163},{24,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,22}}</string>
			<key>sourceSize</key>
			<string>{24,22}</string>
		</dict>
		<key>LoginAnimation_role1-15.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,108},{25,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,41}}</string>
			<key>sourceSize</key>
			<string>{25,41}</string>
		</dict>
		<key>LoginAnimation_role1-16.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,38},{26,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,68}}</string>
			<key>sourceSize</key>
			<string>{26,68}</string>
		</dict>
		<key>LoginAnimation_role1-17.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,424},{41,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,47}}</string>
			<key>sourceSize</key>
			<string>{41,47}</string>
		</dict>
		<key>LoginAnimation_role1-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,436},{33,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,57}}</string>
			<key>sourceSize</key>
			<string>{33,57}</string>
		</dict>
		<key>LoginAnimation_role1-19.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{35,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,95}}</string>
			<key>sourceSize</key>
			<string>{35,95}</string>
		</dict>
		<key>LoginAnimation_role1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,313},{58,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,39}}</string>
			<key>sourceSize</key>
			<string>{58,39}</string>
		</dict>
		<key>LoginAnimation_role1-20.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,364},{36,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,83}}</string>
			<key>sourceSize</key>
			<string>{36,83}</string>
		</dict>
		<key>LoginAnimation_role1-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,373},{49,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,36}}</string>
			<key>sourceSize</key>
			<string>{49,36}</string>
		</dict>
		<key>LoginAnimation_role1-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,473},{50,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,35}}</string>
			<key>sourceSize</key>
			<string>{50,35}</string>
		</dict>
		<key>LoginAnimation_role1-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,2},{34,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,27}}</string>
			<key>sourceSize</key>
			<string>{34,27}</string>
		</dict>
		<key>LoginAnimation_role1-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,211},{22,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,17}}</string>
			<key>sourceSize</key>
			<string>{22,17}</string>
		</dict>
		<key>LoginAnimation_role1-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,307},{55,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,83}}</string>
			<key>sourceSize</key>
			<string>{55,83}</string>
		</dict>
		<key>LoginAnimation_role1-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,187},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>LoginAnimation_role1-9.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,263},{17,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,18}}</string>
			<key>sourceSize</key>
			<string>{17,18}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>LoginAnimation_role1.png</string>
		<key>size</key>
		<string>{128,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:69caa09a702ed8d74fa70325fbdc9c0a$</string>
		<key>textureFileName</key>
		<string>LoginAnimation_role1.png</string>
	</dict>
</dict>
</plist>
