<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Activity_Friendcopy.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,140},{78,78}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{78,78}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_GuildBattle.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,272},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_GuildBoss.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,356},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_PetCenter.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,438},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_PetFight.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,356},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_PetRace.png</key>
		<dict>
			<key>frame</key>
			<string>{{926,500},{80,74}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{80,74}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_Teamcopy.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,932},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_WorldBoss.png</key>
		<dict>
			<key>frame</key>
			<string>{{680,932},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_bianyi.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,354},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_dailyanswer.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,438},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_dicegame.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,502},{78,76}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{78,76}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_notice.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,2},{290,136}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{290,136}}</string>
			<key>sourceSize</key>
			<string>{296,142}</string>
		</dict>
		<key>ArenaActivity_AIArena.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,853},{148,142}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,142}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>ArenaActivity_PetArena.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,546},{78,66}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,8},{78,66}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Arrow_turnpage_clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,298},{50,60}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{50,60}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>Arrow_turnpage_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,140},{50,60}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{50,60}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>BGFrame_for_TicketUI.png</key>
		<dict>
			<key>frame</key>
			<string>{{661,232},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>BGconer_for_TicketUI.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,880},{42,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,43}}</string>
			<key>sourceSize</key>
			<string>{42,43}</string>
		</dict>
		<key>ChannelBtn_Clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,343},{120,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,50}}</string>
			<key>sourceSize</key>
			<string>{120,50}</string>
		</dict>
		<key>ChannelBtn_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,239},{120,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,50}}</string>
			<key>sourceSize</key>
			<string>{120,50}</string>
		</dict>
		<key>ChannelSelect_BG.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,860},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>ChargeActivity.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,392},{84,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,76}}</string>
			<key>sourceSize</key>
			<string>{84,76}</string>
		</dict>
		<key>ChoosingCircle.png</key>
		<dict>
			<key>frame</key>
			<string>{{934,314},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{48,48}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>ChosenCircle.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,900},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,10},{30,30}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>DiceGame_curve.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,54},{30,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,48}}</string>
			<key>sourceSize</key>
			<string>{30,48}</string>
		</dict>
		<key>DiceGame_dottedline.png</key>
		<dict>
			<key>frame</key>
			<string>{{986,256},{34,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,43}}</string>
			<key>sourceSize</key>
			<string>{34,43}</string>
		</dict>
		<key>DiceGame_halfimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,702},{102,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{102,198}}</string>
			<key>sourceSize</key>
			<string>{102,200}</string>
		</dict>
		<key>DiceGame_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,997},{36,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,24}}</string>
			<key>sourceSize</key>
			<string>{36,24}</string>
		</dict>
		<key>DiceGame_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,360},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{50,50}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>Die_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,246},{108,108}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{108,108}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>Die_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,822},{108,108}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{108,108}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>Die_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,822},{108,108}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{108,108}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>Die_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,660},{108,108}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{108,108}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>Die_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,823},{108,108}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{108,108}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>Die_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,902},{108,108}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{108,108}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>DroplistUI_Arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,78},{12,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,9}}</string>
			<key>sourceSize</key>
			<string>{12,9}</string>
		</dict>
		<key>Entertainment_Roulette.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,536},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>FamousHall_award.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,440},{84,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,94}}</string>
			<key>sourceSize</key>
			<string>{84,94}</string>
		</dict>
		<key>FamousHall_success.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,654},{63,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,49}}</string>
			<key>sourceSize</key>
			<string>{63,49}</string>
		</dict>
		<key>Fashion_clothesBG.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,377},{68,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,68}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>Fashion_exp.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,2},{292,20}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{292,20}}</string>
			<key>sourceSize</key>
			<string>{294,30}</string>
		</dict>
		<key>Fashion_expBG.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{300,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,30}}</string>
			<key>sourceSize</key>
			<string>{300,30}</string>
		</dict>
		<key>Fashion_lvlGB.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,447},{53,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,53}}</string>
			<key>sourceSize</key>
			<string>{53,53}</string>
		</dict>
		<key>Fashion_overdue.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,997},{74,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{74,23}}</string>
			<key>sourceSize</key>
			<string>{78,27}</string>
		</dict>
		<key>Fashion_wearing.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,997},{74,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{74,24}}</string>
			<key>sourceSize</key>
			<string>{78,28}</string>
		</dict>
		<key>Fashion_wing.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,2},{128,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,136}}</string>
			<key>sourceSize</key>
			<string>{128,136}</string>
		</dict>
		<key>FriendUI_mainicon_Frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,520},{42,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,108}}</string>
			<key>sourceSize</key>
			<string>{42,108}</string>
		</dict>
		<key>FriendUI_mainicon_new.png</key>
		<dict>
			<key>frame</key>
			<string>{{595,206},{64,64}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{64,64}}</string>
			<key>sourceSize</key>
			<string>{66,66}</string>
		</dict>
		<key>FunnyToy.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,530},{101,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,128}}</string>
			<key>sourceSize</key>
			<string>{101,128}</string>
		</dict>
		<key>Fusion_lvl.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,686},{61,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,59}}</string>
			<key>sourceSize</key>
			<string>{61,59}</string>
		</dict>
		<key>GuilUItextframe.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,770},{93,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,50}}</string>
			<key>sourceSize</key>
			<string>{93,50}</string>
		</dict>
		<key>GuildWar_Icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,470},{80,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{80,74}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Guildboss_InfoBG.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,686},{73,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,79}}</string>
			<key>sourceSize</key>
			<string>{73,79}</string>
		</dict>
		<key>Guildboss_NameDec.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,395},{117,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,34}}</string>
			<key>sourceSize</key>
			<string>{117,34}</string>
		</dict>
		<key>Loginnotice_BG.png</key>
		<dict>
			<key>frame</key>
			<string>{{823,747},{58,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{58,58}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>LotteryUI_circleBG_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,484},{164,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,216}}</string>
			<key>sourceSize</key>
			<string>{164,216}</string>
		</dict>
		<key>LotteryUI_circleBG_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,266},{164,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,216}}</string>
			<key>sourceSize</key>
			<string>{164,216}</string>
		</dict>
		<key>LotteryUI_guide.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,440},{44,91}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{44,91}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>LotteryUI_light.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,122},{26,26}}</string>
			<key>offset</key>
			<string>{0,89}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,216}</string>
		</dict>
		<key>LotteryUI_midBG.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,702},{78,156}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{78,156}}</string>
			<key>sourceSize</key>
			<string>{78,162}</string>
		</dict>
		<key>MainUIOpenUp_Clicked_over.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,766},{54,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,50}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>MainUIOpenUp_Normal_over.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,767},{54,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,50}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>MainUI_ChannelSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,598},{62,60}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{62,60}}</string>
			<key>sourceSize</key>
			<string>{62,76}</string>
		</dict>
		<key>MainUI_ChargeActivity.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,392},{84,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,76}}</string>
			<key>sourceSize</key>
			<string>{84,76}</string>
		</dict>
		<key>MainUI_Entertainment.png</key>
		<dict>
			<key>frame</key>
			<string>{{930,422},{80,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,76}}</string>
			<key>sourceSize</key>
			<string>{80,76}</string>
		</dict>
		<key>MainUI_Equipment.png</key>
		<dict>
			<key>frame</key>
			<string>{{924,576},{74,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,76}}</string>
			<key>sourceSize</key>
			<string>{74,76}</string>
		</dict>
		<key>MainUI_Equipment_Icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,354},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>MainUI_FamousHall.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,932},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>MainUI_GodBlessing.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,314},{88,76}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{88,76}}</string>
			<key>sourceSize</key>
			<string>{90,76}</string>
		</dict>
		<key>MainUI_MonthCard.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,580},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,76}}</string>
			<key>sourceSize</key>
			<string>{76,76}</string>
		</dict>
		<key>MainUI_MysticShop_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,220},{82,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,76}}</string>
			<key>sourceSize</key>
			<string>{82,76}</string>
		</dict>
		<key>MainUI_NewFunction_Frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,198},{170,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,240}}</string>
			<key>sourceSize</key>
			<string>{170,240}</string>
		</dict>
		<key>MainUI_PetFrame.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,291},{128,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,50}}</string>
			<key>sourceSize</key>
			<string>{128,50}</string>
		</dict>
		<key>MainUI_PetTotem.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,658},{72,70}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{72,70}}</string>
			<key>sourceSize</key>
			<string>{72,76}</string>
		</dict>
		<key>MainUI_ask_PK.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,818},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>MonthCard_card.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,122},{170,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,142}}</string>
			<key>sourceSize</key>
			<string>{170,142}</string>
		</dict>
		<key>MysticShop_limitbuy.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,933},{62,62}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{62,62}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>PVP_Honor.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,298},{48,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,77}}</string>
			<key>sourceSize</key>
			<string>{48,77}</string>
		</dict>
		<key>PVP_PlayerMark.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,56},{112,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,188}}</string>
			<key>sourceSize</key>
			<string>{112,188}</string>
		</dict>
		<key>Paging_Green.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,198},{156,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,56}}</string>
			<key>sourceSize</key>
			<string>{156,56}</string>
		</dict>
		<key>Paging_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,140},{156,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,56}}</string>
			<key>sourceSize</key>
			<string>{156,56}</string>
		</dict>
		<key>Pathfinding_Constellupg.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,431},{116,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,116}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>PetArena_FightIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,730},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>PetArena_Introduce.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,140},{44,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,8},{44,44}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>PetArena_SerchIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,730},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>PetArena_Stage1.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,701},{164,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,150}}</string>
			<key>sourceSize</key>
			<string>{164,150}</string>
		</dict>
		<key>PetArena_Stage2.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,860},{164,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,150}}</string>
			<key>sourceSize</key>
			<string>{164,150}</string>
		</dict>
		<key>PetArena_Stage3.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,549},{164,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,150}}</string>
			<key>sourceSize</key>
			<string>{164,150}</string>
		</dict>
		<key>PetArena_count1.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,598},{44,44}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{44,44}}</string>
			<key>sourceSize</key>
			<string>{46,48}</string>
		</dict>
		<key>PetArena_count2.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,552},{44,44}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{44,44}}</string>
			<key>sourceSize</key>
			<string>{46,48}</string>
		</dict>
		<key>PetArena_count3.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,506},{44,44}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{44,44}}</string>
			<key>sourceSize</key>
			<string>{46,48}</string>
		</dict>
		<key>PetArena_count4.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,460},{44,44}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{44,44}}</string>
			<key>sourceSize</key>
			<string>{46,48}</string>
		</dict>
		<key>PetArena_count5.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,186},{44,44}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{44,44}}</string>
			<key>sourceSize</key>
			<string>{46,48}</string>
		</dict>
		<key>PetStar_progress.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,54},{198,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,22}}</string>
			<key>sourceSize</key>
			<string>{198,22}</string>
		</dict>
		<key>PetStar_progress_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{1020,2},{2,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,8}}</string>
			<key>sourceSize</key>
			<string>{2,8}</string>
		</dict>
		<key>PetTrain_HP.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,100},{176,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{176,20}}</string>
			<key>sourceSize</key>
			<string>{180,24}</string>
		</dict>
		<key>PetTrain_HP_Frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,78},{176,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{176,20}}</string>
			<key>sourceSize</key>
			<string>{180,24}</string>
		</dict>
		<key>PetTrain_Light.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,520},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{76,76}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>PetUI_StarLvl.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,412},{48,46}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{48,46}}</string>
			<key>sourceSize</key>
			<string>{52,50}</string>
		</dict>
		<key>Petmatch_grayarrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,823},{51,20}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,20}}</string>
			<key>sourceSize</key>
			<string>{53,20}</string>
		</dict>
		<key>Petmatch_graycorner.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,932},{30,20}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{30,20}}</string>
			<key>sourceSize</key>
			<string>{32,20}</string>
		</dict>
		<key>Petmatch_grayline.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,24},{14,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{14,30}}</string>
			<key>sourceSize</key>
			<string>{18,30}</string>
		</dict>
		<key>Petmatch_redarrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,823},{43,16}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{43,16}}</string>
			<key>sourceSize</key>
			<string>{53,20}</string>
		</dict>
		<key>Petmatch_redcorner.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,150},{22,14}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{22,14}}</string>
			<key>sourceSize</key>
			<string>{32,20}</string>
		</dict>
		<key>Petmatch_redline.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,78},{6,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{6,30}}</string>
			<key>sourceSize</key>
			<string>{18,30}</string>
		</dict>
		<key>QueenBlessing_BG.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,56},{175,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,140}}</string>
			<key>sourceSize</key>
			<string>{175,140}</string>
		</dict>
		<key>TitleAttribute.png</key>
		<dict>
			<key>frame</key>
			<string>{{986,301},{34,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{34,35}}</string>
			<key>sourceSize</key>
			<string>{38,39}</string>
		</dict>
		<key>TitleUsing.png</key>
		<dict>
			<key>frame</key>
			<string>{{934,364},{85,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,56}}</string>
			<key>sourceSize</key>
			<string>{85,56}</string>
		</dict>
		<key>Weekcopy_buttonBG.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,34},{68,68}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,6},{68,68}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>card_CorrectSide_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,688},{99,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,133}}</string>
			<key>sourceSize</key>
			<string>{99,133}</string>
		</dict>
		<key>card_CorrectSide_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,688},{99,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,133}}</string>
			<key>sourceSize</key>
			<string>{99,133}</string>
		</dict>
		<key>card_OppositeSide.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,104},{99,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,133}}</string>
			<key>sourceSize</key>
			<string>{99,133}</string>
		</dict>
		<key>card_stone.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,614},{74,70}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{74,70}}</string>
			<key>sourceSize</key>
			<string>{76,76}</string>
		</dict>
		<key>fashion_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{654,436},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>mailUI_getpack_clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,933},{70,88}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{70,88}}</string>
			<key>sourceSize</key>
			<string>{70,90}</string>
		</dict>
		<key>mailUI_getpack_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,440},{70,88}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{70,88}}</string>
			<key>sourceSize</key>
			<string>{70,90}</string>
		</dict>
		<key>shareBtn_clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,705},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>shareBtn_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{907,705},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>share_FriendCircle.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,220},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>share_Friends.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,770},{60,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,50}}</string>
			<key>sourceSize</key>
			<string>{60,50}</string>
		</dict>
		<key>stage_level.png</key>
		<dict>
			<key>frame</key>
			<string>{{595,140},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>strength_exp_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,24},{272,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{272,30}}</string>
			<key>sourceSize</key>
			<string>{272,30}</string>
		</dict>
		<key>strength_exp_full.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,34},{230,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{230,18}}</string>
			<key>sourceSize</key>
			<string>{230,30}</string>
		</dict>
		<key>ticketAcount_cardsBG.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,270},{73,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,79}}</string>
			<key>sourceSize</key>
			<string>{73,79}</string>
		</dict>
		<key>ticketAcount_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,256},{140,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,56}}</string>
			<key>sourceSize</key>
			<string>{140,56}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>MainUI_part3.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2fa9210a46bdf746dde9494c0c869d87$</string>
		<key>textureFileName</key>
		<string>MainUI_part3.png</string>
	</dict>
</dict>
</plist>
