<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MainUI_animation-888 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>MainUI_animation-888 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>MainUI_animation-888 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>MainUI_animation-888 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>MainUI_animation-888 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>MainUI_animation-888 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>MainUI_animation-888 8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>MainUI_animation-8886.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>MainUI_animation.png</string>
		<key>size</key>
		<string>{16,16}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:eea6c56680f357d3ca4fb797fc7db9e0$</string>
		<key>textureFileName</key>
		<string>MainUI_animation.png</string>
	</dict>
</dict>
</plist>
