<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Activity_Chest_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,104},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_Chest_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,186},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_Chest_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,104},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_Chest_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,560},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_Chest_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,560},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_Chest_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,478},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_Defend_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,427},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_Defend_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,427},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_Defend_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,345},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Activity_news.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,350},{34,36}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{34,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>Activity_petAdventure.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,263},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>ChargeAwardUI_Textbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,302},{107,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,63}}</string>
			<key>sourceSize</key>
			<string>{107,63}</string>
		</dict>
		<key>ChargeAwardUI_VIPicon.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,154},{110,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,146}}</string>
			<key>sourceSize</key>
			<string>{110,146}</string>
		</dict>
		<key>DailySchedule_Bottom frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,70},{520,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{520,32}}</string>
			<key>sourceSize</key>
			<string>{520,32}</string>
		</dict>
		<key>DailySchedule_cl_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,520},{78,78}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{78,78}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>DailySchedule_cl_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,184},{80,78}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,78}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>DailySchedule_cl_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,600},{78,76}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{78,76}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>DailySchedule_cl_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,580},{76,70}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,6},{76,70}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>DailySchedule_d_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,598},{78,76}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{78,76}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>DailySchedule_d_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,104},{80,78}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,78}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>DailySchedule_d_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,520},{78,76}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{78,76}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>DailySchedule_d_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,508},{76,70}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,6},{76,70}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>DailySchedule_finish.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,182},{81,79}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{81,79}}</string>
			<key>sourceSize</key>
			<string>{85,83}</string>
		</dict>
		<key>DailySchedule_guildDonate.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,302},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>DailySchedule_kedu_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1012,73},{4,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,11}}</string>
			<key>sourceSize</key>
			<string>{4,11}</string>
		</dict>
		<key>DailySchedule_kedutiao_dikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,36},{520,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{520,32}}</string>
			<key>sourceSize</key>
			<string>{520,32}</string>
		</dict>
		<key>DailySchedule_n_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,676},{78,66}}</string>
			<key>offset</key>
			<string>{-1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{78,66}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>DailySchedule_n_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,186},{80,60}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,17},{80,60}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>DailySchedule_n_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,678},{78,62}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,14},{78,62}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>DailySchedule_n_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,964},{78,56}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,20},{78,56}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>DailySchedule_open.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,104},{84,76}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{84,76}}</string>
			<key>sourceSize</key>
			<string>{86,76}</string>
		</dict>
		<key>DailySchedule_syncPvp.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,302},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>DailyWork_highlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,996},{80,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,20}}</string>
			<key>sourceSize</key>
			<string>{80,20}</string>
		</dict>
		<key>DailyWork_imge_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,302},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>DailyWork_jindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{520,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{520,32}}</string>
			<key>sourceSize</key>
			<string>{520,32}</string>
		</dict>
		<key>DailyWork_kudu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1016,60},{4,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,11}}</string>
			<key>sourceSize</key>
			<string>{4,11}</string>
		</dict>
		<key>DailyWork_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,2},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>DaliyWork_complite.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,964},{85,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,56}}</string>
			<key>sourceSize</key>
			<string>{85,56}</string>
		</dict>
		<key>DungeonsUI_4rd.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,668},{64,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,78}}</string>
			<key>sourceSize</key>
			<string>{64,78}</string>
		</dict>
		<key>DungeonsUI_5rd.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,588},{64,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,78}}</string>
			<key>sourceSize</key>
			<string>{64,78}</string>
		</dict>
		<key>DungeonsUI_6rd.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,508},{64,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,78}}</string>
			<key>sourceSize</key>
			<string>{64,78}</string>
		</dict>
		<key>Enchant_Dust.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,964},{61,49}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{61,49}}</string>
			<key>sourceSize</key>
			<string>{63,53}</string>
		</dict>
		<key>Enchant_Gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,305},{43,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,50}}</string>
			<key>sourceSize</key>
			<string>{43,50}</string>
		</dict>
		<key>Enchant_exp_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,964},{244,30}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{244,30}}</string>
			<key>sourceSize</key>
			<string>{244,32}</string>
		</dict>
		<key>Enchant_exp_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,996},{240,22}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{240,22}}</string>
			<key>sourceSize</key>
			<string>{244,32}</string>
		</dict>
		<key>Enchant_plussign.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,964},{57,55}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{57,55}}</string>
			<key>sourceSize</key>
			<string>{63,59}</string>
		</dict>
		<key>Enchant_plussign_unable.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,964},{57,55}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{57,55}}</string>
			<key>sourceSize</key>
			<string>{63,59}</string>
		</dict>
		<key>Enchants_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,302},{83,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,81}}</string>
			<key>sourceSize</key>
			<string>{83,81}</string>
		</dict>
		<key>Enchants_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,881},{83,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,81}}</string>
			<key>sourceSize</key>
			<string>{83,81}</string>
		</dict>
		<key>Enchants_holyLight .png</key>
		<dict>
			<key>frame</key>
			<string>{{555,881},{83,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,81}}</string>
			<key>sourceSize</key>
			<string>{83,81}</string>
		</dict>
		<key>Enchants_lightning .png</key>
		<dict>
			<key>frame</key>
			<string>{{470,881},{83,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,81}}</string>
			<key>sourceSize</key>
			<string>{83,81}</string>
		</dict>
		<key>FamousHall_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,2},{343,440}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{343,440}}</string>
			<key>sourceSize</key>
			<string>{343,440}</string>
		</dict>
		<key>Helper_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,881},{103,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,116}}</string>
			<key>sourceSize</key>
			<string>{103,116}</string>
		</dict>
		<key>MainUI_ChargeAward.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,400},{86,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,76}}</string>
			<key>sourceSize</key>
			<string>{86,76}</string>
		</dict>
		<key>MainUI_Enchant.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,748},{64,74}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{64,74}}</string>
			<key>sourceSize</key>
			<string>{64,76}</string>
		</dict>
		<key>MainUI_FashionCollect.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,892},{62,70}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{62,70}}</string>
			<key>sourceSize</key>
			<string>{64,76}</string>
		</dict>
		<key>MainUI_roleWords.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,202},{50,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,30}}</string>
			<key>sourceSize</key>
			<string>{50,30}</string>
		</dict>
		<key>MissionGuide_hand.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,881},{103,111}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{103,111}}</string>
			<key>sourceSize</key>
			<string>{109,115}</string>
		</dict>
		<key>PVP_PlayerBG.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,367},{103,277}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,277}}</string>
			<key>sourceSize</key>
			<string>{103,277}</string>
		</dict>
		<key>PVP_TimeBG.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,520},{68,100}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,100}}</string>
			<key>sourceSize</key>
			<string>{68,102}</string>
		</dict>
		<key>PetEvolev_banches_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1016,38},{6,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,20}}</string>
			<key>sourceSize</key>
			<string>{6,20}</string>
		</dict>
		<key>PetEvolev_banches_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,520},{89,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,109}}</string>
			<key>sourceSize</key>
			<string>{89,109}</string>
		</dict>
		<key>PetEvolev_banches_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,491},{40,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,45}}</string>
			<key>sourceSize</key>
			<string>{40,45}</string>
		</dict>
		<key>PetEvolev_check.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,104},{51,52}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{51,52}}</string>
			<key>sourceSize</key>
			<string>{57,56}</string>
		</dict>
		<key>PetEvolev_halfdone.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,274},{34,36}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{34,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>PetEvolev_plus.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,444},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>PetEvolve_arrow .png</key>
		<dict>
			<key>frame</key>
			<string>{{662,520},{58,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{58,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>PetTrain_Go_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,204},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>Pet_new.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,312},{34,36}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{34,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>Pet_qualityFrame.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,104},{98,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,98}}</string>
			<key>sourceSize</key>
			<string>{98,98}</string>
		</dict>
		<key>QueenBlessing_Queen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,388},{173,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,256}}</string>
			<key>sourceSize</key>
			<string>{173,256}</string>
		</dict>
		<key>RomanNumeral_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,94},{14,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,26}}</string>
			<key>sourceSize</key>
			<string>{14,26}</string>
		</dict>
		<key>RomanNumeral_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,66},{18,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,26}}</string>
			<key>sourceSize</key>
			<string>{18,26}</string>
		</dict>
		<key>RomanNumeral_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,38},{22,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,26}}</string>
			<key>sourceSize</key>
			<string>{22,26}</string>
		</dict>
		<key>Team_Bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,444},{65,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,62}}</string>
			<key>sourceSize</key>
			<string>{65,62}</string>
		</dict>
		<key>Team_Leader.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,964},{54,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,52}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>Team_base1.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,654},{225,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,225}}</string>
			<key>sourceSize</key>
			<string>{225,225}</string>
		</dict>
		<key>Team_base2.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,444},{205,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,74}}</string>
			<key>sourceSize</key>
			<string>{205,74}</string>
		</dict>
		<key>Teamcopy_kickbtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,576},{38,38}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>Word_Preparing.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,824},{64,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,66}}</string>
			<key>sourceSize</key>
			<string>{64,66}</string>
		</dict>
		<key>avena_pvp.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,654},{232,308}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,308}}</string>
			<key>sourceSize</key>
			<string>{232,308}</string>
		</dict>
		<key>avena_single.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,654},{232,308}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,308}}</string>
			<key>sourceSize</key>
			<string>{232,308}</string>
		</dict>
		<key>bag_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,2},{121,150}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{121,150}}</string>
			<key>sourceSize</key>
			<string>{123,152}</string>
		</dict>
		<key>checkall_disabled.png</key>
		<dict>
			<key>frame</key>
			<string>{{981,257},{40,46}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,5},{40,46}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>checkall_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{981,209},{40,46}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,5},{40,46}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>checkall_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,964},{60,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,58}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>go_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,449},{42,40}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,7},{42,40}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>icon_atk.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,158},{50,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{50,42}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>icon_dadge.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,234},{34,38}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,7},{34,38}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>icon_def.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,616},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,7},{36,36}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>icon_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,405},{46,42}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{46,42}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>icon_hp.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,538},{40,36}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,9},{40,36}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>icon_skill.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,357},{42,46}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{42,46}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>words_recommend.png</key>
		<dict>
			<key>frame</key>
			<string>{{981,154},{40,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,53}}</string>
			<key>sourceSize</key>
			<string>{40,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>MainUI_new1.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:11c7cba1cdf69be87492cef57c4b8c93$</string>
		<key>textureFileName</key>
		<string>MainUI_new1.png</string>
	</dict>
</dict>
</plist>
