<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>huoji_guangx-hd1.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,52},{137,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,12}}</string>
			<key>sourceSize</key>
			<string>{137,12}</string>
		</dict>
		<key>huoji_guangx-hd2.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,80},{135,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,12}}</string>
			<key>sourceSize</key>
			<string>{135,12}</string>
		</dict>
		<key>huoji_guangx-hd3.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,94},{136,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,11}}</string>
			<key>sourceSize</key>
			<string>{136,11}</string>
		</dict>
		<key>huoji_guangx-hd4.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,66},{136,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,12}}</string>
			<key>sourceSize</key>
			<string>{136,12}</string>
		</dict>
		<key>huoji_guangx-hd5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,110},{137,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,12}}</string>
			<key>sourceSize</key>
			<string>{137,12}</string>
		</dict>
		<key>huoji_guangx-hd6.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,66},{136,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,12}}</string>
			<key>sourceSize</key>
			<string>{136,12}</string>
		</dict>
		<key>huoji_guangx-sh1.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,2},{58,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,48}}</string>
			<key>sourceSize</key>
			<string>{58,48}</string>
		</dict>
		<key>huoji_guangx-sh2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,58},{58,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,50}}</string>
			<key>sourceSize</key>
			<string>{58,50}</string>
		</dict>
		<key>huoji_guangx-sh3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{58,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,54}}</string>
			<key>sourceSize</key>
			<string>{58,54}</string>
		</dict>
		<key>huoji_guangx-sh4.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,2},{58,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,46}}</string>
			<key>sourceSize</key>
			<string>{58,46}</string>
		</dict>
		<key>huoji_guangx-shape 78.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,2},{5,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,5}}</string>
			<key>sourceSize</key>
			<string>{5,5}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_fireway.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:777564cb3cb3ef652beaaf0d93fa7ba8$</string>
		<key>textureFileName</key>
		<string>Monster_fireway.png</string>
	</dict>
</dict>
</plist>
