<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_Phoenix-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,233},{295,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,82}}</string>
			<key>sourceSize</key>
			<string>{295,82}</string>
		</dict>
		<key>Monster_Phoenix-22.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,317},{266,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,92}}</string>
			<key>sourceSize</key>
			<string>{266,92}</string>
		</dict>
		<key>Monster_Phoenix-33.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,411},{262,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,85}}</string>
			<key>sourceSize</key>
			<string>{262,85}</string>
		</dict>
		<key>Monster_Phoenix-44.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,360},{262,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,90}}</string>
			<key>sourceSize</key>
			<string>{262,90}</string>
		</dict>
		<key>Monster_Phoenix-55.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,227},{242,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,98}}</string>
			<key>sourceSize</key>
			<string>{242,98}</string>
		</dict>
		<key>Monster_Phoenix-66.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,498},{233,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,81}}</string>
			<key>sourceSize</key>
			<string>{233,81}</string>
		</dict>
		<key>Monster_Phoenix-77.png</key>
		<dict>
			<key>frame</key>
			<string>{{663,406},{262,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,80}}</string>
			<key>sourceSize</key>
			<string>{262,80}</string>
		</dict>
		<key>Monster_Phoenix-888zizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,85},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Monster_Phoenix-bozi.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,252},{33,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,20}}</string>
			<key>sourceSize</key>
			<string>{33,20}</string>
		</dict>
		<key>Monster_Phoenix-duzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{825,665},{48,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,40}}</string>
			<key>sourceSize</key>
			<string>{48,40}</string>
		</dict>
		<key>Monster_Phoenix-l_chibang1.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,282},{313,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{313,122}}</string>
			<key>sourceSize</key>
			<string>{313,122}</string>
		</dict>
		<key>Monster_Phoenix-l_chibang2.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,2},{292,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,145}}</string>
			<key>sourceSize</key>
			<string>{292,145}</string>
		</dict>
		<key>Monster_Phoenix-l_chibang3.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,2},{193,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,138}}</string>
			<key>sourceSize</key>
			<string>{193,138}</string>
		</dict>
		<key>Monster_Phoenix-l_chibang4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{123,314}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,314}}</string>
			<key>sourceSize</key>
			<string>{123,314}</string>
		</dict>
		<key>Monster_Phoenix-l_chibang5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,318},{127,290}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,290}}</string>
			<key>sourceSize</key>
			<string>{127,290}</string>
		</dict>
		<key>Monster_Phoenix-l_chibang6.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,2},{156,229}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,229}}</string>
			<key>sourceSize</key>
			<string>{156,229}</string>
		</dict>
		<key>Monster_Phoenix-l_chibang_kuijia.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,658},{29,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,84}}</string>
			<key>sourceSize</key>
			<string>{29,84}</string>
		</dict>
		<key>Monster_Phoenix-l_chujiap.png</key>
		<dict>
			<key>frame</key>
			<string>{{988,180},{33,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,108}}</string>
			<key>sourceSize</key>
			<string>{33,108}</string>
		</dict>
		<key>Monster_Phoenix-l_datui.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,327},{24,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,14}}</string>
			<key>sourceSize</key>
			<string>{24,14}</string>
		</dict>
		<key>Monster_Phoenix-l_tui_kuijia.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,317},{22,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,41}}</string>
			<key>sourceSize</key>
			<string>{22,41}</string>
		</dict>
		<key>Monster_Phoenix-l_xiaotui_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,327},{49,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,21}}</string>
			<key>sourceSize</key>
			<string>{49,21}</string>
		</dict>
		<key>Monster_Phoenix-l_xiaotui_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,2},{17,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,11}}</string>
			<key>sourceSize</key>
			<string>{17,11}</string>
		</dict>
		<key>Monster_Phoenix-l_zhua.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,665},{29,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,42}}</string>
			<key>sourceSize</key>
			<string>{29,42}</string>
		</dict>
		<key>Monster_Phoenix-l_zhua_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,98},{11,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,40}}</string>
			<key>sourceSize</key>
			<string>{11,40}</string>
		</dict>
		<key>Monster_Phoenix-l_zhua_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{988,142},{10,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,36}}</string>
			<key>sourceSize</key>
			<string>{10,36}</string>
		</dict>
		<key>Monster_Phoenix-l_zhua_c.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,140},{11,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,38}}</string>
			<key>sourceSize</key>
			<string>{11,38}</string>
		</dict>
		<key>Monster_Phoenix-l_zhua_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,15},{13,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,25}}</string>
			<key>sourceSize</key>
			<string>{13,25}</string>
		</dict>
		<key>Monster_Phoenix-ljf1.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,608},{90,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,132}}</string>
			<key>sourceSize</key>
			<string>{90,132}</string>
		</dict>
		<key>Monster_Phoenix-ljf2.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,475},{93,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,131}}</string>
			<key>sourceSize</key>
			<string>{93,131}</string>
		</dict>
		<key>Monster_Phoenix-ljf3.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,515},{113,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,132}}</string>
			<key>sourceSize</key>
			<string>{113,132}</string>
		</dict>
		<key>Monster_Phoenix-ljf4.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,515},{126,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,132}}</string>
			<key>sourceSize</key>
			<string>{126,132}</string>
		</dict>
		<key>Monster_Phoenix-ljf5.png</key>
		<dict>
			<key>frame</key>
			<string>{{653,488},{130,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,131}}</string>
			<key>sourceSize</key>
			<string>{130,131}</string>
		</dict>
		<key>Monster_Phoenix-ljf6.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,149},{136,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,131}}</string>
			<key>sourceSize</key>
			<string>{136,131}</string>
		</dict>
		<key>Monster_Phoenix-ljf7.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,530},{128,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,133}}</string>
			<key>sourceSize</key>
			<string>{128,133}</string>
		</dict>
		<key>Monster_Phoenix-ljf8.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,621},{109,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,132}}</string>
			<key>sourceSize</key>
			<string>{109,132}</string>
		</dict>
		<key>Monster_Phoenix-r_chibang1.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,160},{252,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{252,65}}</string>
			<key>sourceSize</key>
			<string>{252,65}</string>
		</dict>
		<key>Monster_Phoenix-r_chibang2.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,452},{256,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,61}}</string>
			<key>sourceSize</key>
			<string>{256,61}</string>
		</dict>
		<key>Monster_Phoenix-r_chibang3.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,142},{176,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,108}}</string>
			<key>sourceSize</key>
			<string>{176,108}</string>
		</dict>
		<key>Monster_Phoenix-r_chibang5.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,2},{127,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,225}}</string>
			<key>sourceSize</key>
			<string>{127,225}</string>
		</dict>
		<key>Monster_Phoenix-r_chibang6.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,2},{100,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,156}}</string>
			<key>sourceSize</key>
			<string>{100,156}</string>
		</dict>
		<key>Monster_Phoenix-r_chujiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,290},{36,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,93}}</string>
			<key>sourceSize</key>
			<string>{36,93}</string>
		</dict>
		<key>Monster_Phoenix-r_tui.png</key>
		<dict>
			<key>frame</key>
			<string>{{926,252},{18,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,24}}</string>
			<key>sourceSize</key>
			<string>{18,24}</string>
		</dict>
		<key>Monster_Phoenix-r_tui_kuijia.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,498},{22,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,36}}</string>
			<key>sourceSize</key>
			<string>{22,36}</string>
		</dict>
		<key>Monster_Phoenix-r_xiaotui.png</key>
		<dict>
			<key>frame</key>
			<string>{{868,252},{56,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,24}}</string>
			<key>sourceSize</key>
			<string>{56,24}</string>
		</dict>
		<key>Monster_Phoenix-r_zhang.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,327},{11,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,17}}</string>
			<key>sourceSize</key>
			<string>{11,17}</string>
		</dict>
		<key>Monster_Phoenix-r_zhi1_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,327},{11,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,20}}</string>
			<key>sourceSize</key>
			<string>{11,20}</string>
		</dict>
		<key>Monster_Phoenix-r_zhi1_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,385},{36,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,13}}</string>
			<key>sourceSize</key>
			<string>{36,13}</string>
		</dict>
		<key>Monster_Phoenix-r_zhi2_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,42},{12,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,41}}</string>
			<key>sourceSize</key>
			<string>{12,41}</string>
		</dict>
		<key>Monster_Phoenix-r_zhi2_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,343},{19,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,13}}</string>
			<key>sourceSize</key>
			<string>{19,13}</string>
		</dict>
		<key>Monster_Phoenix-suixie.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,327},{8,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,18}}</string>
			<key>sourceSize</key>
			<string>{8,18}</string>
		</dict>
		<key>Monster_Phoenix-tou.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,400},{35,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,73}}</string>
			<key>sourceSize</key>
			<string>{35,73}</string>
		</dict>
		<key>Monster_Phoenix-wei_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,621},{32,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,35}}</string>
			<key>sourceSize</key>
			<string>{32,35}</string>
		</dict>
		<key>Monster_Phoenix-wei_2_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,252},{60,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,26}}</string>
			<key>sourceSize</key>
			<string>{60,26}</string>
		</dict>
		<key>Monster_Phoenix-wei_2_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,406},{50,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,39}}</string>
			<key>sourceSize</key>
			<string>{50,39}</string>
		</dict>
		<key>Monster_Phoenix-xiong.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,665},{48,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,72}}</string>
			<key>sourceSize</key>
			<string>{48,72}</string>
		</dict>
		<key>Monster_Phoenix-yizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,488},{129,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,40}}</string>
			<key>sourceSize</key>
			<string>{129,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_Phoenix.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:36c800ca52052c53699fab5714f8e915$</string>
		<key>textureFileName</key>
		<string>Monster_Phoenix.png</string>
	</dict>
</dict>
</plist>
