<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_huaixuesheng-baohuohua 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,237},{82,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,38}}</string>
			<key>sourceSize</key>
			<string>{82,38}</string>
		</dict>
		<key>Monster_huaixuesheng-baohuohua 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,46},{112,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,72}}</string>
			<key>sourceSize</key>
			<string>{112,72}</string>
		</dict>
		<key>Monster_huaixuesheng-baohuohua 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,2},{112,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,73}}</string>
			<key>sourceSize</key>
			<string>{112,73}</string>
		</dict>
		<key>Monster_huaixuesheng-baohuohua 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,77},{97,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,72}}</string>
			<key>sourceSize</key>
			<string>{97,72}</string>
		</dict>
		<key>Monster_huaixuesheng-baohuohua 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,151},{87,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,69}}</string>
			<key>sourceSize</key>
			<string>{87,69}</string>
		</dict>
		<key>Monster_huaixuesheng-gxs2.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,222},{85,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,13}}</string>
			<key>sourceSize</key>
			<string>{85,13}</string>
		</dict>
		<key>Monster_huaixuesheng-gxs3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,120},{96,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,12}}</string>
			<key>sourceSize</key>
			<string>{96,12}</string>
		</dict>
		<key>Monster_huaixuesheng-qe3.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,2},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-2a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,117},{37,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,52}}</string>
			<key>sourceSize</key>
			<string>{37,52}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-2a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,310},{36,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,53}}</string>
			<key>sourceSize</key>
			<string>{36,53}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-3a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,365},{46,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,37}}</string>
			<key>sourceSize</key>
			<string>{46,37}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-3a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,326},{47,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,42}}</string>
			<key>sourceSize</key>
			<string>{47,42}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-4a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,366},{30,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,33}}</string>
			<key>sourceSize</key>
			<string>{30,33}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-4a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,294},{42,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,30}}</string>
			<key>sourceSize</key>
			<string>{42,30}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-4a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,486},{34,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,17}}</string>
			<key>sourceSize</key>
			<string>{34,17}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-4a-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,370},{33,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,41}}</string>
			<key>sourceSize</key>
			<string>{33,41}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-4a-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,84},{38,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,31}}</string>
			<key>sourceSize</key>
			<string>{38,31}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-5a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,151},{27,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,45}}</string>
			<key>sourceSize</key>
			<string>{27,45}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-5a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,321},{36,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,42}}</string>
			<key>sourceSize</key>
			<string>{36,42}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-6a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,370},{29,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,32}}</string>
			<key>sourceSize</key>
			<string>{29,32}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-6a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,370},{31,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,27}}</string>
			<key>sourceSize</key>
			<string>{31,27}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-7a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,268},{40,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,24}}</string>
			<key>sourceSize</key>
			<string>{40,24}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-7a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,345},{34,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,28}}</string>
			<key>sourceSize</key>
			<string>{34,28}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-8a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,235},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,84}}</string>
			<key>sourceSize</key>
			<string>{84,84}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-bq-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,277},{22,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,12}}</string>
			<key>sourceSize</key>
			<string>{22,12}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-bq-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,291},{22,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,11}}</string>
			<key>sourceSize</key>
			<string>{22,11}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-ed-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,16},{10,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,26}}</string>
			<key>sourceSize</key>
			<string>{10,26}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-ed-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,44},{10,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,19}}</string>
			<key>sourceSize</key>
			<string>{10,19}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-fb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,171},{40,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,137}}</string>
			<key>sourceSize</key>
			<string>{40,137}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-lb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,321},{35,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,43}}</string>
			<key>sourceSize</key>
			<string>{35,43}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-pd-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,277},{56,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,33}}</string>
			<key>sourceSize</key>
			<string>{56,33}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-qz-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,65},{8,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,17}}</string>
			<key>sourceSize</key>
			<string>{8,17}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-qz-1a.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,304},{19,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,16}}</string>
			<key>sourceSize</key>
			<string>{19,16}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-tf-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,312},{56,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,31}}</string>
			<key>sourceSize</key>
			<string>{56,31}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-tx-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,134},{92,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,99}}</string>
			<key>sourceSize</key>
			<string>{92,99}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-tx-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,404},{44,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,80}}</string>
			<key>sourceSize</key>
			<string>{44,80}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-tx-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,198},{26,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,41}}</string>
			<key>sourceSize</key>
			<string>{26,41}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-xb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,241},{40,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,25}}</string>
			<key>sourceSize</key>
			<string>{40,25}</string>
		</dict>
		<key>Monster_huaixuesheng-xssr-yz.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{120,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,42}}</string>
			<key>sourceSize</key>
			<string>{120,42}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_huaixuesheng.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4b47d448725046c6b4cd0f5b84b9c7e5$</string>
		<key>textureFileName</key>
		<string>Monster_huaixuesheng.png</string>
	</dict>
</dict>
</plist>
