<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_Pumpkin_liandao-bozha5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,233},{87,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,81}}</string>
			<key>sourceSize</key>
			<string>{87,81}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-bozha6.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,179},{90,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,79}}</string>
			<key>sourceSize</key>
			<string>{90,79}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-bozha7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,316},{87,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,79}}</string>
			<key>sourceSize</key>
			<string>{87,79}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-bozha8.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,98},{81,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,79}}</string>
			<key>sourceSize</key>
			<string>{81,79}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-guang1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{171,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,77}}</string>
			<key>sourceSize</key>
			<string>{171,77}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-guang2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,81},{167,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,73}}</string>
			<key>sourceSize</key>
			<string>{167,73}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-guang3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,156},{154,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,75}}</string>
			<key>sourceSize</key>
			<string>{154,75}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-huo1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,274},{25,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,27}}</string>
			<key>sourceSize</key>
			<string>{25,27}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-huo1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,313},{23,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,28}}</string>
			<key>sourceSize</key>
			<string>{23,28}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-huo1-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,308},{23,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,28}}</string>
			<key>sourceSize</key>
			<string>{23,28}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-huo1-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,338},{22,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,29}}</string>
			<key>sourceSize</key>
			<string>{22,29}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-huo1-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,346},{20,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,29}}</string>
			<key>sourceSize</key>
			<string>{20,29}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-huo1-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,377},{21,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,29}}</string>
			<key>sourceSize</key>
			<string>{21,29}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-huo1-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,276},{22,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,30}}</string>
			<key>sourceSize</key>
			<string>{22,30}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-huo1-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,303},{24,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,27}}</string>
			<key>sourceSize</key>
			<string>{24,27}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-huoa-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,260},{49,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,14}}</string>
			<key>sourceSize</key>
			<string>{49,14}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-liandao.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,233},{65,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,103}}</string>
			<key>sourceSize</key>
			<string>{65,103}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-1a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,2},{78,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,60}}</string>
			<key>sourceSize</key>
			<string>{78,60}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-2a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,324},{8,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,20}}</string>
			<key>sourceSize</key>
			<string>{8,20}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-2a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,307},{7,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,15}}</string>
			<key>sourceSize</key>
			<string>{7,15}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-3a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,314},{9,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,16}}</string>
			<key>sourceSize</key>
			<string>{9,16}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-3a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,338},{9,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,15}}</string>
			<key>sourceSize</key>
			<string>{9,15}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-4a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,338},{7,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,11}}</string>
			<key>sourceSize</key>
			<string>{7,11}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-5a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,338},{8,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,15}}</string>
			<key>sourceSize</key>
			<string>{8,15}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-5a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,332},{7,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,11}}</string>
			<key>sourceSize</key>
			<string>{7,11}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-6a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,260},{5,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,7}}</string>
			<key>sourceSize</key>
			<string>{5,7}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-6a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,351},{6,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,7}}</string>
			<key>sourceSize</key>
			<string>{6,7}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-7a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,355},{6,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,4}}</string>
			<key>sourceSize</key>
			<string>{6,4}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-7a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,355},{6,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,4}}</string>
			<key>sourceSize</key>
			<string>{6,4}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-8a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,357},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-dz-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,332},{23,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,23}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-jd-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,338},{6,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,27}}</string>
			<key>sourceSize</key>
			<string>{6,27}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-kl-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,156},{10,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,13}}</string>
			<key>sourceSize</key>
			<string>{10,13}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-q-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,307},{10,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,5}}</string>
			<key>sourceSize</key>
			<string>{10,5}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-q-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,171},{10,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,6}}</string>
			<key>sourceSize</key>
			<string>{10,6}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-xb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,64},{76,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,32}}</string>
			<key>sourceSize</key>
			<string>{76,32}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-yj-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,276},{25,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,18}}</string>
			<key>sourceSize</key>
			<string>{25,18}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-yj-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,274},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-yj-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,296},{24,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,15}}</string>
			<key>sourceSize</key>
			<string>{24,15}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-nangua-yj-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,292},{12,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,13}}</string>
			<key>sourceSize</key>
			<string>{12,13}</string>
		</dict>
		<key>Monster_Pumpkin_liandao-yizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,260},{38,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,12}}</string>
			<key>sourceSize</key>
			<string>{38,12}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_Pumpkin_liandao.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e8e2b2c331a34d8db4ad1ecf2e8a06c9$</string>
		<key>textureFileName</key>
		<string>Monster_Pumpkin_liandao.png</string>
	</dict>
</dict>
</plist>
