<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_bubingboss_darkgold-chen-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,292},{69,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,35}}</string>
			<key>sourceSize</key>
			<string>{69,35}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-chen-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,495},{73,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,36}}</string>
			<key>sourceSize</key>
			<string>{73,36}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-chen-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,337},{78,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,39}}</string>
			<key>sourceSize</key>
			<string>{78,39}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-chen-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,299},{82,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,38}}</string>
			<key>sourceSize</key>
			<string>{82,38}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-gun-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,419},{12,243}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,243}}</string>
			<key>sourceSize</key>
			<string>{12,243}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-gxs2.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,284},{85,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,13}}</string>
			<key>sourceSize</key>
			<string>{85,13}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-gxs3.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,247},{96,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,12}}</string>
			<key>sourceSize</key>
			<string>{96,12}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-hq-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,173},{138,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,171}}</string>
			<key>sourceSize</key>
			<string>{138,171}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-hq-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,284},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-klgx1.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,173},{136,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,37}}</string>
			<key>sourceSize</key>
			<string>{136,37}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-klgx2.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,185},{99,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,30}}</string>
			<key>sourceSize</key>
			<string>{99,30}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-klgx3.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,261},{92,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,21}}</string>
			<key>sourceSize</key>
			<string>{92,21}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-klgx4.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,173},{124,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,10}}</string>
			<key>sourceSize</key>
			<string>{124,10}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-mao-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,214},{63,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,121}}</string>
			<key>sourceSize</key>
			<string>{63,121}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-qe3.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,729},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-jb-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,185},{19,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,21}}</string>
			<key>sourceSize</key>
			<string>{19,21}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-jb1-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,679},{42,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,39}}</string>
			<key>sourceSize</key>
			<string>{42,39}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-jb1-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,470},{55,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,33}}</string>
			<key>sourceSize</key>
			<string>{55,33}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-jb2-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,306},{49,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,62}}</string>
			<key>sourceSize</key>
			<string>{49,62}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-jb2-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,610},{46,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,67}}</string>
			<key>sourceSize</key>
			<string>{46,67}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-jb3-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,144},{56,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,68}}</string>
			<key>sourceSize</key>
			<string>{56,68}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-sb1-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,378},{77,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,74}}</string>
			<key>sourceSize</key>
			<string>{77,74}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-sb1-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,213},{64,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,77}}</string>
			<key>sourceSize</key>
			<string>{64,77}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-sb1-04.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,2},{60,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,71}}</string>
			<key>sourceSize</key>
			<string>{60,71}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-sb2-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,610},{33,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,36}}</string>
			<key>sourceSize</key>
			<string>{33,36}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-sb2-011.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,700},{31,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,47}}</string>
			<key>sourceSize</key>
			<string>{31,47}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-sb2-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,346},{31,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,34}}</string>
			<key>sourceSize</key>
			<string>{31,34}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-sb3-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,217},{93,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,200}}</string>
			<key>sourceSize</key>
			<string>{93,200}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-sb3-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,250},{36,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,47}}</string>
			<key>sourceSize</key>
			<string>{36,47}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-sb3-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,75},{57,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,67}}</string>
			<key>sourceSize</key>
			<string>{57,67}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-sb4-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,648},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-sb4-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,295},{7,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,9}}</string>
			<key>sourceSize</key>
			<string>{7,9}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-st1-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,419},{79,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,77}}</string>
			<key>sourceSize</key>
			<string>{79,77}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-st1-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,619},{43,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,67}}</string>
			<key>sourceSize</key>
			<string>{43,67}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-st1-05.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,454},{75,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,39}}</string>
			<key>sourceSize</key>
			<string>{75,39}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-st2-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,578},{48,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,30}}</string>
			<key>sourceSize</key>
			<string>{48,30}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-st2-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,682},{42,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,16}}</string>
			<key>sourceSize</key>
			<string>{42,16}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-st2-05.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,173},{39,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,38}}</string>
			<key>sourceSize</key>
			<string>{39,38}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-st2-06.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,346},{29,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,44}}</string>
			<key>sourceSize</key>
			<string>{29,44}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-st2-07.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,700},{12,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,27}}</string>
			<key>sourceSize</key>
			<string>{12,27}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-tie-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,329},{55,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,139}}</string>
			<key>sourceSize</key>
			<string>{55,139}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-tie-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,370},{54,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,126}}</string>
			<key>sourceSize</key>
			<string>{54,126}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-yj-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,346},{27,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,9}}</string>
			<key>sourceSize</key>
			<string>{27,9}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-yj-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,374},{26,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,11}}</string>
			<key>sourceSize</key>
			<string>{26,11}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-ym-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,533},{11,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,55}}</string>
			<key>sourceSize</key>
			<string>{11,55}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-yz .png</key>
		<dict>
			<key>frame</key>
			<string>{{142,212},{96,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,33}}</string>
			<key>sourceSize</key>
			<string>{96,33}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-zb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,299},{11,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,4}}</string>
			<key>sourceSize</key>
			<string>{11,4}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-zb-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,578},{13,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,10}}</string>
			<key>sourceSize</key>
			<string>{13,10}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlboss-zb-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,329},{13,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,6}}</string>
			<key>sourceSize</key>
			<string>{13,6}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlbossjb3-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,558},{48,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,59}}</string>
			<key>sourceSize</key>
			<string>{48,59}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlbossst1-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,339},{80,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,70}}</string>
			<key>sourceSize</key>
			<string>{80,70}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlbossst1-1a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,505},{49,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,51}}</string>
			<key>sourceSize</key>
			<string>{49,51}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlbossst1-tf1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,382},{28,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,16}}</string>
			<key>sourceSize</key>
			<string>{28,16}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlbossst1-tf2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,346},{26,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,43}}</string>
			<key>sourceSize</key>
			<string>{26,43}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlbossst1-tf3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,212},{38,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,36}}</string>
			<key>sourceSize</key>
			<string>{38,36}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlbossst1-tf4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,346},{14,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,38}}</string>
			<key>sourceSize</key>
			<string>{14,38}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlbossst2-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,590},{34,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,18}}</string>
			<key>sourceSize</key>
			<string>{34,18}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-rlbossst2-04.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,357},{26,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,15}}</string>
			<key>sourceSize</key>
			<string>{26,15}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-xfa11.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,2},{147,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,169}}</string>
			<key>sourceSize</key>
			<string>{147,169}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-xfa12.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,2},{147,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,169}}</string>
			<key>sourceSize</key>
			<string>{147,169}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-xfa13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{147,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,169}}</string>
			<key>sourceSize</key>
			<string>{147,169}</string>
		</dict>
		<key>Monster_bubingboss_darkgold-xym-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,533},{71,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,43}}</string>
			<key>sourceSize</key>
			<string>{71,43}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_bubingboss_darkgold.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f373e55d19e784c237c54091b8f9b53d$</string>
		<key>textureFileName</key>
		<string>Monster_bubingboss_darkgold.png</string>
	</dict>
</dict>
</plist>
