<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_christmasTree-888.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,68},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Monster_christmasTree-888ex.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,55},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Monster_christmasTree-888zizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,42},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Monster_christmasTree-baozhalizi01.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,42},{49,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,49}}</string>
			<key>sourceSize</key>
			<string>{49,49}</string>
		</dict>
		<key>Monster_christmasTree-gq01.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,93},{44,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,31}}</string>
			<key>sourceSize</key>
			<string>{44,31}</string>
		</dict>
		<key>Monster_christmasTree-gq02.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,2},{60,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,38}}</string>
			<key>sourceSize</key>
			<string>{60,38}</string>
		</dict>
		<key>Monster_christmasTree-gq04.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,433},{86,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,42}}</string>
			<key>sourceSize</key>
			<string>{86,42}</string>
		</dict>
		<key>Monster_christmasTree-gq05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,433},{88,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,44}}</string>
			<key>sourceSize</key>
			<string>{88,44}</string>
		</dict>
		<key>Monster_christmasTree-shu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,128},{181,303}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,303}}</string>
			<key>sourceSize</key>
			<string>{181,303}</string>
		</dict>
		<key>Monster_christmasTree-zhuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{184,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,124}}</string>
			<key>sourceSize</key>
			<string>{184,124}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_christmasTree.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d8b2066d9996167f48969132f4139b6d$</string>
		<key>textureFileName</key>
		<string>Monster_christmasTree.png</string>
	</dict>
</dict>
</plist>
