<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_anlong-al-0-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,291},{3,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,5}}</string>
			<key>sourceSize</key>
			<string>{3,5}</string>
		</dict>
		<key>Monster_anlong-al-0-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,299},{4,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,6}}</string>
			<key>sourceSize</key>
			<string>{4,6}</string>
		</dict>
		<key>Monster_anlong-al-11-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{577,473},{45,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,28}}</string>
			<key>sourceSize</key>
			<string>{45,28}</string>
		</dict>
		<key>Monster_anlong-al-11-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,559},{48,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,39}}</string>
			<key>sourceSize</key>
			<string>{48,39}</string>
		</dict>
		<key>Monster_anlong-al-12-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,357},{90,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,77}}</string>
			<key>sourceSize</key>
			<string>{90,77}</string>
		</dict>
		<key>Monster_anlong-al-12-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,572},{61,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,25}}</string>
			<key>sourceSize</key>
			<string>{61,25}</string>
		</dict>
		<key>Monster_anlong-al-13-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,423},{78,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,80}}</string>
			<key>sourceSize</key>
			<string>{78,80}</string>
		</dict>
		<key>Monster_anlong-al-21-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,470},{51,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,86}}</string>
			<key>sourceSize</key>
			<string>{51,86}</string>
		</dict>
		<key>Monster_anlong-al-22-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,495},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>Monster_anlong-al-31-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,512},{61,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,65}}</string>
			<key>sourceSize</key>
			<string>{61,65}</string>
		</dict>
		<key>Monster_anlong-al-31-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,603},{56,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,38}}</string>
			<key>sourceSize</key>
			<string>{56,38}</string>
		</dict>
		<key>Monster_anlong-al-31-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,515},{48,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,33}}</string>
			<key>sourceSize</key>
			<string>{48,33}</string>
		</dict>
		<key>Monster_anlong-al-32-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,346},{38,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,66}}</string>
			<key>sourceSize</key>
			<string>{38,66}</string>
		</dict>
		<key>Monster_anlong-al-33-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,556},{61,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,45}}</string>
			<key>sourceSize</key>
			<string>{61,45}</string>
		</dict>
		<key>Monster_anlong-al-34-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,423},{16,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,12}}</string>
			<key>sourceSize</key>
			<string>{16,12}</string>
		</dict>
		<key>Monster_anlong-al-34-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,483},{22,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,19}}</string>
			<key>sourceSize</key>
			<string>{22,19}</string>
		</dict>
		<key>Monster_anlong-al-34-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,504},{21,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,20}}</string>
			<key>sourceSize</key>
			<string>{21,20}</string>
		</dict>
		<key>Monster_anlong-al-34-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{674,526},{21,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,18}}</string>
			<key>sourceSize</key>
			<string>{21,18}</string>
		</dict>
		<key>Monster_anlong-al-41-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,2},{246,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,134}}</string>
			<key>sourceSize</key>
			<string>{246,134}</string>
		</dict>
		<key>Monster_anlong-al-41-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,77},{246,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,118}}</string>
			<key>sourceSize</key>
			<string>{246,118}</string>
		</dict>
		<key>Monster_anlong-al-42-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,138},{243,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,130}}</string>
			<key>sourceSize</key>
			<string>{243,130}</string>
		</dict>
		<key>Monster_anlong-al-42-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,90},{243,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,120}}</string>
			<key>sourceSize</key>
			<string>{243,120}</string>
		</dict>
		<key>Monster_anlong-al-43-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,2},{290,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,73}}</string>
			<key>sourceSize</key>
			<string>{290,73}</string>
		</dict>
		<key>Monster_anlong-al-51-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,364},{135,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,63}}</string>
			<key>sourceSize</key>
			<string>{135,63}</string>
		</dict>
		<key>Monster_anlong-al-52-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,436},{91,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,32}}</string>
			<key>sourceSize</key>
			<string>{91,32}</string>
		</dict>
		<key>Monster_anlong-al-53-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,212},{65,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,205}}</string>
			<key>sourceSize</key>
			<string>{65,205}</string>
		</dict>
		<key>Monster_anlong-al-61-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,429},{92,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,52}}</string>
			<key>sourceSize</key>
			<string>{92,52}</string>
		</dict>
		<key>Monster_anlong-al-71-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,609},{53,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,54}}</string>
			<key>sourceSize</key>
			<string>{53,54}</string>
		</dict>
		<key>Monster_anlong-al-81-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,517},{68,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,53}}</string>
			<key>sourceSize</key>
			<string>{68,53}</string>
		</dict>
		<key>Monster_anlong-al-91-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,503},{74,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,80}}</string>
			<key>sourceSize</key>
			<string>{74,80}</string>
		</dict>
		<key>Monster_anlong-al-92-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,509},{93,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,98}}</string>
			<key>sourceSize</key>
			<string>{93,98}</string>
		</dict>
		<key>Monster_anlong-al-93-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,376},{71,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,106}}</string>
			<key>sourceSize</key>
			<string>{71,106}</string>
		</dict>
		<key>Monster_anlong-al-94-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,270},{84,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,85}}</string>
			<key>sourceSize</key>
			<string>{84,85}</string>
		</dict>
		<key>Monster_anlong-al-94-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,501},{53,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,71}}</string>
			<key>sourceSize</key>
			<string>{53,71}</string>
		</dict>
		<key>Monster_anlong-b10.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,395},{16,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,26}}</string>
			<key>sourceSize</key>
			<string>{16,26}</string>
		</dict>
		<key>Monster_anlong-b11.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,279},{35,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,10}}</string>
			<key>sourceSize</key>
			<string>{35,10}</string>
		</dict>
		<key>Monster_anlong-b2.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,575},{56,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,48}}</string>
			<key>sourceSize</key>
			<string>{56,48}</string>
		</dict>
		<key>Monster_anlong-b3.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,480},{48,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,46}}</string>
			<key>sourceSize</key>
			<string>{48,46}</string>
		</dict>
		<key>Monster_anlong-b4.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,143},{41,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,43}}</string>
			<key>sourceSize</key>
			<string>{41,43}</string>
		</dict>
		<key>Monster_anlong-b5.png</key>
		<dict>
			<key>frame</key>
			<string>{{573,520},{32,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,37}}</string>
			<key>sourceSize</key>
			<string>{32,37}</string>
		</dict>
		<key>Monster_anlong-b8.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,188},{26,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,41}}</string>
			<key>sourceSize</key>
			<string>{26,41}</string>
		</dict>
		<key>Monster_anlong-b9.png</key>
		<dict>
			<key>frame</key>
			<string>{{577,449},{29,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,22}}</string>
			<key>sourceSize</key>
			<string>{29,22}</string>
		</dict>
		<key>Monster_anlong-h1.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,280},{38,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,17}}</string>
			<key>sourceSize</key>
			<string>{38,17}</string>
		</dict>
		<key>Monster_anlong-h10.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,273},{166,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,71}}</string>
			<key>sourceSize</key>
			<string>{166,71}</string>
		</dict>
		<key>Monster_anlong-h11.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,197},{169,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,74}}</string>
			<key>sourceSize</key>
			<string>{169,74}</string>
		</dict>
		<key>Monster_anlong-h12.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,346},{126,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,61}}</string>
			<key>sourceSize</key>
			<string>{126,61}</string>
		</dict>
		<key>Monster_anlong-h13.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,409},{102,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,64}}</string>
			<key>sourceSize</key>
			<string>{102,64}</string>
		</dict>
		<key>Monster_anlong-h14.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,437},{72,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,56}}</string>
			<key>sourceSize</key>
			<string>{72,56}</string>
		</dict>
		<key>Monster_anlong-h15.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,449},{75,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,50}}</string>
			<key>sourceSize</key>
			<string>{75,50}</string>
		</dict>
		<key>Monster_anlong-h16.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,483},{67,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,27}}</string>
			<key>sourceSize</key>
			<string>{67,27}</string>
		</dict>
		<key>Monster_anlong-h17.png</key>
		<dict>
			<key>frame</key>
			<string>{{674,546},{60,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,19}}</string>
			<key>sourceSize</key>
			<string>{60,19}</string>
		</dict>
		<key>Monster_anlong-h18.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,599},{57,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,15}}</string>
			<key>sourceSize</key>
			<string>{57,15}</string>
		</dict>
		<key>Monster_anlong-h2.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,475},{102,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,32}}</string>
			<key>sourceSize</key>
			<string>{102,32}</string>
		</dict>
		<key>Monster_anlong-h3.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,329},{154,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,33}}</string>
			<key>sourceSize</key>
			<string>{154,33}</string>
		</dict>
		<key>Monster_anlong-h4.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,270},{159,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,57}}</string>
			<key>sourceSize</key>
			<string>{159,57}</string>
		</dict>
		<key>Monster_anlong-h5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,350},{162,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,76}}</string>
			<key>sourceSize</key>
			<string>{162,76}</string>
		</dict>
		<key>Monster_anlong-h6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,428},{161,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,82}}</string>
			<key>sourceSize</key>
			<string>{161,82}</string>
		</dict>
		<key>Monster_anlong-h7.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,258},{163,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,84}}</string>
			<key>sourceSize</key>
			<string>{163,84}</string>
		</dict>
		<key>Monster_anlong-h8.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,90},{166,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,83}}</string>
			<key>sourceSize</key>
			<string>{166,83}</string>
		</dict>
		<key>Monster_anlong-h9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,279},{166,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,69}}</string>
			<key>sourceSize</key>
			<string>{166,69}</string>
		</dict>
		<key>Monster_anlong-s1.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,364},{29,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,17}}</string>
			<key>sourceSize</key>
			<string>{29,17}</string>
		</dict>
		<key>Monster_anlong-s2.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,480},{52,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,33}}</string>
			<key>sourceSize</key>
			<string>{52,33}</string>
		</dict>
		<key>Monster_anlong-s3.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,530},{47,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,31}}</string>
			<key>sourceSize</key>
			<string>{47,31}</string>
		</dict>
		<key>Monster_anlong-s4.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,212},{56,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,35}}</string>
			<key>sourceSize</key>
			<string>{56,35}</string>
		</dict>
		<key>Monster_anlong-s5.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,216},{62,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,40}}</string>
			<key>sourceSize</key>
			<string>{62,40}</string>
		</dict>
		<key>Monster_anlong-s6.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,77},{64,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,42}}</string>
			<key>sourceSize</key>
			<string>{64,42}</string>
		</dict>
		<key>Monster_anlong-yj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,306},{68,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,119}}</string>
			<key>sourceSize</key>
			<string>{68,119}</string>
		</dict>
		<key>Monster_anlong-yj02.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,414},{62,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,101}}</string>
			<key>sourceSize</key>
			<string>{62,101}</string>
		</dict>
		<key>Monster_anlong-yj03.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,496},{46,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,79}}</string>
			<key>sourceSize</key>
			<string>{46,79}</string>
		</dict>
		<key>Monster_anlong-yj04.png</key>
		<dict>
			<key>frame</key>
			<string>{{864,480},{34,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,56}}</string>
			<key>sourceSize</key>
			<string>{34,56}</string>
		</dict>
		<key>Monster_anlong-yj05.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,270},{24,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,35}}</string>
			<key>sourceSize</key>
			<string>{24,35}</string>
		</dict>
		<key>Monster_anlong-yj1.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,432},{62,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,79}}</string>
			<key>sourceSize</key>
			<string>{62,79}</string>
		</dict>
		<key>Monster_anlong-yj2.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,197},{75,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,107}}</string>
			<key>sourceSize</key>
			<string>{75,107}</string>
		</dict>
		<key>Monster_anlong-yj3.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,83},{73,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,148}}</string>
			<key>sourceSize</key>
			<string>{73,148}</string>
		</dict>
		<key>Monster_anlong-yj4.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,318},{70,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,148}}</string>
			<key>sourceSize</key>
			<string>{70,148}</string>
		</dict>
		<key>Monster_anlong-yj5.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,240},{76,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,152}}</string>
			<key>sourceSize</key>
			<string>{76,152}</string>
		</dict>
		<key>Monster_anlong-yj6.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,158},{80,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,152}}</string>
			<key>sourceSize</key>
			<string>{80,152}</string>
		</dict>
		<key>Monster_anlong-yj7.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,390},{88,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,146}}</string>
			<key>sourceSize</key>
			<string>{88,146}</string>
		</dict>
		<key>Monster_anlong-yj8.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,2},{79,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,148}}</string>
			<key>sourceSize</key>
			<string>{79,148}</string>
		</dict>
		<key>Monster_anlong-yj9.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,296},{74,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,134}}</string>
			<key>sourceSize</key>
			<string>{74,134}</string>
		</dict>
		<key>Monster_anlong-yz1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{328,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{328,86}}</string>
			<key>sourceSize</key>
			<string>{328,86}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_Anlong.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:94e32df360f4ecf92db9f61633a68c50$</string>
		<key>textureFileName</key>
		<string>Monster_Anlong.png</string>
	</dict>
</dict>
</plist>
