<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_mohuanvwu-dslm1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{156,565}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,565}}</string>
			<key>sourceSize</key>
			<string>{156,565}</string>
		</dict>
		<key>Monster_mohuanvwu-dslm2.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,2},{142,571}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,571}}</string>
			<key>sourceSize</key>
			<string>{142,571}</string>
		</dict>
		<key>Monster_mohuanvwu-dslm3.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,383},{83,572}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,572}}</string>
			<key>sourceSize</key>
			<string>{83,572}</string>
		</dict>
		<key>Monster_mohuanvwu-dslm4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,569},{50,451}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,451}}</string>
			<key>sourceSize</key>
			<string>{50,451}</string>
		</dict>
		<key>Monster_mohuanvwu-gxs2.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,368},{85,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,13}}</string>
			<key>sourceSize</key>
			<string>{85,13}</string>
		</dict>
		<key>Monster_mohuanvwu-gxs3.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,354},{96,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,12}}</string>
			<key>sourceSize</key>
			<string>{96,12}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-2a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,173},{10,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,23}}</string>
			<key>sourceSize</key>
			<string>{10,23}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-2a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,259},{12,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,31}}</string>
			<key>sourceSize</key>
			<string>{12,31}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-3a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,16},{8,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,23}}</string>
			<key>sourceSize</key>
			<string>{8,23}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-3a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,296},{9,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,22}}</string>
			<key>sourceSize</key>
			<string>{9,22}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-4a-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,296},{27,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,15}}</string>
			<key>sourceSize</key>
			<string>{27,15}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-4a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,259},{20,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,16}}</string>
			<key>sourceSize</key>
			<string>{20,16}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-4a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,214},{10,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,12}}</string>
			<key>sourceSize</key>
			<string>{10,12}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-4a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,110},{11,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,16}}</string>
			<key>sourceSize</key>
			<string>{11,16}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-4a-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,416},{16,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,32}}</string>
			<key>sourceSize</key>
			<string>{16,32}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-4a-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,277},{19,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,17}}</string>
			<key>sourceSize</key>
			<string>{19,17}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-4a-9.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,228},{21,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,13}}</string>
			<key>sourceSize</key>
			<string>{21,13}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-9a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,440},{36,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,31}}</string>
			<key>sourceSize</key>
			<string>{36,31}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-9a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,957},{67,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,43}}</string>
			<key>sourceSize</key>
			<string>{67,43}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-bz-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,335},{9,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,12}}</string>
			<key>sourceSize</key>
			<string>{9,12}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-gq-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,568},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-gq-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,132},{29,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,30}}</string>
			<key>sourceSize</key>
			<string>{29,30}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-gq-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,537},{31,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,29}}</string>
			<key>sourceSize</key>
			<string>{31,29}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-gq-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,164},{29,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,28}}</string>
			<key>sourceSize</key>
			<string>{29,28}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-lb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,236},{27,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,36}}</string>
			<key>sourceSize</key>
			<string>{27,36}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-pf-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,274},{27,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,20}}</string>
			<key>sourceSize</key>
			<string>{27,20}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-pf-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,536},{19,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,33}}</string>
			<key>sourceSize</key>
			<string>{19,33}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-pf-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,217},{28,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,17}}</string>
			<key>sourceSize</key>
			<string>{28,17}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-pf-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,504},{14,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,30}}</string>
			<key>sourceSize</key>
			<string>{14,30}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-qz-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,473},{36,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,30}}</string>
			<key>sourceSize</key>
			<string>{36,30}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-qz1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,1002},{65,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,18}}</string>
			<key>sourceSize</key>
			<string>{65,18}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-qz1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,1002},{65,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,18}}</string>
			<key>sourceSize</key>
			<string>{65,18}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-qz1-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,214},{52,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,43}}</string>
			<key>sourceSize</key>
			<string>{52,43}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-qz1-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,957},{67,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,25}}</string>
			<key>sourceSize</key>
			<string>{67,25}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-qz1-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,422},{64,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,26}}</string>
			<key>sourceSize</key>
			<string>{64,26}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-qz1-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,984},{66,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,22}}</string>
			<key>sourceSize</key>
			<string>{66,22}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-qz2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,351},{24,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,69}}</string>
			<key>sourceSize</key>
			<string>{24,69}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-qz3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,313},{25,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,78}}</string>
			<key>sourceSize</key>
			<string>{25,78}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-qz4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,351},{13,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,42}}</string>
			<key>sourceSize</key>
			<string>{13,42}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-qz5-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,986},{72,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,26}}</string>
			<key>sourceSize</key>
			<string>{72,26}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-qz6-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,335},{41,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,11}}</string>
			<key>sourceSize</key>
			<string>{41,11}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-st-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,194},{28,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,21}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-sz-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,163},{14,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,8}}</string>
			<key>sourceSize</key>
			<string>{14,8}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-sz-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,320},{9,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,13}}</string>
			<key>sourceSize</key>
			<string>{9,13}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-sz-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,198},{10,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,14}}</string>
			<key>sourceSize</key>
			<string>{10,14}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-sz-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,41},{8,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,12}}</string>
			<key>sourceSize</key>
			<string>{8,12}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-sz-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,292},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-tf1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,957},{24,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,40}}</string>
			<key>sourceSize</key>
			<string>{24,40}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-tf1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,571},{23,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,46}}</string>
			<key>sourceSize</key>
			<string>{23,46}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-tf2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,412},{37,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,26}}</string>
			<key>sourceSize</key>
			<string>{37,26}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-tf3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,141},{14,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,20}}</string>
			<key>sourceSize</key>
			<string>{14,20}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-tf4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,395},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-tf5-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,296},{9,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,53}}</string>
			<key>sourceSize</key>
			<string>{9,53}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-tf6-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,306},{11,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,43}}</string>
			<key>sourceSize</key>
			<string>{11,43}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-xb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,469},{17,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,16}}</string>
			<key>sourceSize</key>
			<string>{17,16}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-xb-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,450},{17,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,17}}</string>
			<key>sourceSize</key>
			<string>{17,17}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-yb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,243},{22,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,14}}</string>
			<key>sourceSize</key>
			<string>{22,14}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-yb0-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,348},{40,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,62}}</string>
			<key>sourceSize</key>
			<string>{40,62}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-yj-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,121},{30,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,9}}</string>
			<key>sourceSize</key>
			<string>{30,9}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-yj-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,110},{30,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,9}}</string>
			<key>sourceSize</key>
			<string>{30,9}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-yz.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,957},{82,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,27}}</string>
			<key>sourceSize</key>
			<string>{82,27}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-zb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,81},{7,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,3}}</string>
			<key>sourceSize</key>
			<string>{7,3}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-zb-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,55},{8,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,4}}</string>
			<key>sourceSize</key>
			<string>{8,4}</string>
		</dict>
		<key>Monster_mohuanvwu-mohuanv-zz-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,61},{7,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,18}}</string>
			<key>sourceSize</key>
			<string>{7,18}</string>
		</dict>
		<key>Monster_mohuanvwu-qe3.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,128},{11,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,11}}</string>
			<key>sourceSize</key>
			<string>{11,11}</string>
		</dict>
		<key>Monster_mohuanvwu-ren 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,2},{52,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,210}}</string>
			<key>sourceSize</key>
			<string>{52,210}</string>
		</dict>
		<key>Monster_mohuanvwu-ren2.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,110},{102,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,93}}</string>
			<key>sourceSize</key>
			<string>{102,93}</string>
		</dict>
		<key>Monster_mohuanvwu-ren3.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,16},{139,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,92}}</string>
			<key>sourceSize</key>
			<string>{139,92}</string>
		</dict>
		<key>Monster_mohuanvwu-ren4.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,205},{96,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,147}}</string>
			<key>sourceSize</key>
			<string>{96,147}</string>
		</dict>
		<key>Monster_mohuanvwu-sdy11.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,487},{15,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,15}}</string>
			<key>sourceSize</key>
			<string>{15,15}</string>
		</dict>
		<key>Monster_mohuanvwu-sdy12.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,297},{41,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,36}}</string>
			<key>sourceSize</key>
			<string>{41,36}</string>
		</dict>
		<key>Monster_mohuanvwu-sdy13.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,259},{41,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,36}}</string>
			<key>sourceSize</key>
			<string>{41,36}</string>
		</dict>
		<key>Monster_mohuanvwu-sdy14.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,505},{34,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,30}}</string>
			<key>sourceSize</key>
			<string>{34,30}</string>
		</dict>
		<key>Monster_mohuanvwu-sz1.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,2},{149,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,12}}</string>
			<key>sourceSize</key>
			<string>{149,12}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_mohuanvwu.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:85761bea05f4a55805798d02ad5070de$</string>
		<key>textureFileName</key>
		<string>Monster_mohuanvwu.png</string>
	</dict>
</dict>
</plist>
