<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_quanshou-888.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,443},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Monster_quanshou-888ex.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,443},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Monster_quanshou-888lvselv.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,236},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Monster_quanshou-888zizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,223},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Monster_quanshou-bizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,97},{4,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,3}}</string>
			<key>sourceSize</key>
			<string>{4,3}</string>
		</dict>
		<key>Monster_quanshou-bozi.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,390},{12,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,9}}</string>
			<key>sourceSize</key>
			<string>{12,9}</string>
		</dict>
		<key>Monster_quanshou-huojuji 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,468},{29,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,42}}</string>
			<key>sourceSize</key>
			<string>{29,42}</string>
		</dict>
		<key>Monster_quanshou-huojuji 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,401},{54,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,65}}</string>
			<key>sourceSize</key>
			<string>{54,65}</string>
		</dict>
		<key>Monster_quanshou-huojuji 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,121},{77,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,51}}</string>
			<key>sourceSize</key>
			<string>{77,51}</string>
		</dict>
		<key>Monster_quanshou-huojuji 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,79},{94,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,69}}</string>
			<key>sourceSize</key>
			<string>{94,69}</string>
		</dict>
		<key>Monster_quanshou-huojuji 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,290},{45,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,55}}</string>
			<key>sourceSize</key>
			<string>{45,55}</string>
		</dict>
		<key>Monster_quanshou-huojuji 6.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,290},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>Monster_quanshou-l_dabi.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,252},{28,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,10}}</string>
			<key>sourceSize</key>
			<string>{28,10}</string>
		</dict>
		<key>Monster_quanshou-l_datui.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,249},{32,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,16}}</string>
			<key>sourceSize</key>
			<string>{32,16}</string>
		</dict>
		<key>Monster_quanshou-l_er.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,443},{8,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,12}}</string>
			<key>sourceSize</key>
			<string>{8,12}</string>
		</dict>
		<key>Monster_quanshou-l_jiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,184},{16,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,20}}</string>
			<key>sourceSize</key>
			<string>{16,20}</string>
		</dict>
		<key>Monster_quanshou-l_ku.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,117},{18,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,14}}</string>
			<key>sourceSize</key>
			<string>{18,14}</string>
		</dict>
		<key>Monster_quanshou-l_ku1.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,249},{19,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,18}}</string>
			<key>sourceSize</key>
			<string>{19,18}</string>
		</dict>
		<key>Monster_quanshou-l_mei.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,468},{10,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,2}}</string>
			<key>sourceSize</key>
			<string>{10,2}</string>
		</dict>
		<key>Monster_quanshou-l_quantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,313},{21,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,26}}</string>
			<key>sourceSize</key>
			<string>{21,26}</string>
		</dict>
		<key>Monster_quanshou-l_xiaobi.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,249},{8,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,19}}</string>
			<key>sourceSize</key>
			<string>{8,19}</string>
		</dict>
		<key>Monster_quanshou-l_xiaotui.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,150},{32,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,14}}</string>
			<key>sourceSize</key>
			<string>{32,14}</string>
		</dict>
		<key>Monster_quanshou-l_xiong.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,203},{15,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,18}}</string>
			<key>sourceSize</key>
			<string>{15,18}</string>
		</dict>
		<key>Monster_quanshou-l_xiong1.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,187},{11,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,17}}</string>
			<key>sourceSize</key>
			<string>{11,17}</string>
		</dict>
		<key>Monster_quanshou-l_yan.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,459},{12,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,6}}</string>
			<key>sourceSize</key>
			<string>{12,6}</string>
		</dict>
		<key>Monster_quanshou-l_yan1.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,468},{11,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,4}}</string>
			<key>sourceSize</key>
			<string>{11,4}</string>
		</dict>
		<key>Monster_quanshou-l_yan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,468},{8,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,3}}</string>
			<key>sourceSize</key>
			<string>{8,3}</string>
		</dict>
		<key>Monster_quanshou-l_yan3.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,390},{12,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,5}}</string>
			<key>sourceSize</key>
			<string>{12,5}</string>
		</dict>
		<key>Monster_quanshou-lieyan 10.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,60},{155,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,55}}</string>
			<key>sourceSize</key>
			<string>{155,55}</string>
		</dict>
		<key>Monster_quanshou-lieyan 11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,118},{146,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,51}}</string>
			<key>sourceSize</key>
			<string>{146,51}</string>
		</dict>
		<key>Monster_quanshou-lieyan 13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,171},{122,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,53}}</string>
			<key>sourceSize</key>
			<string>{122,53}</string>
		</dict>
		<key>Monster_quanshou-lieyan 15.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,80},{81,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,39}}</string>
			<key>sourceSize</key>
			<string>{81,39}</string>
		</dict>
		<key>Monster_quanshou-lieyan 16.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,267},{30,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,10}}</string>
			<key>sourceSize</key>
			<string>{30,10}</string>
		</dict>
		<key>Monster_quanshou-lieyan 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,401},{54,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,51}}</string>
			<key>sourceSize</key>
			<string>{54,51}</string>
		</dict>
		<key>Monster_quanshou-lieyan 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,201},{76,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,68}}</string>
			<key>sourceSize</key>
			<string>{76,68}</string>
		</dict>
		<key>Monster_quanshou-lieyan 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,401},{88,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,71}}</string>
			<key>sourceSize</key>
			<string>{88,71}</string>
		</dict>
		<key>Monster_quanshou-lieyan 6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,226},{116,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,71}}</string>
			<key>sourceSize</key>
			<string>{116,71}</string>
		</dict>
		<key>Monster_quanshou-lieyan 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,117},{144,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,68}}</string>
			<key>sourceSize</key>
			<string>{144,68}</string>
		</dict>
		<key>Monster_quanshou-lieyan 9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,57},{162,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,59}}</string>
			<key>sourceSize</key>
			<string>{162,59}</string>
		</dict>
		<key>Monster_quanshou-pigu.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,150},{19,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,13}}</string>
			<key>sourceSize</key>
			<string>{19,13}</string>
		</dict>
		<key>Monster_quanshou-putongquan 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,492},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>Monster_quanshou-putongquan 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,343},{75,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,45}}</string>
			<key>sourceSize</key>
			<string>{75,45}</string>
		</dict>
		<key>Monster_quanshou-putongquan 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,246},{55,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,44}}</string>
			<key>sourceSize</key>
			<string>{55,44}</string>
		</dict>
		<key>Monster_quanshou-putongquan 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,249},{34,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,39}}</string>
			<key>sourceSize</key>
			<string>{34,39}</string>
		</dict>
		<key>Monster_quanshou-putongquan 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,474},{20,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,36}}</string>
			<key>sourceSize</key>
			<string>{20,36}</string>
		</dict>
		<key>Monster_quanshou-quanfeng A2.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,2},{167,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,56}}</string>
			<key>sourceSize</key>
			<string>{167,56}</string>
		</dict>
		<key>Monster_quanshou-quanfeng A3.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,187},{130,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,57}}</string>
			<key>sourceSize</key>
			<string>{130,57}</string>
		</dict>
		<key>Monster_quanshou-quanfeng A4.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,174},{84,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,25}}</string>
			<key>sourceSize</key>
			<string>{84,25}</string>
		</dict>
		<key>Monster_quanshou-quanfeng.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{267,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,53}}</string>
			<key>sourceSize</key>
			<string>{267,53}</string>
		</dict>
		<key>Monster_quanshou-quanfengguo1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,299},{90,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,100}}</string>
			<key>sourceSize</key>
			<string>{90,100}</string>
		</dict>
		<key>Monster_quanshou-quanfengguo2.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,459},{75,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,51}}</string>
			<key>sourceSize</key>
			<string>{75,51}</string>
		</dict>
		<key>Monster_quanshou-quanfengguo3.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,443},{53,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,10}}</string>
			<key>sourceSize</key>
			<string>{53,10}</string>
		</dict>
		<key>Monster_quanshou-quanguang 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,171},{22,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,27}}</string>
			<key>sourceSize</key>
			<string>{22,27}</string>
		</dict>
		<key>Monster_quanshou-quanguang.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,397},{60,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,44}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>Monster_quanshou-r_dabi.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,118},{12,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,29}}</string>
			<key>sourceSize</key>
			<string>{12,29}</string>
		</dict>
		<key>Monster_quanshou-r_datui.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,271},{32,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,16}}</string>
			<key>sourceSize</key>
			<string>{32,16}</string>
		</dict>
		<key>Monster_quanshou-r_datui1.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,231},{30,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,16}}</string>
			<key>sourceSize</key>
			<string>{30,16}</string>
		</dict>
		<key>Monster_quanshou-r_jiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,161},{16,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,21}}</string>
			<key>sourceSize</key>
			<string>{16,21}</string>
		</dict>
		<key>Monster_quanshou-r_jiao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,249},{21,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,19}}</string>
			<key>sourceSize</key>
			<string>{21,19}</string>
		</dict>
		<key>Monster_quanshou-r_jiao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,264},{25,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,17}}</string>
			<key>sourceSize</key>
			<string>{25,17}</string>
		</dict>
		<key>Monster_quanshou-r_ku.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,390},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>Monster_quanshou-r_ku1.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,200},{22,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,21}}</string>
			<key>sourceSize</key>
			<string>{22,21}</string>
		</dict>
		<key>Monster_quanshou-r_mei.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,341},{8,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,2}}</string>
			<key>sourceSize</key>
			<string>{8,2}</string>
		</dict>
		<key>Monster_quanshou-r_quantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,283},{24,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,28}}</string>
			<key>sourceSize</key>
			<string>{24,28}</string>
		</dict>
		<key>Monster_quanshou-r_quantou1.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,223},{21,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,27}}</string>
			<key>sourceSize</key>
			<string>{21,27}</string>
		</dict>
		<key>Monster_quanshou-r_quantou2.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,206},{30,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,23}}</string>
			<key>sourceSize</key>
			<string>{30,23}</string>
		</dict>
		<key>Monster_quanshou-r_xiaobi.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,269},{10,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,18}}</string>
			<key>sourceSize</key>
			<string>{10,18}</string>
		</dict>
		<key>Monster_quanshou-r_xiaobi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,60},{10,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,18}}</string>
			<key>sourceSize</key>
			<string>{10,18}</string>
		</dict>
		<key>Monster_quanshou-r_xiaotui.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,289},{33,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,13}}</string>
			<key>sourceSize</key>
			<string>{33,13}</string>
		</dict>
		<key>Monster_quanshou-r_xiaotui1.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,150},{33,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,14}}</string>
			<key>sourceSize</key>
			<string>{33,14}</string>
		</dict>
		<key>Monster_quanshou-r_xiong.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,149},{12,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,16}}</string>
			<key>sourceSize</key>
			<string>{12,16}</string>
		</dict>
		<key>Monster_quanshou-r_yan.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,390},{8,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,6}}</string>
			<key>sourceSize</key>
			<string>{8,6}</string>
		</dict>
		<key>Monster_quanshou-r_yan1.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,390},{8,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,5}}</string>
			<key>sourceSize</key>
			<string>{8,5}</string>
		</dict>
		<key>Monster_quanshou-r_yan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,85},{7,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,3}}</string>
			<key>sourceSize</key>
			<string>{7,3}</string>
		</dict>
		<key>Monster_quanshou-r_yan3.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,79},{7,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,4}}</string>
			<key>sourceSize</key>
			<string>{7,4}</string>
		</dict>
		<key>Monster_quanshou-shangshen.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,337},{23,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,33}}</string>
			<key>sourceSize</key>
			<string>{23,33}</string>
		</dict>
		<key>Monster_quanshou-shangshen1.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,312},{23,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,33}}</string>
			<key>sourceSize</key>
			<string>{23,33}</string>
		</dict>
		<key>Monster_quanshou-shape3.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,203},{93,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,85}}</string>
			<key>sourceSize</key>
			<string>{93,85}</string>
		</dict>
		<key>Monster_quanshou-tou.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,347},{41,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,52}}</string>
			<key>sourceSize</key>
			<string>{41,52}</string>
		</dict>
		<key>Monster_quanshou-toufa.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,2},{70,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,38}}</string>
			<key>sourceSize</key>
			<string>{70,38}</string>
		</dict>
		<key>Monster_quanshou-toufa1.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,42},{70,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,34}}</string>
			<key>sourceSize</key>
			<string>{70,34}</string>
		</dict>
		<key>Monster_quanshou-toufa2.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,474},{61,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,35}}</string>
			<key>sourceSize</key>
			<string>{61,35}</string>
		</dict>
		<key>Monster_quanshou-toufa3.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,304},{60,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,31}}</string>
			<key>sourceSize</key>
			<string>{60,31}</string>
		</dict>
		<key>Monster_quanshou-toufa4.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,457},{61,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,33}}</string>
			<key>sourceSize</key>
			<string>{61,33}</string>
		</dict>
		<key>Monster_quanshou-toufa5.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,455},{59,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,33}}</string>
			<key>sourceSize</key>
			<string>{59,33}</string>
		</dict>
		<key>Monster_quanshou-toufa6.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,474},{58,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,34}}</string>
			<key>sourceSize</key>
			<string>{58,34}</string>
		</dict>
		<key>Monster_quanshou-toufa7.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,290},{57,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,51}}</string>
			<key>sourceSize</key>
			<string>{57,51}</string>
		</dict>
		<key>Monster_quanshou-toufa8.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,347},{61,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,52}}</string>
			<key>sourceSize</key>
			<string>{61,52}</string>
		</dict>
		<key>Monster_quanshou-toufa9.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,401},{47,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,56}}</string>
			<key>sourceSize</key>
			<string>{47,56}</string>
		</dict>
		<key>Monster_quanshou-x.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,459},{9,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,6}}</string>
			<key>sourceSize</key>
			<string>{9,6}</string>
		</dict>
		<key>Monster_quanshou-x1.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,57},{3,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,6}}</string>
			<key>sourceSize</key>
			<string>{3,6}</string>
		</dict>
		<key>Monster_quanshou-yao.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,147},{18,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,12}}</string>
			<key>sourceSize</key>
			<string>{18,12}</string>
		</dict>
		<key>Monster_quanshou-yao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,133},{18,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,12}}</string>
			<key>sourceSize</key>
			<string>{18,12}</string>
		</dict>
		<key>Monster_quanshou-yaodai.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,299},{24,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,11}}</string>
			<key>sourceSize</key>
			<string>{24,11}</string>
		</dict>
		<key>Monster_quanshou-yizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,167},{110,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,34}}</string>
			<key>sourceSize</key>
			<string>{110,34}</string>
		</dict>
		<key>Monster_quanshou-zhiquanfeng.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,57},{98,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,20}}</string>
			<key>sourceSize</key>
			<string>{98,20}</string>
		</dict>
		<key>Monster_quanshou-zui.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,468},{8,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,4}}</string>
			<key>sourceSize</key>
			<string>{8,4}</string>
		</dict>
		<key>Monster_quanshou-zui1.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,390},{8,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,5}}</string>
			<key>sourceSize</key>
			<string>{8,5}</string>
		</dict>
		<key>Monster_quanshou-zui2.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,90},{6,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,5}}</string>
			<key>sourceSize</key>
			<string>{6,5}</string>
		</dict>
		<key>Monster_quanshou-zui3.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,468},{8,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,4}}</string>
			<key>sourceSize</key>
			<string>{8,4}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_quanshou.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:29740050dc918b004b3fbdf960980c4a$</string>
		<key>textureFileName</key>
		<string>Monster_quanshou.png</string>
	</dict>
</dict>
</plist>
