<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_bugdragon-bozi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,2},{49,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,59}}</string>
			<key>sourceSize</key>
			<string>{49,59}</string>
		</dict>
		<key>Monster_bugdragon-bozi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,954},{42,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,61}}</string>
			<key>sourceSize</key>
			<string>{42,61}</string>
		</dict>
		<key>Monster_bugdragon-bozi3.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,954},{37,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,64}}</string>
			<key>sourceSize</key>
			<string>{37,64}</string>
		</dict>
		<key>Monster_bugdragon-bozi4.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,934},{38,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,72}}</string>
			<key>sourceSize</key>
			<string>{38,72}</string>
		</dict>
		<key>Monster_bugdragon-bozi6.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,565},{55,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,21}}</string>
			<key>sourceSize</key>
			<string>{55,21}</string>
		</dict>
		<key>Monster_bugdragon-bozi_5_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,366},{75,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,35}}</string>
			<key>sourceSize</key>
			<string>{75,35}</string>
		</dict>
		<key>Monster_bugdragon-bozi_5_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,646},{41,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,51}}</string>
			<key>sourceSize</key>
			<string>{41,51}</string>
		</dict>
		<key>Monster_bugdragon-kuijia_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,469},{68,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,27}}</string>
			<key>sourceSize</key>
			<string>{68,27}</string>
		</dict>
		<key>Monster_bugdragon-kuijia_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,646},{46,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,21}}</string>
			<key>sourceSize</key>
			<string>{46,21}</string>
		</dict>
		<key>Monster_bugdragon-kuijia_c.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,451},{69,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,16}}</string>
			<key>sourceSize</key>
			<string>{69,16}</string>
		</dict>
		<key>Monster_bugdragon-l_chibang1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,91},{205,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,98}}</string>
			<key>sourceSize</key>
			<string>{205,98}</string>
		</dict>
		<key>Monster_bugdragon-l_chibang10.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,346},{144,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,131}}</string>
			<key>sourceSize</key>
			<string>{144,131}</string>
		</dict>
		<key>Monster_bugdragon-l_chibang2.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,2},{227,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,101}}</string>
			<key>sourceSize</key>
			<string>{227,101}</string>
		</dict>
		<key>Monster_bugdragon-l_chibang3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{228,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,87}}</string>
			<key>sourceSize</key>
			<string>{228,87}</string>
		</dict>
		<key>Monster_bugdragon-l_chibang4.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,105},{203,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,58}}</string>
			<key>sourceSize</key>
			<string>{203,58}</string>
		</dict>
		<key>Monster_bugdragon-l_chibang5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,394},{139,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,93}}</string>
			<key>sourceSize</key>
			<string>{139,93}</string>
		</dict>
		<key>Monster_bugdragon-l_chibang6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,752},{97,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,200}}</string>
			<key>sourceSize</key>
			<string>{97,200}</string>
		</dict>
		<key>Monster_bugdragon-l_chibang7.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,165},{54,199}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,199}}</string>
			<key>sourceSize</key>
			<string>{54,199}</string>
		</dict>
		<key>Monster_bugdragon-l_chibang8.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,453},{57,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,157}}</string>
			<key>sourceSize</key>
			<string>{57,157}</string>
		</dict>
		<key>Monster_bugdragon-l_chibang9.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,609},{99,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,139}}</string>
			<key>sourceSize</key>
			<string>{99,139}</string>
		</dict>
		<key>Monster_bugdragon-l_h_datui.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,498},{89,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,48}}</string>
			<key>sourceSize</key>
			<string>{89,48}</string>
		</dict>
		<key>Monster_bugdragon-l_h_jiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,631},{29,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,53}}</string>
			<key>sourceSize</key>
			<string>{29,53}</string>
		</dict>
		<key>Monster_bugdragon-l_h_xiaotui.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,588},{39,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,18}}</string>
			<key>sourceSize</key>
			<string>{39,18}</string>
		</dict>
		<key>Monster_bugdragon-l_q_datui.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,548},{30,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,49}}</string>
			<key>sourceSize</key>
			<string>{30,49}</string>
		</dict>
		<key>Monster_bugdragon-l_q_jiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,565},{30,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,37}}</string>
			<key>sourceSize</key>
			<string>{30,37}</string>
		</dict>
		<key>Monster_bugdragon-l_q_xiaotui.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,599},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>Monster_bugdragon-r_chibang1.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,165},{164,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,66}}</string>
			<key>sourceSize</key>
			<string>{164,66}</string>
		</dict>
		<key>Monster_bugdragon-r_chibang10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,489},{136,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,100}}</string>
			<key>sourceSize</key>
			<string>{136,100}</string>
		</dict>
		<key>Monster_bugdragon-r_chibang2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,191},{156,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,103}}</string>
			<key>sourceSize</key>
			<string>{156,103}</string>
		</dict>
		<key>Monster_bugdragon-r_chibang3.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,479},{132,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,84}}</string>
			<key>sourceSize</key>
			<string>{132,84}</string>
		</dict>
		<key>Monster_bugdragon-r_chibang4.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,233},{153,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,56}}</string>
			<key>sourceSize</key>
			<string>{153,56}</string>
		</dict>
		<key>Monster_bugdragon-r_chibang5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,296},{152,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,96}}</string>
			<key>sourceSize</key>
			<string>{152,96}</string>
		</dict>
		<key>Monster_bugdragon-r_chibang6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,591},{133,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,159}}</string>
			<key>sourceSize</key>
			<string>{133,159}</string>
		</dict>
		<key>Monster_bugdragon-r_chibang7.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,152},{77,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,191}}</string>
			<key>sourceSize</key>
			<string>{77,191}</string>
		</dict>
		<key>Monster_bugdragon-r_chibang8.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,345},{75,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,201}}</string>
			<key>sourceSize</key>
			<string>{75,201}</string>
		</dict>
		<key>Monster_bugdragon-r_chibang9.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,752},{99,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,182}}</string>
			<key>sourceSize</key>
			<string>{99,182}</string>
		</dict>
		<key>Monster_bugdragon-r_h_datui.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,63},{48,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,87}}</string>
			<key>sourceSize</key>
			<string>{48,87}</string>
		</dict>
		<key>Monster_bugdragon-r_h_jiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,954},{29,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,66}}</string>
			<key>sourceSize</key>
			<string>{29,66}</string>
		</dict>
		<key>Monster_bugdragon-r_h_xiaotui.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,989},{38,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,22}}</string>
			<key>sourceSize</key>
			<string>{38,22}</string>
		</dict>
		<key>Monster_bugdragon-r_q_datui.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,548},{37,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,55}}</string>
			<key>sourceSize</key>
			<string>{37,55}</string>
		</dict>
		<key>Monster_bugdragon-r_q_jiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,899},{36,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,33}}</string>
			<key>sourceSize</key>
			<string>{36,33}</string>
		</dict>
		<key>Monster_bugdragon-r_q_xiaotui.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,715},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>Monster_bugdragon-sb10.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,715},{37,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,35}}</string>
			<key>sourceSize</key>
			<string>{37,35}</string>
		</dict>
		<key>Monster_bugdragon-sb20.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,332},{50,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,34}}</string>
			<key>sourceSize</key>
			<string>{50,34}</string>
		</dict>
		<key>Monster_bugdragon-sh10.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,368},{48,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,38}}</string>
			<key>sourceSize</key>
			<string>{48,38}</string>
		</dict>
		<key>Monster_bugdragon-sh20.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,565},{40,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,42}}</string>
			<key>sourceSize</key>
			<string>{40,42}</string>
		</dict>
		<key>Monster_bugdragon-tou.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,612},{97,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,101}}</string>
			<key>sourceSize</key>
			<string>{97,101}</string>
		</dict>
		<key>Monster_bugdragon-tou2.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,751},{67,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,146}}</string>
			<key>sourceSize</key>
			<string>{67,146}</string>
		</dict>
		<key>Monster_bugdragon-wei1.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,191},{47,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,69}}</string>
			<key>sourceSize</key>
			<string>{47,69}</string>
		</dict>
		<key>Monster_bugdragon-wei12.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,936},{32,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,16}}</string>
			<key>sourceSize</key>
			<string>{32,16}</string>
		</dict>
		<key>Monster_bugdragon-wei15.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,105},{26,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,11}}</string>
			<key>sourceSize</key>
			<string>{26,11}</string>
		</dict>
		<key>Monster_bugdragon-wei18.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,91},{18,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,7}}</string>
			<key>sourceSize</key>
			<string>{18,7}</string>
		</dict>
		<key>Monster_bugdragon-wei2.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,934},{52,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,53}}</string>
			<key>sourceSize</key>
			<string>{52,53}</string>
		</dict>
		<key>Monster_bugdragon-wei21.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,100},{15,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,5}}</string>
			<key>sourceSize</key>
			<string>{15,5}</string>
		</dict>
		<key>Monster_bugdragon-wei4.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,408},{62,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,43}}</string>
			<key>sourceSize</key>
			<string>{62,43}</string>
		</dict>
		<key>Monster_bugdragon-wei6.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,899},{51,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,33}}</string>
			<key>sourceSize</key>
			<string>{51,33}</string>
		</dict>
		<key>Monster_bugdragon-wei9.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,989},{44,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,24}}</string>
			<key>sourceSize</key>
			<string>{44,24}</string>
		</dict>
		<key>Monster_bugdragon-xiae 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,262},{46,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,68}}</string>
			<key>sourceSize</key>
			<string>{46,68}</string>
		</dict>
		<key>Monster_bugdragon-xiae.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,403},{72,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,46}}</string>
			<key>sourceSize</key>
			<string>{72,46}</string>
		</dict>
		<key>Monster_bugdragon-xiong_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,548},{102,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,96}}</string>
			<key>sourceSize</key>
			<string>{102,96}</string>
		</dict>
		<key>Monster_bugdragon-xiong_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,936},{101,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,84}}</string>
			<key>sourceSize</key>
			<string>{101,84}</string>
		</dict>
		<key>Monster_bugdragon-yizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,291},{148,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,53}}</string>
			<key>sourceSize</key>
			<string>{148,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_bugdragon.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a5636a9e02e59444a032c8219f1220de$</string>
		<key>textureFileName</key>
		<string>Monster_bugdragon.png</string>
	</dict>
</dict>
</plist>
