<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_rockfall-bao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,162},{73,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,49}}</string>
			<key>sourceSize</key>
			<string>{73,49}</string>
		</dict>
		<key>Monster_rockfall-bao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,74},{100,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,60}}</string>
			<key>sourceSize</key>
			<string>{100,60}</string>
		</dict>
		<key>Monster_rockfall-bao3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,72},{107,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,67}}</string>
			<key>sourceSize</key>
			<string>{107,67}</string>
		</dict>
		<key>Monster_rockfall-bao4.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,2},{108,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,70}}</string>
			<key>sourceSize</key>
			<string>{108,70}</string>
		</dict>
		<key>Monster_rockfall-bao5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{114,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,68}}</string>
			<key>sourceSize</key>
			<string>{114,68}</string>
		</dict>
		<key>Monster_rockfall-hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,213},{58,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,16}}</string>
			<key>sourceSize</key>
			<string>{58,16}</string>
		</dict>
		<key>Monster_rockfall-shi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,141},{63,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,113}}</string>
			<key>sourceSize</key>
			<string>{63,113}</string>
		</dict>
		<key>Monster_rockfall-yinzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,136},{87,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,24}}</string>
			<key>sourceSize</key>
			<string>{87,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_rockfall.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ea22d371d3e175b0e40471c2af111588$</string>
		<key>textureFileName</key>
		<string>Monster_rockfall.png</string>
	</dict>
</dict>
</plist>
