<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_ghostbosssword-ae5_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,443},{60,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,72}}</string>
			<key>sourceSize</key>
			<string>{60,72}</string>
		</dict>
		<key>Monster_ghostbosssword-ae5_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,212},{80,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,71}}</string>
			<key>sourceSize</key>
			<string>{80,71}</string>
		</dict>
		<key>Monster_ghostbosssword-ae5_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,88},{90,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,41}}</string>
			<key>sourceSize</key>
			<string>{90,41}</string>
		</dict>
		<key>Monster_ghostbosssword-dilie_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{313,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{313,113}}</string>
			<key>sourceSize</key>
			<string>{313,113}</string>
		</dict>
		<key>Monster_ghostbosssword-dilie_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,355},{228,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,99}}</string>
			<key>sourceSize</key>
			<string>{228,99}</string>
		</dict>
		<key>Monster_ghostbosssword-dilie_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,88},{148,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,64}}</string>
			<key>sourceSize</key>
			<string>{148,64}</string>
		</dict>
		<key>Monster_ghostbosssword-guanghuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,298},{143,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,142}}</string>
			<key>sourceSize</key>
			<string>{143,142}</string>
		</dict>
		<key>Monster_ghostbosssword-guanghuan_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,154},{143,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,142}}</string>
			<key>sourceSize</key>
			<string>{143,142}</string>
		</dict>
		<key>Monster_ghostbosssword-guanghuan_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,212},{141,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,142}}</string>
			<key>sourceSize</key>
			<string>{141,142}</string>
		</dict>
		<key>Monster_ghostbosssword-ml_wq_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,2},{84,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,174}}</string>
			<key>sourceSize</key>
			<string>{84,174}</string>
		</dict>
		<key>Monster_ghostbosssword-ml_wq_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,117},{93,309}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,309}}</string>
			<key>sourceSize</key>
			<string>{93,309}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_ghostbosssword.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:50610d769c366a7364bb63f773271b3d$</string>
		<key>textureFileName</key>
		<string>Monster_ghostbosssword.png</string>
	</dict>
</dict>
</plist>
