<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_Box_Stone-888.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,52},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>Monster_Box_Stone-Smoke 10.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,47},{20,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,24}}</string>
			<key>sourceSize</key>
			<string>{20,24}</string>
		</dict>
		<key>Monster_Box_Stone-Smoke 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,47},{15,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,12}}</string>
			<key>sourceSize</key>
			<string>{15,12}</string>
		</dict>
		<key>Monster_Box_Stone-Smoke 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,47},{24,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,16}}</string>
			<key>sourceSize</key>
			<string>{24,16}</string>
		</dict>
		<key>Monster_Box_Stone-Smoke 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,28},{28,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,17}}</string>
			<key>sourceSize</key>
			<string>{28,17}</string>
		</dict>
		<key>Monster_Box_Stone-Smoke 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,24},{30,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,21}}</string>
			<key>sourceSize</key>
			<string>{30,21}</string>
		</dict>
		<key>Monster_Box_Stone-Smoke 6.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,2},{31,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,20}}</string>
			<key>sourceSize</key>
			<string>{31,20}</string>
		</dict>
		<key>Monster_Box_Stone-Smoke 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,2},{31,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,22}}</string>
			<key>sourceSize</key>
			<string>{31,22}</string>
		</dict>
		<key>Monster_Box_Stone-Smoke 8.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,2},{31,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,24}}</string>
			<key>sourceSize</key>
			<string>{31,24}</string>
		</dict>
		<key>Monster_Box_Stone-Smoke 9.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,26},{28,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,24}}</string>
			<key>sourceSize</key>
			<string>{28,24}</string>
		</dict>
		<key>Monster_Box_Stone-shixiangkai.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{150,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,149}}</string>
			<key>sourceSize</key>
			<string>{150,149}</string>
		</dict>
		<key>Monster_Box_Stone-shixiangzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,153},{149,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,118}}</string>
			<key>sourceSize</key>
			<string>{149,118}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_Box_Stone.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:69e32404964b64103b0c86a2246f92da$</string>
		<key>textureFileName</key>
		<string>Monster_Box_Stone.png</string>
	</dict>
</dict>
</plist>
