<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_Scorpio-bozi.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,568},{42,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,32}}</string>
			<key>sourceSize</key>
			<string>{42,32}</string>
		</dict>
		<key>Monster_Scorpio-fazhen41.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,65},{171,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,81}}</string>
			<key>sourceSize</key>
			<string>{171,81}</string>
		</dict>
		<key>Monster_Scorpio-fu_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,310},{117,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,39}}</string>
			<key>sourceSize</key>
			<string>{117,39}</string>
		</dict>
		<key>Monster_Scorpio-fu_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,183},{123,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,59}}</string>
			<key>sourceSize</key>
			<string>{123,59}</string>
		</dict>
		<key>Monster_Scorpio-h_kuijia.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,505},{84,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,36}}</string>
			<key>sourceSize</key>
			<string>{84,36}</string>
		</dict>
		<key>Monster_Scorpio-l_1_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,209},{48,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,18}}</string>
			<key>sourceSize</key>
			<string>{48,18}</string>
		</dict>
		<key>Monster_Scorpio-l_1_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,229},{48,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,15}}</string>
			<key>sourceSize</key>
			<string>{48,15}</string>
		</dict>
		<key>Monster_Scorpio-l_1_c.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,148},{125,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,33}}</string>
			<key>sourceSize</key>
			<string>{125,33}</string>
		</dict>
		<key>Monster_Scorpio-l_2_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,579},{43,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,15}}</string>
			<key>sourceSize</key>
			<string>{43,15}</string>
		</dict>
		<key>Monster_Scorpio-l_2_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,561},{45,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,16}}</string>
			<key>sourceSize</key>
			<string>{45,16}</string>
		</dict>
		<key>Monster_Scorpio-l_2_c.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,277},{121,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,31}}</string>
			<key>sourceSize</key>
			<string>{121,31}</string>
		</dict>
		<key>Monster_Scorpio-l_3_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,568},{42,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,18}}</string>
			<key>sourceSize</key>
			<string>{42,18}</string>
		</dict>
		<key>Monster_Scorpio-l_3_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,543},{35,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,12}}</string>
			<key>sourceSize</key>
			<string>{35,12}</string>
		</dict>
		<key>Monster_Scorpio-l_3_c.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,125},{152,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,39}}</string>
			<key>sourceSize</key>
			<string>{152,39}</string>
		</dict>
		<key>Monster_Scorpio-l_dabi.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,543},{47,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,23}}</string>
			<key>sourceSize</key>
			<string>{47,23}</string>
		</dict>
		<key>Monster_Scorpio-l_jianbang.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,361},{54,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,97}}</string>
			<key>sourceSize</key>
			<string>{54,97}</string>
		</dict>
		<key>Monster_Scorpio-l_jianjia.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,2},{22,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,67}}</string>
			<key>sourceSize</key>
			<string>{22,67}</string>
		</dict>
		<key>Monster_Scorpio-l_qianzi_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,286},{67,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,234}}</string>
			<key>sourceSize</key>
			<string>{67,234}</string>
		</dict>
		<key>Monster_Scorpio-l_qianzi_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,393},{91,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,28}}</string>
			<key>sourceSize</key>
			<string>{91,28}</string>
		</dict>
		<key>Monster_Scorpio-qiangtou.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,246},{53,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,113}}</string>
			<key>sourceSize</key>
			<string>{53,113}</string>
		</dict>
		<key>Monster_Scorpio-r_1_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,488},{87,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,23}}</string>
			<key>sourceSize</key>
			<string>{87,23}</string>
		</dict>
		<key>Monster_Scorpio-r_2_c.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,244},{121,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,31}}</string>
			<key>sourceSize</key>
			<string>{121,31}</string>
		</dict>
		<key>Monster_Scorpio-r_3_c.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,84},{152,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,39}}</string>
			<key>sourceSize</key>
			<string>{152,39}</string>
		</dict>
		<key>Monster_Scorpio-r_dabi.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,148},{46,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,23}}</string>
			<key>sourceSize</key>
			<string>{46,23}</string>
		</dict>
		<key>Monster_Scorpio-r_jianjia.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,351},{13,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,48}}</string>
			<key>sourceSize</key>
			<string>{13,48}</string>
		</dict>
		<key>Monster_Scorpio-r_wuqi.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,2},{217,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,61}}</string>
			<key>sourceSize</key>
			<string>{217,61}</string>
		</dict>
		<key>Monster_Scorpio-shuijingci.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,71},{72,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,213}}</string>
			<key>sourceSize</key>
			<string>{72,213}</string>
		</dict>
		<key>Monster_Scorpio-tou.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,325},{98,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,47}}</string>
			<key>sourceSize</key>
			<string>{98,47}</string>
		</dict>
		<key>Monster_Scorpio-wei1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,596},{42,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,115}}</string>
			<key>sourceSize</key>
			<string>{42,115}</string>
		</dict>
		<key>Monster_Scorpio-wei2.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,257},{31,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,82}}</string>
			<key>sourceSize</key>
			<string>{31,82}</string>
		</dict>
		<key>Monster_Scorpio-wei3.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,522},{52,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,51}}</string>
			<key>sourceSize</key>
			<string>{52,51}</string>
		</dict>
		<key>Monster_Scorpio-wei4.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,522},{73,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,48}}</string>
			<key>sourceSize</key>
			<string>{73,48}</string>
		</dict>
		<key>Monster_Scorpio-wei5.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,532},{60,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,41}}</string>
			<key>sourceSize</key>
			<string>{60,41}</string>
		</dict>
		<key>Monster_Scorpio-wei6.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,513},{79,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,46}}</string>
			<key>sourceSize</key>
			<string>{79,46}</string>
		</dict>
		<key>Monster_Scorpio-wei7.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,572},{47,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,63}}</string>
			<key>sourceSize</key>
			<string>{47,63}</string>
		</dict>
		<key>Monster_Scorpio-wei8.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,460},{66,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,70}}</string>
			<key>sourceSize</key>
			<string>{66,70}</string>
		</dict>
		<key>Monster_Scorpio-wei9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,166},{151,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,89}}</string>
			<key>sourceSize</key>
			<string>{151,89}</string>
		</dict>
		<key>Monster_Scorpio-wei9_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,84},{105,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,99}}</string>
			<key>sourceSize</key>
			<string>{105,99}</string>
		</dict>
		<key>Monster_Scorpio-xianjiedian1.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,505},{50,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,31}}</string>
			<key>sourceSize</key>
			<string>{50,31}</string>
		</dict>
		<key>Monster_Scorpio-xianjiedian2.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,173},{45,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,34}}</string>
			<key>sourceSize</key>
			<string>{45,34}</string>
		</dict>
		<key>Monster_Scorpio-xianjiedian3.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,488},{44,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,32}}</string>
			<key>sourceSize</key>
			<string>{44,32}</string>
		</dict>
		<key>Monster_Scorpio-xiong.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,561},{38,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,58}}</string>
			<key>sourceSize</key>
			<string>{38,58}</string>
		</dict>
		<key>Monster_Scorpio-xzhs1.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,561},{78,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,97}}</string>
			<key>sourceSize</key>
			<string>{78,97}</string>
		</dict>
		<key>Monster_Scorpio-xzhs2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,423},{88,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,136}}</string>
			<key>sourceSize</key>
			<string>{88,136}</string>
		</dict>
		<key>Monster_Scorpio-xzhs3.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,185},{103,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,138}}</string>
			<key>sourceSize</key>
			<string>{103,138}</string>
		</dict>
		<key>Monster_Scorpio-xzhs4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,257},{115,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,134}}</string>
			<key>sourceSize</key>
			<string>{115,134}</string>
		</dict>
		<key>Monster_Scorpio-xzhs5.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,351},{111,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,135}}</string>
			<key>sourceSize</key>
			<string>{111,135}</string>
		</dict>
		<key>Monster_Scorpio-xzhs6.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,374},{109,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,129}}</string>
			<key>sourceSize</key>
			<string>{109,129}</string>
		</dict>
		<key>Monster_Scorpio-yao.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,538},{49,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,32}}</string>
			<key>sourceSize</key>
			<string>{49,32}</string>
		</dict>
		<key>Monster_Scorpio-yizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{261,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{261,80}}</string>
			<key>sourceSize</key>
			<string>{261,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_Scorpio.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9f2226d19b59fca371f33ad84efc711e$</string>
		<key>textureFileName</key>
		<string>Monster_Scorpio.png</string>
	</dict>
</dict>
</plist>
