<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_bat-bz07.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,150},{84,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,91}}</string>
			<key>sourceSize</key>
			<string>{84,91}</string>
		</dict>
		<key>Monster_bat-bz08.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,2},{95,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,105}}</string>
			<key>sourceSize</key>
			<string>{95,105}</string>
		</dict>
		<key>Monster_bat-bz09.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,179},{127,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,140}}</string>
			<key>sourceSize</key>
			<string>{127,140}</string>
		</dict>
		<key>Monster_bat-bz10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{125,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,175}}</string>
			<key>sourceSize</key>
			<string>{125,175}</string>
		</dict>
		<key>Monster_bat-bz11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,321},{115,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,143}}</string>
			<key>sourceSize</key>
			<string>{115,143}</string>
		</dict>
		<key>Monster_bat-cb11.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,109},{88,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,39}}</string>
			<key>sourceSize</key>
			<string>{88,39}</string>
		</dict>
		<key>Monster_bat-cb12.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,243},{81,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,41}}</string>
			<key>sourceSize</key>
			<string>{81,41}</string>
		</dict>
		<key>Monster_bat-cb13.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,466},{66,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,43}}</string>
			<key>sourceSize</key>
			<string>{66,43}</string>
		</dict>
		<key>Monster_bat-cb14.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,320},{47,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,62}}</string>
			<key>sourceSize</key>
			<string>{47,62}</string>
		</dict>
		<key>Monster_bat-cb15.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,320},{46,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,49}}</string>
			<key>sourceSize</key>
			<string>{46,49}</string>
		</dict>
		<key>Monster_bat-cb16.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,448},{65,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,41}}</string>
			<key>sourceSize</key>
			<string>{65,41}</string>
		</dict>
		<key>Monster_bat-cb21.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,321},{31,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,65}}</string>
			<key>sourceSize</key>
			<string>{31,65}</string>
		</dict>
		<key>Monster_bat-cb22.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,2},{26,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,70}}</string>
			<key>sourceSize</key>
			<string>{26,70}</string>
		</dict>
		<key>Monster_bat-cb23.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,384},{30,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,54}}</string>
			<key>sourceSize</key>
			<string>{30,54}</string>
		</dict>
		<key>Monster_bat-cb24.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,388},{48,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,58}}</string>
			<key>sourceSize</key>
			<string>{48,58}</string>
		</dict>
		<key>Monster_bat-cb25.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,466},{46,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,44}}</string>
			<key>sourceSize</key>
			<string>{46,44}</string>
		</dict>
		<key>Monster_bat-cb26.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,371},{43,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,48}}</string>
			<key>sourceSize</key>
			<string>{43,48}</string>
		</dict>
		<key>Monster_bat-cnfreeadcom_1_64_99330.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,286},{91,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,32}}</string>
			<key>sourceSize</key>
			<string>{91,32}</string>
		</dict>
		<key>Monster_bat-ed1.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,109},{21,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,25}}</string>
			<key>sourceSize</key>
			<string>{21,25}</string>
		</dict>
		<key>Monster_bat-ed12.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,74},{21,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,25}}</string>
			<key>sourceSize</key>
			<string>{21,25}</string>
		</dict>
		<key>Monster_bat-ed2.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,150},{14,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,21}}</string>
			<key>sourceSize</key>
			<string>{14,21}</string>
		</dict>
		<key>Monster_bat-ed21.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,243},{14,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,21}}</string>
			<key>sourceSize</key>
			<string>{14,21}</string>
		</dict>
		<key>Monster_bat-eye1.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,491},{10,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,8}}</string>
			<key>sourceSize</key>
			<string>{10,8}</string>
		</dict>
		<key>Monster_bat-eye12.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,470},{12,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,7}}</string>
			<key>sourceSize</key>
			<string>{12,7}</string>
		</dict>
		<key>Monster_bat-eye13.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,461},{12,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,7}}</string>
			<key>sourceSize</key>
			<string>{12,7}</string>
		</dict>
		<key>Monster_bat-eye2.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,479},{6,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,12}}</string>
			<key>sourceSize</key>
			<string>{6,12}</string>
		</dict>
		<key>Monster_bat-eye22.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,448},{7,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,9}}</string>
			<key>sourceSize</key>
			<string>{7,9}</string>
		</dict>
		<key>Monster_bat-eye23.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,501},{7,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,9}}</string>
			<key>sourceSize</key>
			<string>{7,9}</string>
		</dict>
		<key>Monster_bat-st1.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,461},{54,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,40}}</string>
			<key>sourceSize</key>
			<string>{54,40}</string>
		</dict>
		<key>Monster_bat-tb1.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,421},{49,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,38}}</string>
			<key>sourceSize</key>
			<string>{49,38}</string>
		</dict>
		<key>Monster_bat-zb1.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,491},{26,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,12}}</string>
			<key>sourceSize</key>
			<string>{26,12}</string>
		</dict>
		<key>Monster_bat-zb2.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,136},{24,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,9}}</string>
			<key>sourceSize</key>
			<string>{24,9}</string>
		</dict>
		<key>Monster_bat-zb3.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,440},{24,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,6}}</string>
			<key>sourceSize</key>
			<string>{24,6}</string>
		</dict>
		<key>Monster_bat-zb4.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,491},{23,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,17}}</string>
			<key>sourceSize</key>
			<string>{23,17}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_bat.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:20ad5df6801ffaefcd1c5d0051f8012d$</string>
		<key>textureFileName</key>
		<string>Monster_bat.png</string>
	</dict>
</dict>
</plist>
