<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>renleibossnangua-gxs2.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,180},{86,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,16}}</string>
			<key>sourceSize</key>
			<string>{86,16}</string>
		</dict>
		<key>renleibossnangua-gxs3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,88},{97,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,14}}</string>
			<key>sourceSize</key>
			<string>{97,14}</string>
		</dict>
		<key>renleibossnangua-kulou-yz.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,73},{106,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,33}}</string>
			<key>sourceSize</key>
			<string>{106,33}</string>
		</dict>
		<key>renleibossnangua-qe3.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,331},{6,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,6}}</string>
			<key>sourceSize</key>
			<string>{6,6}</string>
		</dict>
		<key>renleibossnangua-sb_jb_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,252},{37,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,35}}</string>
			<key>sourceSize</key>
			<string>{37,35}</string>
		</dict>
		<key>renleibossnangua-sb_jb_02_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,325},{30,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,29}}</string>
			<key>sourceSize</key>
			<string>{30,29}</string>
		</dict>
		<key>renleibossnangua-sb_jb_02_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,289},{34,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,37}}</string>
			<key>sourceSize</key>
			<string>{34,37}</string>
		</dict>
		<key>renleibossnangua-sb_jb_02_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,128},{36,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,43}}</string>
			<key>sourceSize</key>
			<string>{36,43}</string>
		</dict>
		<key>renleibossnangua-sb_jb_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,343},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>renleibossnangua-sb_jb_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,314},{25,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,15}}</string>
			<key>sourceSize</key>
			<string>{25,15}</string>
		</dict>
		<key>renleibossnangua-sb_jb_wet.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,45},{41,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,131}}</string>
			<key>sourceSize</key>
			<string>{41,131}</string>
		</dict>
		<key>renleibossnangua-sb_jb_wetb.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{41,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,131}}</string>
			<key>sourceSize</key>
			<string>{41,131}</string>
		</dict>
		<key>renleibossnangua-sb_jg_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,330},{14,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,15}}</string>
			<key>sourceSize</key>
			<string>{14,15}</string>
		</dict>
		<key>renleibossnangua-sb_jz_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,247},{28,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,22}}</string>
			<key>sourceSize</key>
			<string>{28,22}</string>
		</dict>
		<key>renleibossnangua-sb_kj_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,340},{12,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,21}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>renleibossnangua-sb_kj_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,302},{23,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,21}}</string>
			<key>sourceSize</key>
			<string>{23,21}</string>
		</dict>
		<key>renleibossnangua-sb_kj_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,153},{26,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,24}}</string>
			<key>sourceSize</key>
			<string>{26,24}</string>
		</dict>
		<key>renleibossnangua-sb_s_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,277},{21,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,23}}</string>
			<key>sourceSize</key>
			<string>{21,23}</string>
		</dict>
		<key>renleibossnangua-sb_sb_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,284},{42,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,66}}</string>
			<key>sourceSize</key>
			<string>{42,66}</string>
		</dict>
		<key>renleibossnangua-sb_sb_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,247},{35,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,68}}</string>
			<key>sourceSize</key>
			<string>{35,68}</string>
		</dict>
		<key>renleibossnangua-sb_sb_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,2},{69,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,118}}</string>
			<key>sourceSize</key>
			<string>{69,118}</string>
		</dict>
		<key>renleibossnangua-sb_sb_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,235},{28,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,36}}</string>
			<key>sourceSize</key>
			<string>{28,36}</string>
		</dict>
		<key>renleibossnangua-sb_st_04 c.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,108},{70,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,92}}</string>
			<key>sourceSize</key>
			<string>{70,92}</string>
		</dict>
		<key>renleibossnangua-sb_st_04 d.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,176},{69,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,92}}</string>
			<key>sourceSize</key>
			<string>{69,92}</string>
		</dict>
		<key>renleibossnangua-sb_st_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,104},{70,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,92}}</string>
			<key>sourceSize</key>
			<string>{70,92}</string>
		</dict>
		<key>renleibossnangua-sb_yc_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,73},{27,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,11}}</string>
			<key>sourceSize</key>
			<string>{27,11}</string>
		</dict>
		<key>renleibossnangua-sb_yc_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,300},{28,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,14}}</string>
			<key>sourceSize</key>
			<string>{28,14}</string>
		</dict>
		<key>renleibossnangua-sb_yc_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,325},{21,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,13}}</string>
			<key>sourceSize</key>
			<string>{21,13}</string>
		</dict>
		<key>renleibossnangua-sb_yc_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,354},{17,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,9}}</string>
			<key>sourceSize</key>
			<string>{17,9}</string>
		</dict>
		<key>renleibossnangua-sb_yc_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,271},{16,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,8}}</string>
			<key>sourceSize</key>
			<string>{16,8}</string>
		</dict>
		<key>renleibossnangua-sb_yc_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,102},{11,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,6}}</string>
			<key>sourceSize</key>
			<string>{11,6}</string>
		</dict>
		<key>renleibossnangua-sb_yd_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,271},{61,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,27}}</string>
			<key>sourceSize</key>
			<string>{61,27}</string>
		</dict>
		<key>renleibossnangua-sb_yj_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,300},{45,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,29}}</string>
			<key>sourceSize</key>
			<string>{45,29}</string>
		</dict>
		<key>renleibossnangua-sb_yj_02 c.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,328},{31,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,13}}</string>
			<key>sourceSize</key>
			<string>{31,13}</string>
		</dict>
		<key>renleibossnangua-sb_yj_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,331},{43,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,29}}</string>
			<key>sourceSize</key>
			<string>{43,29}</string>
		</dict>
		<key>renleibossnangua-sb_yj_02d.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,110},{41,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,26}}</string>
			<key>sourceSize</key>
			<string>{41,26}</string>
		</dict>
		<key>renleibossnangua-sb_zb_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,205},{36,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,28}}</string>
			<key>sourceSize</key>
			<string>{36,28}</string>
		</dict>
		<key>renleibossnangua-sb_zb_02 c.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,179},{25,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,18}}</string>
			<key>sourceSize</key>
			<string>{25,18}</string>
		</dict>
		<key>renleibossnangua-sb_zb_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,88},{38,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,31}}</string>
			<key>sourceSize</key>
			<string>{38,31}</string>
		</dict>
		<key>renleibossnangua-sb_zb_021.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,199},{51,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,41}}</string>
			<key>sourceSize</key>
			<string>{51,41}</string>
		</dict>
		<key>renleibossnangua-sb_zb_02d.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,173},{36,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,30}}</string>
			<key>sourceSize</key>
			<string>{36,30}</string>
		</dict>
		<key>renleibossnangua-tou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,328},{57,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,64}}</string>
			<key>sourceSize</key>
			<string>{57,64}</string>
		</dict>
		<key>renleibossnangua-tx-1b.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,198},{71,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,77}}</string>
			<key>sourceSize</key>
			<string>{71,77}</string>
		</dict>
		<key>renleibossnangua-tx-2b.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,265},{34,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,61}}</string>
			<key>sourceSize</key>
			<string>{34,61}</string>
		</dict>
		<key>renleibossnangua-tx-3b.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,281},{15,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,31}}</string>
			<key>sourceSize</key>
			<string>{15,31}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_renleibossnangua.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:55234c9f4e3701dbbd4a03d81a13eb79$</string>
		<key>textureFileName</key>
		<string>Monster_renleibossnangua.png</string>
	</dict>
</dict>
</plist>
