<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>kuileizhanshi-kl1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,118},{45,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,53}}</string>
			<key>sourceSize</key>
			<string>{45,53}</string>
		</dict>
		<key>kuileizhanshi-kl1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,129},{10,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,12}}</string>
			<key>sourceSize</key>
			<string>{10,12}</string>
		</dict>
		<key>kuileizhanshi-kl1-3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,86},{12,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,7}}</string>
			<key>sourceSize</key>
			<string>{12,7}</string>
		</dict>
		<key>kuileizhanshi-kl1-3-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,72},{12,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,7}}</string>
			<key>sourceSize</key>
			<string>{12,7}</string>
		</dict>
		<key>kuileizhanshi-kl1-4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,123},{19,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,12}}</string>
			<key>sourceSize</key>
			<string>{19,12}</string>
		</dict>
		<key>kuileizhanshi-kl1-4-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,109},{19,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,12}}</string>
			<key>sourceSize</key>
			<string>{19,12}</string>
		</dict>
		<key>kuileizhanshi-kl1-5-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,113},{16,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,25}}</string>
			<key>sourceSize</key>
			<string>{16,25}</string>
		</dict>
		<key>kuileizhanshi-kl1-5-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,129},{16,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,24}}</string>
			<key>sourceSize</key>
			<string>{16,24}</string>
		</dict>
		<key>kuileizhanshi-kl1-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,129},{12,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{12,14}</string>
		</dict>
		<key>kuileizhanshi-kl2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,15},{77,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,80}}</string>
			<key>sourceSize</key>
			<string>{77,80}</string>
		</dict>
		<key>kuileizhanshi-kl2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,94},{33,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,44}}</string>
			<key>sourceSize</key>
			<string>{33,44}</string>
		</dict>
		<key>kuileizhanshi-kl2-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,2},{61,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,30}}</string>
			<key>sourceSize</key>
			<string>{61,30}</string>
		</dict>
		<key>kuileizhanshi-kl3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,132},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>kuileizhanshi-kl3-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,150},{15,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,10}}</string>
			<key>sourceSize</key>
			<string>{15,10}</string>
		</dict>
		<key>kuileizhanshi-kl3-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,72},{44,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,54}}</string>
			<key>sourceSize</key>
			<string>{44,54}</string>
		</dict>
		<key>kuileizhanshi-kl3-4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,36},{38,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,14}}</string>
			<key>sourceSize</key>
			<string>{38,14}</string>
		</dict>
		<key>kuileizhanshi-kl3-4-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,52},{38,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,8}}</string>
			<key>sourceSize</key>
			<string>{38,8}</string>
		</dict>
		<key>kuileizhanshi-kl5-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,2},{11,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,82}}</string>
			<key>sourceSize</key>
			<string>{11,82}</string>
		</dict>
		<key>kuileizhanshi-kl5-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,127},{44,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,11}}</string>
			<key>sourceSize</key>
			<string>{44,11}</string>
		</dict>
		<key>kuileizhanshi-kl5-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,137},{17,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,11}}</string>
			<key>sourceSize</key>
			<string>{17,11}</string>
		</dict>
		<key>kuileizhanshi-kl5-4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,36},{34,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,64}}</string>
			<key>sourceSize</key>
			<string>{34,64}</string>
		</dict>
		<key>kuileizhanshi-kl5-4-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,62},{35,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,63}}</string>
			<key>sourceSize</key>
			<string>{35,63}</string>
		</dict>
		<key>kuileizhanshi-kl5-4-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,34},{36,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,63}}</string>
			<key>sourceSize</key>
			<string>{36,63}</string>
		</dict>
		<key>kuileizhanshi-kl5-4-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,72},{35,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,63}}</string>
			<key>sourceSize</key>
			<string>{35,63}</string>
		</dict>
		<key>kuileizhanshi-kulou-yz.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{105,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,32}}</string>
			<key>sourceSize</key>
			<string>{105,32}</string>
		</dict>
		<key>kuileizhanshi-shoub-6a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,109},{26,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,18}}</string>
			<key>sourceSize</key>
			<string>{26,18}</string>
		</dict>
		<key>kuileizhanshi-shoub-7a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,109},{24,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,21}}</string>
			<key>sourceSize</key>
			<string>{24,21}</string>
		</dict>
		<key>kuileizhanshi-shoub-7a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,94},{28,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,17}}</string>
			<key>sourceSize</key>
			<string>{28,17}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_kuileizhanshi.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f80177fad54fb808292cfac400a60579$</string>
		<key>textureFileName</key>
		<string>Monster_kuileizhanshi.png</string>
	</dict>
</dict>
</plist>
