<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_panda-888.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,201},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Monster_panda-biansw.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,81},{54,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,53}}</string>
			<key>sourceSize</key>
			<string>{54,53}</string>
		</dict>
		<key>Monster_panda-bizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,372},{8,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,7}}</string>
			<key>sourceSize</key>
			<string>{8,7}</string>
		</dict>
		<key>Monster_panda-ci.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{161,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,34}}</string>
			<key>sourceSize</key>
			<string>{161,34}</string>
		</dict>
		<key>Monster_panda-l_datui.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,76},{23,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,28}}</string>
			<key>sourceSize</key>
			<string>{23,28}</string>
		</dict>
		<key>Monster_panda-l_er.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,421},{20,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,24}}</string>
			<key>sourceSize</key>
			<string>{20,24}</string>
		</dict>
		<key>Monster_panda-l_er1.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,363},{20,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,22}}</string>
			<key>sourceSize</key>
			<string>{20,22}</string>
		</dict>
		<key>Monster_panda-l_h_mao.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,404},{16,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,21}}</string>
			<key>sourceSize</key>
			<string>{16,21}</string>
		</dict>
		<key>Monster_panda-l_h_shantui.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,425},{17,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,26}}</string>
			<key>sourceSize</key>
			<string>{17,26}</string>
		</dict>
		<key>Monster_panda-l_h_xiatui.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,403},{17,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,16}}</string>
			<key>sourceSize</key>
			<string>{17,16}</string>
		</dict>
		<key>Monster_panda-l_jiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,326},{21,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,32}}</string>
			<key>sourceSize</key>
			<string>{21,32}</string>
		</dict>
		<key>Monster_panda-l_jiao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,386},{33,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,39}}</string>
			<key>sourceSize</key>
			<string>{33,39}</string>
		</dict>
		<key>Monster_panda-l_q_shantui.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,360},{18,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,22}}</string>
			<key>sourceSize</key>
			<string>{18,22}</string>
		</dict>
		<key>Monster_panda-l_q_xiatui.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,404},{21,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,21}}</string>
			<key>sourceSize</key>
			<string>{21,21}</string>
		</dict>
		<key>Monster_panda-l_shou.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,388},{32,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,22}}</string>
			<key>sourceSize</key>
			<string>{32,22}</string>
		</dict>
		<key>Monster_panda-l_shou1.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,372},{34,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,30}}</string>
			<key>sourceSize</key>
			<string>{34,30}</string>
		</dict>
		<key>Monster_panda-l_shou3.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,330},{35,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,51}}</string>
			<key>sourceSize</key>
			<string>{35,51}</string>
		</dict>
		<key>Monster_panda-l_shou4.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,331},{41,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,30}}</string>
			<key>sourceSize</key>
			<string>{41,30}</string>
		</dict>
		<key>Monster_panda-l_yan.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,297},{9,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,16}}</string>
			<key>sourceSize</key>
			<string>{9,16}</string>
		</dict>
		<key>Monster_panda-l_yan1.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,144},{12,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,19}}</string>
			<key>sourceSize</key>
			<string>{12,19}</string>
		</dict>
		<key>Monster_panda-l_yan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,185},{12,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{12,14}</string>
		</dict>
		<key>Monster_panda-l_yanquan.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,427},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>Monster_panda-l_yanquan1.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,473},{32,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,37}}</string>
			<key>sourceSize</key>
			<string>{32,37}</string>
		</dict>
		<key>Monster_panda-r_datui.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,485},{30,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,24}}</string>
			<key>sourceSize</key>
			<string>{30,24}</string>
		</dict>
		<key>Monster_panda-r_er.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,363},{18,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,23}}</string>
			<key>sourceSize</key>
			<string>{18,23}</string>
		</dict>
		<key>Monster_panda-r_er1.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,490},{15,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,17}}</string>
			<key>sourceSize</key>
			<string>{15,17}</string>
		</dict>
		<key>Monster_panda-r_jiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,165},{12,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,18}}</string>
			<key>sourceSize</key>
			<string>{12,18}</string>
		</dict>
		<key>Monster_panda-r_jiao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,324},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>Monster_panda-r_q_xiatui.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,404},{20,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,19}}</string>
			<key>sourceSize</key>
			<string>{20,19}</string>
		</dict>
		<key>Monster_panda-r_shou.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,427},{30,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,36}}</string>
			<key>sourceSize</key>
			<string>{30,36}</string>
		</dict>
		<key>Monster_panda-r_shou1.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,460},{26,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,28}}</string>
			<key>sourceSize</key>
			<string>{26,28}</string>
		</dict>
		<key>Monster_panda-r_shou3.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,437},{17,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,46}}</string>
			<key>sourceSize</key>
			<string>{17,46}</string>
		</dict>
		<key>Monster_panda-r_yan.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,2},{5,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,14}}</string>
			<key>sourceSize</key>
			<string>{5,14}</string>
		</dict>
		<key>Monster_panda-r_yan1.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,214},{9,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,17}}</string>
			<key>sourceSize</key>
			<string>{9,17}</string>
		</dict>
		<key>Monster_panda-r_yan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,315},{8,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,9}}</string>
			<key>sourceSize</key>
			<string>{8,9}</string>
		</dict>
		<key>Monster_panda-r_yanquan.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,426},{18,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,32}}</string>
			<key>sourceSize</key>
			<string>{18,32}</string>
		</dict>
		<key>Monster_panda-r_yanquan1.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,465},{18,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,32}}</string>
			<key>sourceSize</key>
			<string>{18,32}</string>
		</dict>
		<key>Monster_panda-shenti.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,115},{76,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,58}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>Monster_panda-shenti1.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,244},{63,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,60}}</string>
			<key>sourceSize</key>
			<string>{63,60}</string>
		</dict>
		<key>Monster_panda-shenti2.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,178},{65,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,64}}</string>
			<key>sourceSize</key>
			<string>{65,64}</string>
		</dict>
		<key>Monster_panda-shu1_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,234},{31,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,44}}</string>
			<key>sourceSize</key>
			<string>{31,44}</string>
		</dict>
		<key>Monster_panda-suen_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,38},{23,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,36}}</string>
			<key>sourceSize</key>
			<string>{23,36}</string>
		</dict>
		<key>Monster_panda-suen_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,178},{33,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,53}}</string>
			<key>sourceSize</key>
			<string>{33,53}</string>
		</dict>
		<key>Monster_panda-tou.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,85},{82,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,57}}</string>
			<key>sourceSize</key>
			<string>{82,57}</string>
		</dict>
		<key>Monster_panda-tou1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,175},{76,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,57}}</string>
			<key>sourceSize</key>
			<string>{76,57}</string>
		</dict>
		<key>Monster_panda-tou2.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,2},{82,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,81}}</string>
			<key>sourceSize</key>
			<string>{82,81}</string>
		</dict>
		<key>Monster_panda-weiba.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,490},{17,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,16}}</string>
			<key>sourceSize</key>
			<string>{17,16}</string>
		</dict>
		<key>Monster_panda-xiaba.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,81},{80,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,32}}</string>
			<key>sourceSize</key>
			<string>{80,32}</string>
		</dict>
		<key>Monster_panda-xiaba1.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,144},{74,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,32}}</string>
			<key>sourceSize</key>
			<string>{74,32}</string>
		</dict>
		<key>Monster_panda-yanpi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,383},{15,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,18}}</string>
			<key>sourceSize</key>
			<string>{15,18}</string>
		</dict>
		<key>Monster_panda-ye_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,363},{35,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,21}}</string>
			<key>sourceSize</key>
			<string>{35,21}</string>
		</dict>
		<key>Monster_panda-ye_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,383},{32,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,19}}</string>
			<key>sourceSize</key>
			<string>{32,19}</string>
		</dict>
		<key>Monster_panda-ye_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,394},{28,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,15}}</string>
			<key>sourceSize</key>
			<string>{28,15}</string>
		</dict>
		<key>Monster_panda-ye_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,424},{33,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,11}}</string>
			<key>sourceSize</key>
			<string>{33,11}</string>
		</dict>
		<key>Monster_panda-ye_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,306},{37,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,22}}</string>
			<key>sourceSize</key>
			<string>{37,22}</string>
		</dict>
		<key>Monster_panda-ye_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,427},{17,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,44}}</string>
			<key>sourceSize</key>
			<string>{17,44}</string>
		</dict>
		<key>Monster_panda-ye_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,404},{27,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,20}}</string>
			<key>sourceSize</key>
			<string>{27,20}</string>
		</dict>
		<key>Monster_panda-ye_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,496},{32,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,11}}</string>
			<key>sourceSize</key>
			<string>{32,11}</string>
		</dict>
		<key>Monster_panda-ye_jing.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,437},{29,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,57}}</string>
			<key>sourceSize</key>
			<string>{29,57}</string>
		</dict>
		<key>Monster_panda-yizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,38},{136,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,41}}</string>
			<key>sourceSize</key>
			<string>{136,41}</string>
		</dict>
		<key>Monster_panda-yss1.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,467},{30,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,36}}</string>
			<key>sourceSize</key>
			<string>{30,36}</string>
		</dict>
		<key>Monster_panda-yss2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,372},{34,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,50}}</string>
			<key>sourceSize</key>
			<string>{34,50}</string>
		</dict>
		<key>Monster_panda-yss3.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,280},{38,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,50}}</string>
			<key>sourceSize</key>
			<string>{38,50}</string>
		</dict>
		<key>Monster_panda-yss4.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,233},{45,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,49}}</string>
			<key>sourceSize</key>
			<string>{45,49}</string>
		</dict>
		<key>Monster_panda-yss5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,281},{41,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,50}}</string>
			<key>sourceSize</key>
			<string>{41,50}</string>
		</dict>
		<key>Monster_panda-yss6.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,280},{42,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,49}}</string>
			<key>sourceSize</key>
			<string>{42,49}</string>
		</dict>
		<key>Monster_panda-zhu1_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,121},{22,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,40}}</string>
			<key>sourceSize</key>
			<string>{22,40}</string>
		</dict>
		<key>Monster_panda-zhu1_c.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,306},{25,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,55}}</string>
			<key>sourceSize</key>
			<string>{25,55}</string>
		</dict>
		<key>Monster_panda-zhu5_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,136},{56,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,49}}</string>
			<key>sourceSize</key>
			<string>{56,49}</string>
		</dict>
		<key>Monster_panda-zhu5_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,234},{43,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,45}}</string>
			<key>sourceSize</key>
			<string>{43,45}</string>
		</dict>
		<key>Monster_panda-zhu5_c.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,332},{35,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>sourceSize</key>
			<string>{35,38}</string>
		</dict>
		<key>Monster_panda-zhu5_e.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,187},{55,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,44}}</string>
			<key>sourceSize</key>
			<string>{55,44}</string>
		</dict>
		<key>Monster_panda-zhu6_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,233},{50,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,45}}</string>
			<key>sourceSize</key>
			<string>{50,45}</string>
		</dict>
		<key>Monster_panda-zhu6_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,333},{40,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,37}}</string>
			<key>sourceSize</key>
			<string>{40,37}</string>
		</dict>
		<key>Monster_panda-zhu6_e.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,284},{45,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,38}}</string>
			<key>sourceSize</key>
			<string>{45,38}</string>
		</dict>
		<key>Monster_panda-zui.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,377},{18,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,15}}</string>
			<key>sourceSize</key>
			<string>{18,15}</string>
		</dict>
		<key>Monster_panda-zui1.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,106},{23,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,13}}</string>
			<key>sourceSize</key>
			<string>{23,13}</string>
		</dict>
		<key>Monster_panda-zui2.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,360},{18,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,15}}</string>
			<key>sourceSize</key>
			<string>{18,15}</string>
		</dict>
		<key>Monster_panda-zui3.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,163},{24,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,13}}</string>
			<key>sourceSize</key>
			<string>{24,13}</string>
		</dict>
		<key>Monster_panda-zui4.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,284},{10,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,11}}</string>
			<key>sourceSize</key>
			<string>{10,11}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_panda.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:44fa32cc4eb1f540c013ce62f4d12bd8$</string>
		<key>textureFileName</key>
		<string>Monster_panda.png</string>
	</dict>
</dict>
</plist>
