<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_nvwuboss-fashibo-2a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,332},{14,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,34}}</string>
			<key>sourceSize</key>
			<string>{14,34}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-2a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,197},{15,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,46}}</string>
			<key>sourceSize</key>
			<string>{15,46}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-3a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,863},{11,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,34}}</string>
			<key>sourceSize</key>
			<string>{11,34}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-3a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,830},{12,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,31}}</string>
			<key>sourceSize</key>
			<string>{12,31}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-4a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,731},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-4a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,245},{15,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,18}}</string>
			<key>sourceSize</key>
			<string>{15,18}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-4a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,654},{17,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,24}}</string>
			<key>sourceSize</key>
			<string>{17,24}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-4a-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,1002},{31,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,19}}</string>
			<key>sourceSize</key>
			<string>{31,19}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-4a-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,914},{21,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,46}}</string>
			<key>sourceSize</key>
			<string>{21,46}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-4a-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,478},{37,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,21}}</string>
			<key>sourceSize</key>
			<string>{37,21}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-4a-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,677},{27,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,25}}</string>
			<key>sourceSize</key>
			<string>{27,25}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-9a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,22},{56,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,45}}</string>
			<key>sourceSize</key>
			<string>{56,45}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-9a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,406},{102,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,65}}</string>
			<key>sourceSize</key>
			<string>{102,65}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-bz-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,717},{13,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,17}}</string>
			<key>sourceSize</key>
			<string>{13,17}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-cb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,276},{85,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,69}}</string>
			<key>sourceSize</key>
			<string>{85,69}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-gq-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,819},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-gq-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,954},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-gq-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,405},{47,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,45}}</string>
			<key>sourceSize</key>
			<string>{47,45}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-gq-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,483},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-lb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,397},{40,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,53}}</string>
			<key>sourceSize</key>
			<string>{40,53}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-qz-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,69},{53,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,43}}</string>
			<key>sourceSize</key>
			<string>{53,43}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-qz1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,601},{96,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,25}}</string>
			<key>sourceSize</key>
			<string>{96,25}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-qz1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,508},{98,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,26}}</string>
			<key>sourceSize</key>
			<string>{98,26}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-qz1-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,368},{99,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,36}}</string>
			<key>sourceSize</key>
			<string>{99,36}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-qz1-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,531},{95,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,38}}</string>
			<key>sourceSize</key>
			<string>{95,38}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-qz1-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,473},{98,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,33}}</string>
			<key>sourceSize</key>
			<string>{98,33}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-qz1-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,571},{77,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,63}}</string>
			<key>sourceSize</key>
			<string>{77,63}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-qz2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,914},{35,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,102}}</string>
			<key>sourceSize</key>
			<string>{35,102}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-qz3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,501},{36,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,115}}</string>
			<key>sourceSize</key>
			<string>{36,115}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-qz4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,736},{19,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,62}}</string>
			<key>sourceSize</key>
			<string>{19,62}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-qz5-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,560},{107,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,39}}</string>
			<key>sourceSize</key>
			<string>{107,39}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-qz6-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,642},{60,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,14}}</string>
			<key>sourceSize</key>
			<string>{60,14}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-st-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,879},{46,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,31}}</string>
			<key>sourceSize</key>
			<string>{46,31}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-sz-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,800},{19,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,11}}</string>
			<key>sourceSize</key>
			<string>{19,11}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-sz-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,697},{13,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,18}}</string>
			<key>sourceSize</key>
			<string>{13,18}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-sz-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,536},{14,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,20}}</string>
			<key>sourceSize</key>
			<string>{14,20}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-sz-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,642},{11,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,15}}</string>
			<key>sourceSize</key>
			<string>{11,15}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-sz-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,680},{17,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,15}}</string>
			<key>sourceSize</key>
			<string>{17,15}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-tf1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,853},{32,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,59}}</string>
			<key>sourceSize</key>
			<string>{32,59}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-tf1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,784},{33,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,67}}</string>
			<key>sourceSize</key>
			<string>{33,67}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-tf2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,114},{53,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,37}}</string>
			<key>sourceSize</key>
			<string>{53,37}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-tf3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,618},{43,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,40}}</string>
			<key>sourceSize</key>
			<string>{43,40}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-tf4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,813},{18,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,25}}</string>
			<key>sourceSize</key>
			<string>{18,25}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-tf5-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,571},{13,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,81}}</string>
			<key>sourceSize</key>
			<string>{13,81}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-tf6-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,265},{14,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,65}}</string>
			<key>sourceSize</key>
			<string>{14,65}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-xb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,536},{23,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,22}}</string>
			<key>sourceSize</key>
			<string>{23,22}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-xb-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,758},{25,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,24}}</string>
			<key>sourceSize</key>
			<string>{25,24}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-xm-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,153},{52,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,124}}</string>
			<key>sourceSize</key>
			<string>{52,124}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-xm-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,279},{52,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,97}}</string>
			<key>sourceSize</key>
			<string>{52,97}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-xm-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,914},{64,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,104}}</string>
			<key>sourceSize</key>
			<string>{64,104}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-xm-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,722},{73,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,84}}</string>
			<key>sourceSize</key>
			<string>{73,84}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-yb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,378},{52,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,25}}</string>
			<key>sourceSize</key>
			<string>{52,25}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-yj-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,846},{46,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,14}}</string>
			<key>sourceSize</key>
			<string>{46,14}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-yj-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,830},{46,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,14}}</string>
			<key>sourceSize</key>
			<string>{46,14}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-yz.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,819},{72,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,25}}</string>
			<key>sourceSize</key>
			<string>{72,25}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-yz2.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,819},{72,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,25}}</string>
			<key>sourceSize</key>
			<string>{72,25}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-zb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,1002},{11,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,6}}</string>
			<key>sourceSize</key>
			<string>{11,6}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-zb-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,1002},{12,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,6}}</string>
			<key>sourceSize</key>
			<string>{12,6}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-zb-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,550},{10,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,8}}</string>
			<key>sourceSize</key>
			<string>{10,8}</string>
		</dict>
		<key>Monster_nvwuboss-fashibo-zz-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,954},{10,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,26}}</string>
			<key>sourceSize</key>
			<string>{10,26}</string>
		</dict>
		<key>Monster_nvwuboss-guangdai.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,473},{4,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,85}}</string>
			<key>sourceSize</key>
			<string>{4,85}</string>
		</dict>
		<key>Monster_nvwuboss-gx03 b1.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,808},{73,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,69}}</string>
			<key>sourceSize</key>
			<string>{73,69}</string>
		</dict>
		<key>Monster_nvwuboss-gx03 b2.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,636},{73,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,84}}</string>
			<key>sourceSize</key>
			<string>{73,84}</string>
		</dict>
		<key>Monster_nvwuboss-gx03 b3.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,830},{58,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,122}}</string>
			<key>sourceSize</key>
			<string>{58,122}</string>
		</dict>
		<key>Monster_nvwuboss-gx23.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,642},{27,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,33}}</string>
			<key>sourceSize</key>
			<string>{27,33}</string>
		</dict>
		<key>Monster_nvwuboss-gxs2.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,347},{85,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,13}}</string>
			<key>sourceSize</key>
			<string>{85,13}</string>
		</dict>
		<key>Monster_nvwuboss-gxs3.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,628},{96,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,12}}</string>
			<key>sourceSize</key>
			<string>{96,12}</string>
		</dict>
		<key>Monster_nvwuboss-h42.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,2},{185,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,193}}</string>
			<key>sourceSize</key>
			<string>{185,193}</string>
		</dict>
		<key>Monster_nvwuboss-h43.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,353},{170,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,170}}</string>
			<key>sourceSize</key>
			<string>{170,170}</string>
		</dict>
		<key>Monster_nvwuboss-h44.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,179},{173,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,172}}</string>
			<key>sourceSize</key>
			<string>{173,172}</string>
		</dict>
		<key>Monster_nvwuboss-h45.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,197},{171,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,171}}</string>
			<key>sourceSize</key>
			<string>{171,171}</string>
		</dict>
		<key>Monster_nvwuboss-qe3.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,704},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>Monster_nvwuboss-ren 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,2},{80,272}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,272}}</string>
			<key>sourceSize</key>
			<string>{80,272}</string>
		</dict>
		<key>Monster_nvwuboss-ren2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,525},{130,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,155}}</string>
			<key>sourceSize</key>
			<string>{130,155}</string>
		</dict>
		<key>Monster_nvwuboss-ren3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,22},{178,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,155}}</string>
			<key>sourceSize</key>
			<string>{178,155}</string>
		</dict>
		<key>Monster_nvwuboss-ren4.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,370},{132,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,198}}</string>
			<key>sourceSize</key>
			<string>{132,198}</string>
		</dict>
		<key>Monster_nvwuboss-sprite 4733.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,536},{21,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,12}}</string>
			<key>sourceSize</key>
			<string>{21,12}</string>
		</dict>
		<key>Monster_nvwuboss-sprite 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,862},{45,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,29}}</string>
			<key>sourceSize</key>
			<string>{45,29}</string>
		</dict>
		<key>Monster_nvwuboss-sprite2.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,452},{38,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,24}}</string>
			<key>sourceSize</key>
			<string>{38,24}</string>
		</dict>
		<key>Monster_nvwuboss-sprite3.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,536},{35,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,22}}</string>
			<key>sourceSize</key>
			<string>{35,22}</string>
		</dict>
		<key>Monster_nvwuboss-sprite4.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,370},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>Monster_nvwuboss-sprite6.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,452},{47,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,29}}</string>
			<key>sourceSize</key>
			<string>{47,29}</string>
		</dict>
		<key>Monster_nvwuboss-sz1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{236,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,18}}</string>
			<key>sourceSize</key>
			<string>{236,18}</string>
		</dict>
		<key>Monster_nvwuboss-x1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,781},{124,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,47}}</string>
			<key>sourceSize</key>
			<string>{124,47}</string>
		</dict>
		<key>Monster_nvwuboss-x10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,732},{124,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,47}}</string>
			<key>sourceSize</key>
			<string>{124,47}</string>
		</dict>
		<key>Monster_nvwuboss-x11.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,570},{125,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,48}}</string>
			<key>sourceSize</key>
			<string>{125,48}</string>
		</dict>
		<key>Monster_nvwuboss-x12.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,760},{124,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,48}}</string>
			<key>sourceSize</key>
			<string>{124,48}</string>
		</dict>
		<key>Monster_nvwuboss-x2.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,720},{124,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,48}}</string>
			<key>sourceSize</key>
			<string>{124,48}</string>
		</dict>
		<key>Monster_nvwuboss-x3.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,710},{124,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,48}}</string>
			<key>sourceSize</key>
			<string>{124,48}</string>
		</dict>
		<key>Monster_nvwuboss-x4.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,810},{124,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,47}}</string>
			<key>sourceSize</key>
			<string>{124,47}</string>
		</dict>
		<key>Monster_nvwuboss-x5.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,670},{124,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,48}}</string>
			<key>sourceSize</key>
			<string>{124,48}</string>
		</dict>
		<key>Monster_nvwuboss-x6.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,660},{124,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,48}}</string>
			<key>sourceSize</key>
			<string>{124,48}</string>
		</dict>
		<key>Monster_nvwuboss-x7.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,770},{124,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,47}}</string>
			<key>sourceSize</key>
			<string>{124,47}</string>
		</dict>
		<key>Monster_nvwuboss-x8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,682},{124,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,48}}</string>
			<key>sourceSize</key>
			<string>{124,48}</string>
		</dict>
		<key>Monster_nvwuboss-x9.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,620},{124,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,48}}</string>
			<key>sourceSize</key>
			<string>{124,48}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_nvwuboss.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c75a55eef7fb39d99eda11c89d6c2074$</string>
		<key>textureFileName</key>
		<string>Monster_nvwuboss.png</string>
	</dict>
</dict>
</plist>
