<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_mohuadulang-190.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,116},{40,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,36}}</string>
			<key>sourceSize</key>
			<string>{40,36}</string>
		</dict>
		<key>Monster_mohuadulang-ae2_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,209},{31,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,80}}</string>
			<key>sourceSize</key>
			<string>{31,80}</string>
		</dict>
		<key>Monster_mohuadulang-ae2_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,275},{26,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,61}}</string>
			<key>sourceSize</key>
			<string>{26,61}</string>
		</dict>
		<key>Monster_mohuadulang-ae2_3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,150},{19,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,29}}</string>
			<key>sourceSize</key>
			<string>{19,29}</string>
		</dict>
		<key>Monster_mohuadulang-bo.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,163},{40,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,24}}</string>
			<key>sourceSize</key>
			<string>{40,24}</string>
		</dict>
		<key>Monster_mohuadulang-bz2.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,2},{28,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,42}}</string>
			<key>sourceSize</key>
			<string>{28,42}</string>
		</dict>
		<key>Monster_mohuadulang-fa1.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,150},{41,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,11}}</string>
			<key>sourceSize</key>
			<string>{41,11}</string>
		</dict>
		<key>Monster_mohuadulang-fa2.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,101},{53,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,17}}</string>
			<key>sourceSize</key>
			<string>{53,17}</string>
		</dict>
		<key>Monster_mohuadulang-fa3.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,181},{18,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,66}}</string>
			<key>sourceSize</key>
			<string>{18,66}</string>
		</dict>
		<key>Monster_mohuadulang-fa4.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,2},{67,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,25}}</string>
			<key>sourceSize</key>
			<string>{67,25}</string>
		</dict>
		<key>Monster_mohuadulang-l_er.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,58},{11,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,27}}</string>
			<key>sourceSize</key>
			<string>{11,27}</string>
		</dict>
		<key>Monster_mohuadulang-molang-hj-1-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,254},{28,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,19}}</string>
			<key>sourceSize</key>
			<string>{28,19}</string>
		</dict>
		<key>Monster_mohuadulang-molang-hj-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,231},{30,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,21}}</string>
			<key>sourceSize</key>
			<string>{30,21}</string>
		</dict>
		<key>Monster_mohuadulang-molang-ht-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,276},{23,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,31}}</string>
			<key>sourceSize</key>
			<string>{23,31}</string>
		</dict>
		<key>Monster_mohuadulang-molang-hxt-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,209},{17,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,38}}</string>
			<key>sourceSize</key>
			<string>{17,38}</string>
		</dict>
		<key>Monster_mohuadulang-molang-m-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,194},{32,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,44}}</string>
			<key>sourceSize</key>
			<string>{32,44}</string>
		</dict>
		<key>Monster_mohuadulang-molang-pg-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,222},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>Monster_mohuadulang-molang-qt-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,189},{33,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,18}}</string>
			<key>sourceSize</key>
			<string>{33,18}</string>
		</dict>
		<key>Monster_mohuadulang-molang-qxt-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,249},{24,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,47}}</string>
			<key>sourceSize</key>
			<string>{24,47}</string>
		</dict>
		<key>Monster_mohuadulang-molangst.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,195},{44,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,34}}</string>
			<key>sourceSize</key>
			<string>{44,34}</string>
		</dict>
		<key>Monster_mohuadulang-r_er0.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,263},{24,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,11}}</string>
			<key>sourceSize</key>
			<string>{24,11}</string>
		</dict>
		<key>Monster_mohuadulang-r_ya.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,87},{4,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,15}}</string>
			<key>sourceSize</key>
			<string>{4,15}</string>
		</dict>
		<key>Monster_mohuadulang-sprite 58 -01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,99},{53,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,30}}</string>
			<key>sourceSize</key>
			<string>{53,30}</string>
		</dict>
		<key>Monster_mohuadulang-sprite 58 -02.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,58},{52,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,30}}</string>
			<key>sourceSize</key>
			<string>{52,30}</string>
		</dict>
		<key>Monster_mohuadulang-sprite 58 -03.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,120},{44,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,28}}</string>
			<key>sourceSize</key>
			<string>{44,28}</string>
		</dict>
		<key>Monster_mohuadulang-sprite 58.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,29},{64,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,27}}</string>
			<key>sourceSize</key>
			<string>{64,27}</string>
		</dict>
		<key>Monster_mohuadulang-tou.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,231},{30,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,45}}</string>
			<key>sourceSize</key>
			<string>{30,45}</string>
		</dict>
		<key>Monster_mohuadulang-wei_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,240},{30,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,74}}</string>
			<key>sourceSize</key>
			<string>{30,74}</string>
		</dict>
		<key>Monster_mohuadulang-wei_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,50},{36,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,64}}</string>
			<key>sourceSize</key>
			<string>{36,64}</string>
		</dict>
		<key>Monster_mohuadulang-wei_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,46},{32,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,79}}</string>
			<key>sourceSize</key>
			<string>{32,79}</string>
		</dict>
		<key>Monster_mohuadulang-wei_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,174},{39,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,73}}</string>
			<key>sourceSize</key>
			<string>{39,73}</string>
		</dict>
		<key>Monster_mohuadulang-wei_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,150},{45,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,70}}</string>
			<key>sourceSize</key>
			<string>{45,70}</string>
		</dict>
		<key>Monster_mohuadulang-wei_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,127},{47,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,66}}</string>
			<key>sourceSize</key>
			<string>{47,66}</string>
		</dict>
		<key>Monster_mohuadulang-wei_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,90},{50,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,58}}</string>
			<key>sourceSize</key>
			<string>{50,58}</string>
		</dict>
		<key>Monster_mohuadulang-wei_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,50},{57,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,47}}</string>
			<key>sourceSize</key>
			<string>{57,47}</string>
		</dict>
		<key>Monster_mohuadulang-wei_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,50},{53,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,49}}</string>
			<key>sourceSize</key>
			<string>{53,49}</string>
		</dict>
		<key>Monster_mohuadulang-wei_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,131},{43,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,61}}</string>
			<key>sourceSize</key>
			<string>{43,61}</string>
		</dict>
		<key>Monster_mohuadulang-xiae.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,154},{40,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,18}}</string>
			<key>sourceSize</key>
			<string>{40,18}</string>
		</dict>
		<key>Monster_mohuadulang-yizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{152,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,46}}</string>
			<key>sourceSize</key>
			<string>{152,46}</string>
		</dict>
		<key>Monster_mohuadulang-yj-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,249},{25,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,12}}</string>
			<key>sourceSize</key>
			<string>{25,12}</string>
		</dict>
		<key>Monster_mohuadulang-yj-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,104},{13,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,4}}</string>
			<key>sourceSize</key>
			<string>{13,4}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_mohuadulang.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:99a7e093311e332ee230b8d3ee4d89a0$</string>
		<key>textureFileName</key>
		<string>Monster_mohuadulang.png</string>
	</dict>
</dict>
</plist>
