<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_xiaoyuren-qipao.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,85},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-k-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,109},{44,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,30}}</string>
			<key>sourceSize</key>
			<string>{44,30}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-sc-20.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,2},{56,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,30}}</string>
			<key>sourceSize</key>
			<string>{56,30}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-ss-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,84},{47,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,26}}</string>
			<key>sourceSize</key>
			<string>{47,26}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-st-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,2},{63,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,64}}</string>
			<key>sourceSize</key>
			<string>{63,64}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-tb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,61},{49,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,46}}</string>
			<key>sourceSize</key>
			<string>{49,46}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-xb2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,36},{51,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,23}}</string>
			<key>sourceSize</key>
			<string>{51,23}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-xs-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-xs-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,36},{49,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,46}}</string>
			<key>sourceSize</key>
			<string>{49,46}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-yj1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,128},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-yj1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,112},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-yj1-20.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,112},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-yj2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,117},{27,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,24}}</string>
			<key>sourceSize</key>
			<string>{27,24}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-yj2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,102},{27,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,24}}</string>
			<key>sourceSize</key>
			<string>{27,24}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-yj2-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,102},{27,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,24}}</string>
			<key>sourceSize</key>
			<string>{27,24}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-yl1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,134},{18,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,18}}</string>
			<key>sourceSize</key>
			<string>{18,18}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-yl2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,34},{52,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,47}}</string>
			<key>sourceSize</key>
			<string>{52,47}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-yl4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,83},{34,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,32}}</string>
			<key>sourceSize</key>
			<string>{34,32}</string>
		</dict>
		<key>Monster_xiaoyuren-sry-zj-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,68},{14,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,15}}</string>
			<key>sourceSize</key>
			<string>{14,15}</string>
		</dict>
		<key>Monster_xiaoyuren-weiba-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,126},{26,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,45}}</string>
			<key>sourceSize</key>
			<string>{26,45}</string>
		</dict>
		<key>Monster_xiaoyuren-weiba-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,132},{26,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,40}}</string>
			<key>sourceSize</key>
			<string>{26,40}</string>
		</dict>
		<key>Monster_xiaoyuren-weiba-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,89},{20,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,41}}</string>
			<key>sourceSize</key>
			<string>{20,41}</string>
		</dict>
		<key>Monster_xiaoyuren-weiba-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,83},{19,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,41}}</string>
			<key>sourceSize</key>
			<string>{19,41}</string>
		</dict>
		<key>Monster_xiaoyuren-weiba-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,2},{21,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,40}}</string>
			<key>sourceSize</key>
			<string>{21,40}</string>
		</dict>
		<key>Monster_xiaoyuren-weiba-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,44},{22,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,43}}</string>
			<key>sourceSize</key>
			<string>{22,43}</string>
		</dict>
		<key>Monster_xiaoyuren-yizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{106,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,32}}</string>
			<key>sourceSize</key>
			<string>{106,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_xiaoyuren.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c406c3fa2ec16c9fe3216dd7dd6e8c75$</string>
		<key>textureFileName</key>
		<string>Monster_xiaoyuren.png</string>
	</dict>
</dict>
</plist>
