<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_SafetyBox-888.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,221},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Monster_SafetyBox-Smoke 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,97},{6,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,4}}</string>
			<key>sourceSize</key>
			<string>{6,4}</string>
		</dict>
		<key>Monster_SafetyBox-Smoke 10.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,160},{20,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,24}}</string>
			<key>sourceSize</key>
			<string>{20,24}</string>
		</dict>
		<key>Monster_SafetyBox-Smoke 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,181},{15,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,12}}</string>
			<key>sourceSize</key>
			<string>{15,12}</string>
		</dict>
		<key>Monster_SafetyBox-Smoke 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,142},{24,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,16}}</string>
			<key>sourceSize</key>
			<string>{24,16}</string>
		</dict>
		<key>Monster_SafetyBox-Smoke 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,123},{28,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,17}}</string>
			<key>sourceSize</key>
			<string>{28,17}</string>
		</dict>
		<key>Monster_SafetyBox-Smoke 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,74},{30,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,21}}</string>
			<key>sourceSize</key>
			<string>{30,21}</string>
		</dict>
		<key>Monster_SafetyBox-Smoke 6.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,52},{31,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,20}}</string>
			<key>sourceSize</key>
			<string>{31,20}</string>
		</dict>
		<key>Monster_SafetyBox-Smoke 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,28},{31,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,22}}</string>
			<key>sourceSize</key>
			<string>{31,22}</string>
		</dict>
		<key>Monster_SafetyBox-Smoke 8.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,2},{31,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,24}}</string>
			<key>sourceSize</key>
			<string>{31,24}</string>
		</dict>
		<key>Monster_SafetyBox-Smoke 9.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,97},{28,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,24}}</string>
			<key>sourceSize</key>
			<string>{28,24}</string>
		</dict>
		<key>Monster_SafetyBox-pohuai.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{252,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{252,175}}</string>
			<key>sourceSize</key>
			<string>{252,175}</string>
		</dict>
		<key>Monster_SafetyBox-putong.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,2},{215,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,141}}</string>
			<key>sourceSize</key>
			<string>{215,141}</string>
		</dict>
		<key>Monster_SafetyBox-shousun.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,294},{200,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,181}}</string>
			<key>sourceSize</key>
			<string>{200,181}</string>
		</dict>
		<key>Monster_SafetyBox-sunhuai.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,145},{214,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,147}}</string>
			<key>sourceSize</key>
			<string>{214,147}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,2},{4,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,4}}</string>
			<key>sourceSize</key>
			<string>{4,4}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 10.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,195},{14,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,18}}</string>
			<key>sourceSize</key>
			<string>{14,18}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 11.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,232},{9,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,16}}</string>
			<key>sourceSize</key>
			<string>{9,16}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 12.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,234},{9,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,13}}</string>
			<key>sourceSize</key>
			<string>{9,13}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 13.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,249},{9,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,11}}</string>
			<key>sourceSize</key>
			<string>{9,11}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 15.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,250},{9,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,4}}</string>
			<key>sourceSize</key>
			<string>{9,4}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 16.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,156},{10,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,3}}</string>
			<key>sourceSize</key>
			<string>{10,3}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 17.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,150},{10,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,4}}</string>
			<key>sourceSize</key>
			<string>{10,4}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 18.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,8},{4,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,2}}</string>
			<key>sourceSize</key>
			<string>{4,2}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,74},{5,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,4}}</string>
			<key>sourceSize</key>
			<string>{5,4}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,250},{8,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,7}}</string>
			<key>sourceSize</key>
			<string>{8,7}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,241},{9,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,7}}</string>
			<key>sourceSize</key>
			<string>{9,7}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,142},{11,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,6}}</string>
			<key>sourceSize</key>
			<string>{11,6}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 6.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,207},{14,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,12}}</string>
			<key>sourceSize</key>
			<string>{14,12}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,215},{13,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,15}}</string>
			<key>sourceSize</key>
			<string>{13,15}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 8.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,186},{14,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,19}}</string>
			<key>sourceSize</key>
			<string>{14,19}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai 9.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,161},{15,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,18}}</string>
			<key>sourceSize</key>
			<string>{15,18}</string>
		</dict>
		<key>Monster_SafetyBox-xiaoshikuai14.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,232},{9,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,7}}</string>
			<key>sourceSize</key>
			<string>{9,7}</string>
		</dict>
		<key>Monster_SafetyBox-yizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,477},{68,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,16}}</string>
			<key>sourceSize</key>
			<string>{68,16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_SafetyBox.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3ea494e2476f7b8f4a3084a70bf8b36d$</string>
		<key>textureFileName</key>
		<string>Monster_SafetyBox.png</string>
	</dict>
</dict>
</plist>
