<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>qishi-00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,381},{96,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,16}}</string>
			<key>sourceSize</key>
			<string>{96,16}</string>
		</dict>
		<key>qishi-00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,233},{86,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,16}}</string>
			<key>sourceSize</key>
			<string>{86,16}</string>
		</dict>
		<key>qishi-gxs2.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,251},{85,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,13}}</string>
			<key>sourceSize</key>
			<string>{85,13}</string>
		</dict>
		<key>qishi-gxs3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,399},{96,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,12}}</string>
			<key>sourceSize</key>
			<string>{96,12}</string>
		</dict>
		<key>qishi-qe3.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,106},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>qishi-qishi-bz-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,386},{109,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,66}}</string>
			<key>sourceSize</key>
			<string>{109,66}</string>
		</dict>
		<key>qishi-qishi-dtb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,570},{35,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,54}}</string>
			<key>sourceSize</key>
			<string>{35,54}</string>
		</dict>
		<key>qishi-qishi-dtb-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,370},{31,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,66}}</string>
			<key>sourceSize</key>
			<string>{31,66}</string>
		</dict>
		<key>qishi-qishi-jt-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{347,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{347,47}}</string>
			<key>sourceSize</key>
			<string>{347,47}</string>
		</dict>
		<key>qishi-qishi-kj-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,166},{100,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,55}}</string>
			<key>sourceSize</key>
			<string>{100,55}</string>
		</dict>
		<key>qishi-qishi-mata-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,462},{16,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,54}}</string>
			<key>sourceSize</key>
			<string>{16,54}</string>
		</dict>
		<key>qishi-qishi-mata-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,397},{15,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,25}}</string>
			<key>sourceSize</key>
			<string>{15,25}</string>
		</dict>
		<key>qishi-qishi-mfs-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,270},{98,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,28}}</string>
			<key>sourceSize</key>
			<string>{98,28}</string>
		</dict>
		<key>qishi-qishi-ms-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,2},{149,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,71}}</string>
			<key>sourceSize</key>
			<string>{149,71}</string>
		</dict>
		<key>qishi-qishi-mt-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,344},{74,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,115}}</string>
			<key>sourceSize</key>
			<string>{74,115}</string>
		</dict>
		<key>qishi-qishi-mtz-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,527},{45,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,36}}</string>
			<key>sourceSize</key>
			<string>{45,36}</string>
		</dict>
		<key>qishi-qishi-pi-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,2},{24,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,7}}</string>
			<key>sourceSize</key>
			<string>{24,7}</string>
		</dict>
		<key>qishi-qishi-rbz-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,517},{30,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,17}}</string>
			<key>sourceSize</key>
			<string>{30,17}</string>
		</dict>
		<key>qishi-qishi-rdt-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,161},{43,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,18}}</string>
			<key>sourceSize</key>
			<string>{43,18}</string>
		</dict>
		<key>qishi-qishi-rsb-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,486},{29,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,46}}</string>
			<key>sourceSize</key>
			<string>{29,46}</string>
		</dict>
		<key>qishi-qishi-rxt-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,261},{30,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,49}}</string>
			<key>sourceSize</key>
			<string>{30,49}</string>
		</dict>
		<key>qishi-qishi-rxz-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,206},{53,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,27}}</string>
			<key>sourceSize</key>
			<string>{53,27}</string>
		</dict>
		<key>qishi-qishi-s-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,471},{29,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,50}}</string>
			<key>sourceSize</key>
			<string>{29,50}</string>
		</dict>
		<key>qishi-qishi-s-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,462},{47,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,22}}</string>
			<key>sourceSize</key>
			<string>{47,22}</string>
		</dict>
		<key>qishi-qishi-s-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,343},{52,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,23}}</string>
			<key>sourceSize</key>
			<string>{52,23}</string>
		</dict>
		<key>qishi-qishi-sb-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,551},{43,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,22}}</string>
			<key>sourceSize</key>
			<string>{43,22}</string>
		</dict>
		<key>qishi-qishi-st-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,355},{37,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,32}}</string>
			<key>sourceSize</key>
			<string>{37,32}</string>
		</dict>
		<key>qishi-qishi-tb1.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,332},{74,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,82}}</string>
			<key>sourceSize</key>
			<string>{74,82}</string>
		</dict>
		<key>qishi-qishi-tui-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,480},{46,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,53}}</string>
			<key>sourceSize</key>
			<string>{46,53}</string>
		</dict>
		<key>qishi-qishi-tui-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,517},{42,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,51}}</string>
			<key>sourceSize</key>
			<string>{42,51}</string>
		</dict>
		<key>qishi-qishi-tui-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,529},{39,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,54}}</string>
			<key>sourceSize</key>
			<string>{39,54}</string>
		</dict>
		<key>qishi-qishi-tui2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,145},{33,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,26}}</string>
			<key>sourceSize</key>
			<string>{33,26}</string>
		</dict>
		<key>qishi-qishi-tui2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,492},{32,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,27}}</string>
			<key>sourceSize</key>
			<string>{32,27}</string>
		</dict>
		<key>qishi-qishi-wb-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,413},{35,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,95}}</string>
			<key>sourceSize</key>
			<string>{35,95}</string>
		</dict>
		<key>qishi-qishi-wb-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,343},{36,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,99}}</string>
			<key>sourceSize</key>
			<string>{36,99}</string>
		</dict>
		<key>qishi-qishi-wb-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,132},{32,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,101}}</string>
			<key>sourceSize</key>
			<string>{32,101}</string>
		</dict>
		<key>qishi-qishi-wt-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,492},{35,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,57}}</string>
			<key>sourceSize</key>
			<string>{35,57}</string>
		</dict>
		<key>qishi-qishi-xg-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,141},{18,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,19}}</string>
			<key>sourceSize</key>
			<string>{18,19}</string>
		</dict>
		<key>qishi-qishi-xt-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,521},{31,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,49}}</string>
			<key>sourceSize</key>
			<string>{31,49}</string>
		</dict>
		<key>qishi-qishi-xt-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,490},{28,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,37}}</string>
			<key>sourceSize</key>
			<string>{28,37}</string>
		</dict>
		<key>qishi-qishi-xt-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,478},{24,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,53}}</string>
			<key>sourceSize</key>
			<string>{24,53}</string>
		</dict>
		<key>qishi-qishi-yb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,394},{37,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,36}}</string>
			<key>sourceSize</key>
			<string>{37,36}</string>
		</dict>
		<key>qishi-qishiwb-04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,450},{40,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,93}}</string>
			<key>sourceSize</key>
			<string>{40,93}</string>
		</dict>
		<key>qishi-shouren gx  4b.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,266},{83,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,64}}</string>
			<key>sourceSize</key>
			<string>{83,64}</string>
		</dict>
		<key>qishi-shouren gx  4bc.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,75},{147,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,42}}</string>
			<key>sourceSize</key>
			<string>{147,42}</string>
		</dict>
		<key>qishi-shouren gx 013.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,265},{110,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,42}}</string>
			<key>sourceSize</key>
			<string>{110,42}</string>
		</dict>
		<key>qishi-shouren gx 018.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,301},{117,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,41}}</string>
			<key>sourceSize</key>
			<string>{117,41}</string>
		</dict>
		<key>qishi-shouren gx 021.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,254},{119,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,45}}</string>
			<key>sourceSize</key>
			<string>{119,45}</string>
		</dict>
		<key>qishi-shouren gx 10.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,309},{114,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,39}}</string>
			<key>sourceSize</key>
			<string>{114,39}</string>
		</dict>
		<key>qishi-shouren gx 18a.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,464},{42,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,57}}</string>
			<key>sourceSize</key>
			<string>{42,57}</string>
		</dict>
		<key>qishi-shouren gx 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,51},{242,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,92}}</string>
			<key>sourceSize</key>
			<string>{242,92}</string>
		</dict>
		<key>qishi-shouren gx 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,233},{126,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,48}}</string>
			<key>sourceSize</key>
			<string>{126,48}</string>
		</dict>
		<key>qishi-shouren gx a.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,414},{62,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,24}}</string>
			<key>sourceSize</key>
			<string>{62,24}</string>
		</dict>
		<key>qishi-shouren gx d.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,119},{139,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,67}}</string>
			<key>sourceSize</key>
			<string>{139,67}</string>
		</dict>
		<key>qishi-shouren gx g.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,464},{66,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,51}}</string>
			<key>sourceSize</key>
			<string>{66,51}</string>
		</dict>
		<key>qishi-shouren gx k.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,51},{102,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,39}}</string>
			<key>sourceSize</key>
			<string>{102,39}</string>
		</dict>
		<key>qishi-shouren gx n.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,145},{214,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,86}}</string>
			<key>sourceSize</key>
			<string>{214,86}</string>
		</dict>
		<key>qishi-shouren gx q.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,223},{105,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,40}}</string>
			<key>sourceSize</key>
			<string>{105,40}</string>
		</dict>
		<key>qishi-shouren gx t.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,408},{81,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,54}}</string>
			<key>sourceSize</key>
			<string>{81,54}</string>
		</dict>
		<key>qishi-shouren gx y.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,420},{104,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,40}}</string>
			<key>sourceSize</key>
			<string>{104,40}</string>
		</dict>
		<key>qishi-tex-111.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,223},{126,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,29}}</string>
			<key>sourceSize</key>
			<string>{126,29}</string>
		</dict>
		<key>qishi-texiao-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,350},{114,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,34}}</string>
			<key>sourceSize</key>
			<string>{114,34}</string>
		</dict>
		<key>qishi-texiao-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,283},{58,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,124}}</string>
			<key>sourceSize</key>
			<string>{58,124}</string>
		</dict>
		<key>qishi-wuqi-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,502},{50,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,23}}</string>
			<key>sourceSize</key>
			<string>{50,23}</string>
		</dict>
		<key>qishi-wuqi-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,454},{100,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,34}}</string>
			<key>sourceSize</key>
			<string>{100,34}</string>
		</dict>
		<key>qishi-wuqi-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,92},{102,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,38}}</string>
			<key>sourceSize</key>
			<string>{102,38}</string>
		</dict>
		<key>qishi-wuqi3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,248},{20,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,25}}</string>
			<key>sourceSize</key>
			<string>{20,25}</string>
		</dict>
		<key>qishi-wuqi3-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,572},{30,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,22}}</string>
			<key>sourceSize</key>
			<string>{30,22}</string>
		</dict>
		<key>qishi-wuqi3-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,180},{37,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,25}}</string>
			<key>sourceSize</key>
			<string>{37,25}</string>
		</dict>
		<key>qishi-wuqi3-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,312},{41,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,30}}</string>
			<key>sourceSize</key>
			<string>{41,30}</string>
		</dict>
		<key>qishi-wuqi3-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,432},{37,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,30}}</string>
			<key>sourceSize</key>
			<string>{37,30}</string>
		</dict>
		<key>qishi-wuqi3-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,527},{16,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,20}}</string>
			<key>sourceSize</key>
			<string>{16,20}</string>
		</dict>
		<key>qishi-yinzi .png</key>
		<dict>
			<key>frame</key>
			<string>{{348,188},{133,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,33}}</string>
			<key>sourceSize</key>
			<string>{133,33}</string>
		</dict>
		<key>qishi-yun-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,75},{29,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,11}}</string>
			<key>sourceSize</key>
			<string>{29,11}</string>
		</dict>
		<key>qishi-yun-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,533},{23,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,16}}</string>
			<key>sourceSize</key>
			<string>{23,16}</string>
		</dict>
		<key>qishi-yun-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,219},{27,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,25}}</string>
			<key>sourceSize</key>
			<string>{27,25}</string>
		</dict>
		<key>qishi-yun-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,561},{40,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,29}}</string>
			<key>sourceSize</key>
			<string>{40,29}</string>
		</dict>
		<key>qishi-yun-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,438},{33,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,31}}</string>
			<key>sourceSize</key>
			<string>{33,31}</string>
		</dict>
		<key>qishi-yun-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,119},{20,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,19}}</string>
			<key>sourceSize</key>
			<string>{20,19}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_youlingqishi.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:aa28fe261a3d7120eba05e162a368ce4$</string>
		<key>textureFileName</key>
		<string>Monster_youlingqishi.png</string>
	</dict>
</dict>
</plist>
