<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_Box_Diamond-888.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,2},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Monster_Box_Diamond-guangtiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,2},{44,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,20}}</string>
			<key>sourceSize</key>
			<string>{44,20}</string>
		</dict>
		<key>Monster_Box_Diamond-jinxiangkai.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{169,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,147}}</string>
			<key>sourceSize</key>
			<string>{169,147}</string>
		</dict>
		<key>Monster_Box_Diamond-jinxiangzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,151},{167,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,112}}</string>
			<key>sourceSize</key>
			<string>{167,112}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_Box_Diamond.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:42b4ec464e4ddaf27234cc2cc180ec64$</string>
		<key>textureFileName</key>
		<string>Monster_Box_Diamond.png</string>
	</dict>
</dict>
</plist>
