<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_christmasGBL-dijing-2a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,162},{13,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,27}}</string>
			<key>sourceSize</key>
			<string>{13,27}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-2a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{26,132},{10,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,22}}</string>
			<key>sourceSize</key>
			<string>{10,22}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-2a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,126},{14,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,27}}</string>
			<key>sourceSize</key>
			<string>{14,27}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-3a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,60},{24,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,30}}</string>
			<key>sourceSize</key>
			<string>{24,30}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-3a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,180},{23,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,16}}</string>
			<key>sourceSize</key>
			<string>{23,16}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-3a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,118},{22,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,29}}</string>
			<key>sourceSize</key>
			<string>{22,29}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-4a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,34},{26,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,24}}</string>
			<key>sourceSize</key>
			<string>{26,24}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-4a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,92},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-4a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,64},{34,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,36}}</string>
			<key>sourceSize</key>
			<string>{34,36}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-5a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,112},{16,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,14}}</string>
			<key>sourceSize</key>
			<string>{16,14}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-5a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,191},{13,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,17}}</string>
			<key>sourceSize</key>
			<string>{13,17}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-5a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{17,162},{13,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,15}}</string>
			<key>sourceSize</key>
			<string>{13,15}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-5a-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,38},{12,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,24}}</string>
			<key>sourceSize</key>
			<string>{12,24}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-6a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,155},{14,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,23}}</string>
			<key>sourceSize</key>
			<string>{14,23}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-6a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{26,210},{12,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,15}}</string>
			<key>sourceSize</key>
			<string>{12,15}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-6a-21.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,118},{15,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,12}}</string>
			<key>sourceSize</key>
			<string>{15,12}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-6a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,162},{13,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,16}}</string>
			<key>sourceSize</key>
			<string>{13,16}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-7a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,46},{35,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,20}}</string>
			<key>sourceSize</key>
			<string>{35,20}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-7a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,126},{29,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,17}}</string>
			<key>sourceSize</key>
			<string>{29,17}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-ed-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,198},{22,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,48}}</string>
			<key>sourceSize</key>
			<string>{22,48}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-ed-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,131},{15,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,31}}</string>
			<key>sourceSize</key>
			<string>{15,31}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-eh-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,153},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-l-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,2},{53,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,60}}</string>
			<key>sourceSize</key>
			<string>{53,60}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-st-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,102},{33,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,44}}</string>
			<key>sourceSize</key>
			<string>{33,44}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-wq-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,2},{83,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,42}}</string>
			<key>sourceSize</key>
			<string>{83,42}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-xb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,112},{21,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,17}}</string>
			<key>sourceSize</key>
			<string>{21,17}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-xb-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,46},{38,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,41}}</string>
			<key>sourceSize</key>
			<string>{38,41}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-xg-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,132},{10,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,13}}</string>
			<key>sourceSize</key>
			<string>{10,13}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-xg-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{19,118},{11,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,12}}</string>
			<key>sourceSize</key>
			<string>{11,12}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-yd-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,145},{29,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,15}}</string>
			<key>sourceSize</key>
			<string>{29,15}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-yj-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,132},{22,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,11}}</string>
			<key>sourceSize</key>
			<string>{22,11}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-yj-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,149},{22,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,9}}</string>
			<key>sourceSize</key>
			<string>{22,9}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-yz.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{98,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,30}}</string>
			<key>sourceSize</key>
			<string>{98,30}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-zb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,68},{34,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,43}}</string>
			<key>sourceSize</key>
			<string>{34,43}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-zb-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,89},{32,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,41}}</string>
			<key>sourceSize</key>
			<string>{32,41}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-zb-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,113},{32,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,39}}</string>
			<key>sourceSize</key>
			<string>{32,39}</string>
		</dict>
		<key>Monster_christmasGBL-dijing-zb-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,148},{28,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,12}}</string>
			<key>sourceSize</key>
			<string>{28,12}</string>
		</dict>
		<key>Monster_christmasGBL-djs1.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,2},{12,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,34}}</string>
			<key>sourceSize</key>
			<string>{12,34}</string>
		</dict>
		<key>Monster_christmasGBL-djs5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,132},{22,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,25}}</string>
			<key>sourceSize</key>
			<string>{22,25}</string>
		</dict>
		<key>Monster_christmasGBL-djs7.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,143},{15,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,8}}</string>
			<key>sourceSize</key>
			<string>{15,8}</string>
		</dict>
		<key>Monster_christmasGBL-djs8.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,145},{22,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,9}}</string>
			<key>sourceSize</key>
			<string>{22,9}</string>
		</dict>
		<key>Monster_christmasGBL-djs9.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,164},{19,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,9}}</string>
			<key>sourceSize</key>
			<string>{19,9}</string>
		</dict>
		<key>Monster_christmasGBL-kouqiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,128},{16,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,13}}</string>
			<key>sourceSize</key>
			<string>{16,13}</string>
		</dict>
		<key>Monster_christmasGBL-tx-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,34},{70,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,76}}</string>
			<key>sourceSize</key>
			<string>{70,76}</string>
		</dict>
		<key>Monster_christmasGBL-tx-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,64},{34,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,60}}</string>
			<key>sourceSize</key>
			<string>{34,60}</string>
		</dict>
		<key>Monster_christmasGBL-tx-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,162},{23,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,34}}</string>
			<key>sourceSize</key>
			<string>{23,34}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_christmasGBL.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e0b3df92baa4a930703dac32fc339c76$</string>
		<key>textureFileName</key>
		<string>Monster_christmasGBL.png</string>
	</dict>
</dict>
</plist>
