<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Monster_yutu-888zizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,153},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Monster_yutu-yutu-1a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,156},{53,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,65}}</string>
			<key>sourceSize</key>
			<string>{53,65}</string>
		</dict>
		<key>Monster_yutu-yutu-2a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,223},{11,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,29}}</string>
			<key>sourceSize</key>
			<string>{11,29}</string>
		</dict>
		<key>Monster_yutu-yutu-2a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,102},{9,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,26}}</string>
			<key>sourceSize</key>
			<string>{9,26}</string>
		</dict>
		<key>Monster_yutu-yutu-2a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,102},{11,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,26}}</string>
			<key>sourceSize</key>
			<string>{11,26}</string>
		</dict>
		<key>Monster_yutu-yutu-3a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,23},{19,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,9}}</string>
			<key>sourceSize</key>
			<string>{19,9}</string>
		</dict>
		<key>Monster_yutu-yutu-3a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,20},{18,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,7}}</string>
			<key>sourceSize</key>
			<string>{18,7}</string>
		</dict>
		<key>Monster_yutu-yutu-3a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,246},{18,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,8}}</string>
			<key>sourceSize</key>
			<string>{18,8}</string>
		</dict>
		<key>Monster_yutu-yutu-4a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,114},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>Monster_yutu-yutu-4a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,166},{12,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,9}}</string>
			<key>sourceSize</key>
			<string>{12,9}</string>
		</dict>
		<key>Monster_yutu-yutu-4a-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,214},{9,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,8}}</string>
			<key>sourceSize</key>
			<string>{9,8}</string>
		</dict>
		<key>Monster_yutu-yutu-4a-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,166},{12,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,7}}</string>
			<key>sourceSize</key>
			<string>{12,7}</string>
		</dict>
		<key>Monster_yutu-yutu-4a-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,62},{14,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,11}}</string>
			<key>sourceSize</key>
			<string>{14,11}</string>
		</dict>
		<key>Monster_yutu-yutu-4a-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,92},{15,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,8}}</string>
			<key>sourceSize</key>
			<string>{15,8}</string>
		</dict>
		<key>Monster_yutu-yutu-4a-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,102},{16,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,10}}</string>
			<key>sourceSize</key>
			<string>{16,10}</string>
		</dict>
		<key>Monster_yutu-yutu-4a-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,110},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>Monster_yutu-yutu-5a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,93},{16,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,37}}</string>
			<key>sourceSize</key>
			<string>{16,37}</string>
		</dict>
		<key>Monster_yutu-yutu-5a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,75},{15,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,33}}</string>
			<key>sourceSize</key>
			<string>{15,33}</string>
		</dict>
		<key>Monster_yutu-yutu-6a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,156},{11,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,45}}</string>
			<key>sourceSize</key>
			<string>{11,45}</string>
		</dict>
		<key>Monster_yutu-yutu-6a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,92},{10,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,36}}</string>
			<key>sourceSize</key>
			<string>{10,36}</string>
		</dict>
		<key>Monster_yutu-yutu-7a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,179},{12,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,21}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>Monster_yutu-yutu-7a-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,130},{11,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,19}}</string>
			<key>sourceSize</key>
			<string>{11,19}</string>
		</dict>
		<key>Monster_yutu-yutu-8a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,159},{23,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,19}}</string>
			<key>sourceSize</key>
			<string>{23,19}</string>
		</dict>
		<key>Monster_yutu-yutu-9a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,29},{17,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,20}}</string>
			<key>sourceSize</key>
			<string>{17,20}</string>
		</dict>
		<key>Monster_yutu-yutu-bz-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,202},{9,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,10}}</string>
			<key>sourceSize</key>
			<string>{9,10}</string>
		</dict>
		<key>Monster_yutu-yutu-dl-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,54},{32,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>Monster_yutu-yutu-gz-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,20},{47,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,14}}</string>
			<key>sourceSize</key>
			<string>{47,14}</string>
		</dict>
		<key>Monster_yutu-yutu-gz2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,132},{13,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,21}}</string>
			<key>sourceSize</key>
			<string>{13,21}</string>
		</dict>
		<key>Monster_yutu-yutu-hb1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,65},{20,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,35}}</string>
			<key>sourceSize</key>
			<string>{20,35}</string>
		</dict>
		<key>Monster_yutu-yutu-hb2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,121},{15,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,27}}</string>
			<key>sourceSize</key>
			<string>{15,27}</string>
		</dict>
		<key>Monster_yutu-yutu-hb3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,203},{19,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,18}}</string>
			<key>sourceSize</key>
			<string>{19,18}</string>
		</dict>
		<key>Monster_yutu-yutu-hb4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,223},{15,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,31}}</string>
			<key>sourceSize</key>
			<string>{15,31}</string>
		</dict>
		<key>Monster_yutu-yutu-hb5-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,156},{12,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,21}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>Monster_yutu-yutu-hb6-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,209},{29,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,12}}</string>
			<key>sourceSize</key>
			<string>{29,12}</string>
		</dict>
		<key>Monster_yutu-yutu-hua-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,130},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>Monster_yutu-yutu-hua-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,125},{15,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,16}}</string>
			<key>sourceSize</key>
			<string>{15,16}</string>
		</dict>
		<key>Monster_yutu-yutu-hua-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,155},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>Monster_yutu-yutu-jl-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,143},{14,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,8}}</string>
			<key>sourceSize</key>
			<string>{14,8}</string>
		</dict>
		<key>Monster_yutu-yutu-ld1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,202},{9,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,16}}</string>
			<key>sourceSize</key>
			<string>{9,16}</string>
		</dict>
		<key>Monster_yutu-yutu-ld2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,192},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>Monster_yutu-yutu-ld3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,151},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>Monster_yutu-yutu-ls1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,223},{12,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,30}}</string>
			<key>sourceSize</key>
			<string>{12,30}</string>
		</dict>
		<key>Monster_yutu-yutu-ls1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,223},{12,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,31}}</string>
			<key>sourceSize</key>
			<string>{12,31}</string>
		</dict>
		<key>Monster_yutu-yutu-ls1-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,223},{13,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,31}}</string>
			<key>sourceSize</key>
			<string>{13,31}</string>
		</dict>
		<key>Monster_yutu-yutu-ls1-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,223},{13,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,30}}</string>
			<key>sourceSize</key>
			<string>{13,30}</string>
		</dict>
		<key>Monster_yutu-yutu-ls1-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{19,223},{14,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,31}}</string>
			<key>sourceSize</key>
			<string>{14,31}</string>
		</dict>
		<key>Monster_yutu-yutu-ls1-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,223},{11,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,31}}</string>
			<key>sourceSize</key>
			<string>{11,31}</string>
		</dict>
		<key>Monster_yutu-yutu-ls2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,177},{10,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,19}}</string>
			<key>sourceSize</key>
			<string>{10,19}</string>
		</dict>
		<key>Monster_yutu-yutu-ls2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,180},{9,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,20}}</string>
			<key>sourceSize</key>
			<string>{9,20}</string>
		</dict>
		<key>Monster_yutu-yutu-ls2-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,48},{7,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,21}}</string>
			<key>sourceSize</key>
			<string>{7,21}</string>
		</dict>
		<key>Monster_yutu-yutu-ls2-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,25},{7,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,21}}</string>
			<key>sourceSize</key>
			<string>{7,21}</string>
		</dict>
		<key>Monster_yutu-yutu-ls2-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,2},{7,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,21}}</string>
			<key>sourceSize</key>
			<string>{7,21}</string>
		</dict>
		<key>Monster_yutu-yutu-ls2-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,175},{10,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,21}}</string>
			<key>sourceSize</key>
			<string>{10,21}</string>
		</dict>
		<key>Monster_yutu-yutu-pd1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,2},{12,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,33}}</string>
			<key>sourceSize</key>
			<string>{12,33}</string>
		</dict>
		<key>Monster_yutu-yutu-pd10-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,37},{14,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,23}}</string>
			<key>sourceSize</key>
			<string>{14,23}</string>
		</dict>
		<key>Monster_yutu-yutu-pd11-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,156},{25,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,51}}</string>
			<key>sourceSize</key>
			<string>{25,51}</string>
		</dict>
		<key>Monster_yutu-yutu-pd2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,36},{43,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,16}}</string>
			<key>sourceSize</key>
			<string>{43,16}</string>
		</dict>
		<key>Monster_yutu-yutu-pd3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,180},{9,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,20}}</string>
			<key>sourceSize</key>
			<string>{9,20}</string>
		</dict>
		<key>Monster_yutu-yutu-pd4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,54},{9,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,36}}</string>
			<key>sourceSize</key>
			<string>{9,36}</string>
		</dict>
		<key>Monster_yutu-yutu-pd5-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,202},{21,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,44}}</string>
			<key>sourceSize</key>
			<string>{21,44}</string>
		</dict>
		<key>Monster_yutu-yutu-pd6-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,202},{16,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,42}}</string>
			<key>sourceSize</key>
			<string>{16,42}</string>
		</dict>
		<key>Monster_yutu-yutu-pd7-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,110},{11,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,38}}</string>
			<key>sourceSize</key>
			<string>{11,38}</string>
		</dict>
		<key>Monster_yutu-yutu-pd8-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,202},{10,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,39}}</string>
			<key>sourceSize</key>
			<string>{10,39}</string>
		</dict>
		<key>Monster_yutu-yutu-pd9-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,170},{10,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,20}}</string>
			<key>sourceSize</key>
			<string>{10,20}</string>
		</dict>
		<key>Monster_yutu-yutu-pdy1-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,203},{8,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,17}}</string>
			<key>sourceSize</key>
			<string>{8,17}</string>
		</dict>
		<key>Monster_yutu-yutu-pdy2-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,180},{9,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,25}}</string>
			<key>sourceSize</key>
			<string>{9,25}</string>
		</dict>
		<key>Monster_yutu-yutu-pdz1-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,71},{6,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,15}}</string>
			<key>sourceSize</key>
			<string>{6,15}</string>
		</dict>
		<key>Monster_yutu-yutu-pdz3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,96},{6,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,12}}</string>
			<key>sourceSize</key>
			<string>{6,12}</string>
		</dict>
		<key>Monster_yutu-yutu-pdz4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,36},{2,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,6}}</string>
			<key>sourceSize</key>
			<string>{2,6}</string>
		</dict>
		<key>Monster_yutu-yutu-rd1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,34},{18,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,38}}</string>
			<key>sourceSize</key>
			<string>{18,38}</string>
		</dict>
		<key>Monster_yutu-yutu-rd2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,156},{20,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,44}}</string>
			<key>sourceSize</key>
			<string>{20,44}</string>
		</dict>
		<key>Monster_yutu-yutu-rd3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,156},{21,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,44}}</string>
			<key>sourceSize</key>
			<string>{21,44}</string>
		</dict>
		<key>Monster_yutu-yutu-rd4-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,156},{19,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,45}}</string>
			<key>sourceSize</key>
			<string>{19,45}</string>
		</dict>
		<key>Monster_yutu-yutu-wb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,2},{19,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,19}}</string>
			<key>sourceSize</key>
			<string>{19,19}</string>
		</dict>
		<key>Monster_yutu-yutu-xiong-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,51},{21,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,12}}</string>
			<key>sourceSize</key>
			<string>{21,12}</string>
		</dict>
		<key>Monster_yutu-yutu-yj1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,85},{17,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,9}}</string>
			<key>sourceSize</key>
			<string>{17,9}</string>
		</dict>
		<key>Monster_yutu-yutu-yj1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,84},{17,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,7}}</string>
			<key>sourceSize</key>
			<string>{17,7}</string>
		</dict>
		<key>Monster_yutu-yutu-yj1-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,150},{14,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,7}}</string>
			<key>sourceSize</key>
			<string>{14,7}</string>
		</dict>
		<key>Monster_yutu-yutu-yj1-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,74},{17,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,9}}</string>
			<key>sourceSize</key>
			<string>{17,9}</string>
		</dict>
		<key>Monster_yutu-yutu-yj2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,248},{14,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,6}}</string>
			<key>sourceSize</key>
			<string>{14,6}</string>
		</dict>
		<key>Monster_yutu-yutu-yj2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,84},{13,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,5}}</string>
			<key>sourceSize</key>
			<string>{13,5}</string>
		</dict>
		<key>Monster_yutu-yutu-yj2-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,102},{10,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,6}}</string>
			<key>sourceSize</key>
			<string>{10,6}</string>
		</dict>
		<key>Monster_yutu-yutu-yj2-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,248},{15,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,6}}</string>
			<key>sourceSize</key>
			<string>{15,6}</string>
		</dict>
		<key>Monster_yutu-yutu-yl-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{138,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,152}}</string>
			<key>sourceSize</key>
			<string>{138,152}</string>
		</dict>
		<key>Monster_yutu-yutu-zb-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,110},{5,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,5}}</string>
			<key>sourceSize</key>
			<string>{5,5}</string>
		</dict>
		<key>Monster_yutu-yutu-zb-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,132},{6,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,7}}</string>
			<key>sourceSize</key>
			<string>{6,7}</string>
		</dict>
		<key>Monster_yutu-yutu-zb-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,91},{6,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,7}}</string>
			<key>sourceSize</key>
			<string>{6,7}</string>
		</dict>
		<key>Monster_yutu-yz1.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,2},{68,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,16}}</string>
			<key>sourceSize</key>
			<string>{68,16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monster_yutu.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:aa6affbc878d1cb503a2bb2df5a51933$</string>
		<key>textureFileName</key>
		<string>Monster_yutu.png</string>
	</dict>
</dict>
</plist>
