<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>muxulong_fire-huo1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{115,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,141}}</string>
			<key>sourceSize</key>
			<string>{115,141}</string>
		</dict>
		<key>muxulong_fire-huo2.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,2},{112,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,136}}</string>
			<key>sourceSize</key>
			<string>{112,136}</string>
		</dict>
		<key>muxulong_fire-huo3.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,140},{98,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,122}}</string>
			<key>sourceSize</key>
			<string>{98,122}</string>
		</dict>
		<key>muxulong_fire-huo4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,145},{95,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,120}}</string>
			<key>sourceSize</key>
			<string>{95,120}</string>
		</dict>
		<key>muxulong_fire-huo5.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,264},{91,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,111}}</string>
			<key>sourceSize</key>
			<string>{91,111}</string>
		</dict>
		<key>muxulong_fire-huo7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,377},{72,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,111}}</string>
			<key>sourceSize</key>
			<string>{72,111}</string>
		</dict>
		<key>muxulong_fire-huo8.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,264},{36,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,73}}</string>
			<key>sourceSize</key>
			<string>{36,73}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>muxulong_fire.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:918413b0ff329cc8e1a6672728985ae0$</string>
		<key>textureFileName</key>
		<string>muxulong_fire.png</string>
	</dict>
</dict>
</plist>
