<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Newbie_Guide_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{505,313}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{505,313}}</string>
			<key>sourceSize</key>
			<string>{505,313}</string>
		</dict>
		<key>Newbie_Guide_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,317},{122,313}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,313}}</string>
			<key>sourceSize</key>
			<string>{122,313}</string>
		</dict>
		<key>Newbie_Lable_Frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,317},{150,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,84}}</string>
			<key>sourceSize</key>
			<string>{150,84}</string>
		</dict>
		<key>Newbie_actiontips.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,469},{140,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,36}}</string>
			<key>sourceSize</key>
			<string>{140,36}</string>
		</dict>
		<key>Newbie_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,406},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>Newbie_finger.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,317},{87,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,107}}</string>
			<key>sourceSize</key>
			<string>{87,107}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>NewbieGuideUI_1.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cd6a271443f70c054525d601a10c1c0d$</string>
		<key>textureFileName</key>
		<string>NewbieGuideUI_1.png</string>
	</dict>
</dict>
</plist>
