<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>niutouboss_bianshen-niudian1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,332},{180,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,140}}</string>
			<key>sourceSize</key>
			<string>{180,140}</string>
		</dict>
		<key>niutouboss_bianshen-niudian2.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,146},{180,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,142}}</string>
			<key>sourceSize</key>
			<string>{180,142}</string>
		</dict>
		<key>niutouboss_bianshen-niudian3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{183,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,142}}</string>
			<key>sourceSize</key>
			<string>{183,142}</string>
		</dict>
		<key>niutouboss_bianshen-niudian4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,146},{182,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,142}}</string>
			<key>sourceSize</key>
			<string>{182,142}</string>
		</dict>
		<key>niutouboss_bianshen-niudian5.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,2},{182,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,142}}</string>
			<key>sourceSize</key>
			<string>{182,142}</string>
		</dict>
		<key>niutouboss_bianshen-ssd1.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,174},{54,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,77}}</string>
			<key>sourceSize</key>
			<string>{54,77}</string>
		</dict>
		<key>niutouboss_bianshen-ssd10.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,2},{35,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,39}}</string>
			<key>sourceSize</key>
			<string>{35,39}</string>
		</dict>
		<key>niutouboss_bianshen-ssd11.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,43},{27,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,22}}</string>
			<key>sourceSize</key>
			<string>{27,22}</string>
		</dict>
		<key>niutouboss_bianshen-ssd2.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,253},{55,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,77}}</string>
			<key>sourceSize</key>
			<string>{55,77}</string>
		</dict>
		<key>niutouboss_bianshen-ssd3.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,332},{54,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,76}}</string>
			<key>sourceSize</key>
			<string>{54,76}</string>
		</dict>
		<key>niutouboss_bianshen-ssd4.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,410},{67,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,73}}</string>
			<key>sourceSize</key>
			<string>{67,73}</string>
		</dict>
		<key>niutouboss_bianshen-ssd5.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,2},{93,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,91}}</string>
			<key>sourceSize</key>
			<string>{93,91}</string>
		</dict>
		<key>niutouboss_bianshen-ssd6.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,242},{75,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,70}}</string>
			<key>sourceSize</key>
			<string>{75,70}</string>
		</dict>
		<key>niutouboss_bianshen-ssd7.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,95},{89,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,77}}</string>
			<key>sourceSize</key>
			<string>{89,77}</string>
		</dict>
		<key>niutouboss_bianshen-ssd8.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,174},{86,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,66}}</string>
			<key>sourceSize</key>
			<string>{86,66}</string>
		</dict>
		<key>niutouboss_bianshen-ssd9.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,332},{53,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,64}}</string>
			<key>sourceSize</key>
			<string>{53,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>niutouboss_bianshen.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:468dc1482b2da974f806d6030e6d4b8e$</string>
		<key>textureFileName</key>
		<string>niutouboss_bianshen.png</string>
	</dict>
</dict>
</plist>
