<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>NPC_Yixiduo-jiaoya1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{68,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,66}}</string>
			<key>sourceSize</key>
			<string>{68,66}</string>
		</dict>
		<key>NPC_Yixiduo-jssb03.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,133},{13,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,22}}</string>
			<key>sourceSize</key>
			<string>{13,22}</string>
		</dict>
		<key>NPC_Yixiduo-jssb04.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,102},{12,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,28}}</string>
			<key>sourceSize</key>
			<string>{12,28}</string>
		</dict>
		<key>NPC_Yixiduo-jssb05.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,102},{12,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,24}}</string>
			<key>sourceSize</key>
			<string>{12,24}</string>
		</dict>
		<key>NPC_Yixiduo-jsst01.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,123},{14,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,8}}</string>
			<key>sourceSize</key>
			<string>{14,8}</string>
		</dict>
		<key>NPC_Yixiduo-jssz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,99},{17,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,22}}</string>
			<key>sourceSize</key>
			<string>{17,22}</string>
		</dict>
		<key>NPC_Yixiduo-jsyf.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,70},{35,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,43}}</string>
			<key>sourceSize</key>
			<string>{35,43}</string>
		</dict>
		<key>NPC_Yixiduo-jsyf02.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,70},{31,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,30}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>NPC_Yixiduo-sy12.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,99},{33,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,34}}</string>
			<key>sourceSize</key>
			<string>{33,34}</string>
		</dict>
		<key>NPC_Yixiduo-t1.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,2},{53,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,47}}</string>
			<key>sourceSize</key>
			<string>{53,47}</string>
		</dict>
		<key>NPC_Yixiduo-t3.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,51},{53,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,46}}</string>
			<key>sourceSize</key>
			<string>{53,46}</string>
		</dict>
		<key>NPC_Yixiduo-yj1.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,128},{12,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,9}}</string>
			<key>sourceSize</key>
			<string>{12,9}</string>
		</dict>
		<key>NPC_Yixiduo-yj2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,115},{12,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,7}}</string>
			<key>sourceSize</key>
			<string>{12,7}</string>
		</dict>
		<key>NPC_Yixiduo-yj3.png</key>
		<dict>
			<key>frame</key>
			<string>{{16,115},{11,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,8}}</string>
			<key>sourceSize</key>
			<string>{11,8}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>NPC_Yixiduo.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9b2a3a498f060120194d10947f8ac98f$</string>
		<key>textureFileName</key>
		<string>NPC_Yixiduo.png</string>
	</dict>
</dict>
</plist>
