<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>NPC_Weite-arm 05.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,109},{8,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,14}}</string>
			<key>sourceSize</key>
			<string>{8,14}</string>
		</dict>
		<key>NPC_Weite-arm 06.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,91},{11,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,16}}</string>
			<key>sourceSize</key>
			<string>{11,16}</string>
		</dict>
		<key>NPC_Weite-arm 08.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,88},{11,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,11}}</string>
			<key>sourceSize</key>
			<string>{11,11}</string>
		</dict>
		<key>NPC_Weite-arm 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,105},{11,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,21}}</string>
			<key>sourceSize</key>
			<string>{11,21}</string>
		</dict>
		<key>NPC_Weite-arm 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,20},{13,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,24}}</string>
			<key>sourceSize</key>
			<string>{13,24}</string>
		</dict>
		<key>NPC_Weite-arm 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,67},{13,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,22}}</string>
			<key>sourceSize</key>
			<string>{13,22}</string>
		</dict>
		<key>NPC_Weite-arm 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,109},{16,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,22}}</string>
			<key>sourceSize</key>
			<string>{16,22}</string>
		</dict>
		<key>NPC_Weite-dzz 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,67},{10,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,19}}</string>
			<key>sourceSize</key>
			<string>{10,19}</string>
		</dict>
		<key>NPC_Weite-dzz aa.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,65},{15,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,34}}</string>
			<key>sourceSize</key>
			<string>{15,34}</string>
		</dict>
		<key>NPC_Weite-eye 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,116},{20,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,10}}</string>
			<key>sourceSize</key>
			<string>{20,10}</string>
		</dict>
		<key>NPC_Weite-eye 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,102},{19,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,9}}</string>
			<key>sourceSize</key>
			<string>{19,9}</string>
		</dict>
		<key>NPC_Weite-eye3.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,67},{20,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,11}}</string>
			<key>sourceSize</key>
			<string>{20,11}</string>
		</dict>
		<key>NPC_Weite-fashi-nan0-41a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,101},{9,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,10}}</string>
			<key>sourceSize</key>
			<string>{9,10}</string>
		</dict>
		<key>NPC_Weite-fashi-nan0-41a-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,47},{9,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,10}}</string>
			<key>sourceSize</key>
			<string>{9,10}</string>
		</dict>
		<key>NPC_Weite-fashi-nan0-41a-13.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,89},{11,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,11}}</string>
			<key>sourceSize</key>
			<string>{11,11}</string>
		</dict>
		<key>NPC_Weite-jainban 02.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,27},{6,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,5}}</string>
			<key>sourceSize</key>
			<string>{6,5}</string>
		</dict>
		<key>NPC_Weite-jianbang 01.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,91},{12,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,8}}</string>
			<key>sourceSize</key>
			<string>{12,8}</string>
		</dict>
		<key>NPC_Weite-kuzi02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,82},{12,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,32}}</string>
			<key>sourceSize</key>
			<string>{12,32}</string>
		</dict>
		<key>NPC_Weite-kzz.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,20},{15,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,42}}</string>
			<key>sourceSize</key>
			<string>{15,42}</string>
		</dict>
		<key>NPC_Weite-mouth 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,39},{5,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,2}}</string>
			<key>sourceSize</key>
			<string>{5,2}</string>
		</dict>
		<key>NPC_Weite-mouth 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,43},{4,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,1}}</string>
			<key>sourceSize</key>
			<string>{4,1}</string>
		</dict>
		<key>NPC_Weite-mouth 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,34},{6,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,3}}</string>
			<key>sourceSize</key>
			<string>{6,3}</string>
		</dict>
		<key>NPC_Weite-rzn0-71a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{16,82},{20,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,25}}</string>
			<key>sourceSize</key>
			<string>{20,25}</string>
		</dict>
		<key>NPC_Weite-rzn0-72a-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,35},{30,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,22}}</string>
			<key>sourceSize</key>
			<string>{30,22}</string>
		</dict>
		<key>NPC_Weite-rzn0-81c-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,2},{6,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,23}}</string>
			<key>sourceSize</key>
			<string>{6,23}</string>
		</dict>
		<key>NPC_Weite-shenti.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,37},{26,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,40}}</string>
			<key>sourceSize</key>
			<string>{26,40}</string>
		</dict>
		<key>NPC_Weite-toubu.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,2},{46,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,43}}</string>
			<key>sourceSize</key>
			<string>{46,43}</string>
		</dict>
		<key>NPC_Weite-yz1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{68,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,16}}</string>
			<key>sourceSize</key>
			<string>{68,16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>NPC_Weite.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5176140dc5fe4d7c26be1c6e19905d97$</string>
		<key>textureFileName</key>
		<string>NPC_Weite.png</string>
	</dict>
</dict>
</plist>
