<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>NPC_Jinglingnvwang-dijing-yz.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{98,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,30}}</string>
			<key>sourceSize</key>
			<string>{98,30}</string>
		</dict>
		<key>NPC_Jinglingnvwang-nh-sb1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,2},{23,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,8}}</string>
			<key>sourceSize</key>
			<string>{23,8}</string>
		</dict>
		<key>NPC_Jinglingnvwang-nh-sb2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,102},{5,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,16}}</string>
			<key>sourceSize</key>
			<string>{5,16}</string>
		</dict>
		<key>NPC_Jinglingnvwang-nh-sb3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,86},{27,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,11}}</string>
			<key>sourceSize</key>
			<string>{27,11}</string>
		</dict>
		<key>NPC_Jinglingnvwang-nh-st1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,170},{42,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,76}}</string>
			<key>sourceSize</key>
			<string>{42,76}</string>
		</dict>
		<key>NPC_Jinglingnvwang-nh-st2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,12},{22,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,88}}</string>
			<key>sourceSize</key>
			<string>{22,88}</string>
		</dict>
		<key>NPC_Jinglingnvwang-nh-st2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,34},{59,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,87}}</string>
			<key>sourceSize</key>
			<string>{59,87}</string>
		</dict>
		<key>NPC_Jinglingnvwang-nh-st3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,149},{13,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,12}}</string>
			<key>sourceSize</key>
			<string>{13,12}</string>
		</dict>
		<key>NPC_Jinglingnvwang-nh-st3-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,163},{11,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,13}}</string>
			<key>sourceSize</key>
			<string>{11,13}</string>
		</dict>
		<key>NPC_Jinglingnvwang-nh-tb1-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,123},{51,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,45}}</string>
			<key>sourceSize</key>
			<string>{51,45}</string>
		</dict>
		<key>NPC_Jinglingnvwang-nh-tb1-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,102},{51,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,45}}</string>
			<key>sourceSize</key>
			<string>{51,45}</string>
		</dict>
		<key>NPC_Jinglingnvwang-nh-tb1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,149},{50,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,45}}</string>
			<key>sourceSize</key>
			<string>{50,45}</string>
		</dict>
		<key>NPC_Jinglingnvwang-nh-tb1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,34},{37,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,50}}</string>
			<key>sourceSize</key>
			<string>{37,50}</string>
		</dict>
		<key>NPC_Jinglingnvwang-shape1.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,86},{7,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,11}}</string>
			<key>sourceSize</key>
			<string>{7,11}</string>
		</dict>
		<key>NPC_Jinglingnvwang-shape2.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,102},{3,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,4}}</string>
			<key>sourceSize</key>
			<string>{3,4}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>NPC_Jinglingnvwang.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ddda8f31ebb290d3ee0637bf0750b90c$</string>
		<key>textureFileName</key>
		<string>NPC_Jinglingnvwang.png</string>
	</dict>
</dict>
</plist>
