<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>NPC_Laige-xf-h-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,62},{3,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,5}}</string>
			<key>sourceSize</key>
			<string>{3,5}</string>
		</dict>
		<key>NPC_Laige-xf-jb1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,70},{19,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,30}}</string>
			<key>sourceSize</key>
			<string>{19,30}</string>
		</dict>
		<key>NPC_Laige-xf-jb1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,102},{25,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,27}}</string>
			<key>sourceSize</key>
			<string>{25,27}</string>
		</dict>
		<key>NPC_Laige-xf-sb1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,94},{30,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,12}}</string>
			<key>sourceSize</key>
			<string>{30,12}</string>
		</dict>
		<key>NPC_Laige-xf-sb1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,44},{11,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,24}}</string>
			<key>sourceSize</key>
			<string>{11,24}</string>
		</dict>
		<key>NPC_Laige-xf-sb2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,140},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>NPC_Laige-xf-sb2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,131},{13,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,31}}</string>
			<key>sourceSize</key>
			<string>{13,31}</string>
		</dict>
		<key>NPC_Laige-xf-st1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,44},{42,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,16}}</string>
			<key>sourceSize</key>
			<string>{42,16}</string>
		</dict>
		<key>NPC_Laige-xf-st1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,62},{33,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,30}}</string>
			<key>sourceSize</key>
			<string>{33,30}</string>
		</dict>
		<key>NPC_Laige-xf-st2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,20},{43,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,48}}</string>
			<key>sourceSize</key>
			<string>{43,48}</string>
		</dict>
		<key>NPC_Laige-xf-st2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,20},{21,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,20}}</string>
			<key>sourceSize</key>
			<string>{21,20}</string>
		</dict>
		<key>NPC_Laige-xf-tb1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,50},{21,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,6}}</string>
			<key>sourceSize</key>
			<string>{21,6}</string>
		</dict>
		<key>NPC_Laige-xf-tb1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,2},{50,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,40}}</string>
			<key>sourceSize</key>
			<string>{50,40}</string>
		</dict>
		<key>NPC_Laige-xf-tb1-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,58},{20,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,6}}</string>
			<key>sourceSize</key>
			<string>{20,6}</string>
		</dict>
		<key>NPC_Laige-xf-tb1-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,42},{21,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,6}}</string>
			<key>sourceSize</key>
			<string>{21,6}</string>
		</dict>
		<key>NPC_Laige-xf-wq-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,66},{19,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,115}}</string>
			<key>sourceSize</key>
			<string>{19,115}</string>
		</dict>
		<key>NPC_Laige-xf-wq-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,108},{18,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,30}}</string>
			<key>sourceSize</key>
			<string>{18,30}</string>
		</dict>
		<key>NPC_Laige-yz1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{68,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,16}}</string>
			<key>sourceSize</key>
			<string>{68,16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>NPC_Laige.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d323cf602c11ca23164b2fbab29a0e7f$</string>
		<key>textureFileName</key>
		<string>NPC_Laige.png</string>
	</dict>
</dict>
</plist>
