<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pet_eating-888ex.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,25},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>pet_eating-suandian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{21,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,21}}</string>
			<key>sourceSize</key>
			<string>{21,21}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>pet_eating.png</string>
		<key>size</key>
		<string>{32,64}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fe9a4a2844ad212f30888eaff702f8f9$</string>
		<key>textureFileName</key>
		<string>pet_eating.png</string>
	</dict>
</dict>
</plist>
