<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>PetCollect_animation-liuguagn 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,96},{7,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,23}}</string>
			<key>sourceSize</key>
			<string>{7,23}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 10.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,29},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,29},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 12.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,2},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{27,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,25}}</string>
			<key>sourceSize</key>
			<string>{27,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 14.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,29},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,29},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 16.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,2},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 17.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{27,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,25}}</string>
			<key>sourceSize</key>
			<string>{27,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 18.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,29},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 19.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,56},{21,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,25}}</string>
			<key>sourceSize</key>
			<string>{21,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,79},{15,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,25}}</string>
			<key>sourceSize</key>
			<string>{15,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 20.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,81},{13,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,25}}</string>
			<key>sourceSize</key>
			<string>{13,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 21.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,56},{5,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,16}}</string>
			<key>sourceSize</key>
			<string>{5,16}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,56},{23,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,25}}</string>
			<key>sourceSize</key>
			<string>{23,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,2},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{27,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,25}}</string>
			<key>sourceSize</key>
			<string>{27,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 6.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,29},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,29},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 8.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,2},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>PetCollect_animation-liuguagn 9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{27,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,25}}</string>
			<key>sourceSize</key>
			<string>{27,25}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>PetCollect_animation.png</string>
		<key>size</key>
		<string>{64,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1e5b4fb34295c4f6b132c2ec67a30014$</string>
		<key>textureFileName</key>
		<string>PetCollect_animation.png</string>
	</dict>
</dict>
</plist>
