<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Phoenix_skill_darkgold-baoshizhui.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,489},{79,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,135}}</string>
			<key>sourceSize</key>
			<string>{79,135}</string>
		</dict>
		<key>Phoenix_skill_darkgold-fenghuagndanda.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,384},{123,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,125}}</string>
			<key>sourceSize</key>
			<string>{123,125}</string>
		</dict>
		<key>Phoenix_skill_darkgold-fhdh1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,504},{140,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,123}}</string>
			<key>sourceSize</key>
			<string>{140,123}</string>
		</dict>
		<key>Phoenix_skill_darkgold-fhdh10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,379},{142,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,123}}</string>
			<key>sourceSize</key>
			<string>{142,123}</string>
		</dict>
		<key>Phoenix_skill_darkgold-fhdh11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,629},{138,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,124}}</string>
			<key>sourceSize</key>
			<string>{138,124}</string>
		</dict>
		<key>Phoenix_skill_darkgold-fhdh12.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,2},{129,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,121}}</string>
			<key>sourceSize</key>
			<string>{129,121}</string>
		</dict>
		<key>Phoenix_skill_darkgold-fhdh2.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,581},{136,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,128}}</string>
			<key>sourceSize</key>
			<string>{136,128}</string>
		</dict>
		<key>Phoenix_skill_darkgold-fhdh3.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,487},{136,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,130}}</string>
			<key>sourceSize</key>
			<string>{136,130}</string>
		</dict>
		<key>Phoenix_skill_darkgold-fhdh4.png</key>
		<dict>
			<key>frame</key>
			<string>{{828,406},{138,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,123}}</string>
			<key>sourceSize</key>
			<string>{138,123}</string>
		</dict>
		<key>Phoenix_skill_darkgold-fhdh5.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,436},{139,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,121}}</string>
			<key>sourceSize</key>
			<string>{139,121}</string>
		</dict>
		<key>Phoenix_skill_darkgold-fhdh6.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,559},{136,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,128}}</string>
			<key>sourceSize</key>
			<string>{136,128}</string>
		</dict>
		<key>Phoenix_skill_darkgold-fhdh7.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,451},{138,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,128}}</string>
			<key>sourceSize</key>
			<string>{138,128}</string>
		</dict>
		<key>Phoenix_skill_darkgold-fhdh8.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,619},{134,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,130}}</string>
			<key>sourceSize</key>
			<string>{134,130}</string>
		</dict>
		<key>Phoenix_skill_darkgold-fhdh9.png</key>
		<dict>
			<key>frame</key>
			<string>{{811,531},{135,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,127}}</string>
			<key>sourceSize</key>
			<string>{135,127}</string>
		</dict>
		<key>Phoenix_skill_darkgold-guagnzhaojian.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,211},{47,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,46}}</string>
			<key>sourceSize</key>
			<string>{47,46}</string>
		</dict>
		<key>Phoenix_skill_darkgold-pk1.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,191},{71,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,64}}</string>
			<key>sourceSize</key>
			<string>{71,64}</string>
		</dict>
		<key>Phoenix_skill_darkgold-pk10.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,511},{111,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,52}}</string>
			<key>sourceSize</key>
			<string>{111,52}</string>
		</dict>
		<key>Phoenix_skill_darkgold-pk12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,251},{166,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,126}}</string>
			<key>sourceSize</key>
			<string>{166,126}</string>
		</dict>
		<key>Phoenix_skill_darkgold-pk13.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,314},{145,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,135}}</string>
			<key>sourceSize</key>
			<string>{145,135}</string>
		</dict>
		<key>Phoenix_skill_darkgold-pk14.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,347},{147,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,138}}</string>
			<key>sourceSize</key>
			<string>{147,138}</string>
		</dict>
		<key>Phoenix_skill_darkgold-pk15.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,211},{149,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,134}}</string>
			<key>sourceSize</key>
			<string>{149,134}</string>
		</dict>
		<key>Phoenix_skill_darkgold-pk16.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,274},{149,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,130}}</string>
			<key>sourceSize</key>
			<string>{149,130}</string>
		</dict>
		<key>Phoenix_skill_darkgold-pk17.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,306},{148,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,128}}</string>
			<key>sourceSize</key>
			<string>{148,128}</string>
		</dict>
		<key>Phoenix_skill_darkgold-pk18.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,565},{93,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,114}}</string>
			<key>sourceSize</key>
			<string>{93,114}</string>
		</dict>
		<key>Phoenix_skill_darkgold-pk2.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,118},{73,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,71}}</string>
			<key>sourceSize</key>
			<string>{73,71}</string>
		</dict>
		<key>Phoenix_skill_darkgold-pk3.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,306},{69,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,65}}</string>
			<key>sourceSize</key>
			<string>{69,65}</string>
		</dict>
		<key>Phoenix_skill_darkgold-pk4.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,431},{63,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,56}}</string>
			<key>sourceSize</key>
			<string>{63,56}</string>
		</dict>
		<key>Phoenix_skill_darkgold-pk5.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,681},{61,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,57}}</string>
			<key>sourceSize</key>
			<string>{61,57}</string>
		</dict>
		<key>Phoenix_skill_darkgold-pk6.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,373},{64,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,56}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>Phoenix_skill_darkgold-pk9.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,348},{97,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,34}}</string>
			<key>sourceSize</key>
			<string>{97,34}</string>
		</dict>
		<key>Phoenix_skill_darkgold-sbs1.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,257},{100,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,89}}</string>
			<key>sourceSize</key>
			<string>{100,89}</string>
		</dict>
		<key>Phoenix_skill_darkgold-sbs2.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,125},{125,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,147}}</string>
			<key>sourceSize</key>
			<string>{125,147}</string>
		</dict>
		<key>Phoenix_skill_darkgold-sbs3.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,149},{176,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,163}}</string>
			<key>sourceSize</key>
			<string>{176,163}</string>
		</dict>
		<key>Phoenix_skill_darkgold-sbs4.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,135},{198,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,169}}</string>
			<key>sourceSize</key>
			<string>{198,169}</string>
		</dict>
		<key>Phoenix_skill_darkgold-sbs5.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,2},{201,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,131}}</string>
			<key>sourceSize</key>
			<string>{201,131}</string>
		</dict>
		<key>Phoenix_skill_darkgold-sbs6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,118},{201,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,131}}</string>
			<key>sourceSize</key>
			<string>{201,131}</string>
		</dict>
		<key>Phoenix_skill_darkgold-sbs7.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,2},{201,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,129}}</string>
			<key>sourceSize</key>
			<string>{201,129}</string>
		</dict>
		<key>Phoenix_skill_darkgold-sbs8.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,2},{201,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,145}}</string>
			<key>sourceSize</key>
			<string>{201,145}</string>
		</dict>
		<key>Phoenix_skill_darkgold-sbs9.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,133},{199,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,76}}</string>
			<key>sourceSize</key>
			<string>{199,76}</string>
		</dict>
		<key>Phoenix_skill_darkgold-tuoweiguiji.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{277,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{277,114}}</string>
			<key>sourceSize</key>
			<string>{277,114}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Phoenix_skill_darkgold.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a992074e171df342f3db421ce883fe44$</string>
		<key>textureFileName</key>
		<string>Phoenix_skill_darkgold.png</string>
	</dict>
</dict>
</plist>
