<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Phoenix_skill-baoshizhui.png</key>
		<dict>
			<key>frame</key>
			<string>{{609,202},{78,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,134}}</string>
			<key>sourceSize</key>
			<string>{78,134}</string>
		</dict>
		<key>Phoenix_skill-fenghuagndanda.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,125},{123,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,125}}</string>
			<key>sourceSize</key>
			<string>{123,125}</string>
		</dict>
		<key>Phoenix_skill-fhdh1.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,338},{140,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,123}}</string>
			<key>sourceSize</key>
			<string>{140,123}</string>
		</dict>
		<key>Phoenix_skill-fhdh10.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,396},{142,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,123}}</string>
			<key>sourceSize</key>
			<string>{142,123}</string>
		</dict>
		<key>Phoenix_skill-fhdh11.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,465},{138,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,124}}</string>
			<key>sourceSize</key>
			<string>{138,124}</string>
		</dict>
		<key>Phoenix_skill-fhdh12.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,2},{129,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,121}}</string>
			<key>sourceSize</key>
			<string>{129,121}</string>
		</dict>
		<key>Phoenix_skill-fhdh2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,646},{136,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,128}}</string>
			<key>sourceSize</key>
			<string>{136,128}</string>
		</dict>
		<key>Phoenix_skill-fhdh3.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,535},{136,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,130}}</string>
			<key>sourceSize</key>
			<string>{136,130}</string>
		</dict>
		<key>Phoenix_skill-fhdh4.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,521},{138,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,123}}</string>
			<key>sourceSize</key>
			<string>{138,123}</string>
		</dict>
		<key>Phoenix_skill-fhdh5.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,412},{139,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,121}}</string>
			<key>sourceSize</key>
			<string>{139,121}</string>
		</dict>
		<key>Phoenix_skill-fhdh6.png</key>
		<dict>
			<key>frame</key>
			<string>{{766,646},{136,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,128}}</string>
			<key>sourceSize</key>
			<string>{136,128}</string>
		</dict>
		<key>Phoenix_skill-fhdh7.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,463},{138,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,128}}</string>
			<key>sourceSize</key>
			<string>{138,128}</string>
		</dict>
		<key>Phoenix_skill-fhdh8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,776},{134,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,130}}</string>
			<key>sourceSize</key>
			<string>{134,130}</string>
		</dict>
		<key>Phoenix_skill-fhdh9.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,776},{135,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,127}}</string>
			<key>sourceSize</key>
			<string>{135,127}</string>
		</dict>
		<key>Phoenix_skill-guagnzhaojian.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,275},{47,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,46}}</string>
			<key>sourceSize</key>
			<string>{47,46}</string>
		</dict>
		<key>Phoenix_skill-pk1.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,191},{71,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,64}}</string>
			<key>sourceSize</key>
			<string>{71,64}</string>
		</dict>
		<key>Phoenix_skill-pk10.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,381},{111,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,52}}</string>
			<key>sourceSize</key>
			<string>{111,52}</string>
		</dict>
		<key>Phoenix_skill-pk12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,248},{166,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,126}}</string>
			<key>sourceSize</key>
			<string>{166,126}</string>
		</dict>
		<key>Phoenix_skill-pk13.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,275},{145,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,135}}</string>
			<key>sourceSize</key>
			<string>{145,135}</string>
		</dict>
		<key>Phoenix_skill-pk14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,506},{147,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,138}}</string>
			<key>sourceSize</key>
			<string>{147,138}</string>
		</dict>
		<key>Phoenix_skill-pk15.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,202},{149,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,134}}</string>
			<key>sourceSize</key>
			<string>{149,134}</string>
		</dict>
		<key>Phoenix_skill-pk16.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,333},{149,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,130}}</string>
			<key>sourceSize</key>
			<string>{149,130}</string>
		</dict>
		<key>Phoenix_skill-pk17.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,376},{148,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,128}}</string>
			<key>sourceSize</key>
			<string>{148,128}</string>
		</dict>
		<key>Phoenix_skill-pk18.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,435},{93,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,114}}</string>
			<key>sourceSize</key>
			<string>{93,114}</string>
		</dict>
		<key>Phoenix_skill-pk2.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,118},{73,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,71}}</string>
			<key>sourceSize</key>
			<string>{73,71}</string>
		</dict>
		<key>Phoenix_skill-pk3.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,338},{69,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,65}}</string>
			<key>sourceSize</key>
			<string>{69,65}</string>
		</dict>
		<key>Phoenix_skill-pk4.png</key>
		<dict>
			<key>frame</key>
			<string>{{565,463},{63,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,56}}</string>
			<key>sourceSize</key>
			<string>{63,56}</string>
		</dict>
		<key>Phoenix_skill-pk5.png</key>
		<dict>
			<key>frame</key>
			<string>{{565,521},{61,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,57}}</string>
			<key>sourceSize</key>
			<string>{61,57}</string>
		</dict>
		<key>Phoenix_skill-pk6.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,405},{64,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,56}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>Phoenix_skill-pk9.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,345},{97,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,34}}</string>
			<key>sourceSize</key>
			<string>{97,34}</string>
		</dict>
		<key>Phoenix_skill-sbs1.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,257},{102,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,86}}</string>
			<key>sourceSize</key>
			<string>{102,86}</string>
		</dict>
		<key>Phoenix_skill-sbs2.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,252},{119,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,142}}</string>
			<key>sourceSize</key>
			<string>{119,142}</string>
		</dict>
		<key>Phoenix_skill-sbs3.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,171},{175,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,160}}</string>
			<key>sourceSize</key>
			<string>{175,160}</string>
		</dict>
		<key>Phoenix_skill-sbs4.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,2},{202,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,167}}</string>
			<key>sourceSize</key>
			<string>{202,167}</string>
		</dict>
		<key>Phoenix_skill-sbs5.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,2},{202,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,125}}</string>
			<key>sourceSize</key>
			<string>{202,125}</string>
		</dict>
		<key>Phoenix_skill-sbs6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,118},{202,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,128}}</string>
			<key>sourceSize</key>
			<string>{202,128}</string>
		</dict>
		<key>Phoenix_skill-sbs7.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,2},{202,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,124}}</string>
			<key>sourceSize</key>
			<string>{202,124}</string>
		</dict>
		<key>Phoenix_skill-sbs8.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,128},{201,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,145}}</string>
			<key>sourceSize</key>
			<string>{201,145}</string>
		</dict>
		<key>Phoenix_skill-sbs9.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,129},{194,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,71}}</string>
			<key>sourceSize</key>
			<string>{194,71}</string>
		</dict>
		<key>Phoenix_skill-tuoweiguiji.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{277,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{277,114}}</string>
			<key>sourceSize</key>
			<string>{277,114}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Phoenix_skill.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e8da394462c41356d714ab8ba6aee6d3$</string>
		<key>textureFileName</key>
		<string>Phoenix_skill.png</string>
	</dict>
</dict>
</plist>
