<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Pumpkin_huoba_hitted-hngbj2.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,124},{56,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,63}}</string>
			<key>sourceSize</key>
			<string>{56,63}</string>
		</dict>
		<key>Pumpkin_huoba_hitted-hngbj3.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,59},{58,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,63}}</string>
			<key>sourceSize</key>
			<string>{58,63}</string>
		</dict>
		<key>Pumpkin_huoba_hitted-hngbj4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,52},{62,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,58}}</string>
			<key>sourceSize</key>
			<string>{62,58}</string>
		</dict>
		<key>Pumpkin_huoba_hitted-hngbj5.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,2},{59,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,55}}</string>
			<key>sourceSize</key>
			<string>{59,55}</string>
		</dict>
		<key>Pumpkin_huoba_hitted-hngbj6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{63,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,48}}</string>
			<key>sourceSize</key>
			<string>{63,48}</string>
		</dict>
		<key>Pumpkin_huoba_hitted-hngbj7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,112},{57,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,44}}</string>
			<key>sourceSize</key>
			<string>{57,44}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Pumpkin_huoba_hitted.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c9dec31c8b6a52534720029500121a8c$</string>
		<key>textureFileName</key>
		<string>Pumpkin_huoba_hitted.png</string>
	</dict>
</dict>
</plist>
