<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Quest_light-888.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,233},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Quest_light-888ex.png</key>
		<dict>
			<key>frame</key>
			<string>{{16,233},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Quest_light-888zizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,233},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Quest_light-jrw1.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,2},{37,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,45}}</string>
			<key>sourceSize</key>
			<string>{37,45}</string>
		</dict>
		<key>Quest_light-jrw10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,158},{31,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,73}}</string>
			<key>sourceSize</key>
			<string>{31,73}</string>
		</dict>
		<key>Quest_light-jrw11.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,154},{27,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,57}}</string>
			<key>sourceSize</key>
			<string>{27,57}</string>
		</dict>
		<key>Quest_light-jrw2.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,158},{36,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,70}}</string>
			<key>sourceSize</key>
			<string>{36,70}</string>
		</dict>
		<key>Quest_light-jrw3.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,2},{50,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,63}}</string>
			<key>sourceSize</key>
			<string>{50,63}</string>
		</dict>
		<key>Quest_light-jrw4.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,206},{58,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,46}}</string>
			<key>sourceSize</key>
			<string>{58,46}</string>
		</dict>
		<key>Quest_light-jrw5.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,213},{70,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,37}}</string>
			<key>sourceSize</key>
			<string>{70,37}</string>
		</dict>
		<key>Quest_light-jrw6.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,154},{69,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,50}}</string>
			<key>sourceSize</key>
			<string>{69,50}</string>
		</dict>
		<key>Quest_light-jrw7.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,83},{57,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,69}}</string>
			<key>sourceSize</key>
			<string>{57,69}</string>
		</dict>
		<key>Quest_light-jrw8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{51,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,79}}</string>
			<key>sourceSize</key>
			<string>{51,79}</string>
		</dict>
		<key>Quest_light-jrw9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,83},{40,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,73}}</string>
			<key>sourceSize</key>
			<string>{40,73}</string>
		</dict>
		<key>Quest_light-shuidizhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,230},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>Quest_light-tanhao.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,49},{17,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,45}}</string>
			<key>sourceSize</key>
			<string>{17,45}</string>
		</dict>
		<key>Quest_light-wenhao.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,2},{30,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,45}}</string>
			<key>sourceSize</key>
			<string>{30,45}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Quest_light.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0de62237a6cfc50b56fef6d8ab748459$</string>
		<key>textureFileName</key>
		<string>Quest_light.png</string>
	</dict>
</dict>
</plist>
