<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Sagittarius_skill-YJP-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,136},{173,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,69}}</string>
			<key>sourceSize</key>
			<string>{173,69}</string>
		</dict>
		<key>Sagittarius_skill-YJP-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,77},{186,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,57}}</string>
			<key>sourceSize</key>
			<string>{186,57}</string>
		</dict>
		<key>Sagittarius_skill-YJP-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,2},{189,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,40}}</string>
			<key>sourceSize</key>
			<string>{189,40}</string>
		</dict>
		<key>Sagittarius_skill-YJP-13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,71},{188,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,37}}</string>
			<key>sourceSize</key>
			<string>{188,37}</string>
		</dict>
		<key>Sagittarius_skill-YJP-14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{190,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,33}}</string>
			<key>sourceSize</key>
			<string>{190,33}</string>
		</dict>
		<key>Sagittarius_skill-YJP-16.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,37},{189,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,32}}</string>
			<key>sourceSize</key>
			<string>{189,32}</string>
		</dict>
		<key>Sagittarius_skill-YJP-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,44},{189,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,31}}</string>
			<key>sourceSize</key>
			<string>{189,31}</string>
		</dict>
		<key>Sagittarius_skill-YJP-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,342},{88,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,95}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>Sagittarius_skill-YJP-20.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,110},{182,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,31}}</string>
			<key>sourceSize</key>
			<string>{182,31}</string>
		</dict>
		<key>Sagittarius_skill-YJP-22.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,143},{169,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,29}}</string>
			<key>sourceSize</key>
			<string>{169,29}</string>
		</dict>
		<key>Sagittarius_skill-YJP-23.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,207},{158,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,27}}</string>
			<key>sourceSize</key>
			<string>{158,27}</string>
		</dict>
		<key>Sagittarius_skill-YJP-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,326},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Sagittarius_skill-YJP-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,255},{98,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,85}}</string>
			<key>sourceSize</key>
			<string>{98,85}</string>
		</dict>
		<key>Sagittarius_skill-YJP-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,93},{107,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,88}}</string>
			<key>sourceSize</key>
			<string>{107,88}</string>
		</dict>
		<key>Sagittarius_skill-YJP-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,2},{121,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,89}}</string>
			<key>sourceSize</key>
			<string>{121,89}</string>
		</dict>
		<key>Sagittarius_skill-YJP-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,236},{133,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,88}}</string>
			<key>sourceSize</key>
			<string>{133,88}</string>
		</dict>
		<key>Sagittarius_skill-YJP-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,183},{146,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,85}}</string>
			<key>sourceSize</key>
			<string>{146,85}</string>
		</dict>
		<key>Sagittarius_skill-YJP-9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,174},{158,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,79}}</string>
			<key>sourceSize</key>
			<string>{158,79}</string>
		</dict>
		<key>Sagittarius_skill-rongyandan.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,326},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Sagittarius_skill-tuoweiying.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,342},{96,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,109}}</string>
			<key>sourceSize</key>
			<string>{96,109}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Sagittarius_skill.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b8e640a8633220665769b79e31650177$</string>
		<key>textureFileName</key>
		<string>Sagittarius_skill.png</string>
	</dict>
</dict>
</plist>
