<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Scorpio_skill-scr1.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,615},{188,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,147}}</string>
			<key>sourceSize</key>
			<string>{188,147}</string>
		</dict>
		<key>Scorpio_skill-scr2.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,314},{199,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,147}}</string>
			<key>sourceSize</key>
			<string>{199,147}</string>
		</dict>
		<key>Scorpio_skill-scr3.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,463},{190,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,150}}</string>
			<key>sourceSize</key>
			<string>{190,150}</string>
		</dict>
		<key>Scorpio_skill-scr4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,316},{193,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,147}}</string>
			<key>sourceSize</key>
			<string>{193,147}</string>
		</dict>
		<key>Scorpio_skill-scr5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,465},{188,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,150}}</string>
			<key>sourceSize</key>
			<string>{188,150}</string>
		</dict>
		<key>Scorpio_skill-scr6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,160},{202,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,154}}</string>
			<key>sourceSize</key>
			<string>{202,154}</string>
		</dict>
		<key>Scorpio_skill-scr7.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,2},{203,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,158}}</string>
			<key>sourceSize</key>
			<string>{203,158}</string>
		</dict>
		<key>Scorpio_skill-scr8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{209,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,156}}</string>
			<key>sourceSize</key>
			<string>{209,156}</string>
		</dict>
		<key>Scorpio_skill-scr9.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,162},{200,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,150}}</string>
			<key>sourceSize</key>
			<string>{200,150}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Scorpio_skill.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7ed7f627f9a9e1515282ee35a72a4329$</string>
		<key>textureFileName</key>
		<string>Scorpio_skill.png</string>
	</dict>
</dict>
</plist>
