<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Scorpio_hitted-zhuagaoliang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{98,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,54}}</string>
			<key>sourceSize</key>
			<string>{98,54}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Scorpio_hitted.png</string>
		<key>size</key>
		<string>{128,64}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6cc8bd4c570b42efbec36acf34592657$</string>
		<key>textureFileName</key>
		<string>Scorpio_hitted.png</string>
	</dict>
</dict>
</plist>
