<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>shenma_skill-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,142},{3,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,2}}</string>
			<key>sourceSize</key>
			<string>{3,2}</string>
		</dict>
		<key>shenma_skill-dian10.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,284},{76,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,86}}</string>
			<key>sourceSize</key>
			<string>{76,86}</string>
		</dict>
		<key>shenma_skill-dian20.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,284},{56,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,171}}</string>
			<key>sourceSize</key>
			<string>{56,171}</string>
		</dict>
		<key>shenma_skill-dian30.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,284},{55,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,174}}</string>
			<key>sourceSize</key>
			<string>{55,174}</string>
		</dict>
		<key>shenma_skill-dian40.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,372},{52,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,132}}</string>
			<key>sourceSize</key>
			<string>{52,132}</string>
		</dict>
		<key>shenma_skill-dian50.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,284},{64,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,182}}</string>
			<key>sourceSize</key>
			<string>{64,182}</string>
		</dict>
		<key>shenma_skill-dian60.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,284},{66,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,182}}</string>
			<key>sourceSize</key>
			<string>{66,182}</string>
		</dict>
		<key>shenma_skill-dian70.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,284},{61,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,183}}</string>
			<key>sourceSize</key>
			<string>{61,183}</string>
		</dict>
		<key>shenma_skill-sprite 29.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,469},{133,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,40}}</string>
			<key>sourceSize</key>
			<string>{133,40}</string>
		</dict>
		<key>shenma_skill-sprite 90.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,372},{98,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,98}}</string>
			<key>sourceSize</key>
			<string>{98,98}</string>
		</dict>
		<key>shenma_skill-sprite 93.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,284},{106,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,59}}</string>
			<key>sourceSize</key>
			<string>{106,59}</string>
		</dict>
		<key>shenma_skill-yun1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{252,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{252,138}}</string>
			<key>sourceSize</key>
			<string>{252,138}</string>
		</dict>
		<key>shenma_skill-yun2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,142},{243,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,133}}</string>
			<key>sourceSize</key>
			<string>{243,133}</string>
		</dict>
		<key>shenma_skill-yun22.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,460},{100,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,44}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>shenma_skill-yun3.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,144},{242,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,138}}</string>
			<key>sourceSize</key>
			<string>{242,138}</string>
		</dict>
		<key>shenma_skill-yun4.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,2},{250,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,140}}</string>
			<key>sourceSize</key>
			<string>{250,140}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shenma_skill.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5a16156087861c44758f0a2eb369b1ee$</string>
		<key>textureFileName</key>
		<string>shenma_skill.png</string>
	</dict>
</dict>
</plist>
