<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SkillAnimation_SkillUp-guangxianxiaoguo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{145,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,106}}</string>
			<key>sourceSize</key>
			<string>{145,106}</string>
		</dict>
		<key>SkillAnimation_SkillUp-liziziziziziq.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,2},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>SkillAnimation_SkillUp.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:521b57410a2b707592b225ac9adf1bb8$</string>
		<key>textureFileName</key>
		<string>SkillAnimation_SkillUp.png</string>
	</dict>
</dict>
</plist>
