<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Skill_lvlup-888.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,15},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Skill_lvlup-888ex.png</key>
		<dict>
			<key>frame</key>
			<string>{{16,2},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Skill_lvlup-888zizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Skill_lvlup.png</string>
		<key>size</key>
		<string>{32,32}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:19213f48bef64e9ce083cd5709e6add4$</string>
		<key>textureFileName</key>
		<string>Skill_lvlup.png</string>
	</dict>
</dict>
</plist>
