<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>soccer_soccer_hit-baoguang1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,63},{71,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,57}}</string>
			<key>sourceSize</key>
			<string>{71,57}</string>
		</dict>
		<key>soccer_soccer_hit-baoguang2.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,2},{76,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,61}}</string>
			<key>sourceSize</key>
			<string>{76,61}</string>
		</dict>
		<key>soccer_soccer_hit-baoguang3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{78,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,59}}</string>
			<key>sourceSize</key>
			<string>{78,59}</string>
		</dict>
		<key>soccer_soccer_hit-baoguang4.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,2},{61,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,50}}</string>
			<key>sourceSize</key>
			<string>{61,50}</string>
		</dict>
		<key>soccer_soccer_hit-leidian 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,130},{11,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,9}}</string>
			<key>sourceSize</key>
			<string>{11,9}</string>
		</dict>
		<key>soccer_soccer_hit-leidian 10.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,130},{12,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,6}}</string>
			<key>sourceSize</key>
			<string>{12,6}</string>
		</dict>
		<key>soccer_soccer_hit-leidian 11.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,63},{4,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,2}}</string>
			<key>sourceSize</key>
			<string>{4,2}</string>
		</dict>
		<key>soccer_soccer_hit-leidian 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,117},{15,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,12}}</string>
			<key>sourceSize</key>
			<string>{15,12}</string>
		</dict>
		<key>soccer_soccer_hit-leidian 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,97},{20,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,18}}</string>
			<key>sourceSize</key>
			<string>{20,18}</string>
		</dict>
		<key>soccer_soccer_hit-leidian 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,30},{26,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,22}}</string>
			<key>sourceSize</key>
			<string>{26,22}</string>
		</dict>
		<key>soccer_soccer_hit-leidian 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,54},{42,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,36}}</string>
			<key>sourceSize</key>
			<string>{42,36}</string>
		</dict>
		<key>soccer_soccer_hit-leidian 8.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,65},{33,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,21}}</string>
			<key>sourceSize</key>
			<string>{33,21}</string>
		</dict>
		<key>soccer_soccer_hit-leidian 9.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,122},{22,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,12}}</string>
			<key>sourceSize</key>
			<string>{22,12}</string>
		</dict>
		<key>soccer_soccer_hit-leidian5.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,65},{40,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,30}}</string>
			<key>sourceSize</key>
			<string>{40,30}</string>
		</dict>
		<key>soccer_soccer_hit-leidian6.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,54},{41,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,37}}</string>
			<key>sourceSize</key>
			<string>{41,37}</string>
		</dict>
		<key>soccer_soccer_hit-qui.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,2},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>soccer_soccer_hit-shefeng1.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,93},{24,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,27}}</string>
			<key>sourceSize</key>
			<string>{24,27}</string>
		</dict>
		<key>soccer_soccer_hit-shefeng2.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,118},{24,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,28}}</string>
			<key>sourceSize</key>
			<string>{24,28}</string>
		</dict>
		<key>soccer_soccer_hit-shefeng3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,122},{23,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,27}}</string>
			<key>sourceSize</key>
			<string>{23,27}</string>
		</dict>
		<key>soccer_soccer_hit-shefeng4.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,93},{23,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,27}}</string>
			<key>sourceSize</key>
			<string>{23,27}</string>
		</dict>
		<key>soccer_soccer_hit-shefeng5.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,92},{24,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,28}}</string>
			<key>sourceSize</key>
			<string>{24,28}</string>
		</dict>
		<key>soccer_soccer_hit-tiqiuguagn 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,151},{13,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,17}}</string>
			<key>sourceSize</key>
			<string>{13,17}</string>
		</dict>
		<key>soccer_soccer_hit-tiqiuguagn 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,122},{21,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,29}}</string>
			<key>sourceSize</key>
			<string>{21,29}</string>
		</dict>
		<key>soccer_soccer_hit-tiqiuguagn 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,92},{24,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,31}}</string>
			<key>sourceSize</key>
			<string>{24,31}</string>
		</dict>
		<key>soccer_soccer_hit-tiqiuguagn 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,97},{24,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,31}}</string>
			<key>sourceSize</key>
			<string>{24,31}</string>
		</dict>
		<key>soccer_soccer_hit-tiqiuguagn 6.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,88},{25,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,28}}</string>
			<key>sourceSize</key>
			<string>{25,28}</string>
		</dict>
		<key>soccer_soccer_hit-tiqiuguagn 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,136},{21,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,18}}</string>
			<key>sourceSize</key>
			<string>{21,18}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>soccerkid_soccer_hit.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0a6f8cb5136d818a19a228ada615bdbe$</string>
		<key>textureFileName</key>
		<string>soccerkid_soccer_hit.png</string>
	</dict>
</dict>
</plist>
