<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>StarAnimation_Pet-liziziziziziq.png</key>
		<dict>
			<key>frame</key>
			<string>{{26,48},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>StarAnimation_Pet-quanquan.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,2},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>StarAnimation_Pet-shanguang 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,48},{3,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,4}}</string>
			<key>sourceSize</key>
			<string>{3,4}</string>
		</dict>
		<key>StarAnimation_Pet-shanguang 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,91},{8,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,8}}</string>
			<key>sourceSize</key>
			<string>{8,8}</string>
		</dict>
		<key>StarAnimation_Pet-shanguang 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,2},{13,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,12}}</string>
			<key>sourceSize</key>
			<string>{13,12}</string>
		</dict>
		<key>StarAnimation_Pet-shanguang 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,23},{16,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,15}}</string>
			<key>sourceSize</key>
			<string>{16,15}</string>
		</dict>
		<key>StarAnimation_Pet-shanguang 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,23},{16,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,15}}</string>
			<key>sourceSize</key>
			<string>{16,15}</string>
		</dict>
		<key>StarAnimation_Pet-shanguang 6.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,2},{16,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,14}}</string>
			<key>sourceSize</key>
			<string>{16,14}</string>
		</dict>
		<key>StarAnimation_Pet-shanguang 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,91},{11,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,9}}</string>
			<key>sourceSize</key>
			<string>{11,9}</string>
		</dict>
		<key>StarAnimation_Pet-shanliang 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{11,48},{5,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,8}}</string>
			<key>sourceSize</key>
			<string>{5,8}</string>
		</dict>
		<key>StarAnimation_Pet-shanliang 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,2},{13,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,14}}</string>
			<key>sourceSize</key>
			<string>{13,14}</string>
		</dict>
		<key>StarAnimation_Pet-shanliang 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,2},{16,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,19}}</string>
			<key>sourceSize</key>
			<string>{16,19}</string>
		</dict>
		<key>StarAnimation_Pet-shanliang 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,102},{20,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,31}}</string>
			<key>sourceSize</key>
			<string>{20,31}</string>
		</dict>
		<key>StarAnimation_Pet-shanliang 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{11,2},{31,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,44}}</string>
			<key>sourceSize</key>
			<string>{31,44}</string>
		</dict>
		<key>StarAnimation_Pet-shanliang 6.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,48},{28,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,41}}</string>
			<key>sourceSize</key>
			<string>{28,41}</string>
		</dict>
		<key>StarAnimation_Pet-shanliang 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,56},{29,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,45}}</string>
			<key>sourceSize</key>
			<string>{29,45}</string>
		</dict>
		<key>StarAnimation_Pet-shanliang 8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,103},{21,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,34}}</string>
			<key>sourceSize</key>
			<string>{21,34}</string>
		</dict>
		<key>StarAnimation_Pet-xiantiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{7,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,52}}</string>
			<key>sourceSize</key>
			<string>{7,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>StarAnimation_Pet.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d28452df840579305c98ef6fb6dd333b$</string>
		<key>textureFileName</key>
		<string>StarAnimation_Pet.png</string>
	</dict>
</dict>
</plist>
