<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>StarAnimation_Horoscope-guanggaaa1.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,154},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>StarAnimation_Horoscope-guanggaaa11.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,125},{92,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,99}}</string>
			<key>sourceSize</key>
			<string>{92,99}</string>
		</dict>
		<key>StarAnimation_Horoscope-guanggaaa13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,199},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>StarAnimation_Horoscope-guanggaaa15.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,219},{77,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,73}}</string>
			<key>sourceSize</key>
			<string>{77,73}</string>
		</dict>
		<key>StarAnimation_Horoscope-guanggaaa17.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,298},{51,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,47}}</string>
			<key>sourceSize</key>
			<string>{51,47}</string>
		</dict>
		<key>StarAnimation_Horoscope-guanggaaa19.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,125},{36,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,27}}</string>
			<key>sourceSize</key>
			<string>{36,27}</string>
		</dict>
		<key>StarAnimation_Horoscope-guanggaaa3.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,219},{85,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,86}}</string>
			<key>sourceSize</key>
			<string>{85,86}</string>
		</dict>
		<key>StarAnimation_Horoscope-guanggaaa5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{131,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,87}}</string>
			<key>sourceSize</key>
			<string>{131,87}</string>
		</dict>
		<key>StarAnimation_Horoscope-guanggaaa7.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,2},{121,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,113}}</string>
			<key>sourceSize</key>
			<string>{121,113}</string>
		</dict>
		<key>StarAnimation_Horoscope-guanggaaa9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,91},{111,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,106}}</string>
			<key>sourceSize</key>
			<string>{111,106}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>StarAnimation_Horoscope.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0113554a87b7a89e32b6bd103fc45ae5$</string>
		<key>textureFileName</key>
		<string>StarAnimation_Horoscope.png</string>
	</dict>
</dict>
</plist>
