<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>FamousHall_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{343,440}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{343,440}}</string>
			<key>sourceSize</key>
			<string>{343,440}</string>
		</dict>
		<key>StarUI_Active_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{787,80},{83,85}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,85}}</string>
			<key>sourceSize</key>
			<string>{85,85}</string>
		</dict>
		<key>StarUI_Active_lable.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,340},{85,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,44}}</string>
			<key>sourceSize</key>
			<string>{85,44}</string>
		</dict>
		<key>StarUI_Changepage_Clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,43},{51,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,39}}</string>
			<key>sourceSize</key>
			<string>{51,39}</string>
		</dict>
		<key>StarUI_Changepage_Disabled.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,2},{51,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,39}}</string>
			<key>sourceSize</key>
			<string>{51,39}</string>
		</dict>
		<key>StarUI_Changepage_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,84},{50,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,39}}</string>
			<key>sourceSize</key>
			<string>{50,39}</string>
		</dict>
		<key>StarUI_Inactive_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,80},{83,85}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,85}}</string>
			<key>sourceSize</key>
			<string>{85,85}</string>
		</dict>
		<key>StarUI_Lable_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,168},{180,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,68}}</string>
			<key>sourceSize</key>
			<string>{180,68}</string>
		</dict>
		<key>StarUI_OpenBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,2},{242,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,76}}</string>
			<key>sourceSize</key>
			<string>{242,76}</string>
		</dict>
		<key>StarUI_OpenBtn_Disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,2},{242,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,76}}</string>
			<key>sourceSize</key>
			<string>{242,76}</string>
		</dict>
		<key>StarUI_Stage_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,730},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{84,84}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>StarUI_Stage_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,644},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{84,84}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>StarUI_Stage_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,80},{86,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,86}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>StarUI_Stage_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,558},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{84,84}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>StarUI_Stage_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,472},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{84,84}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>StarUI_Stage_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,464},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{84,84}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>StarUI_Stage_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,423},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{84,84}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>StarUI_Stage_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,337},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{84,84}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>StarUI_Stage_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,386},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{84,84}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>StarUI_Stage_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,251},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{84,84}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>StarUI_StarIcon_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,253},{129,123}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,123}}</string>
			<key>sourceSize</key>
			<string>{131,123}</string>
		</dict>
		<key>StarUI_StarIcon_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,754},{122,137}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{122,137}}</string>
			<key>sourceSize</key>
			<string>{124,139}</string>
		</dict>
		<key>StarUI_StarIcon_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,241},{143,97}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{143,97}}</string>
			<key>sourceSize</key>
			<string>{147,97}</string>
		</dict>
		<key>StarUI_StarIcon_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,2},{116,123}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,123}}</string>
			<key>sourceSize</key>
			<string>{118,123}</string>
		</dict>
		<key>StarUI_StarIcon_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,882},{104,126}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,126}}</string>
			<key>sourceSize</key>
			<string>{106,126}</string>
		</dict>
		<key>StarUI_StarIcon_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,754},{117,135}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,135}}</string>
			<key>sourceSize</key>
			<string>{119,135}</string>
		</dict>
		<key>StarUI_StarIcon_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,894},{125,127}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,127}}</string>
			<key>sourceSize</key>
			<string>{127,127}</string>
		</dict>
		<key>StarUI_StarIcon_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,754},{108,138}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{108,138}}</string>
			<key>sourceSize</key>
			<string>{112,138}</string>
		</dict>
		<key>StarUI_StarIcon_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,754},{135,126}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{135,126}}</string>
			<key>sourceSize</key>
			<string>{137,128}</string>
		</dict>
		<key>StarUI_StarIcon_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,125},{139,114}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,114}}</string>
			<key>sourceSize</key>
			<string>{141,114}</string>
		</dict>
		<key>StarUI_StarIcon_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,893},{152,126}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{152,126}}</string>
			<key>sourceSize</key>
			<string>{154,128}</string>
		</dict>
		<key>StarUI_StarIcon_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,891},{133,131}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{133,131}}</string>
			<key>sourceSize</key>
			<string>{135,133}</string>
		</dict>
		<key>StarUI_StarLable_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,420},{143,53}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{143,53}}</string>
			<key>sourceSize</key>
			<string>{143,55}</string>
		</dict>
		<key>StarUI_StarLable_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,352},{143,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,55}}</string>
			<key>sourceSize</key>
			<string>{143,55}</string>
		</dict>
		<key>StarUI_StarLable_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,308},{143,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,55}}</string>
			<key>sourceSize</key>
			<string>{143,55}</string>
		</dict>
		<key>StarUI_StarLable_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,295},{143,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,55}}</string>
			<key>sourceSize</key>
			<string>{143,55}</string>
		</dict>
		<key>StarUI_StarLable_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,409},{143,53}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{143,53}}</string>
			<key>sourceSize</key>
			<string>{143,55}</string>
		</dict>
		<key>StarUI_StarLable_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,251},{143,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,55}}</string>
			<key>sourceSize</key>
			<string>{143,55}</string>
		</dict>
		<key>StarUI_StarLable_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,238},{143,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,55}}</string>
			<key>sourceSize</key>
			<string>{143,55}</string>
		</dict>
		<key>StarUI_StarLable_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,194},{143,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,55}}</string>
			<key>sourceSize</key>
			<string>{143,55}</string>
		</dict>
		<key>StarUI_StarLable_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{756,365},{143,53}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{143,53}}</string>
			<key>sourceSize</key>
			<string>{143,55}</string>
		</dict>
		<key>StarUI_StarLable_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,137},{143,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,55}}</string>
			<key>sourceSize</key>
			<string>{143,55}</string>
		</dict>
		<key>StarUI_StarLable_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,80},{143,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,55}}</string>
			<key>sourceSize</key>
			<string>{143,55}</string>
		</dict>
		<key>StarUI_StarLable_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,378},{143,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,55}}</string>
			<key>sourceSize</key>
			<string>{143,55}</string>
		</dict>
		<key>StarUI_lightcircle.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,127},{124,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,124}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>StarUI_movinglight.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,378},{26,56}}</string>
			<key>offset</key>
			<string>{-38,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,13},{26,56}}</string>
			<key>sourceSize</key>
			<string>{102,102}</string>
		</dict>
		<key>avena_pvp.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,444},{232,308}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,308}}</string>
			<key>sourceSize</key>
			<string>{232,308}</string>
		</dict>
		<key>avena_single.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,444},{232,308}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,308}}</string>
			<key>sourceSize</key>
			<string>{232,308}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>StarUI.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:660c3468e895d7223286821dae665f20$</string>
		<key>textureFileName</key>
		<string>StarUI.png</string>
	</dict>
</dict>
</plist>
