<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Title_headlight-888.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,239},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Title_headlight-888ex.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,226},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Title_headlight-888zizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,213},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Title_headlight-ggyyyhJ.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{179,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,56}}</string>
			<key>sourceSize</key>
			<string>{179,56}</string>
		</dict>
		<key>Title_headlight-guangbeijing.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,60},{119,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,166}}</string>
			<key>sourceSize</key>
			<string>{119,166}</string>
		</dict>
		<key>Title_headlight-leidian 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,130},{11,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,9}}</string>
			<key>sourceSize</key>
			<string>{11,9}</string>
		</dict>
		<key>Title_headlight-leidian 10.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,252},{12,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,6}}</string>
			<key>sourceSize</key>
			<string>{12,6}</string>
		</dict>
		<key>Title_headlight-leidian 11.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,2},{4,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,2}}</string>
			<key>sourceSize</key>
			<string>{4,2}</string>
		</dict>
		<key>Title_headlight-leidian 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,199},{15,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,12}}</string>
			<key>sourceSize</key>
			<string>{15,12}</string>
		</dict>
		<key>Title_headlight-leidian 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,275},{20,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,18}}</string>
			<key>sourceSize</key>
			<string>{20,18}</string>
		</dict>
		<key>Title_headlight-leidian 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,479},{26,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,22}}</string>
			<key>sourceSize</key>
			<string>{26,22}</string>
		</dict>
		<key>Title_headlight-leidian 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,347},{42,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,36}}</string>
			<key>sourceSize</key>
			<string>{42,36}</string>
		</dict>
		<key>Title_headlight-leidian 8.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,479},{33,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,21}}</string>
			<key>sourceSize</key>
			<string>{33,21}</string>
		</dict>
		<key>Title_headlight-leidian 9.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,261},{22,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,12}}</string>
			<key>sourceSize</key>
			<string>{22,12}</string>
		</dict>
		<key>Title_headlight-leidian5.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,385},{40,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,30}}</string>
			<key>sourceSize</key>
			<string>{40,30}</string>
		</dict>
		<key>Title_headlight-leidian6.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,350},{41,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,37}}</string>
			<key>sourceSize</key>
			<string>{41,37}</string>
		</dict>
		<key>Title_headlight-liziziziziziq.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,6},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>Title_headlight-shuidizhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,141},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>Title_headlight-sssyiciJ.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,228},{116,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,117}}</string>
			<key>sourceSize</key>
			<string>{116,117}</string>
		</dict>
		<key>Title_headlight-xh1.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,302},{44,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,46}}</string>
			<key>sourceSize</key>
			<string>{44,46}</string>
		</dict>
		<key>Title_headlight-xh10.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,60},{58,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,63}}</string>
			<key>sourceSize</key>
			<string>{58,63}</string>
		</dict>
		<key>Title_headlight-xh11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,347},{60,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,64}}</string>
			<key>sourceSize</key>
			<string>{60,64}</string>
		</dict>
		<key>Title_headlight-xh12.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,261},{61,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,68}}</string>
			<key>sourceSize</key>
			<string>{61,68}</string>
		</dict>
		<key>Title_headlight-xh13.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,130},{62,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,67}}</string>
			<key>sourceSize</key>
			<string>{62,67}</string>
		</dict>
		<key>Title_headlight-xh14.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,125},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>Title_headlight-xh2.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,417},{59,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,60}}</string>
			<key>sourceSize</key>
			<string>{59,60}</string>
		</dict>
		<key>Title_headlight-xh3.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,2},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>Title_headlight-xh4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,413},{59,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,64}}</string>
			<key>sourceSize</key>
			<string>{59,64}</string>
		</dict>
		<key>Title_headlight-xh5.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,331},{61,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,56}}</string>
			<key>sourceSize</key>
			<string>{61,56}</string>
		</dict>
		<key>Title_headlight-xh6.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,68},{63,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,60}}</string>
			<key>sourceSize</key>
			<string>{63,60}</string>
		</dict>
		<key>Title_headlight-xh7.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,191},{50,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,60}}</string>
			<key>sourceSize</key>
			<string>{50,60}</string>
		</dict>
		<key>Title_headlight-xh8.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,253},{44,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,47}}</string>
			<key>sourceSize</key>
			<string>{44,47}</string>
		</dict>
		<key>Title_headlight-xh9.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,199},{62,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,60}}</string>
			<key>sourceSize</key>
			<string>{62,60}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Title_headlight.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2249dded88c45e488cd12efe042cdf61$</string>
		<key>textureFileName</key>
		<string>Title_headlight.png</string>
	</dict>
</dict>
</plist>
