<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>title_carnival-SSYHh1.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,475},{26,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,32}}</string>
			<key>sourceSize</key>
			<string>{26,32}</string>
		</dict>
		<key>title_carnival-SSYHh10.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,254},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHh11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,254},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHh12.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,191},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHh13.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,191},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHh14.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,254},{61,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,60}}</string>
			<key>sourceSize</key>
			<string>{61,60}</string>
		</dict>
		<key>title_carnival-SSYHh2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,424},{42,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,49}}</string>
			<key>sourceSize</key>
			<string>{42,49}</string>
		</dict>
		<key>title_carnival-SSYHh3.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,317},{56,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,54}}</string>
			<key>sourceSize</key>
			<string>{56,54}</string>
		</dict>
		<key>title_carnival-SSYHh4.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,316},{60,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,57}}</string>
			<key>sourceSize</key>
			<string>{60,57}</string>
		</dict>
		<key>title_carnival-SSYHh5.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,191},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHh6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,191},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHh7.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,128},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHh8.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,128},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHh9.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,128},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHz1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,475},{26,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,32}}</string>
			<key>sourceSize</key>
			<string>{26,32}</string>
		</dict>
		<key>title_carnival-SSYHz10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,128},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHz11.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,65},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHz12.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,65},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHz13.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,65},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHz14.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,254},{61,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,60}}</string>
			<key>sourceSize</key>
			<string>{61,60}</string>
		</dict>
		<key>title_carnival-SSYHz2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,373},{42,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,49}}</string>
			<key>sourceSize</key>
			<string>{42,49}</string>
		</dict>
		<key>title_carnival-SSYHz3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,317},{56,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,54}}</string>
			<key>sourceSize</key>
			<string>{56,54}</string>
		</dict>
		<key>title_carnival-SSYHz4.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,316},{60,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,57}}</string>
			<key>sourceSize</key>
			<string>{60,57}</string>
		</dict>
		<key>title_carnival-SSYHz5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,65},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHz6.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,2},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHz7.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,2},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHz8.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,2},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>title_carnival-SSYHz9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>title_carnival.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8c378464f166b32bbed65a07fbc49f9d$</string>
		<key>textureFileName</key>
		<string>title_carnival.png</string>
	</dict>
</dict>
</plist>
