<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Title_light-888.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,110},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Title_light-gaoliangshan 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,83},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>Title_light-gaoliangshan 11.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,56},{35,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,25}}</string>
			<key>sourceSize</key>
			<string>{35,25}</string>
		</dict>
		<key>Title_light-gaoliangshan 12.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,56},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>Title_light-gaoliangshan 13.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,56},{16,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,20}}</string>
			<key>sourceSize</key>
			<string>{16,20}</string>
		</dict>
		<key>Title_light-gaoliangshan 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,83},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>Title_light-gaoliangshan 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,29},{55,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,25}}</string>
			<key>sourceSize</key>
			<string>{55,25}</string>
		</dict>
		<key>Title_light-gaoliangshan 5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,29},{59,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,25}}</string>
			<key>sourceSize</key>
			<string>{59,25}</string>
		</dict>
		<key>Title_light-gaoliangshan 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{64,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,25}}</string>
			<key>sourceSize</key>
			<string>{64,25}</string>
		</dict>
		<key>Title_light-gaoliangshan 8.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,2},{56,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,25}}</string>
			<key>sourceSize</key>
			<string>{56,25}</string>
		</dict>
		<key>Title_light-gaoliangshan 9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,56},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Title_light.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b57a2058b74464905e0b13a183c454e9$</string>
		<key>textureFileName</key>
		<string>Title_light.png</string>
	</dict>
</dict>
</plist>
