<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>title_Thelordofthewinter-DRMXG1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,260},{186,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,57}}</string>
			<key>sourceSize</key>
			<string>{186,57}</string>
		</dict>
		<key>title_Thelordofthewinter-DRMXG11.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,120},{187,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,57}}</string>
			<key>sourceSize</key>
			<string>{187,57}</string>
		</dict>
		<key>title_Thelordofthewinter-DRMXG13.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,61},{187,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,57}}</string>
			<key>sourceSize</key>
			<string>{187,57}</string>
		</dict>
		<key>title_Thelordofthewinter-DRMXG15.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,2},{187,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,57}}</string>
			<key>sourceSize</key>
			<string>{187,57}</string>
		</dict>
		<key>title_Thelordofthewinter-DRMXG17.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,437},{185,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,57}}</string>
			<key>sourceSize</key>
			<string>{185,57}</string>
		</dict>
		<key>title_Thelordofthewinter-DRMXG19.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,238},{186,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,57}}</string>
			<key>sourceSize</key>
			<string>{186,57}</string>
		</dict>
		<key>title_Thelordofthewinter-DRMXG21.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,201},{186,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,57}}</string>
			<key>sourceSize</key>
			<string>{186,57}</string>
		</dict>
		<key>title_Thelordofthewinter-DRMXG23.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,179},{186,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,57}}</string>
			<key>sourceSize</key>
			<string>{186,57}</string>
		</dict>
		<key>title_Thelordofthewinter-DRMXG25.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,378},{185,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,57}}</string>
			<key>sourceSize</key>
			<string>{185,57}</string>
		</dict>
		<key>title_Thelordofthewinter-DRMXG27.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,142},{186,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,57}}</string>
			<key>sourceSize</key>
			<string>{186,57}</string>
		</dict>
		<key>title_Thelordofthewinter-DRMXG3.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,319},{185,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,57}}</string>
			<key>sourceSize</key>
			<string>{185,57}</string>
		</dict>
		<key>title_Thelordofthewinter-DRMXG5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,437},{185,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,57}}</string>
			<key>sourceSize</key>
			<string>{185,57}</string>
		</dict>
		<key>title_Thelordofthewinter-DRMXG7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,378},{185,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,57}}</string>
			<key>sourceSize</key>
			<string>{185,57}</string>
		</dict>
		<key>title_Thelordofthewinter-DRMXG9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,319},{185,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,57}}</string>
			<key>sourceSize</key>
			<string>{185,57}</string>
		</dict>
		<key>title_Thelordofthewinter-mao-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,149},{43,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,26}}</string>
			<key>sourceSize</key>
			<string>{43,26}</string>
		</dict>
		<key>title_Thelordofthewinter-mao-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,121},{43,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,26}}</string>
			<key>sourceSize</key>
			<string>{43,26}</string>
		</dict>
		<key>title_Thelordofthewinter-mao-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,33},{44,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,28}}</string>
			<key>sourceSize</key>
			<string>{44,28}</string>
		</dict>
		<key>title_Thelordofthewinter-mao-04.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,2},{44,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,29}}</string>
			<key>sourceSize</key>
			<string>{44,29}</string>
		</dict>
		<key>title_Thelordofthewinter-mao-05.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,92},{43,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,27}}</string>
			<key>sourceSize</key>
			<string>{43,27}</string>
		</dict>
		<key>title_Thelordofthewinter-mao-06.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,63},{43,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,27}}</string>
			<key>sourceSize</key>
			<string>{43,27}</string>
		</dict>
		<key>title_Thelordofthewinter-tu1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{250,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,138}}</string>
			<key>sourceSize</key>
			<string>{250,138}</string>
		</dict>
		<key>title_Thelordofthewinter-xue.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,2},{18,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,17}}</string>
			<key>sourceSize</key>
			<string>{18,17}</string>
		</dict>
		<key>title_Thelordofthewinter-xuehuazc.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,177},{40,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,44}}</string>
			<key>sourceSize</key>
			<string>{40,44}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>title_Thelordofthewinter.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d805789bfbf99b89f6d51ac57c15b854$</string>
		<key>textureFileName</key>
		<string>title_Thelordofthewinter.png</string>
	</dict>
</dict>
</plist>
