<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>title_yinlingchaoliu-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,173},{77,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,55}}</string>
			<key>sourceSize</key>
			<string>{77,55}</string>
		</dict>
		<key>title_yinlingchaoliu-SLH1.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,2},{17,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,13}}</string>
			<key>sourceSize</key>
			<string>{17,13}</string>
		</dict>
		<key>title_yinlingchaoliu-SLH10.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,25},{38,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,20}}</string>
			<key>sourceSize</key>
			<string>{38,20}</string>
		</dict>
		<key>title_yinlingchaoliu-SLH11.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,91},{30,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,11}}</string>
			<key>sourceSize</key>
			<string>{30,11}</string>
		</dict>
		<key>title_yinlingchaoliu-SLH2.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,101},{26,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,19}}</string>
			<key>sourceSize</key>
			<string>{26,19}</string>
		</dict>
		<key>title_yinlingchaoliu-SLH3.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,69},{31,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,20}}</string>
			<key>sourceSize</key>
			<string>{31,20}</string>
		</dict>
		<key>title_yinlingchaoliu-SLH4.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,47},{36,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,20}}</string>
			<key>sourceSize</key>
			<string>{36,20}</string>
		</dict>
		<key>title_yinlingchaoliu-SLH5.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,2},{41,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,21}}</string>
			<key>sourceSize</key>
			<string>{41,21}</string>
		</dict>
		<key>title_yinlingchaoliu-SLH6.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,128},{42,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,22}}</string>
			<key>sourceSize</key>
			<string>{42,22}</string>
		</dict>
		<key>title_yinlingchaoliu-SLH7.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,105},{44,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,21}}</string>
			<key>sourceSize</key>
			<string>{44,21}</string>
		</dict>
		<key>title_yinlingchaoliu-SLH8.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,81},{45,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,22}}</string>
			<key>sourceSize</key>
			<string>{45,22}</string>
		</dict>
		<key>title_yinlingchaoliu-SLH9.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,57},{47,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,22}}</string>
			<key>sourceSize</key>
			<string>{47,22}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL1.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,344},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL10.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,287},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL11.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,230},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL12.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,230},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL13.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,230},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL14.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,418},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL15.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,361},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL16.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,304},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL17.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,247},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL18.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,171},{77,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,55}}</string>
			<key>sourceSize</key>
			<string>{77,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL19.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,418},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL2.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,361},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL20.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,133},{77,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,55}}</string>
			<key>sourceSize</key>
			<string>{77,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL21.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,116},{77,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,55}}</string>
			<key>sourceSize</key>
			<string>{77,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL22.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,116},{77,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,55}}</string>
			<key>sourceSize</key>
			<string>{77,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL23.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,59},{77,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,55}}</string>
			<key>sourceSize</key>
			<string>{77,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL24.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,304},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL25.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,247},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL26.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,399},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL27.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,342},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL28.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,285},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL29.png</key>
		<dict>
			<key>frame</key>
			<string>{{393,173},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL3.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,173},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,228},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL5.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,59},{77,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,55}}</string>
			<key>sourceSize</key>
			<string>{77,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL7.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,2},{77,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,55}}</string>
			<key>sourceSize</key>
			<string>{77,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL8.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,2},{77,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,55}}</string>
			<key>sourceSize</key>
			<string>{77,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCL9.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,190},{76,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,55}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCLD.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,2},{114,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,129}}</string>
			<key>sourceSize</key>
			<string>{114,129}</string>
		</dict>
		<key>title_yinlingchaoliu-YLCLZ.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{169,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,53}}</string>
			<key>sourceSize</key>
			<string>{169,53}</string>
		</dict>
		<key>title_yinlingchaoliu-bianshenqiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,69},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>title_yinlingchaoliu-dikuagn.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,57},{109,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,112}}</string>
			<key>sourceSize</key>
			<string>{109,112}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>title_yinlingchaoliu.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:714eece38220bb2a3c0a93e1bf3239fb$</string>
		<key>textureFileName</key>
		<string>title_yinlingchaoliu.png</string>
	</dict>
</dict>
</plist>
