<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>TitleIcon_10101.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,213},{48,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{48,26}}</string>
			<key>sourceSize</key>
			<string>{50,26}</string>
		</dict>
		<key>TitleIcon_10102.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,185},{48,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{48,26}}</string>
			<key>sourceSize</key>
			<string>{50,26}</string>
		</dict>
		<key>TitleIcon_10103.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,157},{48,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{48,26}}</string>
			<key>sourceSize</key>
			<string>{50,26}</string>
		</dict>
		<key>TitleIcon_10104.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,129},{48,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{48,26}}</string>
			<key>sourceSize</key>
			<string>{50,26}</string>
		</dict>
		<key>TitleIcon_10201.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,348},{128,36}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{128,36}}</string>
			<key>sourceSize</key>
			<string>{132,48}</string>
		</dict>
		<key>TitleIcon_10202.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,280},{168,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,52}}</string>
			<key>sourceSize</key>
			<string>{168,52}</string>
		</dict>
		<key>TitleIcon_10203.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,101},{48,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,26}}</string>
			<key>sourceSize</key>
			<string>{50,26}</string>
		</dict>
		<key>TitleIcon_10204.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,508},{110,36}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,36}}</string>
			<key>sourceSize</key>
			<string>{110,44}</string>
		</dict>
		<key>TitleIcon_10205.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,406},{120,40}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,40}}</string>
			<key>sourceSize</key>
			<string>{120,50}</string>
		</dict>
		<key>TitleIcon_10206.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,476},{70,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{70,26}}</string>
			<key>sourceSize</key>
			<string>{72,26}</string>
		</dict>
		<key>TitleIcon_10207.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,458},{120,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,38}}</string>
			<key>sourceSize</key>
			<string>{120,38}</string>
		</dict>
		<key>TitleIcon_10208.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,317},{83,31}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{83,31}}</string>
			<key>sourceSize</key>
			<string>{85,31}</string>
		</dict>
		<key>TitleIcon_10209.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,334},{164,54}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,54}}</string>
			<key>sourceSize</key>
			<string>{164,56}</string>
		</dict>
		<key>TitleIcon_10301.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,448},{138,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{138,26}}</string>
			<key>sourceSize</key>
			<string>{140,26}</string>
		</dict>
		<key>TitleIcon_10302.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,361},{162,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,26}}</string>
			<key>sourceSize</key>
			<string>{164,26}</string>
		</dict>
		<key>TitleIcon_10303.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,448},{138,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{138,26}}</string>
			<key>sourceSize</key>
			<string>{140,26}</string>
		</dict>
		<key>TitleIcon_10304.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,449},{138,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{138,26}}</string>
			<key>sourceSize</key>
			<string>{140,26}</string>
		</dict>
		<key>TitleIcon_10305.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,440},{138,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{138,26}}</string>
			<key>sourceSize</key>
			<string>{140,26}</string>
		</dict>
		<key>TitleIcon_10306.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,498},{70,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{70,26}}</string>
			<key>sourceSize</key>
			<string>{72,26}</string>
		</dict>
		<key>TitleIcon_10307.png</key>
		<dict>
			<key>frame</key>
			<string>{{656,200},{102,42}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,42}}</string>
			<key>sourceSize</key>
			<string>{102,44}</string>
		</dict>
		<key>TitleIcon_10308.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,389},{159,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,54}}</string>
			<key>sourceSize</key>
			<string>{159,54}</string>
		</dict>
		<key>TitleIcon_10309.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,373},{94,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,26}}</string>
			<key>sourceSize</key>
			<string>{96,26}</string>
		</dict>
		<key>TitleIcon_10310.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,468},{134,34}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{134,34}}</string>
			<key>sourceSize</key>
			<string>{134,44}</string>
		</dict>
		<key>TitleIcon_10311.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,445},{154,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,78}}</string>
			<key>sourceSize</key>
			<string>{154,78}</string>
		</dict>
		<key>TitleIcon_10312.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,308},{132,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,38}}</string>
			<key>sourceSize</key>
			<string>{132,38}</string>
		</dict>
		<key>TitleIcon_10313.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,480},{116,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,26}}</string>
			<key>sourceSize</key>
			<string>{116,26}</string>
		</dict>
		<key>TitleIcon_10314.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,412},{138,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{138,26}}</string>
			<key>sourceSize</key>
			<string>{140,26}</string>
		</dict>
		<key>TitleIcon_10401.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,354},{160,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{160,56}}</string>
			<key>sourceSize</key>
			<string>{160,58}</string>
		</dict>
		<key>TitleIcon_10402.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,476},{70,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{70,26}}</string>
			<key>sourceSize</key>
			<string>{72,26}</string>
		</dict>
		<key>TitleIcon_10403.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,329},{162,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,30}}</string>
			<key>sourceSize</key>
			<string>{162,30}</string>
		</dict>
		<key>TitleIcon_10404.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,477},{70,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{70,26}}</string>
			<key>sourceSize</key>
			<string>{72,26}</string>
		</dict>
		<key>TitleIcon_10405.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,439},{112,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,39}}</string>
			<key>sourceSize</key>
			<string>{112,39}</string>
		</dict>
		<key>TitleIcon_10406.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,390},{152,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,56}}</string>
			<key>sourceSize</key>
			<string>{152,56}</string>
		</dict>
		<key>TitleIcon_10407.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,477},{70,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{70,26}}</string>
			<key>sourceSize</key>
			<string>{72,26}</string>
		</dict>
		<key>TitleIcon_10501.png</key>
		<dict>
			<key>frame</key>
			<string>{{921,345},{94,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,26}}</string>
			<key>sourceSize</key>
			<string>{96,26}</string>
		</dict>
		<key>TitleIcon_10502.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,400},{150,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,56}}</string>
			<key>sourceSize</key>
			<string>{150,56}</string>
		</dict>
		<key>TitleIcon_10601.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,317},{94,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,26}}</string>
			<key>sourceSize</key>
			<string>{96,26}</string>
		</dict>
		<key>TitleIcon_10602.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,289},{94,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,26}}</string>
			<key>sourceSize</key>
			<string>{96,26}</string>
		</dict>
		<key>TitleIcon_10701.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,378},{70,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{70,26}}</string>
			<key>sourceSize</key>
			<string>{72,26}</string>
		</dict>
		<key>TitleIcon_10702.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,401},{113,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,36}}</string>
			<key>sourceSize</key>
			<string>{113,36}</string>
		</dict>
		<key>TitleIcon_10703.png</key>
		<dict>
			<key>frame</key>
			<string>{{942,241},{77,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,46}}</string>
			<key>sourceSize</key>
			<string>{77,46}</string>
		</dict>
		<key>TitleIcon_10704.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,386},{143,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,61}}</string>
			<key>sourceSize</key>
			<string>{143,61}</string>
		</dict>
		<key>TitleIcon_10705.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,356},{154,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,42}}</string>
			<key>sourceSize</key>
			<string>{154,42}</string>
		</dict>
		<key>TitleIcon_10706.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,350},{70,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{70,26}}</string>
			<key>sourceSize</key>
			<string>{72,26}</string>
		</dict>
		<key>TitleIcon_10707.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,280},{83,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,35}}</string>
			<key>sourceSize</key>
			<string>{83,35}</string>
		</dict>
		<key>TitleIcon_10708.png</key>
		<dict>
			<key>frame</key>
			<string>{{656,244},{99,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,62}}</string>
			<key>sourceSize</key>
			<string>{99,62}</string>
		</dict>
		<key>TitleIcon_10709.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,281},{164,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,71}}</string>
			<key>sourceSize</key>
			<string>{164,71}</string>
		</dict>
		<key>TitleIcon_10712.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,184},{202,94}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,94}}</string>
			<key>sourceSize</key>
			<string>{204,94}</string>
		</dict>
		<key>TitleIcon_10713.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,2},{255,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,180}}</string>
			<key>sourceSize</key>
			<string>{255,180}</string>
		</dict>
		<key>TitleIcon_10801.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,2},{241,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,104}}</string>
			<key>sourceSize</key>
			<string>{241,104}</string>
		</dict>
		<key>TitleIcon_10802.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,2},{226,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,97}}</string>
			<key>sourceSize</key>
			<string>{226,97}</string>
		</dict>
		<key>TitleIcon_10803.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,108},{204,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,90}}</string>
			<key>sourceSize</key>
			<string>{204,90}</string>
		</dict>
		<key>TitleIcon_10804.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{256,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,107}}</string>
			<key>sourceSize</key>
			<string>{256,107}</string>
		</dict>
		<key>TitleIcon_10805.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,101},{210,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,116}}</string>
			<key>sourceSize</key>
			<string>{210,116}</string>
		</dict>
		<key>TitleIcon_10806.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,200},{196,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,79}}</string>
			<key>sourceSize</key>
			<string>{196,79}</string>
		</dict>
		<key>TitleIcon_10904.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,219},{180,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,53}}</string>
			<key>sourceSize</key>
			<string>{180,53}</string>
		</dict>
		<key>TitleIcon_10905.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,274},{169,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,53}}</string>
			<key>sourceSize</key>
			<string>{169,53}</string>
		</dict>
		<key>TitleIcon_10906.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,111},{250,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,122}}</string>
			<key>sourceSize</key>
			<string>{250,122}</string>
		</dict>
		<key>TitleIcon_10907.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,235},{198,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,119}}</string>
			<key>sourceSize</key>
			<string>{198,119}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>TitleIconUI.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1c7f5f182dc2aad2b6ea28fa751d6a67$</string>
		<key>textureFileName</key>
		<string>TitleIconUI.png</string>
	</dict>
</dict>
</plist>
