<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ExpBar.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1000},{156,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{156,20}}</string>
			<key>sourceSize</key>
			<string>{160,24}</string>
		</dict>
		<key>PetTotem_Btn_clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,930},{174,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,86}}</string>
			<key>sourceSize</key>
			<string>{174,86}</string>
		</dict>
		<key>PetTotem_Btn_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,842},{174,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,86}}</string>
			<key>sourceSize</key>
			<string>{174,86}</string>
		</dict>
		<key>PetTotem_Btn_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,860},{174,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,86}}</string>
			<key>sourceSize</key>
			<string>{174,86}</string>
		</dict>
		<key>RomanNumeral_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,896},{14,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,26}}</string>
			<key>sourceSize</key>
			<string>{14,26}</string>
		</dict>
		<key>RomanNumeral_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,868},{22,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,26}}</string>
			<key>sourceSize</key>
			<string>{22,26}</string>
		</dict>
		<key>RomanNumeral_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,896},{18,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,26}}</string>
			<key>sourceSize</key>
			<string>{18,26}</string>
		</dict>
		<key>RomanNumeral_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,840},{22,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,26}}</string>
			<key>sourceSize</key>
			<string>{22,26}</string>
		</dict>
		<key>RomanNumeral_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,948},{24,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,26}}</string>
			<key>sourceSize</key>
			<string>{24,26}</string>
		</dict>
		<key>RomanNumeral_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,976},{22,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,26}}</string>
			<key>sourceSize</key>
			<string>{22,26}</string>
		</dict>
		<key>RomanNumeral_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,976},{24,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,26}}</string>
			<key>sourceSize</key>
			<string>{24,26}</string>
		</dict>
		<key>RomanNumeral_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,948},{24,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,26}}</string>
			<key>sourceSize</key>
			<string>{24,26}</string>
		</dict>
		<key>RomanNumeral_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,948},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>RomanNumeral_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,948},{24,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,26}}</string>
			<key>sourceSize</key>
			<string>{24,26}</string>
		</dict>
		<key>totem_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,2},{131,416}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,17},{131,416}}</string>
			<key>sourceSize</key>
			<string>{131,434}</string>
		</dict>
		<key>totem_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,438},{153,420}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{153,420}}</string>
			<key>sourceSize</key>
			<string>{153,434}</string>
		</dict>
		<key>totem_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,630},{67,242}}</string>
			<key>offset</key>
			<string>{0,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,13},{67,242}}</string>
			<key>sourceSize</key>
			<string>{71,314}</string>
		</dict>
		<key>totem_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,422},{153,418}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{153,418}}</string>
			<key>sourceSize</key>
			<string>{153,434}</string>
		</dict>
		<key>totem_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,630},{67,298}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,11},{67,298}}</string>
			<key>sourceSize</key>
			<string>{71,314}</string>
		</dict>
		<key>totem_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,422},{153,416}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,18},{153,416}}</string>
			<key>sourceSize</key>
			<string>{153,434}</string>
		</dict>
		<key>totem_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,316},{71,312}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{71,312}}</string>
			<key>sourceSize</key>
			<string>{71,314}</string>
		</dict>
		<key>totem_4_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,2},{158,418}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{158,418}}</string>
			<key>sourceSize</key>
			<string>{158,434}</string>
		</dict>
		<key>totem_4_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,2},{71,306}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{71,306}}</string>
			<key>sourceSize</key>
			<string>{71,314}</string>
		</dict>
		<key>totem_5_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{153,434}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,434}}</string>
			<key>sourceSize</key>
			<string>{153,434}</string>
		</dict>
		<key>totem_5_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,2},{71,312}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{71,312}}</string>
			<key>sourceSize</key>
			<string>{71,314}</string>
		</dict>
		<key>totem_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,948},{90,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,50}}</string>
			<key>sourceSize</key>
			<string>{90,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ToTemUI.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ff74194084676b1d2c2ea4f57a337dbb$</string>
		<key>textureFileName</key>
		<string>ToTemUI.png</string>
	</dict>
</dict>
</plist>
