<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Treatment_light-ab1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Treatment_light-ab3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,98},{93,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,93}}</string>
			<key>sourceSize</key>
			<string>{93,93}</string>
		</dict>
		<key>Treatment_light-ab5.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,96},{93,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,92}}</string>
			<key>sourceSize</key>
			<string>{93,92}</string>
		</dict>
		<key>Treatment_light-ab6.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,2},{93,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,92}}</string>
			<key>sourceSize</key>
			<string>{93,92}</string>
		</dict>
		<key>Treatment_light-xing_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,193},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Treatment_light.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fd67e870b83cd09bf22b21b5063cb5f0$</string>
		<key>textureFileName</key>
		<string>Treatment_light.png</string>
	</dict>
</dict>
</plist>
