<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>UIAnimation_turn-ggguangyun.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{93,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,92}}</string>
			<key>sourceSize</key>
			<string>{93,92}</string>
		</dict>
		<key>UIAnimation_turn-leidian 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,146},{15,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,13}}</string>
			<key>sourceSize</key>
			<string>{15,13}</string>
		</dict>
		<key>UIAnimation_turn-leidian 10.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,143},{17,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,12}}</string>
			<key>sourceSize</key>
			<string>{17,12}</string>
		</dict>
		<key>UIAnimation_turn-leidian 11.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,143},{10,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,9}}</string>
			<key>sourceSize</key>
			<string>{10,9}</string>
		</dict>
		<key>UIAnimation_turn-leidian 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,125},{21,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,16}}</string>
			<key>sourceSize</key>
			<string>{21,16}</string>
		</dict>
		<key>UIAnimation_turn-leidian 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,93},{30,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,26}}</string>
			<key>sourceSize</key>
			<string>{30,26}</string>
		</dict>
		<key>UIAnimation_turn-leidian 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,60},{31,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,26}}</string>
			<key>sourceSize</key>
			<string>{31,26}</string>
		</dict>
		<key>UIAnimation_turn-leidian 7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,137},{48,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,43}}</string>
			<key>sourceSize</key>
			<string>{48,43}</string>
		</dict>
		<key>UIAnimation_turn-leidian 8.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,2},{37,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,28}}</string>
			<key>sourceSize</key>
			<string>{37,28}</string>
		</dict>
		<key>UIAnimation_turn-leidian 9.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,41},{28,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,17}}</string>
			<key>sourceSize</key>
			<string>{28,17}</string>
		</dict>
		<key>UIAnimation_turn-leidian5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,96},{49,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,39}}</string>
			<key>sourceSize</key>
			<string>{49,39}</string>
		</dict>
		<key>UIAnimation_turn-leidian6.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,96},{48,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,41}}</string>
			<key>sourceSize</key>
			<string>{48,41}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UIAnimation_turn.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1854d68b016a06089e1e78a606ab9ecc$</string>
		<key>textureFileName</key>
		<string>UIAnimation_turn.png</string>
	</dict>
</dict>
</plist>
