<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>UseItemAnimation-sprite 18.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{45,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,44}}</string>
			<key>sourceSize</key>
			<string>{45,44}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UseItemAnimation.png</string>
		<key>size</key>
		<string>{64,64}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:180fbded4d2499d376f7eba10737f257$</string>
		<key>textureFileName</key>
		<string>UseItemAnimation.png</string>
	</dict>
</dict>
</plist>
