<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Vampire_skill-bianfu1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,880},{78,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,40}}</string>
			<key>sourceSize</key>
			<string>{78,40}</string>
		</dict>
		<key>Vampire_skill-bianfu2.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,307},{62,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,53}}</string>
			<key>sourceSize</key>
			<string>{62,53}</string>
		</dict>
		<key>Vampire_skill-bianfu3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,703},{53,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,57}}</string>
			<key>sourceSize</key>
			<string>{53,57}</string>
		</dict>
		<key>Vampire_skill-bianfu4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,762},{61,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,44}}</string>
			<key>sourceSize</key>
			<string>{61,44}</string>
		</dict>
		<key>Vampire_skill-qe3.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,156},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>Vampire_skill-qe4.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,184},{64,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,65}}</string>
			<key>sourceSize</key>
			<string>{64,65}</string>
		</dict>
		<key>Vampire_skill-xxbjA1.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,164},{34,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,30}}</string>
			<key>sourceSize</key>
			<string>{34,30}</string>
		</dict>
		<key>Vampire_skill-xxbjA2.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,362},{61,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,50}}</string>
			<key>sourceSize</key>
			<string>{61,50}</string>
		</dict>
		<key>Vampire_skill-xxbjA3.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,251},{65,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,54}}</string>
			<key>sourceSize</key>
			<string>{65,54}</string>
		</dict>
		<key>Vampire_skill-xxbjA4.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,441},{73,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,58}}</string>
			<key>sourceSize</key>
			<string>{73,58}</string>
		</dict>
		<key>Vampire_skill-xxbjA5.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,859},{50,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,41}}</string>
			<key>sourceSize</key>
			<string>{50,41}</string>
		</dict>
		<key>Vampire_skill-xxbjB1.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,196},{34,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,29}}</string>
			<key>sourceSize</key>
			<string>{34,29}</string>
		</dict>
		<key>Vampire_skill-xxbjB2.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,501},{77,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,53}}</string>
			<key>sourceSize</key>
			<string>{77,53}</string>
		</dict>
		<key>Vampire_skill-xxbjB3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,808},{60,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,35}}</string>
			<key>sourceSize</key>
			<string>{60,35}</string>
		</dict>
		<key>Vampire_skill-xxbjB4.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,227},{32,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,18}}</string>
			<key>sourceSize</key>
			<string>{32,18}</string>
		</dict>
		<key>Vampire_skill-xxbjB5.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,247},{31,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,17}}</string>
			<key>sourceSize</key>
			<string>{31,17}</string>
		</dict>
		<key>Vampire_skill-xxbjB6.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,183},{28,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,16}}</string>
			<key>sourceSize</key>
			<string>{28,16}</string>
		</dict>
		<key>Vampire_skill-xxgz1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,935},{116,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,83}}</string>
			<key>sourceSize</key>
			<string>{116,83}</string>
		</dict>
		<key>Vampire_skill-xxgz2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{164,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,160}}</string>
			<key>sourceSize</key>
			<string>{164,160}</string>
		</dict>
		<key>Vampire_skill-xxgz3.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,2},{150,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,152}}</string>
			<key>sourceSize</key>
			<string>{150,152}</string>
		</dict>
		<key>Vampire_skill-xxgz4.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,709},{114,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,148}}</string>
			<key>sourceSize</key>
			<string>{114,148}</string>
		</dict>
		<key>Vampire_skill-xxgz5.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,414},{87,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,143}}</string>
			<key>sourceSize</key>
			<string>{87,143}</string>
		</dict>
		<key>Vampire_skill-xxgz6.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,698},{88,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,133}}</string>
			<key>sourceSize</key>
			<string>{88,133}</string>
		</dict>
		<key>Vampire_skill-xxgz7.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,833},{89,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,100}}</string>
			<key>sourceSize</key>
			<string>{89,100}</string>
		</dict>
		<key>Vampire_skill-xxss1.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,341},{82,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,98}}</string>
			<key>sourceSize</key>
			<string>{82,98}</string>
		</dict>
		<key>Vampire_skill-xxss2.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,559},{88,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,137}}</string>
			<key>sourceSize</key>
			<string>{88,137}</string>
		</dict>
		<key>Vampire_skill-xxss3.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,740},{100,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,138}}</string>
			<key>sourceSize</key>
			<string>{100,138}</string>
		</dict>
		<key>Vampire_skill-xxss4.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,859},{118,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,133}}</string>
			<key>sourceSize</key>
			<string>{118,133}</string>
		</dict>
		<key>Vampire_skill-xxss5.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,880},{111,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,137}}</string>
			<key>sourceSize</key>
			<string>{111,137}</string>
		</dict>
		<key>Vampire_skill-xxss6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,532},{110,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,132}}</string>
			<key>sourceSize</key>
			<string>{110,132}</string>
		</dict>
		<key>Vampire_skill-xxz1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,666},{76,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,35}}</string>
			<key>sourceSize</key>
			<string>{76,35}</string>
		</dict>
		<key>Vampire_skill-xxz10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,348},{110,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,182}}</string>
			<key>sourceSize</key>
			<string>{110,182}</string>
		</dict>
		<key>Vampire_skill-xxz11.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,373},{102,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,183}}</string>
			<key>sourceSize</key>
			<string>{102,183}</string>
		</dict>
		<key>Vampire_skill-xxz12.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,556},{95,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,183}}</string>
			<key>sourceSize</key>
			<string>{95,183}</string>
		</dict>
		<key>Vampire_skill-xxz13.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,2},{26,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,180}}</string>
			<key>sourceSize</key>
			<string>{26,180}</string>
		</dict>
		<key>Vampire_skill-xxz14.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,2},{20,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,180}}</string>
			<key>sourceSize</key>
			<string>{20,180}</string>
		</dict>
		<key>Vampire_skill-xxz15.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,2},{4,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,171}}</string>
			<key>sourceSize</key>
			<string>{4,171}</string>
		</dict>
		<key>Vampire_skill-xxz2.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,741},{111,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,99}}</string>
			<key>sourceSize</key>
			<string>{111,99}</string>
		</dict>
		<key>Vampire_skill-xxz3.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,2},{118,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,185}}</string>
			<key>sourceSize</key>
			<string>{118,185}</string>
		</dict>
		<key>Vampire_skill-xxz4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,164},{114,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,182}}</string>
			<key>sourceSize</key>
			<string>{114,182}</string>
		</dict>
		<key>Vampire_skill-xxz5.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,189},{118,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,182}}</string>
			<key>sourceSize</key>
			<string>{118,182}</string>
		</dict>
		<key>Vampire_skill-xxz6.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,524},{101,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,183}}</string>
			<key>sourceSize</key>
			<string>{101,183}</string>
		</dict>
		<key>Vampire_skill-xxz7.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,558},{100,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,180}}</string>
			<key>sourceSize</key>
			<string>{100,180}</string>
		</dict>
		<key>Vampire_skill-xxz8.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,341},{111,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,181}}</string>
			<key>sourceSize</key>
			<string>{111,181}</string>
		</dict>
		<key>Vampire_skill-xxz9.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,156},{118,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,183}}</string>
			<key>sourceSize</key>
			<string>{118,183}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Vampire_skill.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:759bc41a8d6f1015e01295e48170683d$</string>
		<key>textureFileName</key>
		<string>Vampire_skill.png</string>
	</dict>
</dict>
</plist>
