<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Vampire_hitted-dfsdfsdf.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,98},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>Vampire_hitted-pop.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,83},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>Vampire_hitted-xxbjA1.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,2},{34,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,30}}</string>
			<key>sourceSize</key>
			<string>{34,30}</string>
		</dict>
		<key>Vampire_hitted-xxbjA2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,173},{62,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,50}}</string>
			<key>sourceSize</key>
			<string>{62,50}</string>
		</dict>
		<key>Vampire_hitted-xxbjA3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,117},{66,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,54}}</string>
			<key>sourceSize</key>
			<string>{66,54}</string>
		</dict>
		<key>Vampire_hitted-xxbjA4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,57},{74,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,58}}</string>
			<key>sourceSize</key>
			<string>{74,58}</string>
		</dict>
		<key>Vampire_hitted-xxbjA5.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,118},{50,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,41}}</string>
			<key>sourceSize</key>
			<string>{50,41}</string>
		</dict>
		<key>Vampire_hitted-xxbjB1.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,53},{32,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>Vampire_hitted-xxbjB2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{77,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,53}}</string>
			<key>sourceSize</key>
			<string>{77,53}</string>
		</dict>
		<key>Vampire_hitted-xxbjB3.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,173},{59,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,35}}</string>
			<key>sourceSize</key>
			<string>{59,35}</string>
		</dict>
		<key>Vampire_hitted-xxbjB4.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,34},{33,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,17}}</string>
			<key>sourceSize</key>
			<string>{33,17}</string>
		</dict>
		<key>Vampire_hitted-xxbjB5.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,83},{32,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,16}}</string>
			<key>sourceSize</key>
			<string>{32,16}</string>
		</dict>
		<key>Vampire_hitted-xxbjB6.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,101},{27,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,15}}</string>
			<key>sourceSize</key>
			<string>{27,15}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Vampire_hitted.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8c8cb2dccfa8c0cb0dc4c438cea60a25$</string>
		<key>textureFileName</key>
		<string>Vampire_hitted.png</string>
	</dict>
</dict>
</plist>
