<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Virgo_skill-beiji1.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,2},{68,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,77}}</string>
			<key>sourceSize</key>
			<string>{68,77}</string>
		</dict>
		<key>Virgo_skill-beiji2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,128},{80,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,77}}</string>
			<key>sourceSize</key>
			<string>{80,77}</string>
		</dict>
		<key>Virgo_skill-beiji3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,50},{81,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,76}}</string>
			<key>sourceSize</key>
			<string>{81,76}</string>
		</dict>
		<key>Virgo_skill-beiji4.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,2},{81,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,77}}</string>
			<key>sourceSize</key>
			<string>{81,77}</string>
		</dict>
		<key>Virgo_skill-beiji5.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,128},{79,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,72}}</string>
			<key>sourceSize</key>
			<string>{79,72}</string>
		</dict>
		<key>Virgo_skill-beiji6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,207},{60,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,45}}</string>
			<key>sourceSize</key>
			<string>{60,45}</string>
		</dict>
		<key>Virgo_skill-zhuagaoliang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{98,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,46}}</string>
			<key>sourceSize</key>
			<string>{98,46}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Virgo_skill.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:940ce640957bc023b2295551fe6197c4$</string>
		<key>textureFileName</key>
		<string>Virgo_skill.png</string>
	</dict>
</dict>
</plist>
