<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>waiting_circle-LDG1.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,66},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>waiting_circle-LDG10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,68},{29,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,30}}</string>
			<key>sourceSize</key>
			<string>{29,30}</string>
		</dict>
		<key>waiting_circle-LDG11.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,66},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>waiting_circle-LDG12.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,34},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>waiting_circle-LDG2.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,2},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>waiting_circle-LDG3.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,34},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>waiting_circle-LDG4.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,2},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>waiting_circle-LDG5.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,66},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>waiting_circle-LDG6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,35},{28,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,31}}</string>
			<key>sourceSize</key>
			<string>{28,31}</string>
		</dict>
		<key>waiting_circle-LDG7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{28,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,31}}</string>
			<key>sourceSize</key>
			<string>{28,31}</string>
		</dict>
		<key>waiting_circle-LDG8.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,34},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>waiting_circle-LDG9.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,2},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>waiting_circle.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:13b3b1e74707adb22ee368da5771da5b$</string>
		<key>textureFileName</key>
		<string>waiting_circle.png</string>
	</dict>
</dict>
</plist>
