<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>weapon_Christmas-ck_Christmas.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,2},{43,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,112}}</string>
			<key>sourceSize</key>
			<string>{43,112}</string>
		</dict>
		<key>weapon_Christmas-fs_Christmas.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{59,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,186}}</string>
			<key>sourceSize</key>
			<string>{59,186}</string>
		</dict>
		<key>weapon_Christmas-js_Christmas.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,190},{162,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,55}}</string>
			<key>sourceSize</key>
			<string>{162,55}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>weapon_Christmas.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a5f5d31aa52378c19d337506c3d8c55e$</string>
		<key>textureFileName</key>
		<string>weapon_Christmas.png</string>
	</dict>
</dict>
</plist>
