<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>weapon_Virgo-weapon-ck_Virgo.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,70},{58,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,110}}</string>
			<key>sourceSize</key>
			<string>{58,110}</string>
		</dict>
		<key>weapon_Virgo-weapon-fs_Virgo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{76,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,220}}</string>
			<key>sourceSize</key>
			<string>{76,220}</string>
		</dict>
		<key>weapon_Virgo-weapon-zs_Virgo.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,2},{156,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,66}}</string>
			<key>sourceSize</key>
			<string>{156,66}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>weapon_Virgo.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a6077b0513c73d8f11524b9db3f97043$</string>
		<key>textureFileName</key>
		<string>weapon_Virgo.png</string>
	</dict>
</dict>
</plist>
