<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>weapon_SpringFestival-weapon-ck_chunjie.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{26,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,97}}</string>
			<key>sourceSize</key>
			<string>{26,97}</string>
		</dict>
		<key>weapon_SpringFestival-weapon-fs_chunjie.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,30},{55,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,195}}</string>
			<key>sourceSize</key>
			<string>{55,195}</string>
		</dict>
		<key>weapon_SpringFestival-weapon-zs_chunjie.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,30},{164,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,47}}</string>
			<key>sourceSize</key>
			<string>{164,47}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>weapon_SpringFestival.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:37680398b0e532aa8348b1a58c5af014$</string>
		<key>textureFileName</key>
		<string>weapon_SpringFestival.png</string>
	</dict>
</dict>
</plist>
