<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>weapon_bianyi_Vampire-weapon-ck_bianyi_Vampire.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,200},{42,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,111}}</string>
			<key>sourceSize</key>
			<string>{42,111}</string>
		</dict>
		<key>weapon_bianyi_Vampire-weapon-fs_bianyi_Vampire.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{80,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,196}}</string>
			<key>sourceSize</key>
			<string>{80,196}</string>
		</dict>
		<key>weapon_bianyi_Vampire-weapon-zs_bianyi_Vampire.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,2},{184,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,75}}</string>
			<key>sourceSize</key>
			<string>{184,75}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>weapon_bianyi_Vampire.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d76e5f0ca6602cbeb20180483fdb6e9e$</string>
		<key>textureFileName</key>
		<string>weapon_bianyi_Vampire.png</string>
	</dict>
</dict>
</plist>
