<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>weapon_Capricorn-ck_Capricorn.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,58},{40,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,116}}</string>
			<key>sourceSize</key>
			<string>{40,116}</string>
		</dict>
		<key>weapon_Capricorn-fs_Capricorn.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{54,199}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,199}}</string>
			<key>sourceSize</key>
			<string>{54,199}</string>
		</dict>
		<key>weapon_Capricorn-zs_Capricorn.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,2},{178,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,54}}</string>
			<key>sourceSize</key>
			<string>{178,54}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>weapon_Capricorn.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e9bfb76b0e21c1fbe3df2081bf2badf2$</string>
		<key>textureFileName</key>
		<string>weapon_Capricorn.png</string>
	</dict>
</dict>
</plist>
