<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>weapon_fashion-weapon-ck_shengdan.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,73},{47,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,91}}</string>
			<key>sourceSize</key>
			<string>{47,91}</string>
		</dict>
		<key>weapon_fashion-weapon-fs_shengdan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{68,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,186}}</string>
			<key>sourceSize</key>
			<string>{68,186}</string>
		</dict>
		<key>weapon_fashion-weapon-zs_shengdan.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,2},{168,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,69}}</string>
			<key>sourceSize</key>
			<string>{168,69}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>weapon_fashion.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7d5135280bbf602bf2e5cf5817a26516$</string>
		<key>textureFileName</key>
		<string>weapon_fashion.png</string>
	</dict>
</dict>
</plist>
