<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>weapon_Cancer-weapon-ck_Cancer.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,69},{41,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,107}}</string>
			<key>sourceSize</key>
			<string>{41,107}</string>
		</dict>
		<key>weapon_Cancer-weapon-fs_Cancer.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{69,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,206}}</string>
			<key>sourceSize</key>
			<string>{69,206}</string>
		</dict>
		<key>weapon_Cancer-weapon-zs_Cancer.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,2},{173,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,65}}</string>
			<key>sourceSize</key>
			<string>{173,65}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>weapon_Cancer.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a4b05e824ad1b7dc068d5f7ddfb7d166$</string>
		<key>textureFileName</key>
		<string>weapon_Cancer.png</string>
	</dict>
</dict>
</plist>
