<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Yutu_skill-888zizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,350},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>Yutu_skill-chaoxixian.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,213},{8,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,107}}</string>
			<key>sourceSize</key>
			<string>{8,107}</string>
		</dict>
		<key>Yutu_skill-daxingxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,293},{54,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,56}}</string>
			<key>sourceSize</key>
			<string>{54,56}</string>
		</dict>
		<key>Yutu_skill-diguang.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,202},{51,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,51}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>Yutu_skill-disekuai.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,202},{52,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,113}}</string>
			<key>sourceSize</key>
			<string>{52,113}</string>
		</dict>
		<key>Yutu_skill-hxjf1.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,287},{105,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,33}}</string>
			<key>sourceSize</key>
			<string>{105,33}</string>
		</dict>
		<key>Yutu_skill-hxjf10.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,31},{162,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,23}}</string>
			<key>sourceSize</key>
			<string>{162,23}</string>
		</dict>
		<key>Yutu_skill-hxjf2.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,317},{121,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,37}}</string>
			<key>sourceSize</key>
			<string>{121,37}</string>
		</dict>
		<key>Yutu_skill-hxjf3.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,248},{133,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,37}}</string>
			<key>sourceSize</key>
			<string>{133,37}</string>
		</dict>
		<key>Yutu_skill-hxjf4.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,207},{140,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,39}}</string>
			<key>sourceSize</key>
			<string>{140,39}</string>
		</dict>
		<key>Yutu_skill-hxjf5.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,166},{149,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,39}}</string>
			<key>sourceSize</key>
			<string>{149,39}</string>
		</dict>
		<key>Yutu_skill-hxjf6.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,126},{157,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,38}}</string>
			<key>sourceSize</key>
			<string>{157,38}</string>
		</dict>
		<key>Yutu_skill-hxjf7.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,56},{160,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,34}}</string>
			<key>sourceSize</key>
			<string>{160,34}</string>
		</dict>
		<key>Yutu_skill-hxjf8.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,92},{160,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,32}}</string>
			<key>sourceSize</key>
			<string>{160,32}</string>
		</dict>
		<key>Yutu_skill-hxjf9.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,2},{163,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,27}}</string>
			<key>sourceSize</key>
			<string>{163,27}</string>
		</dict>
		<key>Yutu_skill-kbao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,94},{90,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,117}}</string>
			<key>sourceSize</key>
			<string>{90,117}</string>
		</dict>
		<key>Yutu_skill-kbao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,364},{100,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,119}}</string>
			<key>sourceSize</key>
			<string>{100,119}</string>
		</dict>
		<key>Yutu_skill-kbao3.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,213},{79,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,78}}</string>
			<key>sourceSize</key>
			<string>{79,78}</string>
		</dict>
		<key>Yutu_skill-kbao4.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,195},{85,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,85}}</string>
			<key>sourceSize</key>
			<string>{85,85}</string>
		</dict>
		<key>Yutu_skill-kbao5.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,105},{89,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,88}}</string>
			<key>sourceSize</key>
			<string>{89,88}</string>
		</dict>
		<key>Yutu_skill-kbao6.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,2},{85,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,90}}</string>
			<key>sourceSize</key>
			<string>{85,90}</string>
		</dict>
		<key>Yutu_skill-lizifei.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,105},{158,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,95}}</string>
			<key>sourceSize</key>
			<string>{158,95}</string>
		</dict>
		<key>Yutu_skill-liziziilanlanXxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,317},{45,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,41}}</string>
			<key>sourceSize</key>
			<string>{45,41}</string>
		</dict>
		<key>Yutu_skill-qiliu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{254,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,101}}</string>
			<key>sourceSize</key>
			<string>{254,101}</string>
		</dict>
		<key>Yutu_skill-shape 32.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,248},{16,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,26}}</string>
			<key>sourceSize</key>
			<string>{16,26}</string>
		</dict>
		<key>Yutu_skill-shape 33.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,317},{13,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,17}}</string>
			<key>sourceSize</key>
			<string>{13,17}</string>
		</dict>
		<key>Yutu_skill-shape 36.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,336},{13,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,12}}</string>
			<key>sourceSize</key>
			<string>{13,12}</string>
		</dict>
		<key>Yutu_skill-shape 39.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,322},{13,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,14}}</string>
			<key>sourceSize</key>
			<string>{13,14}</string>
		</dict>
		<key>Yutu_skill-shape 41.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,276},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>Yutu_skill-shape 42.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,275},{13,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,22}}</string>
			<key>sourceSize</key>
			<string>{13,22}</string>
		</dict>
		<key>Yutu_skill-shape 43.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,338},{12,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,24}}</string>
			<key>sourceSize</key>
			<string>{12,24}</string>
		</dict>
		<key>Yutu_skill-xiaoxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,293},{21,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,22}}</string>
			<key>sourceSize</key>
			<string>{21,22}</string>
		</dict>
		<key>Yutu_skill-xiguangxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,166},{14,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,107}}</string>
			<key>sourceSize</key>
			<string>{14,107}</string>
		</dict>
		<key>Yutu_skill-zhuguangzhou.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,282},{49,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,114}}</string>
			<key>sourceSize</key>
			<string>{49,114}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Yutu_skill.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:21278a05c3ec30c774ab6de189128f4c$</string>
		<key>textureFileName</key>
		<string>Yutu_skill.png</string>
	</dict>
</dict>
</plist>
