<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,117},{46,40}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{46,40}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>E_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>E_listmenuA.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{193,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,47}}</string>
                <key>sourceSize</key>
                <string>{193,47}</string>
            </dict>
            <key>E_listmenuB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{193,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,47}}</string>
                <key>sourceSize</key>
                <string>{193,47}</string>
            </dict>
            <key>E_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,63},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>E_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>EmoticonList002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,51},{76,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{76,58}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList003.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,181},{56,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{56,54}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList004.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,117},{60,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,192},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{68,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,184},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{62,58}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList007.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,181},{60,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{60,60}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList008.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,181},{58,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{58,58}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList009.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,51},{62,64}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{62,64}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList010.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,111},{64,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{64,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList011.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,117},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList012.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,179},{60,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{60,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList013.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,112},{62,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{62,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList014.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,112},{68,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{68,70}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList015.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,51},{74,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{74,64}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>dialogFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,59}}</string>
                <key>sourceSize</key>
                <string>{238,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Expression.png</string>
            <key>size</key>
            <string>{474,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f081317a6217635d426fccbe8b105586$</string>
            <key>textureFileName</key>
            <string>Expression.png</string>
        </dict>
    </dict>
</plist>
