<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,308},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>0_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,404},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>0_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,42},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>0_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,344},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>0_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,240},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>1_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,487},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>1_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,284},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,180},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>1_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,419},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>2_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,351},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>2_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,497},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,501},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,433},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>Card_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,2},{154,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,192}}</string>
                <key>sourceSize</key>
                <string>{154,192}</string>
            </dict>
            <key>No_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,467},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,501},{4,22}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{4,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,531},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,521},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,184},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,284},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,300},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,322},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,497},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,152},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>Small_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,376},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>Small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,460},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>Small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,376},{54,82}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>Small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,442},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>Small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,445},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>Small_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,460},{60,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>Small_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,461},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>Small_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,461},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>Small_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,470},{60,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>Small_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,464},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>Small_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,464},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>Small_Num_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,525},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Small_Num_-.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,491},{12,4}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{12,4}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>Small_x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,433},{172,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{172,118}}</string>
                <key>sourceSize</key>
                <string>{172,130}</string>
            </dict>
            <key>Small_x100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,2},{304,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,148}}</string>
                <key>sourceSize</key>
                <string>{304,148}</string>
            </dict>
            <key>Small_x15.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,219},{230,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,144}}</string>
                <key>sourceSize</key>
                <string>{230,144}</string>
            </dict>
            <key>Small_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,196},{172,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,130}}</string>
                <key>sourceSize</key>
                <string>{172,130}</string>
            </dict>
            <key>Small_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,152},{172,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,130}}</string>
                <key>sourceSize</key>
                <string>{172,130}</string>
            </dict>
            <key>Small_x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,219},{172,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,130}}</string>
                <key>sourceSize</key>
                <string>{172,130}</string>
            </dict>
            <key>Small_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,365},{172,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,130}}</string>
                <key>sourceSize</key>
                <string>{172,130}</string>
            </dict>
            <key>Small_x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{216,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,128}}</string>
                <key>sourceSize</key>
                <string>{216,128}</string>
            </dict>
            <key>Small_x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,219},{172,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,130}}</string>
                <key>sourceSize</key>
                <string>{172,130}</string>
            </dict>
            <key>The_Rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{649,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{649,180}}</string>
                <key>sourceSize</key>
                <string>{649,180}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,433},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,322},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>back_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,250},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ballBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,2},{140,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,176}}</string>
                <key>sourceSize</key>
                <string>{140,176}</string>
            </dict>
            <key>ball_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,445},{91,115}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,44},{91,115}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>ball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,328},{91,115}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,44},{91,115}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>ball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,328},{91,115}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,38},{91,115}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>ball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,344},{91,115}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,44},{91,115}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>ball_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,433},{91,115}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,38},{91,115}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>ball_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,351},{91,115}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{91,115}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>ball_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,365},{131,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{131,171}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>billboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,184},{510,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,33}}</string>
                <key>sourceSize</key>
                <string>{510,33}</string>
            </dict>
            <key>double_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,468},{121,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{121,93}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>double_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,152},{109,111}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{109,111}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>joystick_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,351},{50,172}}</string>
                <key>offset</key>
                <string>{-5,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,172}}</string>
                <key>sourceSize</key>
                <string>{60,324}</string>
            </dict>
            <key>joystick_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,328},{54,112}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,61},{54,112}}</string>
                <key>sourceSize</key>
                <string>{60,324}</string>
            </dict>
            <key>joystick_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,430},{48,38}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,141},{48,38}}</string>
                <key>sourceSize</key>
                <string>{60,324}</string>
            </dict>
            <key>joystick_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,184},{58,114}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,151},{58,114}}</string>
                <key>sourceSize</key>
                <string>{60,324}</string>
            </dict>
            <key>joystick_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,2},{54,174}}</string>
                <key>offset</key>
                <string>{-3,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,150},{54,174}}</string>
                <key>sourceSize</key>
                <string>{60,324}</string>
            </dict>
            <key>machines.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{672,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,429}}</string>
                <key>sourceSize</key>
                <string>{672,429}</string>
            </dict>
            <key>redball_bright.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>rule_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,178},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>rule_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,376},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>slot_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,184},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>slot_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,462},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>slot_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,394},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SlotMachines.png</string>
            <key>size</key>
            <string>{2038,563}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d0807d48d6954b95429a0861e68659a$</string>
            <key>textureFileName</key>
            <string>SlotMachines.png</string>
        </dict>
    </dict>
</plist>
