<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Box_Light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,246}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{300,246}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>Box_Light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{300,244}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,244}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>Box_Light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,248}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{300,248}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>Coin_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SlotMachines_1.png</string>
            <key>size</key>
            <string>{952,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dacde077f6895bd22fa57cc5c5d7fe3d$</string>
            <key>textureFileName</key>
            <string>SlotMachines_1.png</string>
        </dict>
    </dict>
</plist>
