<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BingBall_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,956},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,957},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,924},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,864},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,804},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,744},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,684},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,624},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,624},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,564},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,564},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,504},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,504},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,444},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,444},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,948},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,928},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,896},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,888},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,868},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,808},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,522},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,462},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,402},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,384},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,384},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,748},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,688},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,628},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,828},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,836},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>SmallBall_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,324},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,289},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,254},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,219},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,984},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,966},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,966},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,984},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,754},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,719},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,684},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,582},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,977},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,942},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,988},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,988},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>Toys_Arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{158,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,76}}</string>
                <key>sourceSize</key>
                <string>{158,76}</string>
            </dict>
            <key>Toys_Baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{269,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,298}}</string>
                <key>sourceSize</key>
                <string>{269,298}</string>
            </dict>
            <key>Toys_Back_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,248},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Toys_Back_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,898},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Toys_Brow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{26,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,8}}</string>
                <key>sourceSize</key>
                <string>{26,8}</string>
            </dict>
            <key>Toys_Bt_1_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,628},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>Toys_Bt_1_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,560},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>Toys_Bt_2_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>Toys_Bt_2_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>Toys_Bt_3_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,248},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>Toys_Bt_3_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,492},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>Toys_Bt_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{492,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,83}}</string>
                <key>sourceSize</key>
                <string>{492,83}</string>
            </dict>
            <key>Toys_D_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,688},{104,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{104,74}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Toys_D_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,870},{104,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{104,70}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Toys_Desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{584,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,244}}</string>
                <key>sourceSize</key>
                <string>{584,244}</string>
            </dict>
            <key>Toys_Desk_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{494,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,157}}</string>
                <key>sourceSize</key>
                <string>{494,157}</string>
            </dict>
            <key>Toys_Desk_Mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,492},{395,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,60}}</string>
                <key>sourceSize</key>
                <string>{395,60}</string>
            </dict>
            <key>Toys_Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{215,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,60}}</string>
                <key>sourceSize</key>
                <string>{215,60}</string>
            </dict>
            <key>Toys_Left_Disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,758},{60,68}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Toys_Left_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,316},{60,66}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{60,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Toys_Left_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,688},{60,68}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Toys_Light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,198},{6,12}}</string>
                <key>offset</key>
                <string>{34,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,5},{6,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,582},{30,12}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{30,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,138},{58,12}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{58,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,998},{36,12}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,6},{36,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{56,12}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{56,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,76},{72,12}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{72,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,78},{58,12}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{58,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,219},{36,12}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,6},{36,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,828},{6,12}}</string>
                <key>offset</key>
                <string>{34,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,5},{6,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{74,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{74,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,150},{56,12}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{56,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{72,12}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{72,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Right_Disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,942},{60,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Toys_Right_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,889},{60,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Toys_Right_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,836},{60,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Toys_S_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,792},{104,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{104,76}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Toys_S_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,764},{104,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{104,70}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CapsuleToys.png</string>
            <key>size</key>
            <string>{678,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80c336676610794542e8850401d0f8f2$</string>
            <key>textureFileName</key>
            <string>CapsuleToys.png</string>
        </dict>
    </dict>
</plist>
