<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DailayTask_Arrow_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,106},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>DailayTask_Blu_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{210,229}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{210,229}}</string>
                <key>sourceSize</key>
                <string>{234,247}</string>
            </dict>
            <key>DailayTask_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{226,245}}</string>
                <key>sourceSize</key>
                <string>{234,247}</string>
            </dict>
            <key>DailayTask_Gray_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{208,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{208,229}}</string>
                <key>sourceSize</key>
                <string>{234,247}</string>
            </dict>
            <key>DailayTask_GreenBtn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,54},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>DailayTask_GreenBtn_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>DailayTask_Prop_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{155,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,32}}</string>
                <key>sourceSize</key>
                <string>{155,32}</string>
            </dict>
            <key>DailayTask_Small_Gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,141},{33,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>DailayTask_Small_Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,159},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RegTaskLayer.png</string>
            <key>size</key>
            <string>{738,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9ab20cea26c8c0e7dc83b1d381c0cde$</string>
            <key>textureFileName</key>
            <string>RegTaskLayer.png</string>
        </dict>
    </dict>
</plist>
