<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prize_-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,712},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,426},{134,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,852},{120,118}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{120,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,568},{126,136}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{126,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,812},{108,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{108,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,568},{126,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{126,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_20075.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_20076.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_20077.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,428},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_20078.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,570},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_20079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_20080.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_20081.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_20082.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_20086.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,570},{108,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{108,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_20087.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,428},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_20088.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,570},{138,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_20089.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,852},{130,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{130,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_20090.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,426},{104,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_20091.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{96,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{96,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_20092.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,144},{86,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{86,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_251.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_252.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_253.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_254.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_255.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,854},{140,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,286},{140,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,428},{140,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_403_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,934},{124,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,35},{124,84}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_403_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,706},{130,104}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{130,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_403_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,712},{118,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{118,122}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_403_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,852},{126,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{126,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,712},{138,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_444.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_465.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_467.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_469.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_471.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>prize_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,710},{114,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{114,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PropItem.png</string>
            <key>size</key>
            <string>{812,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24c1b8c10dc770b525837fd427dea1a2$</string>
            <key>textureFileName</key>
            <string>PropItem.png</string>
        </dict>
    </dict>
</plist>
