<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Coins_406.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{136,134}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,38},{136,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Coins_407.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{150,162}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{150,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Coins_408.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{136,156}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,22},{136,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Coins_409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,168}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{148,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Coins_410.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{172,154}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{172,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Coins_411.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{182,136}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{182,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CoinsRes.png</string>
            <key>size</key>
            <string>{938,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1eb27cee67785b9f0a1b1968d37eda9f$</string>
            <key>textureFileName</key>
            <string>CoinsRes.png</string>
        </dict>
    </dict>
</plist>
