<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cue_0_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,256},{668,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,29}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Cue_42_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,205},{668,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{668,25}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Cue_43_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,178},{668,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{668,25}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Cue_44_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,332},{668,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{668,23}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Cue_45_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,151},{668,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{668,25}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Cue_46_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,124},{668,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{668,25}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Cue_47_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,307},{668,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{668,23}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Cue_48_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,282},{668,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{668,23}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Cue_49_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,97},{668,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{668,25}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Cue_50_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,257},{668,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{668,23}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Cue_51_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,346},{668,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{668,25}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Cue_52_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{668,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{668,27}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Cue_53_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,232},{668,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{668,23}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Cue_54_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,319},{668,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{668,25}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Cue_55_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,225},{668,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,29}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Cue_56_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,66},{668,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,29}}</string>
                <key>sourceSize</key>
                <string>{668,29}</string>
            </dict>
            <key>Cue_57_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,193},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Cue_58_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,161},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Cue_59_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,129},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Cue_60_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,97},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Cue_61_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Cue_62_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Cue_63_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,34},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Cue_64_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Cue_65_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Cue_66_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,287},{664,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>Cue_67_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{668,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,90}}</string>
                <key>sourceSize</key>
                <string>{668,90}</string>
            </dict>
            <key>Cue_68_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{658,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{658,88}}</string>
                <key>sourceSize</key>
                <string>{668,96}</string>
            </dict>
            <key>Cue_69_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{668,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,54}}</string>
                <key>sourceSize</key>
                <string>{668,54}</string>
            </dict>
            <key>Cue_70_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{668,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,96}}</string>
                <key>sourceSize</key>
                <string>{668,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CuesRes.png</string>
            <key>size</key>
            <string>{2013,373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb250db2d3f8291ffae7d913fca4ff55$</string>
            <key>textureFileName</key>
            <string>CuesRes.png</string>
        </dict>
    </dict>
</plist>
