<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cycle_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{134,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{134,134}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Cycle_465.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Cycle_466.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Cycle_467.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Cycle_469.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Cycle_471.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CycleRes.png</string>
            <key>size</key>
            <string>{828,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14d9766b9137200ea5659bf927ada880$</string>
            <key>textureFileName</key>
            <string>CycleRes.png</string>
        </dict>
    </dict>
</plist>
