<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_level_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,80},{253,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,333}}</string>
                <key>sourceSize</key>
                <string>{253,333}</string>
            </dict>
            <key>1_level_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,2},{253,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,333}}</string>
                <key>sourceSize</key>
                <string>{253,333}</string>
            </dict>
            <key>2_level_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{253,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,333}}</string>
                <key>sourceSize</key>
                <string>{253,333}</string>
            </dict>
            <key>3_level_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{253,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,333}}</string>
                <key>sourceSize</key>
                <string>{253,333}</string>
            </dict>
            <key>4_level_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,2},{253,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,333}}</string>
                <key>sourceSize</key>
                <string>{253,333}</string>
            </dict>
            <key>Medals_Icon_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,304},{106,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,48}}</string>
                <key>sourceSize</key>
                <string>{106,48}</string>
            </dict>
            <key>Open_win_medals.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,257},{301,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,33}}</string>
                <key>sourceSize</key>
                <string>{301,33}</string>
            </dict>
            <key>Task_Return_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{68,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{68,26}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>Task_Return_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,80},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>down_arrow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,423},{35,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,20}}</string>
                <key>sourceSize</key>
                <string>{35,20}</string>
            </dict>
            <key>down_arrow_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,423},{35,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,20}}</string>
                <key>sourceSize</key>
                <string>{35,20}</string>
            </dict>
            <key>name_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,423},{102,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,22}}</string>
                <key>sourceSize</key>
                <string>{102,22}</string>
            </dict>
            <key>price_frame_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,380},{252,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{252,50}}</string>
                <key>sourceSize</key>
                <string>{278,76}</string>
            </dict>
            <key>price_frame_yeloow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{278,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,76}}</string>
                <key>sourceSize</key>
                <string>{278,76}</string>
            </dict>
            <key>remind.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,292},{252,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,86}}</string>
                <key>sourceSize</key>
                <string>{252,86}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,423},{16,1362}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{16,1362}}</string>
                <key>sourceSize</key>
                <string>{24,1380}</string>
            </dict>
            <key>score_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,257},{224,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,45}}</string>
                <key>sourceSize</key>
                <string>{224,45}</string>
            </dict>
            <key>sp_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{419,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,379}}</string>
                <key>sourceSize</key>
                <string>{419,379}</string>
            </dict>
            <key>sp_gemstone_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,304},{99,113}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{99,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>sp_gemstone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,257},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>sp_gemstone_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,257},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>sp_gemstone_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,447},{1,1}}</string>
                <key>offset</key>
                <string>{-67,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>sp_pillars.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,257},{152,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,486}}</string>
                <key>sourceSize</key>
                <string>{152,486}</string>
            </dict>
            <key>up_arrow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,423},{35,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,20}}</string>
                <key>sourceSize</key>
                <string>{35,20}</string>
            </dict>
            <key>up_arrow_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,423},{35,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,20}}</string>
                <key>sourceSize</key>
                <string>{35,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShakeGame.png</string>
            <key>size</key>
            <string>{2025,451}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f1fdcd1cc72b0dcc0faab0614b72a5a$</string>
            <key>textureFileName</key>
            <string>ShakeGame.png</string>
        </dict>
    </dict>
</plist>
