<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BallDeskLayer_Cue65.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{1661,100}}</string>
                <key>offset</key>
                <string>{-28,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,63},{1661,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue66.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{1659,100}}</string>
                <key>offset</key>
                <string>{-29,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,63},{1659,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1663,246}}</string>
                <key>offset</key>
                <string>{-19,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,45},{1663,246}}</string>
                <key>sourceSize</key>
                <string>{1731,292}</string>
            </dict>
            <key>BallDeskLayer_Cue68.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{1659,276}}</string>
                <key>offset</key>
                <string>{-29,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,56},{1659,276}}</string>
                <key>sourceSize</key>
                <string>{1731,332}</string>
            </dict>
            <key>BallDeskLayer_Cue69.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{1663,159}}</string>
                <key>offset</key>
                <string>{-27,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,54},{1663,159}}</string>
                <key>sourceSize</key>
                <string>{1731,213}</string>
            </dict>
            <key>BallDeskLayer_Cue70.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{1657,271}}</string>
                <key>offset</key>
                <string>{-26,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,42},{1657,271}}</string>
                <key>sourceSize</key>
                <string>{1731,313}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AllCue_1.png</string>
            <key>size</key>
            <string>{1166,1667}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:972df4ed8a448a8b18761ab3cbfed12a$</string>
            <key>textureFileName</key>
            <string>AllCue_1.png</string>
        </dict>
    </dict>
</plist>
