<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BallDeskLayer_Cue42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1142},{1661,100}}</string>
                <key>offset</key>
                <string>{-27,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{1661,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1041},{1661,100}}</string>
                <key>offset</key>
                <string>{-27,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{1661,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,940},{1661,100}}</string>
                <key>offset</key>
                <string>{-27,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{1661,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,336},{1669,100}}</string>
                <key>offset</key>
                <string>{-31,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{1669,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,536},{1667,100}}</string>
                <key>offset</key>
                <string>{-30,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,63},{1667,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1340},{1659,96}}</string>
                <key>offset</key>
                <string>{-26,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,67},{1659,96}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1243},{1661,96}}</string>
                <key>offset</key>
                <string>{-27,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,67},{1661,96}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,637},{1665,100}}</string>
                <key>offset</key>
                <string>{-31,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,63},{1665,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,839},{1661,100}}</string>
                <key>offset</key>
                <string>{-27,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{1661,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,233},{1669,102}}</string>
                <key>offset</key>
                <string>{-31,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{1669,102}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,124},{1669,108}}</string>
                <key>offset</key>
                <string>{-31,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{1669,108}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,437},{1669,98}}</string>
                <key>offset</key>
                <string>{-31,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{1669,98}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,738},{1661,100}}</string>
                <key>offset</key>
                <string>{-27,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{1661,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1669,122}}</string>
                <key>offset</key>
                <string>{-31,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{1669,122}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,1},{1653,120}}</string>
                <key>offset</key>
                <string>{-23,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,54},{1653,120}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1942},{1655,100}}</string>
                <key>offset</key>
                <string>{-27,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,63},{1655,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,1},{1657,100}}</string>
                <key>offset</key>
                <string>{-32,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,60},{1657,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,1},{1657,100}}</string>
                <key>offset</key>
                <string>{-32,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,63},{1657,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1639},{1657,100}}</string>
                <key>offset</key>
                <string>{-29,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{1657,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1841},{1655,100}}</string>
                <key>offset</key>
                <string>{-27,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,60},{1655,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1740},{1655,100}}</string>
                <key>offset</key>
                <string>{-27,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,63},{1655,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1538},{1657,100}}</string>
                <key>offset</key>
                <string>{-26,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,63},{1657,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
            <key>BallDeskLayer_Cue64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1437},{1657,100}}</string>
                <key>offset</key>
                <string>{-26,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,63},{1657,100}}</string>
                <key>sourceSize</key>
                <string>{1731,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AllCue.png</string>
            <key>size</key>
            <string>{1994,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b40369da84f339a2a46de8205878d709$</string>
            <key>textureFileName</key>
            <string>AllCue.png</string>
        </dict>
    </dict>
</plist>
