<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueConnect_Refresh_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,622},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>BlueConnect_Refresh_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,622},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>_BlueConnect_BgTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,704},{890,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{890,24}}</string>
                <key>sourceSize</key>
                <string>{890,24}</string>
            </dict>
            <key>_BlueConnect_CreatNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,622},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>_BlueConnect_CreatPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,622},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>_BlueConnect_CreateNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,622},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>_BlueConnect_CreatePress.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,622},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>_BlueConnect_HelpNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,622},{142,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,80}}</string>
                <key>sourceSize</key>
                <string>{144,80}</string>
            </dict>
            <key>_BlueConnect_HelpPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,622},{142,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,80}}</string>
                <key>sourceSize</key>
                <string>{144,80}</string>
            </dict>
            <key>_BlueConnect_JoinNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,622},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>_BlueConnect_JoinPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>_Blue_Help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{618,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,576}}</string>
                <key>sourceSize</key>
                <string>{618,576}</string>
            </dict>
            <key>_Blue_Help_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{618,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,576}}</string>
                <key>sourceSize</key>
                <string>{618,576}</string>
            </dict>
            <key>_Blue_Help_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{618,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,576}}</string>
                <key>sourceSize</key>
                <string>{618,576}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BlueSprite_En.png</string>
            <key>size</key>
            <string>{1736,730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c34234c094e3c7aa65b5c3df525b8847$</string>
            <key>textureFileName</key>
            <string>BlueSprite_En.png</string>
        </dict>
    </dict>
</plist>
