<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BingBall_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,904},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,910},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,910},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,878},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,844},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,889},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,850},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,850},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,818},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,790},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,790},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,730},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,670},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,610},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,730},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,670},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,610},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,550},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,490},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,522},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,462},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,430},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,402},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,370},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,310},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,758},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,698},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,638},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,848},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,914},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BingBall_No_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,854},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>SmallBall_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,959},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,964},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,970},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,970},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,970},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,970},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,943},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,943},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,908},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,908},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,827},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,938},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,949},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,924},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,889},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SmallBall_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,792},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>Toys_Arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,492},{158,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,76}}</string>
                <key>sourceSize</key>
                <string>{158,76}</string>
            </dict>
            <key>Toys_Baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{269,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,298}}</string>
                <key>sourceSize</key>
                <string>{269,298}</string>
            </dict>
            <key>Toys_Brow.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,610},{26,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,8}}</string>
                <key>sourceSize</key>
                <string>{26,8}</string>
            </dict>
            <key>Toys_Bt_1_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,248},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>Toys_Bt_1_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>Toys_Bt_2_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,156},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>Toys_Bt_2_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,570},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>Toys_Bt_3_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>Toys_Bt_3_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>Toys_Bt_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{492,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,83}}</string>
                <key>sourceSize</key>
                <string>{492,83}</string>
            </dict>
            <key>Toys_Desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{584,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,244}}</string>
                <key>sourceSize</key>
                <string>{584,244}</string>
            </dict>
            <key>Toys_Desk_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{494,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,157}}</string>
                <key>sourceSize</key>
                <string>{494,157}</string>
            </dict>
            <key>Toys_Desk_Mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,492},{395,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,60}}</string>
                <key>sourceSize</key>
                <string>{395,60}</string>
            </dict>
            <key>Toys_Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{215,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,60}}</string>
                <key>sourceSize</key>
                <string>{215,60}</string>
            </dict>
            <key>Toys_Left_Disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,778},{60,68}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Toys_Left_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,776},{60,66}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{60,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Toys_Left_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,638},{60,68}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Toys_Light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,922},{6,12}}</string>
                <key>offset</key>
                <string>{34,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,5},{6,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,938},{30,12}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{30,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,596},{58,12}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{58,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,384},{36,12}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,6},{36,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,974},{56,12}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{56,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,990},{72,12}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{72,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,582},{58,12}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{58,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,248},{36,12}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,6},{36,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,908},{6,12}}</string>
                <key>offset</key>
                <string>{34,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,5},{6,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{74,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{74,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,792},{56,12}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{56,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Light_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,310},{72,12}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{72,12}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>Toys_Right_Disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,708},{60,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Toys_Right_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,708},{60,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Toys_Right_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,638},{60,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CapsuleToys.png</string>
            <key>size</key>
            <string>{648,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdbb9376142ef062b898a6a2c5dd13dc$</string>
            <key>textureFileName</key>
            <string>CapsuleToys.png</string>
        </dict>
    </dict>
</plist>
