<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Toys_All_Coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,108},{78,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,26}}</string>
                <key>sourceSize</key>
                <string>{78,26}</string>
            </dict>
            <key>Toys_Back_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,78}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,33},{148,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Toys_Back_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{148,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,39},{148,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Toys_Coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{179,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,32}}</string>
                <key>sourceSize</key>
                <string>{179,32}</string>
            </dict>
            <key>Toys_D_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{104,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{104,74}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Toys_D_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,136},{104,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{104,70}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Toys_S_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{104,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{104,76}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Toys_S_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,183},{104,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{104,70}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CapsuleToys_En.png</string>
            <key>size</key>
            <string>{287,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59473ddc1817eacbd929e4513ee4c9e3$</string>
            <key>textureFileName</key>
            <string>CapsuleToys_En.png</string>
        </dict>
    </dict>
</plist>
