<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ConsoleModeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,675}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,675}}</string>
                <key>sourceSize</key>
                <string>{1136,675}</string>
            </dict>
            <key>ConsoleMode_UserBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{1136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,100}}</string>
                <key>sourceSize</key>
                <string>{1136,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ConsoleModeBg.png</string>
            <key>size</key>
            <string>{1140,782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:651c6770dbde3458ac0b4eaccdf565c0$</string>
            <key>textureFileName</key>
            <string>ConsoleModeBg.png</string>
        </dict>
    </dict>
</plist>
