<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fight_Btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{172,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,73}}</string>
                <key>sourceSize</key>
                <string>{172,75}</string>
            </dict>
            <key>Fight_Btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{172,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,73}}</string>
                <key>sourceSize</key>
                <string>{172,75}</string>
            </dict>
            <key>back_Btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{172,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,73}}</string>
                <key>sourceSize</key>
                <string>{172,75}</string>
            </dict>
            <key>back_Btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,176},{172,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,73}}</string>
                <key>sourceSize</key>
                <string>{172,75}</string>
            </dict>
            <key>change_table_Btn_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{172,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,73}}</string>
                <key>sourceSize</key>
                <string>{172,75}</string>
            </dict>
            <key>change_table_Btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{172,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,73}}</string>
                <key>sourceSize</key>
                <string>{172,75}</string>
            </dict>
            <key>change_table_Btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,176},{172,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,73}}</string>
                <key>sourceSize</key>
                <string>{172,75}</string>
            </dict>
            <key>play_again_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{172,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,73}}</string>
                <key>sourceSize</key>
                <string>{172,75}</string>
            </dict>
            <key>play_again_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{172,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,73}}</string>
                <key>sourceSize</key>
                <string>{172,75}</string>
            </dict>
            <key>property_Btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{172,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,73}}</string>
                <key>sourceSize</key>
                <string>{172,75}</string>
            </dict>
            <key>property_Btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,73}}</string>
                <key>sourceSize</key>
                <string>{172,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CrazyBalance_En.png</string>
            <key>size</key>
            <string>{602,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb6200dac26f0ee3f592352da70dc49f$</string>
            <key>textureFileName</key>
            <string>CrazyBalance_En.png</string>
        </dict>
    </dict>
</plist>
