<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EmoticonGif010_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,388},{134,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,136}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>EmoticonGif010_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,388},{134,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,136}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>EmoticonGif010_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,388},{134,138}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,138}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>EmoticonGif010_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,382},{134,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,136}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>EmoticonGif010_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,382},{134,138}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,138}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>EmoticonGif010_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,388},{134,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,136}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>EmoticonGif010_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,388},{134,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,136}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>EmoticonGif010_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,376},{132,138}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>EmoticonGif010_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,246},{132,128}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{132,128}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>EmoticonGif010_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{132,128}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{132,128}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>EmoticonGif011_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,252},{130,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>EmoticonGif011_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,252},{130,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>EmoticonGif011_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,376},{130,130}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>EmoticonGif011_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{130,132}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,132}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>EmoticonGif011_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,256},{130,130}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>EmoticonGif011_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,246},{130,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>EmoticonGif011_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,246},{130,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>EmoticonGif011_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,124},{130,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>EmoticonGif012_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,124},{126,138}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{126,138}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>EmoticonGif012_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,124},{126,138}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{126,138}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>EmoticonGif012_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,124},{126,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{126,140}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>EmoticonGif013_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,524},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>EmoticonGif013_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,524},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>EmoticonGif014_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,518},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>EmoticonGif014_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,518},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>EmoticonGif014_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,510},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>EmoticonGif014_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>EmoticonGif015_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,124},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,124},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,124},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>EmoticonGif015_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EmoticonGif_2.png</string>
            <key>size</key>
            <string>{1006,678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9033666df5abb47454b289c505d85f96$</string>
            <key>textureFileName</key>
            <string>EmoticonGif_2.png</string>
        </dict>
    </dict>
</plist>
