<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EmoticonGif002_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{144,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{144,116}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>EmoticonGif002_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{144,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{144,116}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>EmoticonGif002_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{132,112}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{132,112}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>EmoticonGif002_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{144,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{144,116}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>EmoticonGif002_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{132,112}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{132,112}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>EmoticonGif004_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{140,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,134}}</string>
                <key>sourceSize</key>
                <string>{140,136}</string>
            </dict>
            <key>EmoticonGif004_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{140,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,134}}</string>
                <key>sourceSize</key>
                <string>{140,136}</string>
            </dict>
            <key>EmoticonGif004_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{140,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,134}}</string>
                <key>sourceSize</key>
                <string>{140,136}</string>
            </dict>
            <key>EmoticonGif004_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{140,122}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,122}}</string>
                <key>sourceSize</key>
                <string>{140,136}</string>
            </dict>
            <key>EmoticonGif004_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,134}}</string>
                <key>sourceSize</key>
                <string>{140,136}</string>
            </dict>
            <key>EmoticonGif004_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{140,122}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,122}}</string>
                <key>sourceSize</key>
                <string>{140,136}</string>
            </dict>
            <key>EmoticonGif004_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{140,122}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,122}}</string>
                <key>sourceSize</key>
                <string>{140,136}</string>
            </dict>
            <key>EmoticonGif005_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif005_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif005_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif005_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif005_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif005_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif005_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif005_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif005_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif005_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif005_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif005_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif005_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif005_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif005_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif005_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif005_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{128,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>EmoticonGif006_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,126},{128,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,122}</string>
            </dict>
            <key>EmoticonGif006_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,374},{128,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,122}</string>
            </dict>
            <key>EmoticonGif006_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,264},{128,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,122}</string>
            </dict>
            <key>EmoticonGif006_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,250},{128,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,122}</string>
            </dict>
            <key>EmoticonGif006_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,126},{128,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,122}</string>
            </dict>
            <key>EmoticonGif006_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,140},{128,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,122}</string>
            </dict>
            <key>EmoticonGif008_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,120},{122,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,120},{122,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,120},{122,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,120},{122,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,384},{122,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,384},{122,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,256},{122,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,256},{122,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,248},{116,122}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{116,122}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,248},{116,122}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{116,122}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,240},{116,122}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{116,122}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,240},{116,122}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{116,122}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,364},{116,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{116,118}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,364},{116,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{116,118}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,116},{116,122}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{116,122}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,116},{116,122}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{116,122}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,364},{116,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{116,118}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,364},{116,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{116,118}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,116},{116,122}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{116,122}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif008_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,116},{116,122}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{116,122}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>EmoticonGif009_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,274},{132,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>EmoticonGif009_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,274},{132,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>EmoticonGif009_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,140},{132,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>EmoticonGif009_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,140},{132,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>EmoticonGif009_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{132,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>EmoticonGif009_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{132,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>EmoticonGif009_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{132,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>EmoticonGif009_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{132,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>EmoticonGif009_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{132,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>EmoticonGif009_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{132,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EmoticonGif_1.png</string>
            <key>size</key>
            <string>{908,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0208d27196366543ae2a67836aa9445e$</string>
            <key>textureFileName</key>
            <string>EmoticonGif_1.png</string>
        </dict>
    </dict>
</plist>
