<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Balance_Bk_NetTag.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,909},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>Balance_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,675}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,675}}</string>
                <key>sourceSize</key>
                <string>{1136,675}</string>
            </dict>
            <key>Balance_exp_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,679},{284,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{284,36}}</string>
                <key>sourceSize</key>
                <string>{284,52}</string>
            </dict>
            <key>Balance_exp_progress_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,717},{274,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{274,26}}</string>
                <key>sourceSize</key>
                <string>{284,52}</string>
            </dict>
            <key>Balance_head_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,867},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Balance_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,845},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>Balance_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,679},{164,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{164,164}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>Balance_lose_light_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,679},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>Balance_other_head_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,867},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>Balance_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,963},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>Balance_runaway_dlg_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{244,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,70}}</string>
                <key>sourceSize</key>
                <string>{244,70}</string>
            </dict>
            <key>Balance_stare.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,867},{118,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,108}}</string>
                <key>sourceSize</key>
                <string>{118,108}</string>
            </dict>
            <key>Balance_tableview_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{12,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,26}}</string>
                <key>sourceSize</key>
                <string>{12,26}</string>
            </dict>
            <key>Balance_update.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,909},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Balance_update_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,909},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,52}}</string>
                <key>sourceSize</key>
                <string>{68,52}</string>
            </dict>
            <key>Balance_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,679},{200,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{200,198}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>Balance_win_right_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>NetFriend_ActiveCount.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,909},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>Solo_Upgrade_Progress_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,879},{274,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{274,28}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>Solo_Upgrade_Progress_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,975},{274,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{274,28}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>Solo_Upgrade_Progress_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,945},{274,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{274,28}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>Solo_Upgrade_Progress_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,915},{274,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{274,28}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>Solo_Upgrade_Progress_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,837},{274,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{274,28}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>Solo_Upgrade_Progress_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,807},{276,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{276,28}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>Solo_Upgrade_Progress_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,717},{278,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{278,28}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>Solo_Upgrade_Progress_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,777},{276,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{276,28}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>Solo_Upgrade_Progress_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,747},{276,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{276,28}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>Solo_Upgrade_Progress_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,929},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,24.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameBalance.png</string>
            <key>size</key>
            <string>{1164,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b92fde3f247d60b6593b6b2ec4009c5$</string>
            <key>textureFileName</key>
            <string>GameBalance.png</string>
        </dict>
    </dict>
</plist>
