<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameScene_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,675}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,675}}</string>
                <key>sourceSize</key>
                <string>{1136,675}</string>
            </dict>
            <key>GameScene_Top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{1136,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,208}}</string>
                <key>sourceSize</key>
                <string>{1136,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameSceneBg.png</string>
            <key>size</key>
            <string>{1140,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0901c192c3b83f72898e24d3bbf72129$</string>
            <key>textureFileName</key>
            <string>GameSceneBg.png</string>
        </dict>
    </dict>
</plist>
