<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Immediately_Btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{253,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{253,80}}</string>
                <key>sourceSize</key>
                <string>{259,80}</string>
            </dict>
            <key>Immediately_Btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{253,80}}</string>
                <key>sourceSize</key>
                <string>{259,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LimitedTimeOffers_Hans.png</string>
            <key>size</key>
            <string>{513,85}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9ce0d83f8df5daf928c366a46a0d8c5$</string>
            <key>textureFileName</key>
            <string>LimitedTimeOffers_Hans.png</string>
        </dict>
    </dict>
</plist>
