<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1v1_Match_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,184},{124,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,44}}</string>
                <key>sourceSize</key>
                <string>{124,44}</string>
            </dict>
            <key>ConsoleDefaultHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,782},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Match_select_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,366},{340,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,440}}</string>
                <key>sourceSize</key>
                <string>{340,440}</string>
            </dict>
            <key>NetFrame_Close_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,811},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>NetFrame_Close_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,811},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>NetGetIcon_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,154},{144,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{144,142}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>NetGetIcon_Round.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,2},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>NetLobby_BottomMenu_Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,756},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>NetLobby_Left_Disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,695},{92,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{92,114}}</string>
                <key>sourceSize</key>
                <string>{118,144}</string>
            </dict>
            <key>NetLobby_Left_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,418},{118,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,144}}</string>
                <key>sourceSize</key>
                <string>{118,144}</string>
            </dict>
            <key>NetLobby_Left_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,516},{96,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{96,114}}</string>
                <key>sourceSize</key>
                <string>{118,144}</string>
            </dict>
            <key>NetLobby_Right_Disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,728},{92,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{92,114}}</string>
                <key>sourceSize</key>
                <string>{118,144}</string>
            </dict>
            <key>NetLobby_Right_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,298},{118,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,144}}</string>
                <key>sourceSize</key>
                <string>{118,144}</string>
            </dict>
            <key>NetLobby_Right_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,418},{96,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{96,114}}</string>
                <key>sourceSize</key>
                <string>{118,144}</string>
            </dict>
            <key>NetLobby_TopMenu_Return_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,808},{36,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,11},{36,30}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetLobby_TopMenu_Return_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,811},{54,52}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetLobby_User_Head_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,676},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>NetLobby_User_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,376},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>NetLobby_User_Lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,394},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>NetLobby_User_Lv_TitleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,524},{143,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,17}}</string>
                <key>sourceSize</key>
                <string>{143,17}</string>
            </dict>
            <key>NetServer_List.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,808},{300,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,56}}</string>
                <key>sourceSize</key>
                <string>{300,56}</string>
            </dict>
            <key>NetServer_Scene.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,438},{554,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,434}}</string>
                <key>sourceSize</key>
                <string>{554,434}</string>
            </dict>
            <key>NetServer_Scene_Display.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,310},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>NetServer_Scene_Lock_Lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,782},{64,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,44}}</string>
                <key>sourceSize</key>
                <string>{64,44}</string>
            </dict>
            <key>NetServer_Scene_Locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,2},{148,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,220}}</string>
                <key>sourceSize</key>
                <string>{148,220}</string>
            </dict>
            <key>NetServer_SubType_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{554,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,434}}</string>
                <key>sourceSize</key>
                <string>{554,434}</string>
            </dict>
            <key>NetServer_Type_-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{546,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,362}}</string>
                <key>sourceSize</key>
                <string>{546,362}</string>
            </dict>
            <key>catch_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,543},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>drawbench_Btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,224},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>drawbench_light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,538},{127,128}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{127,128}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>drawbench_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,543},{131,90}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{131,90}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>drawbench_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,543},{141,94}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{141,94}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>sel_game_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{554,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,434}}</string>
                <key>sourceSize</key>
                <string>{554,434}</string>
            </dict>
            <key>shake_Btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shake_lights_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,376},{148,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shake_lights_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,695},{146,146}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>smallGame_Btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,366},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>switch_1v1_model_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,668},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>switch_1v1_model_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,614},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>switch_scene_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{554,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,434}}</string>
                <key>sourceSize</key>
                <string>{554,434}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LobbySprite_3.png</string>
            <key>size</key>
            <string>{2045,875}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf6bf1701d2ad5b71d0a4213d5a21ae7$</string>
            <key>textureFileName</key>
            <string>LobbySprite_3.png</string>
        </dict>
    </dict>
</plist>
