<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1v1_Icon_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{213,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{213,95}}</string>
                <key>sourceSize</key>
                <string>{225,95}</string>
            </dict>
            <key>1vs1_Match_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,778},{146,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,32}}</string>
                <key>sourceSize</key>
                <string>{146,32}</string>
            </dict>
            <key>Eight_ch_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,798},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>Eight_ch_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,50},{160,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,44}}</string>
                <key>sourceSize</key>
                <string>{160,44}</string>
            </dict>
            <key>Lobby_Scratch_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,402},{125,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,116}}</string>
                <key>sourceSize</key>
                <string>{125,116}</string>
            </dict>
            <key>Lobby_Scratch_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,284},{125,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,116}}</string>
                <key>sourceSize</key>
                <string>{125,116}</string>
            </dict>
            <key>NetFrame_Cancle_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,174},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetFrame_Cancle_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,112},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetFrame_Enter_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetFrame_Enter_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,50},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetGetIcon_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,864},{152,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,82}}</string>
                <key>sourceSize</key>
                <string>{152,82}</string>
            </dict>
            <key>NetGetIcon_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,144},{152,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,46}}</string>
                <key>sourceSize</key>
                <string>{152,46}</string>
            </dict>
            <key>NetGetIcon_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,96},{152,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,46}}</string>
                <key>sourceSize</key>
                <string>{152,46}</string>
            </dict>
            <key>NetLobby_BottomMenu_Active_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,724},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_Active_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,670},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_Free_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,616},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_Free_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,562},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_List_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,508},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_List_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,454},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_Renwu_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,400},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_Renwu_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,346},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_Time_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,292},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_Time_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,238},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_TopMenu_Change_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,360},{96,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{96,30}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetLobby_TopMenu_Change_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,686},{106,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{106,42}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetLobby_TopMenu_Charge_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,656},{80,28}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{80,28}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetLobby_TopMenu_Charge_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,438},{92,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{92,40}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetLobby_TopMenu_Shop_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,328},{96,30}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{96,30}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetLobby_TopMenu_Shop_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,730},{108,42}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{108,42}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetPerson_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,948},{172,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,58}}</string>
                <key>sourceSize</key>
                <string>{172,58}</string>
            </dict>
            <key>NetServer_1_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,566},{94,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,22}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>NetServer_1_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,634},{94,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,20}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>NetServer_2_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,900},{76,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,22}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
            <key>NetServer_2_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,946},{76,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,20}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
            <key>NetServer_3_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,542},{94,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,22}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>NetServer_3_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,612},{94,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,20}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>NetServer_4_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,774},{76,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,22}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
            <key>NetServer_4_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,924},{76,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,20}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
            <key>NetServer_5_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,518},{94,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,22}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>NetServer_5_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,590},{94,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,20}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>NetServer_Max.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,968},{66,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{66,20}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>NetServer_Scene_Lock_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,392},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>NetServer_SubType_-1_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{214,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,122}}</string>
                <key>sourceSize</key>
                <string>{214,122}</string>
            </dict>
            <key>NetServer_SubType_1_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{214,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{214,118}}</string>
                <key>sourceSize</key>
                <string>{214,122}</string>
            </dict>
            <key>NetServer_SubType_2_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{214,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{214,118}}</string>
                <key>sourceSize</key>
                <string>{214,122}</string>
            </dict>
            <key>NetServer_SubType_3_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{214,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{214,118}}</string>
                <key>sourceSize</key>
                <string>{214,122}</string>
            </dict>
            <key>NetServer_SubType_4_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{214,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{214,118}}</string>
                <key>sourceSize</key>
                <string>{214,122}</string>
            </dict>
            <key>NetServer_SubType_5_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{214,114}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{214,114}}</string>
                <key>sourceSize</key>
                <string>{214,122}</string>
            </dict>
            <key>NetServer_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,908},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>Top_modelA.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,292},{96,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{96,34}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>Top_modelB.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,860},{108,46}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{108,46}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>Win.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{280,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,46}}</string>
                <key>sourceSize</key>
                <string>{280,46}</string>
            </dict>
            <key>crazy_Icon_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,109}}</string>
                <key>sourceSize</key>
                <string>{238,109}</string>
            </dict>
            <key>crazy_game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,866},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>drawbench_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,520},{127,106}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{127,106}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>entry_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,480},{94,36}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{94,36}}</string>
                <key>sourceSize</key>
                <string>{120,38}</string>
            </dict>
            <key>select_model_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,832},{116,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>switch_crazy_model_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,746},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>switch_crazy_model_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,628},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>title_Crazy_Scene_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,942},{120,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{120,46}}</string>
                <key>sourceSize</key>
                <string>{122,46}</string>
            </dict>
            <key>title_Crazy_Scene_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,812},{122,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,46}}</string>
                <key>sourceSize</key>
                <string>{122,46}</string>
            </dict>
            <key>title_Crazy_Scene_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{80,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,46}}</string>
                <key>sourceSize</key>
                <string>{80,46}</string>
            </dict>
            <key>title_Crazy_Scene_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,236},{198,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,46}}</string>
                <key>sourceSize</key>
                <string>{198,46}</string>
            </dict>
            <key>title_crazy_game_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,192},{176,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,44}}</string>
                <key>sourceSize</key>
                <string>{176,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LobbySprite_Hans.png</string>
            <key>size</key>
            <string>{607,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cce9ac1fc7296c16af221cd3f6b1926$</string>
            <key>textureFileName</key>
            <string>LobbySprite_Hans.png</string>
        </dict>
    </dict>
</plist>
