<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1v1_Icon_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{391,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,54}}</string>
                <key>sourceSize</key>
                <string>{391,54}</string>
            </dict>
            <key>1vs1_Match_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,414},{126,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,50}}</string>
                <key>sourceSize</key>
                <string>{126,50}</string>
            </dict>
            <key>Eight_ch_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,400},{168,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,46}}</string>
                <key>sourceSize</key>
                <string>{168,46}</string>
            </dict>
            <key>Eight_ch_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,374},{212,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,60}}</string>
                <key>sourceSize</key>
                <string>{212,60}</string>
            </dict>
            <key>Lobby_Scratch_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,232},{130,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,116}}</string>
                <key>sourceSize</key>
                <string>{130,116}</string>
            </dict>
            <key>Lobby_Scratch_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,114},{130,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,116}}</string>
                <key>sourceSize</key>
                <string>{130,116}</string>
            </dict>
            <key>NetFrame_Cancle_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,114},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetFrame_Cancle_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,52},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetFrame_Enter_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,550},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetFrame_Enter_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,488},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetGetIcon_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,226},{152,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,82}}</string>
                <key>sourceSize</key>
                <string>{152,82}</string>
            </dict>
            <key>NetGetIcon_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,502},{152,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,46}}</string>
                <key>sourceSize</key>
                <string>{152,46}</string>
            </dict>
            <key>NetGetIcon_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,568},{152,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,46}}</string>
                <key>sourceSize</key>
                <string>{152,46}</string>
            </dict>
            <key>NetLobby_BottomMenu_Active_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,468},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_Active_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,414},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_Free_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,360},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_Free_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,306},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_List_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,252},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_List_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,198},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_Renwu_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,144},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_Renwu_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,556},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_Time_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,502},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_BottomMenu_Time_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,448},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>NetLobby_TopMenu_Change_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,58},{38,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,11},{38,30}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetLobby_TopMenu_Change_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{50,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,5},{50,42}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetLobby_TopMenu_Charge_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,358},{28,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,7},{28,40}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetLobby_TopMenu_Charge_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,586},{16,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,13},{16,28}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetLobby_TopMenu_Shop_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,114},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,13},{40,28}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetLobby_TopMenu_Shop_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,94},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,7},{52,40}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetPerson_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,310},{172,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,58}}</string>
                <key>sourceSize</key>
                <string>{172,58}</string>
            </dict>
            <key>NetServer_1_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,204},{96,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,22}}</string>
                <key>sourceSize</key>
                <string>{96,28}</string>
            </dict>
            <key>NetServer_1_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,228},{96,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,20}}</string>
                <key>sourceSize</key>
                <string>{96,28}</string>
            </dict>
            <key>NetServer_2_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,332},{90,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,24}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>NetServer_2_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,306},{90,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,24}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>NetServer_3_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,278},{92,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,26}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>NetServer_3_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,250},{92,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,26}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>NetServer_4_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,174},{88,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{88,28}</string>
            </dict>
            <key>NetServer_4_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,144},{88,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{88,28}</string>
            </dict>
            <key>NetServer_5_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,580},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>NetServer_5_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,586},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>NetServer_Max.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,358},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>NetServer_Scene_Lock_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,522},{160,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,44}}</string>
                <key>sourceSize</key>
                <string>{160,44}</string>
            </dict>
            <key>NetServer_SubType_-1_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{214,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{214,118}}</string>
                <key>sourceSize</key>
                <string>{214,122}</string>
            </dict>
            <key>NetServer_SubType_1_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,206},{214,114}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{214,114}}</string>
                <key>sourceSize</key>
                <string>{214,122}</string>
            </dict>
            <key>NetServer_SubType_2_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,90},{214,114}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{214,114}}</string>
                <key>sourceSize</key>
                <string>{214,122}</string>
            </dict>
            <key>NetServer_SubType_3_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{214,114}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{214,114}}</string>
                <key>sourceSize</key>
                <string>{214,122}</string>
            </dict>
            <key>NetServer_SubType_4_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{214,114}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{214,114}}</string>
                <key>sourceSize</key>
                <string>{214,122}</string>
            </dict>
            <key>NetServer_SubType_5_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{214,114}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{214,114}}</string>
                <key>sourceSize</key>
                <string>{214,122}</string>
            </dict>
            <key>NetServer_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{184,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,28}}</string>
                <key>sourceSize</key>
                <string>{184,28}</string>
            </dict>
            <key>Top_modelA.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,580},{34,34}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{34,34}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>Top_modelB.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,46},{46,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>Win.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{280,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,46}}</string>
                <key>sourceSize</key>
                <string>{280,46}</string>
            </dict>
            <key>crazy_Icon_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{327,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,54}}</string>
                <key>sourceSize</key>
                <string>{327,54}</string>
            </dict>
            <key>crazy_game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,550},{160,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,28}}</string>
                <key>sourceSize</key>
                <string>{160,28}</string>
            </dict>
            <key>drawbench_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,52},{129,90}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{129,90}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>entry_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,466},{120,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{120,34}}</string>
                <key>sourceSize</key>
                <string>{120,38}</string>
            </dict>
            <key>select_model_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,370},{178,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,28}}</string>
                <key>sourceSize</key>
                <string>{178,28}</string>
            </dict>
            <key>switch_crazy_model_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,468},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>switch_crazy_model_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,350},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>title_Crazy_Scene_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{272,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,48}}</string>
                <key>sourceSize</key>
                <string>{272,48}</string>
            </dict>
            <key>title_Crazy_Scene_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,436},{202,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,50}}</string>
                <key>sourceSize</key>
                <string>{202,50}</string>
            </dict>
            <key>title_Crazy_Scene_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,322},{224,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,50}}</string>
                <key>sourceSize</key>
                <string>{224,50}</string>
            </dict>
            <key>title_Crazy_Scene_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,176},{190,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,48}}</string>
                <key>sourceSize</key>
                <string>{190,48}</string>
            </dict>
            <key>title_crazy_game_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,50},{226,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,38}}</string>
                <key>sourceSize</key>
                <string>{226,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LobbySprite_En.png</string>
            <key>size</key>
            <string>{1022,617}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:834a07aad32c3c8861fca1f841d0d8b1$</string>
            <key>textureFileName</key>
            <string>LobbySprite_En.png</string>
        </dict>
    </dict>
</plist>
