<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hall_1v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,732},{280,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,316}}</string>
                <key>sourceSize</key>
                <string>{280,316}</string>
            </dict>
            <key>Hall_bk_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{310,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,410}}</string>
                <key>sourceSize</key>
                <string>{310,410}</string>
            </dict>
            <key>NetServer_Scene_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{598,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,478}}</string>
                <key>sourceSize</key>
                <string>{598,478}</string>
            </dict>
            <key>NetServer_Type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{546,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,362}}</string>
                <key>sourceSize</key>
                <string>{546,362}</string>
            </dict>
            <key>crazy_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,414},{280,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,316}}</string>
                <key>sourceSize</key>
                <string>{280,316}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LobbySprite_2.png</string>
            <key>size</key>
            <string>{868,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ad5db38cec2d2ffd4fb9c346c8debc3$</string>
            <key>textureFileName</key>
            <string>LobbySprite_2.png</string>
        </dict>
    </dict>
</plist>
