<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LuckCard_GetNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,176},{166,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,58}}</string>
                <key>sourceSize</key>
                <string>{166,58}</string>
            </dict>
            <key>LuckCard_GetPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,176},{166,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,58}}</string>
                <key>sourceSize</key>
                <string>{166,58}</string>
            </dict>
            <key>LuckCard_Label.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{121,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,46}}</string>
                <key>sourceSize</key>
                <string>{121,46}</string>
            </dict>
            <key>LuckCard_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{350,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,174}}</string>
                <key>sourceSize</key>
                <string>{350,174}</string>
            </dict>
            <key>LuckCard_ToDay.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,308},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>LuckScratch_Buy_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,87},{201,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,83}}</string>
                <key>sourceSize</key>
                <string>{201,83}</string>
            </dict>
            <key>LuckScratch_Buy_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{201,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,83}}</string>
                <key>sourceSize</key>
                <string>{201,83}</string>
            </dict>
            <key>LuckScratch_Get_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,155},{151,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,64}}</string>
                <key>sourceSize</key>
                <string>{151,64}</string>
            </dict>
            <key>LuckScratch_Get_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{151,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,64}}</string>
                <key>sourceSize</key>
                <string>{151,64}</string>
            </dict>
            <key>LuckScratch_Main.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,302},{129,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,130}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>LuckScratch_Prop06.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,172},{78,118}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{78,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop07.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,344},{88,120}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{88,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop08.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,354},{88,120}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{88,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop09.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,354},{88,120}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{88,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop17.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,176},{124,120}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{124,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop18.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,50},{124,120}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{124,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,448}}</string>
                <key>sourceSize</key>
                <string>{428,448}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LuckScratch_Hans.png</string>
            <key>size</key>
            <string>{1022,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:108742aeef8ddfacddb39721f73559d6$</string>
            <key>textureFileName</key>
            <string>LuckScratch_Hans.png</string>
        </dict>
    </dict>
</plist>
