<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LuckCard_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,608},{330,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,440}}</string>
                <key>sourceSize</key>
                <string>{330,440}</string>
            </dict>
            <key>LuckScratch_Closed_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,722},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>LuckScratch_Closed_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,834},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>LuckScratch_FrameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{904,587}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{904,587}}</string>
                <key>sourceSize</key>
                <string>{904,587}</string>
            </dict>
            <key>LuckScratch_LeftBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{215,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,85}}</string>
                <key>sourceSize</key>
                <string>{215,85}</string>
            </dict>
            <key>LuckScratch_LossFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,134},{129,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,130}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>LuckScratch_LuckFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,2},{129,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,130}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>LuckScratch_Prop01.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,608},{74,112}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{74,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,608},{76,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{76,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,266},{86,118}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{86,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,354},{84,116}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,5},{84,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,524},{80,118}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{80,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,700},{92,102}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{92,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,606},{92,102}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{92,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop12.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,908},{98,110}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{98,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop13.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,908},{98,110}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{98,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,440},{82,116}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,5},{82,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop15.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,908},{92,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{92,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Prop16.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,908},{92,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{92,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>LuckScratch_Round1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,734},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>LuckScratch_Round2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,700},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>LuckScratch_Round3.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,784},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>LuckScratch_WinFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,794},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>LuckScratch_WinLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,2},{604,605}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,605}}</string>
                <key>sourceSize</key>
                <string>{604,605}</string>
            </dict>
            <key>Luck_Little.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,995},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LuckScratch.png</string>
            <key>size</key>
            <string>{1329,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba2a99ce1f59b894995fea863613084e$</string>
            <key>textureFileName</key>
            <string>LuckScratch.png</string>
        </dict>
    </dict>
</plist>
