<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BallDeskLayer_BallList_Double.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,260},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>BallDeskLayer_BallList_Single.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,260},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>BallDeskLayer_BeginConsoleGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{500,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,102}}</string>
                <key>sourceSize</key>
                <string>{500,102}</string>
            </dict>
            <key>BallDeskLayer_Friend_Add_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,164},{92,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,52}}</string>
                <key>sourceSize</key>
                <string>{92,52}</string>
            </dict>
            <key>BallDeskLayer_Friend_Add_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,110},{92,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,52}}</string>
                <key>sourceSize</key>
                <string>{92,52}</string>
            </dict>
            <key>BallDeskLayer_Fright_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,56},{92,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,52}}</string>
                <key>sourceSize</key>
                <string>{92,52}</string>
            </dict>
            <key>BallDeskLayer_Fright_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{92,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,52}}</string>
                <key>sourceSize</key>
                <string>{92,52}</string>
            </dict>
            <key>BallDeskLayer_GameStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{500,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,102}}</string>
                <key>sourceSize</key>
                <string>{500,102}</string>
            </dict>
            <key>BallDeskLayer_GameStarted.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,102}}</string>
                <key>sourceSize</key>
                <string>{500,102}</string>
            </dict>
            <key>BallDeskLayer_HitSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,404},{172,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,58}}</string>
                <key>sourceSize</key>
                <string>{172,58}</string>
            </dict>
            <key>BallDeskLayer_LuckyBoxNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,314},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>BallDeskLayer_LuckyBoxSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,314},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>BallDeskLayer_PullCue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{236,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,58}}</string>
                <key>sourceSize</key>
                <string>{236,58}</string>
            </dict>
            <key>BallDeskLayer_Ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,218},{68,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,40}}</string>
                <key>sourceSize</key>
                <string>{68,40}</string>
            </dict>
            <key>BallDeskLayer_WaitPlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{274,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,28}}</string>
                <key>sourceSize</key>
                <string>{274,28}</string>
            </dict>
            <key>BallDeskLayer_stick_cuntinue_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,464},{262,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,30}}</string>
                <key>sourceSize</key>
                <string>{262,30}</string>
            </dict>
            <key>BallDeskLayer_yourTurn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{380,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,88}}</string>
                <key>sourceSize</key>
                <string>{380,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainLayer_En.png</string>
            <key>size</key>
            <string>{598,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34084f719ffb64a222f23c9fd5ee5678$</string>
            <key>textureFileName</key>
            <string>MainLayer_En.png</string>
        </dict>
    </dict>
</plist>
