<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ConsoleGameMedal_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,799},{58,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{58,34}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>ConsoleGameMedal_ArrowOpacity.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,799},{72,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>ConsoleGameMedal_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,675}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,675}}</string>
                <key>sourceSize</key>
                <string>{1136,675}</string>
            </dict>
            <key>ConsoleGameMedal_ReturnNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,679},{118,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>ConsoleGameMedal_ReturnPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,679},{116,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{116,90}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>ConsoleGameMedal_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,679},{184,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,216}}</string>
                <key>sourceSize</key>
                <string>{184,216}</string>
            </dict>
            <key>ConsoleGameMedal_yes_opacity.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{184,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,216}}</string>
                <key>sourceSize</key>
                <string>{184,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MeseumSprite.png</string>
            <key>size</key>
            <string>{1140,865}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c446fb9b0277cc12fb057c68e488699$</string>
            <key>textureFileName</key>
            <string>MeseumSprite.png</string>
        </dict>
    </dict>
</plist>
