<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Completeness.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,438},{108,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,30}}</string>
                <key>sourceSize</key>
                <string>{108,30}</string>
            </dict>
            <key>ConsoleGameMedal_Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,104}}</string>
                <key>sourceSize</key>
                <string>{428,104}</string>
            </dict>
            <key>ConsoleGameMedal_ProcessLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{74,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,50}}</string>
                <key>sourceSize</key>
                <string>{74,50}</string>
            </dict>
            <key>ConsoleGameMedal_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,220},{184,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,216}}</string>
                <key>sourceSize</key>
                <string>{184,216}</string>
            </dict>
            <key>ConsoleGameMedal_no_opacity.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{184,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,216}}</string>
                <key>sourceSize</key>
                <string>{184,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MeseumSprite_Hans.png</string>
            <key>size</key>
            <string>{294,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae8dacfcd50132c21743f57d5f4438a7$</string>
            <key>textureFileName</key>
            <string>MeseumSprite_Hans.png</string>
        </dict>
    </dict>
</plist>
