<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Completeness.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,438},{106,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{106,28}}</string>
                <key>sourceSize</key>
                <string>{108,30}</string>
            </dict>
            <key>ConsoleGameMedal_Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,84}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{428,84}}</string>
                <key>sourceSize</key>
                <string>{428,104}</string>
            </dict>
            <key>ConsoleGameMedal_ProcessLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{114,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,46}}</string>
                <key>sourceSize</key>
                <string>{114,46}</string>
            </dict>
            <key>ConsoleGameMedal_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,220},{184,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,216}}</string>
                <key>sourceSize</key>
                <string>{184,216}</string>
            </dict>
            <key>ConsoleGameMedal_no_opacity.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{184,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,216}}</string>
                <key>sourceSize</key>
                <string>{184,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MeseumSprite_En.png</string>
            <key>size</key>
            <string>{274,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:525d088dc41a5eb8e3ad6cc00f65e89e$</string>
            <key>textureFileName</key>
            <string>MeseumSprite_En.png</string>
        </dict>
    </dict>
</plist>
