<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Local_Ch_Hins_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,763},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>Local_Ch_Hins_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,763},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>Local_En_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,679},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>Local_En_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,763},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ModeSelectBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,675}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,675}}</string>
                <key>sourceSize</key>
                <string>{1136,675}</string>
            </dict>
            <key>ModeSelect_Ach_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,797},{28,22}}</string>
                <key>offset</key>
                <string>{-13,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,140},{28,22}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,797},{1,1}}</string>
                <key>offset</key>
                <string>{-106.5,90.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,735},{38,28}}</string>
                <key>offset</key>
                <string>{-70,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,55},{38,28}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,735},{50,26}}</string>
                <key>offset</key>
                <string>{-38,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,57},{50,26}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,797},{20,20}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,61},{20,20}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,773},{30,46}}</string>
                <key>offset</key>
                <string>{-12,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,31},{30,46}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,733},{26,46}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,32},{26,46}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,795},{28,24}}</string>
                <key>offset</key>
                <string>{15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,54},{28,24}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,735},{50,26}}</string>
                <key>offset</key>
                <string>{39,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,57},{50,26}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,735},{28,26}}</string>
                <key>offset</key>
                <string>{75,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,56},{28,26}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,679},{142,138}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{142,138}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,679},{68,52}}</string>
                <key>offset</key>
                <string>{-33,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,110},{68,52}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{164,140}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,17},{164,140}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,679},{124,116}}</string>
                <key>offset</key>
                <string>{28,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,17},{124,116}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,797},{1,1}}</string>
                <key>offset</key>
                <string>{-106.5,90.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,735},{16,36}}</string>
                <key>offset</key>
                <string>{-61,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,81},{16,36}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,735},{20,36}}</string>
                <key>offset</key>
                <string>{-42,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,24},{20,36}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,777},{104,42}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,18},{104,42}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,735},{26,34}}</string>
                <key>offset</key>
                <string>{41,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,25},{26,34}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,735},{16,36}}</string>
                <key>offset</key>
                <string>{63,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,81},{16,36}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,771},{66,48}}</string>
                <key>offset</key>
                <string>{33,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,114},{66,48}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,797},{30,22}}</string>
                <key>offset</key>
                <string>{14,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,140},{30,22}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,679},{74,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{74,96}}</string>
                <key>sourceSize</key>
                <string>{82,96}</string>
            </dict>
            <key>ModeSelect_DeviceNums.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,733},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>ModeSelect_Help_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,679},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ModeSelect_Help_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,679},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ModeSelect_NoSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,679},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ModeSelect_Sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,679},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>TQ_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,679},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ModeSel.png</string>
            <key>size</key>
            <string>{1140,821}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f85a6f148e734a6815e35f95403c97c$</string>
            <key>textureFileName</key>
            <string>ModeSel.png</string>
        </dict>
    </dict>
</plist>
