<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ConsoleGameTeach_continue_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,546},{252,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,84}}</string>
                <key>sourceSize</key>
                <string>{252,84}</string>
            </dict>
            <key>ConsoleGameTeach_continue_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,460},{252,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,84}}</string>
                <key>sourceSize</key>
                <string>{252,84}</string>
            </dict>
            <key>ConsoleGameTeach_skip_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,374},{252,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,84}}</string>
                <key>sourceSize</key>
                <string>{252,84}</string>
            </dict>
            <key>ConsoleGameTeach_skip_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{252,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,84}}</string>
                <key>sourceSize</key>
                <string>{252,84}</string>
            </dict>
            <key>ModeSelect_Ach_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,632},{214,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,182}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,816},{198,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{198,168}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_BlueTooth_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,632},{336,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{336,70}}</string>
                <key>sourceSize</key>
                <string>{348,80}</string>
            </dict>
            <key>ModeSelect_BlueTooth_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{348,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,80}}</string>
                <key>sourceSize</key>
                <string>{348,80}</string>
            </dict>
            <key>ModeSelect_Box_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,312},{52,26}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,75},{52,26}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>ModeSelect_Console_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{338,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{338,70}}</string>
                <key>sourceSize</key>
                <string>{348,80}</string>
            </dict>
            <key>ModeSelect_Console_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{348,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,80}}</string>
                <key>sourceSize</key>
                <string>{348,80}</string>
            </dict>
            <key>ModeSelect_GM_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,486},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ModeSelect_GM_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,430},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ModeSelect_Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{676,196}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{676,196}}</string>
                <key>sourceSize</key>
                <string>{714,230}</string>
            </dict>
            <key>ModeSelect_Net_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{338,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{338,70}}</string>
                <key>sourceSize</key>
                <string>{348,80}</string>
            </dict>
            <key>ModeSelect_Net_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,80}}</string>
                <key>sourceSize</key>
                <string>{348,80}</string>
            </dict>
            <key>ModeSelect_Share_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,374},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ModeSelect_Share_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,256},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>SelNet_UserNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,342},{308,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,30}}</string>
                <key>sourceSize</key>
                <string>{308,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ModeSel_Hans.png</string>
            <key>size</key>
            <string>{518,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0aee05a67055d23e9073f7ac2af6d98$</string>
            <key>textureFileName</key>
            <string>ModeSel_Hans.png</string>
        </dict>
    </dict>
</plist>
