<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ConsoleGameTeach_continue_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,400},{248,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,84}}</string>
                <key>sourceSize</key>
                <string>{252,84}</string>
            </dict>
            <key>ConsoleGameTeach_continue_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,314},{248,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,84}}</string>
                <key>sourceSize</key>
                <string>{252,84}</string>
            </dict>
            <key>ConsoleGameTeach_skip_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,228},{248,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,84}}</string>
                <key>sourceSize</key>
                <string>{252,84}</string>
            </dict>
            <key>ConsoleGameTeach_skip_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,396},{248,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,84}}</string>
                <key>sourceSize</key>
                <string>{252,84}</string>
            </dict>
            <key>ModeSelect_Ach_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,212},{214,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,182}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_Ach_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,228},{196,166}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{196,166}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>ModeSelect_BlueTooth_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,156},{336,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{336,70}}</string>
                <key>sourceSize</key>
                <string>{348,80}</string>
            </dict>
            <key>ModeSelect_BlueTooth_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{348,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,80}}</string>
                <key>sourceSize</key>
                <string>{348,80}</string>
            </dict>
            <key>ModeSelect_Box_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{72,22}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,76},{72,22}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>ModeSelect_Console_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{336,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{336,70}}</string>
                <key>sourceSize</key>
                <string>{348,80}</string>
            </dict>
            <key>ModeSelect_Console_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{348,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,80}}</string>
                <key>sourceSize</key>
                <string>{348,80}</string>
            </dict>
            <key>ModeSelect_GM_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,400},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ModeSelect_GM_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,400},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ModeSelect_Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,208}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,9},{624,208}}</string>
                <key>sourceSize</key>
                <string>{714,230}</string>
            </dict>
            <key>ModeSelect_Net_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,84},{336,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{336,70}}</string>
                <key>sourceSize</key>
                <string>{348,80}</string>
            </dict>
            <key>ModeSelect_Net_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{348,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,80}}</string>
                <key>sourceSize</key>
                <string>{348,80}</string>
            </dict>
            <key>ModeSelect_Share_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,140},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ModeSelect_Share_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,84},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>SelNet_UserNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{308,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,30}}</string>
                <key>sourceSize</key>
                <string>{308,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ModeSel_En.png</string>
            <key>size</key>
            <string>{1022,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a5b6c9170ebe42a7f7446bdde940935$</string>
            <key>textureFileName</key>
            <string>ModeSel_En.png</string>
        </dict>
    </dict>
</plist>
