<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FrightMsg_A_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{672,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,404}}</string>
                <key>sourceSize</key>
                <string>{672,404}</string>
            </dict>
            <key>FrightMsg_A_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{651,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,82}}</string>
                <key>sourceSize</key>
                <string>{651,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Modify.png</string>
            <key>size</key>
            <string>{676,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e2d4ea27419f6b30df458c99057aabd$</string>
            <key>textureFileName</key>
            <string>Modify.png</string>
        </dict>
    </dict>
</plist>
