<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MsgBox_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{550,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,210}}</string>
                <key>sourceSize</key>
                <string>{550,210}</string>
            </dict>
            <key>MsgBox_Frame_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,210}}</string>
                <key>sourceSize</key>
                <string>{550,210}</string>
            </dict>
            <key>MsgBox_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{542,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,54}}</string>
                <key>sourceSize</key>
                <string>{542,54}</string>
            </dict>
            <key>MsgBox_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{960,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,102}}</string>
                <key>sourceSize</key>
                <string>{960,102}</string>
            </dict>
            <key>accept.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,130},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>alert.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,68},{64,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,530},{470,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,60}}</string>
                <key>sourceSize</key>
                <string>{470,60}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,88},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>info.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,130},{36,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{36,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lobby_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>lobby_loading_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sad.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MsgBox.png</string>
            <key>size</key>
            <string>{1018,592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:304f77feb7f69d0ffbf4e947f79327b1$</string>
            <key>textureFileName</key>
            <string>MsgBox.png</string>
        </dict>
    </dict>
</plist>
