<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Friend_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{887,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{887,414}}</string>
                <key>sourceSize</key>
                <string>{887,414}</string>
            </dict>
            <key>InputBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,679},{289,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,74}}</string>
                <key>sourceSize</key>
                <string>{289,74}</string>
            </dict>
            <key>MyFriend_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{947,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{947,120}}</string>
                <key>sourceSize</key>
                <string>{947,120}</string>
            </dict>
            <key>MyFriendsScene.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,675}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,675}}</string>
                <key>sourceSize</key>
                <string>{1136,675}</string>
            </dict>
            <key>Waitting_For_Respond_Unpress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,837},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>cover_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{835,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,148}}</string>
                <key>sourceSize</key>
                <string>{835,148}</string>
            </dict>
            <key>little_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{833,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{833,225}}</string>
                <key>sourceSize</key>
                <string>{833,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MyFriendScene_1.png</string>
            <key>size</key>
            <string>{1783,951}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a95a8bc5ef3a8e8fb7bc6d52dfea66af$</string>
            <key>textureFileName</key>
            <string>MyFriendScene_1.png</string>
        </dict>
    </dict>
</plist>
