<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AddFriend_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,84},{173,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,71}}</string>
                <key>sourceSize</key>
                <string>{173,71}</string>
            </dict>
            <key>AddFriend_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,84},{173,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,71}}</string>
                <key>sourceSize</key>
                <string>{173,71}</string>
            </dict>
            <key>BeiJing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,216},{70,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>BeiJing_Selectable.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,227},{72,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,28}}</string>
                <key>sourceSize</key>
                <string>{72,28}</string>
            </dict>
            <key>Button_addfriends_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,297},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,64}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>Button_addfriends_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,297},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,64}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>Button_recve_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,297},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,64}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>Button_recve_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,297},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,64}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>Chicago.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,418},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>Chicago_Selectable.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,259},{88,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{88,28}</string>
            </dict>
            <key>EdinburghA.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,418},{85,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,27}}</string>
                <key>sourceSize</key>
                <string>{85,27}</string>
            </dict>
            <key>EdinburghB.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,418},{85,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,27}}</string>
                <key>sourceSize</key>
                <string>{85,27}</string>
            </dict>
            <key>FindNearlyPeople_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>FindNearlyPeople_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>FindPlayer_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>FindPlayer_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>FriendLayer_Search_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>FriendLayer_Search_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>Friend_.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,84},{171,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,69}}</string>
                <key>sourceSize</key>
                <string>{171,69}</string>
            </dict>
            <key>Friends_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,472},{128,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>Friends_Delete_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,440},{102,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,64}}</string>
                <key>sourceSize</key>
                <string>{102,64}</string>
            </dict>
            <key>Friends_Delete_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,394},{102,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,64}}</string>
                <key>sourceSize</key>
                <string>{102,64}</string>
            </dict>
            <key>GuangzhouA.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,481},{83,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,23}}</string>
                <key>sourceSize</key>
                <string>{85,27}</string>
            </dict>
            <key>GuangzhouB.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,481},{83,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,23}}</string>
                <key>sourceSize</key>
                <string>{85,27}</string>
            </dict>
            <key>HongKong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{111,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,26}}</string>
                <key>sourceSize</key>
                <string>{111,26}</string>
            </dict>
            <key>HongKong_Selectable.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,297},{113,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,28}}</string>
                <key>sourceSize</key>
                <string>{113,28}</string>
            </dict>
            <key>Kuala LumpurA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,418},{85,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{85,21}}</string>
                <key>sourceSize</key>
                <string>{85,27}</string>
            </dict>
            <key>Kuala LumpurB.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,395},{85,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{85,21}}</string>
                <key>sourceSize</key>
                <string>{85,27}</string>
            </dict>
            <key>Las VegasA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,371},{67,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{67,23}}</string>
                <key>sourceSize</key>
                <string>{85,27}</string>
            </dict>
            <key>Las VegasB.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,216},{67,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{67,23}}</string>
                <key>sourceSize</key>
                <string>{85,27}</string>
            </dict>
            <key>LasVegas.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,481},{103,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,25}}</string>
                <key>sourceSize</key>
                <string>{103,25}</string>
            </dict>
            <key>LasVegas_selectable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,223},{105,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,27}}</string>
                <key>sourceSize</key>
                <string>{105,27}</string>
            </dict>
            <key>London.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,371},{79,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,21}}</string>
                <key>sourceSize</key>
                <string>{79,21}</string>
            </dict>
            <key>London_Selectable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,418},{81,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,23}}</string>
                <key>sourceSize</key>
                <string>{81,23}</string>
            </dict>
            <key>Match_Cancel_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,310},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>Match_Cancel_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,244},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>Match_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,150},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>Match_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,84},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>Match_Unpress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,252},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>MyFriend_Back_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,84},{126,41}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{126,41}}</string>
                <key>sourceSize</key>
                <string>{144,45}</string>
            </dict>
            <key>MyFriend_Back_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,257},{136,45}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,45}}</string>
                <key>sourceSize</key>
                <string>{144,45}</string>
            </dict>
            <key>MyFriend_Delete_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,259},{242,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,64}}</string>
                <key>sourceSize</key>
                <string>{242,64}</string>
            </dict>
            <key>MyFriend_Delete_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,259},{242,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,64}}</string>
                <key>sourceSize</key>
                <string>{242,64}</string>
            </dict>
            <key>MyFriend_Message_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,84},{137,39}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{137,39}}</string>
                <key>sourceSize</key>
                <string>{165,45}</string>
            </dict>
            <key>MyFriend_Message_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,257},{159,45}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{159,45}}</string>
                <key>sourceSize</key>
                <string>{165,45}</string>
            </dict>
            <key>MyFriend_Serch_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,84},{133,39}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{133,39}}</string>
                <key>sourceSize</key>
                <string>{141,45}</string>
            </dict>
            <key>MyFriend_Serch_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,84},{141,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,45}}</string>
                <key>sourceSize</key>
                <string>{141,45}</string>
            </dict>
            <key>MyFriend_Stadium.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{476,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,80}}</string>
                <key>sourceSize</key>
                <string>{476,80}</string>
            </dict>
            <key>MyFriend_Stadium_BIG.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{616,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,80}}</string>
                <key>sourceSize</key>
                <string>{616,80}</string>
            </dict>
            <key>MyFriend_VIew_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,252},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>MyFriend_View_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,289},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>SearchLayer1_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,84},{173,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,71}}</string>
                <key>sourceSize</key>
                <string>{173,71}</string>
            </dict>
            <key>SearchLayer1_back_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,297},{173,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,71}}</string>
                <key>sourceSize</key>
                <string>{173,71}</string>
            </dict>
            <key>SearchLayer_Back_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>SearchLayer_Back_Normal_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>SearchLayer_Back_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>Waitting_For_Respond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,376},{115,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,62}}</string>
                <key>sourceSize</key>
                <string>{115,62}</string>
            </dict>
            <key>friends_request_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,297},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>friends_request_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,297},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>liyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,486},{119,20}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{119,20}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>liyue_Selectable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,84},{119,22}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{119,22}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>order_fight_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,297},{203,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,70}}</string>
                <key>sourceSize</key>
                <string>{203,70}</string>
            </dict>
            <key>order_fight_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,297},{203,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,70}}</string>
                <key>sourceSize</key>
                <string>{203,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MyFriendScene_En.png</string>
            <key>size</key>
            <string>{1297,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdb372289ac95fd1f968ac0b7837eb79$</string>
            <key>textureFileName</key>
            <string>MyFriendScene_En.png</string>
        </dict>
    </dict>
</plist>
