<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Box_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,514},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>Box_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,450},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>Box_Unselectable.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,450},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>Button_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,450},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Button_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,482},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Cancel_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,450},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Cancel_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,482},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Chose.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,482},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>ChoseFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,514},{79,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,74}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{827,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{827,419}}</string>
                <key>sourceSize</key>
                <string>{827,419}</string>
            </dict>
            <key>FriendFrame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{148,213}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{148,213}}</string>
                <key>sourceSize</key>
                <string>{156,221}</string>
            </dict>
            <key>FriendFrame_1_Y.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,432},{156,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,221}}</string>
                <key>sourceSize</key>
                <string>{156,221}</string>
            </dict>
            <key>FriendFrame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,246},{175,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{175,234}}</string>
                <key>sourceSize</key>
                <string>{183,242}</string>
            </dict>
            <key>FriendFrame_2_Y.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{183,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,242}}</string>
                <key>sourceSize</key>
                <string>{183,242}</string>
            </dict>
            <key>FriendSite.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,512},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>Friend_Part.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,514},{7,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,45}}</string>
                <key>sourceSize</key>
                <string>{7,45}</string>
            </dict>
            <key>Gender_boy.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,536},{37,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{37,37}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>Gender_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,432},{31,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>Head_Portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,450},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>Menoy.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,482},{40,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{40,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>MyFriend_Friendly.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,535},{40,38}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{40,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>MyFriend_Gentleman.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,536},{37,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{37,37}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>MyFriend_Lady.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,432},{31,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>NetFriend_ActiveCount.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,544},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>NetFriend_Msgcount.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,553},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>Part.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,514},{7,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,45}}</string>
                <key>sourceSize</key>
                <string>{7,45}</string>
            </dict>
            <key>Part_.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,441},{7,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,325}}</string>
                <key>sourceSize</key>
                <string>{7,325}</string>
            </dict>
            <key>Photo_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,450},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>Prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,482},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>Search_.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,536},{41,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,34}}</string>
                <key>sourceSize</key>
                <string>{41,34}</string>
            </dict>
            <key>Site.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,544},{40,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{40,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,552},{37,43}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{37,43}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,514},{37,35}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{37,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>map_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,552},{37,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{37,43}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>segment_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{560,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,7}}</string>
                <key>sourceSize</key>
                <string>{560,7}</string>
            </dict>
            <key>segment_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{813,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{813,7}}</string>
                <key>sourceSize</key>
                <string>{813,7}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MyFriendScene.png</string>
            <key>size</key>
            <string>{1016,591}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:825961d76ba045527787a84f9a8518e3$</string>
            <key>textureFileName</key>
            <string>MyFriendScene.png</string>
        </dict>
    </dict>
</plist>
