<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AddFriend_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,286},{173,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,71}}</string>
                <key>sourceSize</key>
                <string>{173,71}</string>
            </dict>
            <key>AddFriend_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,289},{173,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,71}}</string>
                <key>sourceSize</key>
                <string>{173,71}</string>
            </dict>
            <key>BeiJing.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,410},{47,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{47,24}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>BeiJing_Selectable.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,84},{49,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{49,26}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>Button_addfriends_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,279},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,64}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>Button_addfriends_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,213},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,64}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>Button_recve_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,147},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,64}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>Button_recve_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,142},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,64}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>Chicago.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,473},{69,24}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{69,24}}</string>
                <key>sourceSize</key>
                <string>{81,30}</string>
            </dict>
            <key>Chicago_Selectable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,322},{71,26}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{71,26}}</string>
                <key>sourceSize</key>
                <string>{81,30}</string>
            </dict>
            <key>EdinburghA.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,473},{68,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{68,26}</string>
            </dict>
            <key>EdinburghB.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,464},{68,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{68,26}</string>
            </dict>
            <key>FindNearlyPeople_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,166},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>FindNearlyPeople_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,166},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>FindPlayer_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>FindPlayer_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>FriendLayer_Search_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>FriendLayer_Search_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>Friend_.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,359},{171,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{171,69}}</string>
                <key>sourceSize</key>
                <string>{173,71}</string>
            </dict>
            <key>Friends_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,473},{93,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,36}}</string>
                <key>sourceSize</key>
                <string>{93,36}</string>
            </dict>
            <key>Friends_Delete_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,260},{102,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,64}}</string>
                <key>sourceSize</key>
                <string>{102,64}</string>
            </dict>
            <key>Friends_Delete_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,75},{102,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,64}}</string>
                <key>sourceSize</key>
                <string>{102,64}</string>
            </dict>
            <key>GuangzhouA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,462},{44,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{68,26}</string>
            </dict>
            <key>GuangzhouB.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,436},{44,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{68,26}</string>
            </dict>
            <key>HongKong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,464},{47,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{47,24}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>HongKong_Selectable.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,104},{49,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{49,26}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>Kuala LumpurA.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,441},{68,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{68,26}</string>
            </dict>
            <key>Kuala LumpurB.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,84},{68,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{68,26}</string>
            </dict>
            <key>Las VegasA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,348},{112,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,26}}</string>
                <key>sourceSize</key>
                <string>{112,26}</string>
            </dict>
            <key>Las VegasB.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,234},{112,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,26}}</string>
                <key>sourceSize</key>
                <string>{112,26}</string>
            </dict>
            <key>LasVegas.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,350},{113,24}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{113,24}}</string>
                <key>sourceSize</key>
                <string>{121,30}</string>
            </dict>
            <key>LasVegas_selectable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,2},{115,26}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{115,26}}</string>
                <key>sourceSize</key>
                <string>{121,30}</string>
            </dict>
            <key>London.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,441},{47,24}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{47,24}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>London_Selectable.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,76},{49,26}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{49,26}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>Match_Cancel_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,350},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>Match_Cancel_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,345},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>Match_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,445},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>Match_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,445},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>Match_Unpress.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,345},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>MyFriend_Back_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,430},{132,41}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{132,41}}</string>
                <key>sourceSize</key>
                <string>{144,45}</string>
            </dict>
            <key>MyFriend_Back_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{144,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,45}}</string>
                <key>sourceSize</key>
                <string>{144,45}</string>
            </dict>
            <key>MyFriend_Delete_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,76},{242,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,64}}</string>
                <key>sourceSize</key>
                <string>{242,64}</string>
            </dict>
            <key>MyFriend_Delete_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,166},{242,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,64}}</string>
                <key>sourceSize</key>
                <string>{242,64}</string>
            </dict>
            <key>MyFriend_Message_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,364},{121,39}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{121,39}}</string>
                <key>sourceSize</key>
                <string>{131,45}</string>
            </dict>
            <key>MyFriend_Message_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,458},{131,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,45}}</string>
                <key>sourceSize</key>
                <string>{131,45}</string>
            </dict>
            <key>MyFriend_Serch_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,469},{107,39}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{107,39}}</string>
                <key>sourceSize</key>
                <string>{121,45}</string>
            </dict>
            <key>MyFriend_Serch_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,464},{121,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,45}}</string>
                <key>sourceSize</key>
                <string>{121,45}</string>
            </dict>
            <key>MyFriend_Stadium.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{476,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,80}}</string>
                <key>sourceSize</key>
                <string>{476,80}</string>
            </dict>
            <key>MyFriend_Stadium_BIG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{616,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,80}}</string>
                <key>sourceSize</key>
                <string>{616,80}</string>
            </dict>
            <key>MyFriend_VIew_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,326},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>MyFriend_View_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,317},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>SearchLayer1_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,147},{173,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,71}}</string>
                <key>sourceSize</key>
                <string>{173,71}</string>
            </dict>
            <key>SearchLayer1_back_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,142},{173,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,71}}</string>
                <key>sourceSize</key>
                <string>{173,71}</string>
            </dict>
            <key>SearchLayer_Back_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>SearchLayer_Back_Normal_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{293,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,72}}</string>
                <key>sourceSize</key>
                <string>{293,72}</string>
            </dict>
            <key>SearchLayer_Back_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{293,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,72}}</string>
                <key>sourceSize</key>
                <string>{293,72}</string>
            </dict>
            <key>Waitting_For_Respond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,141},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>friends_request_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,214},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>friends_request_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,142},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>liyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,119},{113,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{113,26}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>liyue_Selectable.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,411},{117,28}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{117,28}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>order_fight_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,84},{203,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,70}}</string>
                <key>sourceSize</key>
                <string>{203,70}</string>
            </dict>
            <key>order_fight_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,75},{203,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,70}}</string>
                <key>sourceSize</key>
                <string>{203,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MyFriendScene_Hans.png</string>
            <key>size</key>
            <string>{1260,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9a553df2ffd28b8edb3daeee3671bfc$</string>
            <key>textureFileName</key>
            <string>MyFriendScene_Hans.png</string>
        </dict>
    </dict>
</plist>
