<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CrazyGame_score_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,144},{50,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,16}}</string>
                <key>sourceSize</key>
                <string>{50,20}</string>
            </dict>
            <key>Crazy_Change_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,252},{164,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,70}}</string>
                <key>sourceSize</key>
                <string>{164,70}</string>
            </dict>
            <key>Crazy_Change_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,310},{164,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,70}}</string>
                <key>sourceSize</key>
                <string>{164,70}</string>
            </dict>
            <key>Crazy_Cur_Cue.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,422},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,22}</string>
            </dict>
            <key>Crazy_Next_Cue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,455},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,22}</string>
            </dict>
            <key>Crazy_Power_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,327},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>Crazy_Power_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,422},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>NetGame_Auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,408},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>NetGame_AutoCancelNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,252},{226,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{226,74}}</string>
                <key>sourceSize</key>
                <string>{230,84}</string>
            </dict>
            <key>NetGame_AutoCancelSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,252},{230,74}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{230,74}}</string>
                <key>sourceSize</key>
                <string>{230,84}</string>
            </dict>
            <key>NetGame_ChoseTableNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,327},{138,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,143}}</string>
                <key>sourceSize</key>
                <string>{138,143}</string>
            </dict>
            <key>NetGame_ChoseTableSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,327},{138,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,143}}</string>
                <key>sourceSize</key>
                <string>{138,143}</string>
            </dict>
            <key>NetGame_ChoseTableSuccess.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,104},{500,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,102}}</string>
                <key>sourceSize</key>
                <string>{500,102}</string>
            </dict>
            <key>NetGame_DoubleCue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1},{308,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{308,88}}</string>
                <key>sourceSize</key>
                <string>{320,102}</string>
            </dict>
            <key>NetGame_NoSeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{576,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,250}}</string>
                <key>sourceSize</key>
                <string>{576,250}</string>
            </dict>
            <key>NetGame_ReadyNormal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,351},{138,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,143}}</string>
                <key>sourceSize</key>
                <string>{138,143}</string>
            </dict>
            <key>NetGame_ReadyNormal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,278},{138,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,143}}</string>
                <key>sourceSize</key>
                <string>{138,143}</string>
            </dict>
            <key>NetGame_ReadySelected1.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,278},{138,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,143}}</string>
                <key>sourceSize</key>
                <string>{138,143}</string>
            </dict>
            <key>NetGame_ReadySelected2.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,207},{138,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,143}}</string>
                <key>sourceSize</key>
                <string>{138,143}</string>
            </dict>
            <key>NetGame_Reconnecting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1},{380,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,88}}</string>
                <key>sourceSize</key>
                <string>{380,88}</string>
            </dict>
            <key>NetGame_RestroeGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1},{500,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,102}}</string>
                <key>sourceSize</key>
                <string>{500,102}</string>
            </dict>
            <key>NetGame_SitNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,408},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>NetGame_SitSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,417},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>NetGame_TableBeiJing.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,450},{116,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{144,32}</string>
            </dict>
            <key>NetGame_TableChicago.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,417},{120,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{144,32}</string>
            </dict>
            <key>NetGame_TableEdinburgh.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,252},{124,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{124,28}}</string>
                <key>sourceSize</key>
                <string>{144,32}</string>
            </dict>
            <key>NetGame_TableGuangzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,298},{134,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{134,28}}</string>
                <key>sourceSize</key>
                <string>{144,32}</string>
            </dict>
            <key>NetGame_TableHongKong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,144},{138,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{138,28}}</string>
                <key>sourceSize</key>
                <string>{144,32}</string>
            </dict>
            <key>NetGame_TableJaneiro.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1},{142,20}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{142,20}}</string>
                <key>sourceSize</key>
                <string>{144,32}</string>
            </dict>
            <key>NetGame_TableKualaLumpur.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1},{142,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{142,26}}</string>
                <key>sourceSize</key>
                <string>{144,32}</string>
            </dict>
            <key>NetGame_TableLasVegas.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,310},{144,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,32}}</string>
                <key>sourceSize</key>
                <string>{144,32}</string>
            </dict>
            <key>NetGame_TableLondon.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,377},{112,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{112,26}}</string>
                <key>sourceSize</key>
                <string>{144,32}</string>
            </dict>
            <key>NetGame_TableTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,417},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>NetGame_Talk_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,327},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>NetGame_Talk_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,382},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>Net_Win_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,283},{28,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
            <key>Yaoyao_Select_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,207},{280,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,70}}</string>
                <key>sourceSize</key>
                <string>{280,70}</string>
            </dict>
            <key>Yaoyao_Select_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,207},{280,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,70}}</string>
                <key>sourceSize</key>
                <string>{280,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NetGameScene_En.png</string>
            <key>size</key>
            <string>{1306,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70b70892d3d0f37caec98008b22acbb8$</string>
            <key>textureFileName</key>
            <string>NetGameScene_En.png</string>
        </dict>
    </dict>
</plist>
