<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EmoticonList001.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,394},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{56,58}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{76,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{76,58}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,394},{56,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{56,54}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList004.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,371},{60,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList005.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,394},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{68,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList006.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,394},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{62,58}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList007.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,309},{60,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{60,60}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList008.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,394},{58,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{58,58}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList009.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,229},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList010.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,350},{64,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{64,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList011.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,371},{62,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{62,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList012.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,309},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{60,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList013.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,350},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList014.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,229},{78,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>EmoticonList015.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,350},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>NetGameItemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,346}}</string>
                <key>sourceSize</key>
                <string>{720,346}</string>
            </dict>
            <key>NetGameItemBuyBtnBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{456,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,42}}</string>
                <key>sourceSize</key>
                <string>{456,42}</string>
            </dict>
            <key>NetGameItemBuyFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{168,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,174}}</string>
                <key>sourceSize</key>
                <string>{168,174}</string>
            </dict>
            <key>NetLobbyShop_Props_Num.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,371},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>SoloBlacktitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,178},{168,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,49}}</string>
                <key>sourceSize</key>
                <string>{168,49}</string>
            </dict>
            <key>Solo_Store_Gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,418},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NetGameTalk.png</string>
            <key>size</key>
            <string>{894,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fc1fc73d80a669000400bb0f7eabb97$</string>
            <key>textureFileName</key>
            <string>NetGameTalk.png</string>
        </dict>
    </dict>
</plist>
