<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CrazyGame_score_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,465},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>Crazy_Change_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,394},{164,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,70}}</string>
                <key>sourceSize</key>
                <string>{164,70}</string>
            </dict>
            <key>Crazy_Change_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,252},{164,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,70}}</string>
                <key>sourceSize</key>
                <string>{164,70}</string>
            </dict>
            <key>Crazy_Cur_Cue.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,440},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,22}</string>
            </dict>
            <key>Crazy_Next_Cue.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,179},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,22}</string>
            </dict>
            <key>Crazy_Power_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,386},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>Crazy_Power_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>NetGame_Auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,394},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>NetGame_AutoCancelNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,252},{226,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{226,74}}</string>
                <key>sourceSize</key>
                <string>{230,84}</string>
            </dict>
            <key>NetGame_AutoCancelSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,252},{230,74}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{230,74}}</string>
                <key>sourceSize</key>
                <string>{230,84}</string>
            </dict>
            <key>NetGame_ChoseTableNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,234},{138,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,143}}</string>
                <key>sourceSize</key>
                <string>{138,143}</string>
            </dict>
            <key>NetGame_ChoseTableSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,90},{138,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,143}}</string>
                <key>sourceSize</key>
                <string>{138,143}</string>
            </dict>
            <key>NetGame_ChoseTableSuccess.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,252},{392,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,216}}</string>
                <key>sourceSize</key>
                <string>{392,216}</string>
            </dict>
            <key>NetGame_DoubleCue.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1},{308,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{308,88}}</string>
                <key>sourceSize</key>
                <string>{320,102}</string>
            </dict>
            <key>NetGame_NoSeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{576,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,250}}</string>
                <key>sourceSize</key>
                <string>{576,250}</string>
            </dict>
            <key>NetGame_ReadyNormal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,161},{138,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,143}}</string>
                <key>sourceSize</key>
                <string>{138,143}</string>
            </dict>
            <key>NetGame_ReadyNormal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,161},{138,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,143}}</string>
                <key>sourceSize</key>
                <string>{138,143}</string>
            </dict>
            <key>NetGame_ReadySelected1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,250},{138,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,143}}</string>
                <key>sourceSize</key>
                <string>{138,143}</string>
            </dict>
            <key>NetGame_ReadySelected2.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,250},{138,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,143}}</string>
                <key>sourceSize</key>
                <string>{138,143}</string>
            </dict>
            <key>NetGame_Reconnecting.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1},{380,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,88}}</string>
                <key>sourceSize</key>
                <string>{380,88}</string>
            </dict>
            <key>NetGame_RestroeGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,90},{308,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{308,88}}</string>
                <key>sourceSize</key>
                <string>{320,102}</string>
            </dict>
            <key>NetGame_SitNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,305},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>NetGame_SitSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,417},{70,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{70,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>NetGame_TableBeiJing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,405},{110,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{110,26}}</string>
                <key>sourceSize</key>
                <string>{134,26}</string>
            </dict>
            <key>NetGame_TableChicago.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,386},{134,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,26}}</string>
                <key>sourceSize</key>
                <string>{134,26}</string>
            </dict>
            <key>NetGame_TableEdinburgh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,432},{76,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{134,26}</string>
            </dict>
            <key>NetGame_TableGuangzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,413},{50,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{50,26}}</string>
                <key>sourceSize</key>
                <string>{134,26}</string>
            </dict>
            <key>NetGame_TableHongKong.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,440},{110,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{110,26}}</string>
                <key>sourceSize</key>
                <string>{134,26}</string>
            </dict>
            <key>NetGame_TableJaneiro.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,413},{120,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{120,26}}</string>
                <key>sourceSize</key>
                <string>{134,26}</string>
            </dict>
            <key>NetGame_TableKualaLumpur.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,452},{76,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{134,26}</string>
            </dict>
            <key>NetGame_TableLasVegas.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,378},{120,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{120,26}}</string>
                <key>sourceSize</key>
                <string>{134,26}</string>
            </dict>
            <key>NetGame_TableLondon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,427},{110,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{110,24}}</string>
                <key>sourceSize</key>
                <string>{134,26}</string>
            </dict>
            <key>NetGame_TableTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,380},{60,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>NetGame_Talk_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,305},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>NetGame_Talk_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,305},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>Net_Win_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,378},{18,18}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
            <key>Yaoyao_Select_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,90},{280,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,70}}</string>
                <key>sourceSize</key>
                <string>{280,70}</string>
            </dict>
            <key>Yaoyao_Select_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,179},{280,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,70}}</string>
                <key>sourceSize</key>
                <string>{280,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NetGameScene_Hans.png</string>
            <key>size</key>
            <string>{1310,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbe2051222e74cc94fd4713f90bd5be6$</string>
            <key>textureFileName</key>
            <string>NetGameScene_Hans.png</string>
        </dict>
    </dict>
</plist>
