<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Crazy_GameInfo_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{268,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,250}}</string>
                <key>sourceSize</key>
                <string>{268,250}</string>
            </dict>
            <key>Crazy_GameInfo_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,304},{268,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,82}}</string>
                <key>sourceSize</key>
                <string>{268,82}</string>
            </dict>
            <key>Crazy_Left_Turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{362,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,88}}</string>
                <key>sourceSize</key>
                <string>{362,88}</string>
            </dict>
            <key>Crazy_Right_Turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{362,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,88}}</string>
                <key>sourceSize</key>
                <string>{362,88}</string>
            </dict>
            <key>Crazy_UserInfo_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,366},{176,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,78}}</string>
                <key>sourceSize</key>
                <string>{176,82}</string>
            </dict>
            <key>Crazy_UserInfo_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,574},{176,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,80}}</string>
                <key>sourceSize</key>
                <string>{176,80}</string>
            </dict>
            <key>GameScene_Rose_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,919},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>GameScene_Rose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,919},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>GameScene_Rose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,970},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>GameScene_Rose_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,860},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>GameScene_Rose_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,964},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>GameScene_Rose_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,994},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>GameScene_Rose_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,964},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>MainSpe_Tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{300,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,82}}</string>
                <key>sourceSize</key>
                <string>{300,82}</string>
            </dict>
            <key>NetGame_ChangeBall.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,882},{114,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{114,24}}</string>
                <key>sourceSize</key>
                <string>{114,30}</string>
            </dict>
            <key>NetGame_EmoticonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,926},{36,36}}</string>
                <key>offset</key>
                <string>{-24,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>NetGame_EmoticonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,888},{36,36}}</string>
                <key>offset</key>
                <string>{-24,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>NetGame_LuckyBoxAction1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,273},{269,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{269,82}}</string>
                <key>sourceSize</key>
                <string>{275,90}</string>
            </dict>
            <key>NetGame_LuckyBoxAction2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{269,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{269,82}}</string>
                <key>sourceSize</key>
                <string>{275,90}</string>
            </dict>
            <key>NetGame_LuckyBoxNormal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,636},{82,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{100,82}</string>
            </dict>
            <key>NetGame_LuckyBoxNormal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{275,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,90}}</string>
                <key>sourceSize</key>
                <string>{275,90}</string>
            </dict>
            <key>NetGame_LuckyBoxSelected1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,544},{90,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{100,82}</string>
            </dict>
            <key>NetGame_TableFrameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,446},{184,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,146}}</string>
                <key>sourceSize</key>
                <string>{184,146}</string>
            </dict>
            <key>NetGame_TalkCrazy_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,784},{62,52}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{62,52}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>NetGame_TalkCrazy_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,720},{62,52}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{62,52}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>NetGame_TalkNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,848},{38,38}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{54,78}</string>
            </dict>
            <key>NetGame_TalkSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,594},{38,38}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{54,78}</string>
            </dict>
            <key>NetGame_Time.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,896},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{72,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>NetGame_UserNameBg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,720},{160,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,24}}</string>
                <key>sourceSize</key>
                <string>{160,30}</string>
            </dict>
            <key>NetGame_UserNameTop0.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,752},{167,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,50}}</string>
                <key>sourceSize</key>
                <string>{167,50}</string>
            </dict>
            <key>NetGame_UserNameTop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,750},{167,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,50}}</string>
                <key>sourceSize</key>
                <string>{167,50}</string>
            </dict>
            <key>NetGame_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,954},{60,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{60,66}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>NetGame_close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,886},{60,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{60,66}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>Net_Flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,640}}</string>
                <key>sourceSize</key>
                <string>{270,640}</string>
            </dict>
            <key>bink.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,594},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>carTipBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{436,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,42}}</string>
                <key>sourceSize</key>
                <string>{436,42}</string>
            </dict>
            <key>carTipXing.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,949},{26,26}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,42}</string>
            </dict>
            <key>virtualInset_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,440},{1,1}}</string>
                <key>offset</key>
                <string>{-274.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>virtualInset_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{310,32}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,190},{310,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>virtualInset_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,446},{302,36}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,191},{302,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>virtualInset_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,594},{290,40}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,191},{290,40}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>virtualInset_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,594},{264,40}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,191},{264,40}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>virtualInset_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,644},{250,40}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,191},{250,40}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>virtualInset_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,752},{246,42}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,189},{246,42}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>virtualInset_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,594},{266,36}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,190},{266,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>virtualInset_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,440},{1,1}}</string>
                <key>offset</key>
                <string>{-274.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NetGameScene.png</string>
            <key>size</key>
            <string>{666,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fba6936d9482606c135ac2f878bc00e4$</string>
            <key>textureFileName</key>
            <string>NetGameScene.png</string>
        </dict>
    </dict>
</plist>
