<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NetLogon_Accounts.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,372},{96,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,62}}</string>
                <key>sourceSize</key>
                <string>{96,62}</string>
            </dict>
            <key>NetLogon_BindLogon_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>NetLogon_BindLogon_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,376},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>NetLogon_Bind_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,260},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetLogon_Bind_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,198},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetLogon_Change_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,136},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetLogon_Change_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,74},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetLogon_Face_Noraml.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>NetLogon_Face_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,372},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>NetLogon_Logon_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,448},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetLogon_Logon_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetLogon_OtherLogon_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{410,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,32}}</string>
                <key>sourceSize</key>
                <string>{410,32}</string>
            </dict>
            <key>NetLogon_OtherLogon_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{410,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,32}}</string>
                <key>sourceSize</key>
                <string>{410,32}</string>
            </dict>
            <key>NetLogon_Other_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,88}}</string>
                <key>sourceSize</key>
                <string>{412,88}</string>
            </dict>
            <key>NetLogon_Password.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,156},{96,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,62}}</string>
                <key>sourceSize</key>
                <string>{96,62}</string>
            </dict>
            <key>NetLogon_Password_Again.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,92},{96,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,62}}</string>
                <key>sourceSize</key>
                <string>{96,62}</string>
            </dict>
            <key>NetLogon_Singup_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,444},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetLogon_Singup_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,444},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetLogon_Vis_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,236},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>NetLogon_Vis_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>NetReg_Create_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{280,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,70}}</string>
                <key>sourceSize</key>
                <string>{280,70}</string>
            </dict>
            <key>NetReg_Create_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{280,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,70}}</string>
                <key>sourceSize</key>
                <string>{280,70}</string>
            </dict>
            <key>NetReg_Sex.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,338},{314,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{314,32}}</string>
                <key>sourceSize</key>
                <string>{316,40}</string>
            </dict>
            <key>NetReg_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{128,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,334}}</string>
                <key>sourceSize</key>
                <string>{128,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NetLogon_En.png</string>
            <key>size</key>
            <string>{810,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b55c9336b30fa9b015db91aad58206d$</string>
            <key>textureFileName</key>
            <string>NetLogon_En.png</string>
        </dict>
    </dict>
</plist>
