<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NetLogon_Accounts.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,312},{96,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,62}}</string>
                <key>sourceSize</key>
                <string>{96,62}</string>
            </dict>
            <key>NetLogon_BindLogon_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>NetLogon_BindLogon_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,312},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>NetLogon_Bind_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,442},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetLogon_Bind_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,410},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetLogon_Change_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,446},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetLogon_Change_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,438},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetLogon_Logon_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,380},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetLogon_Logon_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetLogon_OtherLogon_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,206},{410,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,32}}</string>
                <key>sourceSize</key>
                <string>{410,32}</string>
            </dict>
            <key>NetLogon_OtherLogon_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{410,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,32}}</string>
                <key>sourceSize</key>
                <string>{410,32}</string>
            </dict>
            <key>NetLogon_Other_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{818,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{818,88}}</string>
                <key>sourceSize</key>
                <string>{818,88}</string>
            </dict>
            <key>NetLogon_Password.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,312},{96,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,62}}</string>
                <key>sourceSize</key>
                <string>{96,62}</string>
            </dict>
            <key>NetLogon_Password_Again.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,92},{96,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,62}}</string>
                <key>sourceSize</key>
                <string>{96,62}</string>
            </dict>
            <key>NetLogon_QQ_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,338},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>NetLogon_QQ_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,308},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>NetLogon_Sina_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,240},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>NetLogon_Sina_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>NetLogon_Singup_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,384},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetLogon_Singup_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,376},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>NetLogon_Ten_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,240},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>NetLogon_Ten_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,236},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>NetLogon_Vis_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,164},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>NetLogon_Vis_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>NetReg_Create_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{280,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,70}}</string>
                <key>sourceSize</key>
                <string>{280,70}</string>
            </dict>
            <key>NetReg_Create_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,92},{280,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,70}}</string>
                <key>sourceSize</key>
                <string>{280,70}</string>
            </dict>
            <key>NetReg_Sex.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,164},{242,40}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,40}}</string>
                <key>sourceSize</key>
                <string>{316,40}</string>
            </dict>
            <key>NetReg_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{128,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,334}}</string>
                <key>sourceSize</key>
                <string>{128,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NetLogon_Hans.png</string>
            <key>size</key>
            <string>{1012,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e99a434ce6e0321e6369caef661e6ac8$</string>
            <key>textureFileName</key>
            <string>NetLogon_Hans.png</string>
        </dict>
    </dict>
</plist>
