<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NetLobbyClub_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,490},{246,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,54}}</string>
                <key>sourceSize</key>
                <string>{246,54}</string>
            </dict>
            <key>NetLobbyClub_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,434},{246,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,54}}</string>
                <key>sourceSize</key>
                <string>{246,54}</string>
            </dict>
            <key>NetLobbyShop_Aid_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,378},{246,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,54}}</string>
                <key>sourceSize</key>
                <string>{246,54}</string>
            </dict>
            <key>NetLobbyShop_Aid_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,322},{246,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,54}}</string>
                <key>sourceSize</key>
                <string>{246,54}</string>
            </dict>
            <key>NetLobbyShop_CrazyBilliards_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,266},{246,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,54}}</string>
                <key>sourceSize</key>
                <string>{246,54}</string>
            </dict>
            <key>NetLobbyShop_CrazyBilliards_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,210},{246,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,54}}</string>
                <key>sourceSize</key>
                <string>{246,54}</string>
            </dict>
            <key>NetLobbyShop_PoolTable_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{246,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,54}}</string>
                <key>sourceSize</key>
                <string>{246,54}</string>
            </dict>
            <key>NetLobbyShop_PoolTable_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,54}}</string>
                <key>sourceSize</key>
                <string>{246,54}</string>
            </dict>
            <key>NetLobby_Buy_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,210},{190,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,94}}</string>
                <key>sourceSize</key>
                <string>{190,94}</string>
            </dict>
            <key>NetLobby_Buy_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,486},{190,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,94}}</string>
                <key>sourceSize</key>
                <string>{190,94}</string>
            </dict>
            <key>NetLobby_Cue_Buy_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,210},{190,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,94}}</string>
                <key>sourceSize</key>
                <string>{190,94}</string>
            </dict>
            <key>NetLobby_Cue_Buy_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,682},{190,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,94}}</string>
                <key>sourceSize</key>
                <string>{190,94}</string>
            </dict>
            <key>NetLobby_Cue_Use_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{190,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,92}}</string>
                <key>sourceSize</key>
                <string>{190,94}</string>
            </dict>
            <key>NetLobby_Cue_Use_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{190,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,92}}</string>
                <key>sourceSize</key>
                <string>{190,94}</string>
            </dict>
            <key>NetLobby_Cue_Used.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,402},{184,82}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{184,82}}</string>
                <key>sourceSize</key>
                <string>{190,94}</string>
            </dict>
            <key>NetShop_PackMonth.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,946},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>NetShop_PackYear.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,946},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>NetShop_Renewals_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,586},{190,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,94}}</string>
                <key>sourceSize</key>
                <string>{190,94}</string>
            </dict>
            <key>NetShop_Renewals_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,490},{190,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,94}}</string>
                <key>sourceSize</key>
                <string>{190,94}</string>
            </dict>
            <key>NetShop_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,682},{142,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,30}}</string>
                <key>sourceSize</key>
                <string>{142,30}</string>
            </dict>
            <key>monthBtn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,317},{121,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{121,66}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>monthBtn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,194},{121,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{121,66}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>poolTable_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,738},{208,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,206}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>poolTable_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{208,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,206}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>poolTable_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{208,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,206}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>poolTable_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{208,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,206}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>poolTable_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{208,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,206}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>yearBtn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,942},{121,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{121,66}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>yearBtn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,874},{121,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{121,66}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NetStore_En.png</string>
            <key>size</key>
            <string>{572,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbd70d2c6728dd8dfc59ff3536d4aacd$</string>
            <key>textureFileName</key>
            <string>NetStore_En.png</string>
        </dict>
    </dict>
</plist>
