<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NEW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{46,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,18}}</string>
                <key>sourceSize</key>
                <string>{46,18}</string>
            </dict>
            <key>NetLobbyShop_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,675}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,675}}</string>
                <key>sourceSize</key>
                <string>{1136,675}</string>
            </dict>
            <key>NetLobbyShop_Cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,679},{921,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{921,130}}</string>
                <key>sourceSize</key>
                <string>{921,130}</string>
            </dict>
            <key>NetLobbyShop_Cell_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,872},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>NetLobbyShop_Recharge_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,811},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>NetLobbyShop_Recharge_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,815},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>NetLobbyShop_Return_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,869},{47,36}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,14},{47,36}}</string>
                <key>sourceSize</key>
                <string>{157,74}</string>
            </dict>
            <key>NetLobbyShop_Return_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,811},{59,48}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,8},{59,48}}</string>
                <key>sourceSize</key>
                <string>{157,74}</string>
            </dict>
            <key>NetShop_Gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,872},{44,36}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{44,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>NetShop_GoldBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{218,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,52}}</string>
                <key>sourceSize</key>
                <string>{218,52}</string>
            </dict>
            <key>NetShop_PropsBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,811},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>NetShop_Rename.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,679},{134,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{134,134}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>NetShop_propsNumBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,679},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>PoolTableBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,815},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>TableProperty.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,868},{628,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{628,40}}</string>
                <key>sourceSize</key>
                <string>{634,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NetStore.png</string>
            <key>size</key>
            <string>{1140,919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beb6c698d7c13ee89b767d96022167d6$</string>
            <key>textureFileName</key>
            <string>NetStore.png</string>
        </dict>
    </dict>
</plist>
