<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CrazyTask_AllTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,306},{114,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,33}}</string>
                <key>sourceSize</key>
                <string>{114,33}</string>
            </dict>
            <key>CrazyTask_Ansion_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,302},{178,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,86}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>CrazyTask_Ansion_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{178,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,86}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>CrazyTask_Duihuan_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,306},{166,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,58}}</string>
                <key>sourceSize</key>
                <string>{166,58}</string>
            </dict>
            <key>CrazyTask_Duihuan_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,246},{166,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,58}}</string>
                <key>sourceSize</key>
                <string>{166,58}</string>
            </dict>
            <key>CrazyTask_GetLater_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,64},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>CrazyTask_GetLater_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>CrazyTask_GetNormal_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>CrazyTask_GetNormal_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>CrazyTask_Get_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{226,174}}</string>
                <key>sourceSize</key>
                <string>{338,174}</string>
            </dict>
            <key>CrazyTask_Icon_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,330},{106,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,48}}</string>
                <key>sourceSize</key>
                <string>{106,48}</string>
            </dict>
            <key>CrazyTask_Info_DH_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,270},{146,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,58}}</string>
                <key>sourceSize</key>
                <string>{146,58}</string>
            </dict>
            <key>CrazyTask_Info_DH_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,210},{146,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,58}}</string>
                <key>sourceSize</key>
                <string>{146,58}</string>
            </dict>
            <key>CrazyTask_Info_HL_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,150},{146,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,58}}</string>
                <key>sourceSize</key>
                <string>{146,58}</string>
            </dict>
            <key>CrazyTask_Info_HL_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,422},{146,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,58}}</string>
                <key>sourceSize</key>
                <string>{146,58}</string>
            </dict>
            <key>CrazyTask_Info_LQ_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,422},{146,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,58}}</string>
                <key>sourceSize</key>
                <string>{146,58}</string>
            </dict>
            <key>CrazyTask_Info_LQ_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{146,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,58}}</string>
                <key>sourceSize</key>
                <string>{146,58}</string>
            </dict>
            <key>CrazyTask_Info_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,366},{164,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,54}}</string>
                <key>sourceSize</key>
                <string>{164,54}</string>
            </dict>
            <key>CrazyTask_Lingqu_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,186},{166,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,58}}</string>
                <key>sourceSize</key>
                <string>{166,58}</string>
            </dict>
            <key>CrazyTask_Lingqu_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,126},{166,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,58}}</string>
                <key>sourceSize</key>
                <string>{166,58}</string>
            </dict>
            <key>CrazyTask_Return_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{68,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{68,26}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>CrazyTask_Return_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,330},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NetTask_Hans.png</string>
            <key>size</key>
            <string>{546,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2be2126949b3f3d672b321f3778c7681$</string>
            <key>textureFileName</key>
            <string>NetTask_Hans.png</string>
        </dict>
    </dict>
</plist>
