<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CrazyTask_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{934,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{934,480}}</string>
                <key>sourceSize</key>
                <string>{934,480}</string>
            </dict>
            <key>CrazyTask_Card.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,126},{214,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,404}}</string>
                <key>sourceSize</key>
                <string>{214,404}</string>
            </dict>
            <key>CrazyTask_Editbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,918},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CrazyTask_InfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{295,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,122}}</string>
                <key>sourceSize</key>
                <string>{295,122}</string>
            </dict>
            <key>CrazyTask_Num.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,786},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>CrazyTask_NumBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,532},{204,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,48}}</string>
                <key>sourceSize</key>
                <string>{204,48}</string>
            </dict>
            <key>CrazyTask_NumWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,582},{204,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{204,42}}</string>
                <key>sourceSize</key>
                <string>{204,48}</string>
            </dict>
            <key>CrazyTask_Pro_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,626},{188,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,21}}</string>
                <key>sourceSize</key>
                <string>{188,21}</string>
            </dict>
            <key>Task_Flicker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1004},{1,1}}</string>
                <key>offset</key>
                <string>{-88.5,42.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,825},{178,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,86}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,262},{116,56}}</string>
                <key>offset</key>
                <string>{28,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,14},{116,56}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,825},{134,54}}</string>
                <key>offset</key>
                <string>{21,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,14},{134,54}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,126},{134,56}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,12},{134,56}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,938},{134,58}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{134,58}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,938},{134,62}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,9},{134,62}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{132,64}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,6},{132,64}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,786},{130,54}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,17},{130,54}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,730},{112,54}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,16},{112,54}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,380},{112,56}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,14},{112,56}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,960},{44,54}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,14},{44,54}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,998},{28,6}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,64},{28,6}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,998},{28,6}}</string>
                <key>offset</key>
                <string>{-18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,64},{28,6}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,998},{28,6}}</string>
                <key>offset</key>
                <string>{-21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,64},{28,6}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{1,1}}</string>
                <key>offset</key>
                <string>{-88.5,42.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,961},{44,56}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,13},{44,56}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,494},{56,54}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,14},{56,54}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,938},{78,58}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,13},{78,58}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,825},{178,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,86}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,737},{178,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,86}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,649},{178,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,86}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Task_Flicker_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,550},{178,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,86}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NetTask.png</string>
            <key>size</key>
            <string>{784,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f9953aa2ca861843967132056cd7d95$</string>
            <key>textureFileName</key>
            <string>NetTask.png</string>
        </dict>
    </dict>
</plist>
