<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PersonInfo_Buy_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{160,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,53}}</string>
                <key>sourceSize</key>
                <string>{160,53}</string>
            </dict>
            <key>PersonInfo_Buy_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{160,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,53}}</string>
                <key>sourceSize</key>
                <string>{160,53}</string>
            </dict>
            <key>PersonInfo_Friend_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{194,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,54}}</string>
                <key>sourceSize</key>
                <string>{194,54}</string>
            </dict>
            <key>PersonInfo_Friend_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,54}}</string>
                <key>sourceSize</key>
                <string>{194,54}</string>
            </dict>
            <key>PersonInfo_Title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,91},{49,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,27}}</string>
                <key>sourceSize</key>
                <string>{49,27}</string>
            </dict>
            <key>PersonInfo_Title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,62},{49,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,27}}</string>
                <key>sourceSize</key>
                <string>{49,27}</string>
            </dict>
            <key>PersonInfo_Title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,32},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>PersonInfo_Title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>Rose_Add_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,180},{133,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{133,58}}</string>
                <key>sourceSize</key>
                <string>{139,60}</string>
            </dict>
            <key>Rose_Add_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,120},{133,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{133,58}}</string>
                <key>sourceSize</key>
                <string>{139,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PersonInfo_Hans.png</string>
            <key>size</key>
            <string>{299,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f31fdc8cd1b8d9ee269a240c0305d2b1$</string>
            <key>textureFileName</key>
            <string>PersonInfo_Hans.png</string>
        </dict>
    </dict>
</plist>
