<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>America_Pool_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{248,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,35}}</string>
                <key>sourceSize</key>
                <string>{248,35}</string>
            </dict>
            <key>Feedback_issues_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,594},{185,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,62}}</string>
                <key>sourceSize</key>
                <string>{185,62}</string>
            </dict>
            <key>Feedback_issues_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{185,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,62}}</string>
                <key>sourceSize</key>
                <string>{185,62}</string>
            </dict>
            <key>GameUserHead_Label.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,658},{159,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,27}}</string>
                <key>sourceSize</key>
                <string>{159,27}</string>
            </dict>
            <key>NetPersonCencer_Account.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,952},{102,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,22}}</string>
                <key>sourceSize</key>
                <string>{102,22}</string>
            </dict>
            <key>NetPersonCencer_Address.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,928},{104,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,22}}</string>
                <key>sourceSize</key>
                <string>{104,22}</string>
            </dict>
            <key>NetPersonCencer_Bt1_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,976},{118,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{118,26}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetPersonCencer_Bt1_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,938},{128,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{128,36}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetPersonCencer_Bt2_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,904},{110,22}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{110,22}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetPersonCencer_Bt2_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,782},{124,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{124,32}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetPersonCencer_Bt3_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,880},{116,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{116,22}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetPersonCencer_Bt3_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,816},{126,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{126,32}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetPersonCencer_HeadBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,198}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>NetPersonCencer_Sex.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,976},{90,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,22}}</string>
                <key>sourceSize</key>
                <string>{90,22}</string>
            </dict>
            <key>NetPersonCencer_Title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,668},{148,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,34}}</string>
                <key>sourceSize</key>
                <string>{148,34}</string>
            </dict>
            <key>NetPersonCencer_Title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,850},{136,28}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{136,28}}</string>
                <key>sourceSize</key>
                <string>{148,34}</string>
            </dict>
            <key>NetPersonCencer_Title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,687},{156,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,28}}</string>
                <key>sourceSize</key>
                <string>{156,28}</string>
            </dict>
            <key>NetPhotograph_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{424,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,76}}</string>
                <key>sourceSize</key>
                <string>{424,76}</string>
            </dict>
            <key>NetPhotograph_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{424,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,76}}</string>
                <key>sourceSize</key>
                <string>{424,76}</string>
            </dict>
            <key>NetUploadCancel_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{424,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,76}}</string>
                <key>sourceSize</key>
                <string>{424,76}</string>
            </dict>
            <key>NetUploadCancel_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{424,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,76}}</string>
                <key>sourceSize</key>
                <string>{424,76}</string>
            </dict>
            <key>NetUserPhotoAlbum_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{424,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,76}}</string>
                <key>sourceSize</key>
                <string>{424,76}</string>
            </dict>
            <key>NetUserPhotoAlbum_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,76}}</string>
                <key>sourceSize</key>
                <string>{424,76}</string>
            </dict>
            <key>Personal_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,612},{140,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,54}}</string>
                <key>sourceSize</key>
                <string>{140,54}</string>
            </dict>
            <key>Personal_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,556},{140,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,54}}</string>
                <key>sourceSize</key>
                <string>{140,54}</string>
            </dict>
            <key>Roger_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,532},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>Roger_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,470},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>rules_btn_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,860},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,782},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_normal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,242},{138,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_normal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,704},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_normal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,927},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_normal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,849},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_normal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,162},{138,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_normal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,771},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_press_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,478},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_press_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_press_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,82},{138,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_press_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_press_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_press_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,400},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_press_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{138,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_press_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,322},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PersonCenter_En.png</string>
            <key>size</key>
            <string>{568,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59192cc918bd49d45391b74a353ff195$</string>
            <key>textureFileName</key>
            <string>PersonCenter_En.png</string>
        </dict>
    </dict>
</plist>
