<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>America_Pool_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,340},{138,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,41}}</string>
                <key>sourceSize</key>
                <string>{138,41}</string>
            </dict>
            <key>Feedback_issues_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,376},{185,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,62}}</string>
                <key>sourceSize</key>
                <string>{185,62}</string>
            </dict>
            <key>Feedback_issues_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,220},{185,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,62}}</string>
                <key>sourceSize</key>
                <string>{185,62}</string>
            </dict>
            <key>GameUserHead_Label.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,268},{91,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,24}}</string>
                <key>sourceSize</key>
                <string>{91,24}</string>
            </dict>
            <key>NetPersonCencer_Account.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,240},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>NetPersonCencer_Address.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,188},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,26}}</string>
                <key>sourceSize</key>
                <string>{62,26}</string>
            </dict>
            <key>NetPersonCencer_Bt1_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,448},{96,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{96,26}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetPersonCencer_Bt1_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,518},{108,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{108,36}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetPersonCencer_Bt2_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,489},{94,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{94,26}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetPersonCencer_Bt2_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,518},{106,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{106,36}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetPersonCencer_Bt3_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,461},{94,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{94,26}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetPersonCencer_Bt3_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,518},{106,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{106,36}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>NetPersonCencer_HeadBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,198}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>NetPersonCencer_Sex.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,160},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,26}}</string>
                <key>sourceSize</key>
                <string>{62,26}</string>
            </dict>
            <key>NetPersonCencer_Title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,508},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>NetPersonCencer_Title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,474},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>NetPersonCencer_Title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>NetPhotograph_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{424,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,76}}</string>
                <key>sourceSize</key>
                <string>{424,76}</string>
            </dict>
            <key>NetPhotograph_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,80},{424,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,76}}</string>
                <key>sourceSize</key>
                <string>{424,76}</string>
            </dict>
            <key>NetUploadCancel_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{424,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,76}}</string>
                <key>sourceSize</key>
                <string>{424,76}</string>
            </dict>
            <key>NetUploadCancel_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{424,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,76}}</string>
                <key>sourceSize</key>
                <string>{424,76}</string>
            </dict>
            <key>NetUserPhotoAlbum_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{424,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,76}}</string>
                <key>sourceSize</key>
                <string>{424,76}</string>
            </dict>
            <key>NetUserPhotoAlbum_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,76}}</string>
                <key>sourceSize</key>
                <string>{424,76}</string>
            </dict>
            <key>Personal_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,284},{140,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,54}}</string>
                <key>sourceSize</key>
                <string>{140,54}</string>
            </dict>
            <key>Personal_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,236},{140,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,54}}</string>
                <key>sourceSize</key>
                <string>{140,54}</string>
            </dict>
            <key>Roger_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,314},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>Roger_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,158},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>rules_btn_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,396},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,318},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_normal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,476},{138,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_normal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,476},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_normal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,476},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_normal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,370},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_normal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,396},{138,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_normal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,318},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_press_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,240},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_press_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,292},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_press_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,160},{138,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_press_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,383},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_press_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,158},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_press_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,440},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_press_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{138,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rules_btn_press_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,82},{138,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PersonCenter_Hans.png</string>
            <key>size</key>
            <string>{997,556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10911bd75f7b4197f0e265f88d01fa23$</string>
            <key>textureFileName</key>
            <string>PersonCenter_Hans.png</string>
        </dict>
    </dict>
</plist>
