<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ModeSelect_Start_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{402,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{402,82}}</string>
                <key>sourceSize</key>
                <string>{412,94}</string>
            </dict>
            <key>ModeSelect_Start_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,94}}</string>
                <key>sourceSize</key>
                <string>{412,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PromptImg_Hans.png</string>
            <key>size</key>
            <string>{416,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9274f74bc9f86dc674772c03c8a49a2$</string>
            <key>textureFileName</key>
            <string>PromptImg_Hans.png</string>
        </dict>
    </dict>
</plist>
