<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TodaysPrivilege.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,78}}</string>
                <key>sourceSize</key>
                <string>{296,78}</string>
            </dict>
            <key>allrank2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,214},{123,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,69}}</string>
                <key>sourceSize</key>
                <string>{123,69}</string>
            </dict>
            <key>allrank2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,168},{123,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,69}}</string>
                <key>sourceSize</key>
                <string>{123,69}</string>
            </dict>
            <key>rankinglist_All Players_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,140},{114,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,69}}</string>
                <key>sourceSize</key>
                <string>{114,69}</string>
            </dict>
            <key>rankinglist_All Players_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,158},{114,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,69}}</string>
                <key>sourceSize</key>
                <string>{114,69}</string>
            </dict>
            <key>rankinglist_Clearance_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,106},{138,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,69}}</string>
                <key>sourceSize</key>
                <string>{138,69}</string>
            </dict>
            <key>rankinglist_Clearance_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,158},{138,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,69}}</string>
                <key>sourceSize</key>
                <string>{138,69}</string>
            </dict>
            <key>rankinglist_Look-on_hold.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,229},{115,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,62}}</string>
                <key>sourceSize</key>
                <string>{115,62}</string>
            </dict>
            <key>rankinglist_Look-on_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,229},{115,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,62}}</string>
                <key>sourceSize</key>
                <string>{115,62}</string>
            </dict>
            <key>rankinglist_Look-on_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,229},{115,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,62}}</string>
                <key>sourceSize</key>
                <string>{115,62}</string>
            </dict>
            <key>rankinglist_Name.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,25}}</string>
                <key>sourceSize</key>
                <string>{72,25}</string>
            </dict>
            <key>rankinglist_New Players.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,29},{115,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,69}}</string>
                <key>sourceSize</key>
                <string>{115,69}</string>
            </dict>
            <key>rankinglist_New Players_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,214},{115,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,69}}</string>
                <key>sourceSize</key>
                <string>{115,69}</string>
            </dict>
            <key>rankinglist_Our Star_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,168},{123,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,69}}</string>
                <key>sourceSize</key>
                <string>{123,69}</string>
            </dict>
            <key>rankinglist_Our Star_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{123,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,69}}</string>
                <key>sourceSize</key>
                <string>{123,69}</string>
            </dict>
            <key>rankinglist_Rose Top.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,106},{156,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,25},{156,32}}</string>
                <key>sourceSize</key>
                <string>{324,90}</string>
            </dict>
            <key>rankinglist_Rose from.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,177},{151,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,35}}</string>
                <key>sourceSize</key>
                <string>{151,35}</string>
            </dict>
            <key>rankinglist_Rose give to.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,244},{154,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,35}}</string>
                <key>sourceSize</key>
                <string>{154,35}</string>
            </dict>
            <key>rankinglist_Today's Rose.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{218,32}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,25},{218,32}}</string>
                <key>sourceSize</key>
                <string>{324,90}</string>
            </dict>
            <key>rankinglist_Today's Rose_sent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{218,32}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,25},{218,32}}</string>
                <key>sourceSize</key>
                <string>{324,90}</string>
            </dict>
            <key>rankinglist_Today’s Rose.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{218,32}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,25},{218,32}}</string>
                <key>sourceSize</key>
                <string>{324,90}</string>
            </dict>
            <key>rankinglist_Today’s Rose_sent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{218,32}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,25},{218,32}}</string>
                <key>sourceSize</key>
                <string>{324,90}</string>
            </dict>
            <key>rankinglist_clear2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,106},{197,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,50}}</string>
                <key>sourceSize</key>
                <string>{197,50}</string>
            </dict>
            <key>rankinglist_clear2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,192},{197,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,50}}</string>
                <key>sourceSize</key>
                <string>{197,50}</string>
            </dict>
            <key>rankinglist_clear_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,140},{197,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,50}}</string>
                <key>sourceSize</key>
                <string>{197,50}</string>
            </dict>
            <key>rankinglist_clear_pressl.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,88},{197,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,50}}</string>
                <key>sourceSize</key>
                <string>{197,50}</string>
            </dict>
            <key>rankinglist_clearn_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,174},{26,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{26,26}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>rankinglist_coins_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,54},{197,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,50}}</string>
                <key>sourceSize</key>
                <string>{197,50}</string>
            </dict>
            <key>rankinglist_coins_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,54},{197,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,50}}</string>
                <key>sourceSize</key>
                <string>{197,50}</string>
            </dict>
            <key>rankinglist_percent_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,146},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>rankinglist_win_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,244},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{26,26}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>rankinglist_won-today_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{197,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,50}}</string>
                <key>sourceSize</key>
                <string>{197,50}</string>
            </dict>
            <key>rankinglist_won-today_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{197,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,50}}</string>
                <key>sourceSize</key>
                <string>{197,50}</string>
            </dict>
            <key>rankinglist_won_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,36},{197,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,50}}</string>
                <key>sourceSize</key>
                <string>{197,50}</string>
            </dict>
            <key>rankinglist_won_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{197,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,50}}</string>
                <key>sourceSize</key>
                <string>{197,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RankingList_Hans.png</string>
            <key>size</key>
            <string>{1007,293}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:758d08533e2716d5ae7a54e04d4f9a0c$</string>
            <key>textureFileName</key>
            <string>RankingList_Hans.png</string>
        </dict>
    </dict>
</plist>
