<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ranking_fram_.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{535,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,41}}</string>
                <key>sourceSize</key>
                <string>{535,41}</string>
            </dict>
            <key>ranking_reward_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,497},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>ranking_reward_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,749},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>ranking_reward_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,497},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>ranking_reward_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,751},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>ranking_reward_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>rankinglist_cancel_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,497},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rankinglist_cancel_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>rankinglist_privi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,775},{234,77}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,77}}</string>
                <key>sourceSize</key>
                <string>{260,77}</string>
            </dict>
            <key>rankinglist_privile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,539},{234,77}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,77}}</string>
                <key>sourceSize</key>
                <string>{260,77}</string>
            </dict>
            <key>rankinglist_privilege1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,749},{260,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,77}}</string>
                <key>sourceSize</key>
                <string>{260,77}</string>
            </dict>
            <key>rankinglist_prop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,252}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>rankinglist_spot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,97},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>rankinglist_spot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,56},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>rankinglist_today_privilege.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{824,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{824,493}}</string>
                <key>sourceSize</key>
                <string>{824,493}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RankingList.png</string>
            <key>size</key>
            <string>{925,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:576a1dd157f7f0332fdebd5bc9f6e6ff$</string>
            <key>textureFileName</key>
            <string>RankingList.png</string>
        </dict>
    </dict>
</plist>
