<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rankinglist_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,321},{316,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,317}}</string>
                <key>sourceSize</key>
                <string>{316,317}</string>
            </dict>
            <key>rankinglist_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{316,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,317}}</string>
                <key>sourceSize</key>
                <string>{316,317}</string>
            </dict>
            <key>rankinglist_NO..png</key>
            <dict>
                <key>frame</key>
                <string>{{56,913},{43,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,20}}</string>
                <key>sourceSize</key>
                <string>{43,20}</string>
            </dict>
            <key>rankinglist_button2_myframe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{960,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,112}}</string>
                <key>sourceSize</key>
                <string>{960,112}</string>
            </dict>
            <key>rankinglist_button2_myframe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{960,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,128}}</string>
                <key>sourceSize</key>
                <string>{960,128}</string>
            </dict>
            <key>rankinglist_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{203,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,112}}</string>
                <key>sourceSize</key>
                <string>{203,112}</string>
            </dict>
            <key>rankinglist_hg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,686},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>rankinglist_hg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,920},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>rankinglist_hg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,881},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>rankinglist_hg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,823},{52,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{52,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rankinglist_hg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,893},{60,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rankinglist_hg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,881},{60,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rankinglist_home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,913},{52,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{52,46}}</string>
                <key>sourceSize</key>
                <string>{70,64}</string>
            </dict>
            <key>rankinglist_home_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,823},{68,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,64}</string>
            </dict>
            <key>rankinglist_infocard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{705,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{705,253}}</string>
                <key>sourceSize</key>
                <string>{705,253}</string>
            </dict>
            <key>rankinglist_lv_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,939},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,20}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>rankinglist_lv_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,709},{170,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{170,22}}</string>
                <key>sourceSize</key>
                <string>{170,24}</string>
            </dict>
            <key>rankinglist_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,725},{32,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>rankinglist_rose_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,640},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>rankinglist_rose_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,759},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>rankinglist_site.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,709},{24,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{24,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>rankinglist_txs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>rankinglist_xgb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,640},{316,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,103}}</string>
                <key>sourceSize</key>
                <string>{316,103}</string>
            </dict>
            <key>rankinglist_xgb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,640},{316,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,103}}</string>
                <key>sourceSize</key>
                <string>{316,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RankingList_3.png</string>
            <key>size</key>
            <string>{819,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaf65708a0036b832401e799a12f23ec$</string>
            <key>textureFileName</key>
            <string>RankingList_3.png</string>
        </dict>
    </dict>
</plist>
