<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NetRe_BrilliantName01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{190,20}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{190,20}}</string>
                <key>sourceSize</key>
                <string>{230,40}</string>
            </dict>
            <key>NetRe_BrilliantName02.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,242},{150,24}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,9},{150,24}}</string>
                <key>sourceSize</key>
                <string>{230,40}</string>
            </dict>
            <key>NetRe_BrilliantName03.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{158,20}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,11},{158,20}}</string>
                <key>sourceSize</key>
                <string>{230,40}</string>
            </dict>
            <key>NetRe_BrilliantName04.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,74},{166,20}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{166,20}}</string>
                <key>sourceSize</key>
                <string>{230,40}</string>
            </dict>
            <key>NetRe_BrilliantName05.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,132},{208,20}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{208,20}}</string>
                <key>sourceSize</key>
                <string>{230,40}</string>
            </dict>
            <key>NetRe_BrilliantName06.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,236},{128,20}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,10},{128,20}}</string>
                <key>sourceSize</key>
                <string>{230,40}</string>
            </dict>
            <key>NetRe_CNY.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,342},{16,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{16,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>NetRe_Free.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,162},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>NetRe_Gems.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,414},{71,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,24}}</string>
                <key>sourceSize</key>
                <string>{71,24}</string>
            </dict>
            <key>NetRe_GemsName01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{168,20}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{168,20}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>NetRe_GemsName02.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,236},{128,24}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,9},{128,24}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>NetRe_GemsName03.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,236},{136,20}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,11},{136,20}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>NetRe_GemsName04.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{144,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{144,20}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>NetRe_GemsName05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{188,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{188,20}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>NetRe_GemsName06.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,366},{110,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,10},{110,20}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>NetRe_GetBrilliant_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{187,56}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,56}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>NetRe_GetBrilliant_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>NetRe_GetGems_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{209,56}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,56}}</string>
                <key>sourceSize</key>
                <string>{215,70}</string>
            </dict>
            <key>NetRe_GetGems_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,70}}</string>
                <key>sourceSize</key>
                <string>{215,70}</string>
            </dict>
            <key>NetRe_GetGold_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{187,56}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,56}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>NetRe_GetGold_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>NetRe_GoldName01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{166,20}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{166,20}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>NetRe_GoldName02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,374},{126,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,7},{126,24}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>NetRe_GoldName03.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{134,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,11},{134,19}}</string>
                <key>sourceSize</key>
                <string>{200,41}</string>
            </dict>
            <key>NetRe_GoldName04.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{144,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{144,19}}</string>
                <key>sourceSize</key>
                <string>{200,39}</string>
            </dict>
            <key>NetRe_GoldName05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{188,20}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{188,20}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>NetRe_GoldName06.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,394},{110,20}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,11},{110,20}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>NetRe_UserNameTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,366},{117,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,24}}</string>
                <key>sourceSize</key>
                <string>{117,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RechangeBox_En.png</string>
            <key>size</key>
            <string>{321,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6895be78ce3b63f7b7f79e8d288738f2$</string>
            <key>textureFileName</key>
            <string>RechangeBox_En.png</string>
        </dict>
    </dict>
</plist>
