<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NetRe_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{890,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{890,446}}</string>
                <key>sourceSize</key>
                <string>{890,446}</string>
            </dict>
            <key>NetRe_BuyBt_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,98},{220,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,277}}</string>
                <key>sourceSize</key>
                <string>{220,277}</string>
            </dict>
            <key>NetRe_BuyBt_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,120},{220,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,277}}</string>
                <key>sourceSize</key>
                <string>{220,277}</string>
            </dict>
            <key>NetRe_DownBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{841,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{841,94}}</string>
                <key>sourceSize</key>
                <string>{841,94}</string>
            </dict>
            <key>NetRe_Gems01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,439},{100,68}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{100,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>NetRe_Gems02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,314},{116,92}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{116,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>NetRe_Gems03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,206},{100,106}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{100,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>NetRe_Gems04.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,399},{108,120}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{108,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>NetRe_Gems05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,315},{122,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{122,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>NetRe_Gems06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,98},{120,106}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{120,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>NetRe_Gold01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,408},{98,96}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{98,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>NetRe_Gold02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,98},{104,112}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{104,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>NetRe_Gold03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,204},{96,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{96,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>NetRe_Gold04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,399},{108,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{108,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>NetRe_Gold05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,377},{124,114}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{124,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>NetRe_Gold06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,377},{124,96}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{124,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>NetRe_GoldBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,450},{221,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,47}}</string>
                <key>sourceSize</key>
                <string>{221,47}</string>
            </dict>
            <key>NetRe_PhonePay_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,450},{209,56}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,56}}</string>
                <key>sourceSize</key>
                <string>{215,70}</string>
            </dict>
            <key>NetRe_PhonePay_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,98},{215,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,70}}</string>
                <key>sourceSize</key>
                <string>{215,70}</string>
            </dict>
            <key>NetRe_Zfb_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{209,56}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,56}}</string>
                <key>sourceSize</key>
                <string>{215,70}</string>
            </dict>
            <key>NetRe_Zfb_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,98},{215,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,70}}</string>
                <key>sourceSize</key>
                <string>{215,70}</string>
            </dict>
            <key>NetRe_bigGem.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{44,36}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{44,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>NetRe_bigGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,450},{40,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{40,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>NetRe_smallGem.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,399},{33,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,24}}</string>
                <key>sourceSize</key>
                <string>{33,24}</string>
            </dict>
            <key>NetRe_smallGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,88},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>Recharge_BigBlueGem.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,48},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>Recharge_closed_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,315},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Recharge_closed_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,450},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Solo_alipay_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,450},{187,56}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,56}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>Solo_alipay_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,315},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RechangeBox.png</string>
            <key>size</key>
            <string>{1775,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dae7c463446da74bacb8da4c252cb742$</string>
            <key>textureFileName</key>
            <string>RechangeBox.png</string>
        </dict>
    </dict>
</plist>
