<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_level_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,415},{253,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,333}}</string>
                <key>sourceSize</key>
                <string>{253,333}</string>
            </dict>
            <key>1_level_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,590},{253,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,333}}</string>
                <key>sourceSize</key>
                <string>{253,333}</string>
            </dict>
            <key>2_level_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,590},{253,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,333}}</string>
                <key>sourceSize</key>
                <string>{253,333}</string>
            </dict>
            <key>3_level_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,744},{253,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,333}}</string>
                <key>sourceSize</key>
                <string>{253,333}</string>
            </dict>
            <key>4_level_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{253,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,333}}</string>
                <key>sourceSize</key>
                <string>{253,333}</string>
            </dict>
            <key>CrazyTask_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{934,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{934,480}}</string>
                <key>sourceSize</key>
                <string>{934,480}</string>
            </dict>
            <key>Medals_Icon_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,953},{106,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,32}}</string>
                <key>sourceSize</key>
                <string>{106,32}</string>
            </dict>
            <key>bag_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,837},{103,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,116}}</string>
                <key>sourceSize</key>
                <string>{103,116}</string>
            </dict>
            <key>bag_btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,744},{91,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{91,104}}</string>
                <key>sourceSize</key>
                <string>{103,116}</string>
            </dict>
            <key>close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,925},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,925},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>down_arrow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,959},{35,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,20}}</string>
                <key>sourceSize</key>
                <string>{35,20}</string>
            </dict>
            <key>down_arrow_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,971},{35,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,20}}</string>
                <key>sourceSize</key>
                <string>{35,20}</string>
            </dict>
            <key>item_select_fram.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,750},{118,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,119}}</string>
                <key>sourceSize</key>
                <string>{118,119}</string>
            </dict>
            <key>move_arrow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,925},{70,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,110}}</string>
                <key>sourceSize</key>
                <string>{72,114}</string>
            </dict>
            <key>move_arrow_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,845},{72,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,112}}</string>
                <key>sourceSize</key>
                <string>{72,114}</string>
            </dict>
            <key>name_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{102,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,22}}</string>
                <key>sourceSize</key>
                <string>{102,22}</string>
            </dict>
            <key>point_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,845},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>poit_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,415},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>price_frame_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,2},{252,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{252,50}}</string>
                <key>sourceSize</key>
                <string>{278,76}</string>
            </dict>
            <key>price_frame_yeloow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,337},{278,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,76}}</string>
                <key>sourceSize</key>
                <string>{278,76}</string>
            </dict>
            <key>prize_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,871},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>prize_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,433},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>prize_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,433},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>prize_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,433},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>prize_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,845},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>prize_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{510,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,429}}</string>
                <key>sourceSize</key>
                <string>{510,429}</string>
            </dict>
            <key>radio_btn_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,955},{42,42}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{42,42}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>radio_btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,433},{42,42}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{42,42}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{16,1362}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{16,1362}}</string>
                <key>sourceSize</key>
                <string>{24,1380}</string>
            </dict>
            <key>score_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,744},{224,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,45}}</string>
                <key>sourceSize</key>
                <string>{224,45}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,256},{62,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{62,38}</string>
            </dict>
            <key>slider_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,433},{127,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,40}}</string>
                <key>sourceSize</key>
                <string>{127,40}</string>
            </dict>
            <key>sp_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{419,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,379}}</string>
                <key>sourceSize</key>
                <string>{419,379}</string>
            </dict>
            <key>sp_gemstone_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,883},{99,113}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{99,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>sp_gemstone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,845},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>sp_gemstone_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,750},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>sp_gemstone_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,750},{1,1}}</string>
                <key>offset</key>
                <string>{-67,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>sp_pillars.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,590},{152,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,486}}</string>
                <key>sourceSize</key>
                <string>{152,486}</string>
            </dict>
            <key>under_the_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{1135,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1135,86}}</string>
                <key>sourceSize</key>
                <string>{1135,86}</string>
            </dict>
            <key>up_arrow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,541},{35,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,20}}</string>
                <key>sourceSize</key>
                <string>{35,20}</string>
            </dict>
            <key>up_arrow_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,970},{35,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,20}}</string>
                <key>sourceSize</key>
                <string>{35,20}</string>
            </dict>
            <key>滑动块.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,256},{62,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{62,38}</string>
            </dict>
            <key>滑动条底.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,433},{127,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,40}}</string>
                <key>sourceSize</key>
                <string>{127,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShakeGame.png</string>
            <key>size</key>
            <string>{1757,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37b655c3e852dfebef6daf322c9b4fe5$</string>
            <key>textureFileName</key>
            <string>ShakeGame.png</string>
        </dict>
    </dict>
</plist>
