<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>USShareCancel_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{424,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,76}}</string>
                <key>sourceSize</key>
                <string>{424,76}</string>
            </dict>
            <key>USShareCancel_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,76}}</string>
                <key>sourceSize</key>
                <string>{424,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SharedSprite_Hans.png</string>
            <key>size</key>
            <string>{428,159}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5259e2c1f6b05e026a736954d174f29$</string>
            <key>textureFileName</key>
            <string>SharedSprite_Hans.png</string>
        </dict>
    </dict>
</plist>
