<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,704},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>0_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,844},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>0_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,689},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>0_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,844},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>0_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,636},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>1_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,568},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>1_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,844},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,784},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>1_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,500},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>2_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,432},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>2_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,724},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,724},{152,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,58}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,364},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>Card_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{154,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,192}}</string>
                <key>sourceSize</key>
                <string>{154,192}</string>
            </dict>
            <key>No_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,348},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,180},{4,22}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{4,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,332},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,689},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,316},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,300},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,284},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,268},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>No_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,252},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>The_Rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{712,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,248}}</string>
                <key>sourceSize</key>
                <string>{712,248}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,724},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,900},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>back_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,900},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ballBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{140,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,176}}</string>
                <key>sourceSize</key>
                <string>{140,176}</string>
            </dict>
            <key>ball_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,889},{91,115}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,44},{91,115}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>ball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,772},{91,115}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,44},{91,115}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>ball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,889},{91,115}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,38},{91,115}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>ball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,772},{91,115}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,44},{91,115}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>ball_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,898},{91,115}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,38},{91,115}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>ball_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{91,115}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,38},{91,115}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>ball_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,180},{131,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{131,171}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>billboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,689},{510,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,33}}</string>
                <key>sourceSize</key>
                <string>{510,33}</string>
            </dict>
            <key>joystick_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,724},{50,172}}</string>
                <key>offset</key>
                <string>{-5,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,172}}</string>
                <key>sourceSize</key>
                <string>{60,324}</string>
            </dict>
            <key>joystick_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,888},{54,112}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,61},{54,112}}</string>
                <key>sourceSize</key>
                <string>{60,324}</string>
            </dict>
            <key>joystick_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,724},{48,38}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,141},{48,38}}</string>
                <key>sourceSize</key>
                <string>{60,324}</string>
            </dict>
            <key>joystick_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,772},{58,114}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,151},{58,114}}</string>
                <key>sourceSize</key>
                <string>{60,324}</string>
            </dict>
            <key>joystick_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,772},{54,174}}</string>
                <key>offset</key>
                <string>{-3,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,150},{54,174}}</string>
                <key>sourceSize</key>
                <string>{60,324}</string>
            </dict>
            <key>machines.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{685,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,435}}</string>
                <key>sourceSize</key>
                <string>{685,435}</string>
            </dict>
            <key>redball_bright.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,724},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>rule_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,828},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>rule_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,828},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SlotMachines.png</string>
            <key>size</key>
            <string>{858,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fde2a988d38627f7540e8f72673c9b2d$</string>
            <key>textureFileName</key>
            <string>SlotMachines.png</string>
        </dict>
    </dict>
</plist>
