<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SoloGame_Rule_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,214},{209,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>Solo_14-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{343,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,466}}</string>
                <key>sourceSize</key>
                <string>{343,466}</string>
            </dict>
            <key>Solo_Game_Rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{210,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{210,210}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Solo_Head_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,334},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>Solo_LV.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,458},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>Solo_Mode_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{343,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,466}}</string>
                <key>sourceSize</key>
                <string>{343,466}</string>
            </dict>
            <key>Solo_PVE.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{343,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,465}}</string>
                <key>sourceSize</key>
                <string>{343,465}</string>
            </dict>
            <key>Solo_Power_Nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,2},{256,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,83}}</string>
                <key>sourceSize</key>
                <string>{258,83}</string>
            </dict>
            <key>Solo_Power_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,425},{256,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,83}}</string>
                <key>sourceSize</key>
                <string>{258,83}</string>
            </dict>
            <key>Solo_ReturnBt_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,400},{54,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{54,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Solo_ReturnBt_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,260},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Solo_upgrade_Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,470},{173,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,21}}</string>
                <key>sourceSize</key>
                <string>{173,21}</string>
            </dict>
            <key>Solo_upgrade_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{173,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,21}}</string>
                <key>sourceSize</key>
                <string>{173,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SoloModeHall.png</string>
            <key>size</key>
            <string>{1351,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24b83796bd99e9ab46c3f5dacd22e9d5$</string>
            <key>textureFileName</key>
            <string>SoloModeHall.png</string>
        </dict>
    </dict>
</plist>
