<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Solo_Comingsoon_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,52}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,29},{257,52}}</string>
                <key>sourceSize</key>
                <string>{343,100}</string>
            </dict>
            <key>Solo_PVE_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{94,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,27},{94,48}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>Solo_Power_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{110,30}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,38},{110,30}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>Solo_Rule_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{123,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,29}}</string>
                <key>sourceSize</key>
                <string>{123,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SoloModeHall_En.png</string>
            <key>size</key>
            <string>{594,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ecdcf13b98cbf22ae45f47f53d0c705$</string>
            <key>textureFileName</key>
            <string>SoloModeHall_En.png</string>
        </dict>
    </dict>
</plist>
