<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Solo_Head_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,142},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>Solo_Info_Edit_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,208},{300,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,56}}</string>
                <key>sourceSize</key>
                <string>{300,56}</string>
            </dict>
            <key>Solo_Info_Head_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,710},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>Solo_Info_UpHead_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,666},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>Solo_Info_UpHead_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,666},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>Solo_UpHead_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,142},{522,615}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,615}}</string>
                <key>sourceSize</key>
                <string>{542,615}</string>
            </dict>
            <key>Solo_UserInfo_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{936,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{936,658}}</string>
                <key>sourceSize</key>
                <string>{936,658}</string>
            </dict>
            <key>Solo_UserInfo_Edit_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,834},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>Solo_UserInfo_Edit_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,618},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>Solo_UserInfo_GroupFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{699,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{699,138}}</string>
                <key>sourceSize</key>
                <string>{699,138}</string>
            </dict>
            <key>Solo_UserInfo_GroupFrame_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,710},{339,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,108}}</string>
                <key>sourceSize</key>
                <string>{339,108}</string>
            </dict>
            <key>Solo_UserInfo_Lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,618},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>Solo_UserInfo_Progress_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,208},{173,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,21}}</string>
                <key>sourceSize</key>
                <string>{173,21}</string>
            </dict>
            <key>Solo_UserInfo_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,564},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Solo_UserInfo_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,510},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SoloUserInfo.png</string>
            <key>size</key>
            <string>{1363,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a61a6ae6adf1103c16ac96849f0b6b01$</string>
            <key>textureFileName</key>
            <string>SoloUserInfo.png</string>
        </dict>
    </dict>
</plist>
