<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NetShop_GoldBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,955},{218,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,52}}</string>
                <key>sourceSize</key>
                <string>{218,52}</string>
            </dict>
            <key>SoloSore_GreenBtn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,851},{248,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,84}}</string>
                <key>sourceSize</key>
                <string>{248,84}</string>
            </dict>
            <key>SoloSore_GreenBtn_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,765},{248,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,84}}</string>
                <key>sourceSize</key>
                <string>{248,84}</string>
            </dict>
            <key>SoloSore_OrangeBtn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,679},{248,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,84}}</string>
                <key>sourceSize</key>
                <string>{248,84}</string>
            </dict>
            <key>SoloSore_OrangeBtn_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,502},{248,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,84}}</string>
                <key>sourceSize</key>
                <string>{248,84}</string>
            </dict>
            <key>SoloStore_AddBtn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,955},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>SoloStore_AddBtn_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,955},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>SoloStore_BlueBtn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,252},{248,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,84}}</string>
                <key>sourceSize</key>
                <string>{248,84}</string>
            </dict>
            <key>SoloStore_BlueBtn_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{248,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,84}}</string>
                <key>sourceSize</key>
                <string>{248,84}</string>
            </dict>
            <key>SoloStore_SwitchBtn_Dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,868},{92,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{92,114}}</string>
                <key>sourceSize</key>
                <string>{118,144}</string>
            </dict>
            <key>SoloStore_SwitchBtn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,752},{96,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{96,114}}</string>
                <key>sourceSize</key>
                <string>{118,144}</string>
            </dict>
            <key>SoloStore_SwitchBtn_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,817},{118,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,144}}</string>
                <key>sourceSize</key>
                <string>{118,144}</string>
            </dict>
            <key>Solo_Store_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,675}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,675}}</string>
                <key>sourceSize</key>
                <string>{1136,675}</string>
            </dict>
            <key>Solo_Store_BigGem.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,955},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>Solo_Store_Gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,955},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>Solo_Store_Prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,679},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Solo_Store_PropsBg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,679},{240,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,274}}</string>
                <key>sourceSize</key>
                <string>{240,274}</string>
            </dict>
            <key>Solo_Store_PropsBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,679},{240,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,274}}</string>
                <key>sourceSize</key>
                <string>{240,274}</string>
            </dict>
            <key>Solo_Store_PropsBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{240,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,274}}</string>
                <key>sourceSize</key>
                <string>{240,274}</string>
            </dict>
            <key>Solo_Store_Props_NumBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,937},{88,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,55}}</string>
                <key>sourceSize</key>
                <string>{88,55}</string>
            </dict>
            <key>Solo_Store_Return_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,937},{46,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{46,32}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>Solo_Store_Return_Press.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,937},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,44}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SoloStore.png</string>
            <key>size</key>
            <string>{1226,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2a950e981966cc073bc9085eb7faf8c$</string>
            <key>textureFileName</key>
            <string>SoloStore.png</string>
        </dict>
    </dict>
</plist>
