<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuanbaoche0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,266},{242,90}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,200},{242,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,266},{242,90}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,200},{242,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{242,90}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,200},{242,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,266},{242,90}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,200},{242,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{242,90}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,200},{242,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,94},{226,90}}</string>
                <key>offset</key>
                <string>{15,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,200},{226,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,186},{170,88}}</string>
                <key>offset</key>
                <string>{-13,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,202},{170,88}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,308},{170,88}}</string>
                <key>offset</key>
                <string>{-13,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,202},{170,88}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{170,90}}</string>
                <key>offset</key>
                <string>{-13,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,200},{170,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,308},{176,88}}</string>
                <key>offset</key>
                <string>{-16,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,202},{176,88}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,308},{194,88}}</string>
                <key>offset</key>
                <string>{-24,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,202},{194,88}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,94},{212,90}}</string>
                <key>offset</key>
                <string>{-26,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,200},{212,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,266},{230,90}}</string>
                <key>offset</key>
                <string>{-17,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,200},{230,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,94},{244,90}}</string>
                <key>offset</key>
                <string>{-11,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,200},{244,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{254,90}}</string>
                <key>offset</key>
                <string>{-6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,200},{254,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{262,90}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,200},{262,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{262,90}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,200},{262,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{262,90}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,200},{262,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{262,90}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,200},{262,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{262,90}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,200},{262,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{262,90}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,200},{262,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{262,90}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,200},{262,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{262,90}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,200},{262,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{262,90}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,200},{262,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{262,90}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,200},{262,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{262,90}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,200},{262,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,90}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,200},{262,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,90}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,200},{262,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,90}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,200},{262,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,340},{168,90}}</string>
                <key>offset</key>
                <string>{-11,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,200},{168,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,266},{226,90}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,200},{226,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,266},{242,90}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,200},{242,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,266},{242,90}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,200},{242,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,266},{242,90}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,200},{242,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,266},{242,90}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,200},{242,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>yuanbaoche0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,266},{242,90}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,200},{242,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Yuanbao.png</string>
            <key>size</key>
            <string>{890,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:998095fd348cbeed9d82b3f9dfb4968c$</string>
            <key>textureFileName</key>
            <string>Yuanbao.png</string>
        </dict>
    </dict>
</plist>
